.widget-sdt-footer-right {
    float: right;
    margin-right: 50%;
    transform: translateX(50%);
}

.widget-sdt-footer-right .pagination{
    margin: 0;
}

.widget-sdt-footer-left {
    float: left;
    padding-top: 4px;
}
.widget-sdt-footer{
    padding:10px 20px 5px 28px;
    box-shadow: 0 -2px 0 #f3f3f3;
    margin-right: -23px;
}

.widget-sdt-rows-selector-text{
    color:#999;
}

.widget-sdt-total, .widget-sdt-rows-selector-container {
    display: inline-block;
}

.widget-sdt-total ,.widget-sdt-paging,.italic{
    margin-right: 5px;
    position: relative;
    top: -8px;
    color: #999;
}

.keyword, .widget-sdt-total-num {
    color: orange;
}

.widget-sdt-footer-header-left {
    float: left;
}

.widget-sdt-footer-header-right {
    width: 400px;
    float: right;
}

.gray-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.gray-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

.gray-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

.fixed-header-table {
    display: flex;
    flex-direction: column;
    height: calc(100% - 25px);
}

.fixed-header-table .table-header {
    /*flex: 0 100%;*/
    overflow: hidden;
}

.fixed-header-table .table-body {
    flex: 1;
}

.fixed-header-table .table-footer {
    flex: 1 100% auto;
}

/* Support Bootstrap's table class */
.fixed-header-table table,
.fixed-header-table .table {
    table-layout: fixed; /* Prevents columns from adjusting to content */
    margin: 0;
}

.fixed-header-table table td {
    overflow: hidden;
}

.fixed-header-table table th {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.fixed-header-table table th .spanSort{
    /* float: right; */
    cursor: pointer;
    margin-right: 8px;
}

.fixed-header-table .resize-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 6px;
    cursor: ew-resize;
}

.fixed-header-table .resize-handle.dragging,
.fixed-header-table .resize-handle:hover {
    background-color: rgba(75, 128, 255, .5);
}

.widget-sdt-container .table-header {
    padding-right: 15px;
}

.widget-sdt-container .table-header table {
    margin-bottom: 0;
    user-select: none;
    -webkit-user-select: none;
}

.widget-sdt-container .table-header table th {
    border-bottom: none;
}

.widget-sdt-container .table-body {
    /* height: 80vh; */
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
    /*
        user-select: none;
        -webkit-user-select: none;*/
}
/* @media screen and (min-width:1400px) and (max-width:1600px){
    .widget-sdt-container .table-body{
        height: 77vh;
    }
}

@media screen and (max-width: 1400px){
    .widget-sdt-container .table-body{
        height: 74vh;
    }
} */

.widget-sdt-container .table-body tr.active td {
    background: #1e78e6 !important;
    color: #fff;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.widget-sdt-container .show-more {
    width: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.widget-sdt-search-container {
    display: none;
}

.widget-sdt-container .pagination > li > a,
.widget-sdt-container .pagination > li > span {
     /* border: 1px solid #ccc !important;  */
     border: none;
     color: #666;
}
.fl {
    float: left;
}
.mt10 {
    margin-top: 5px;
}
.ml10 {
    margin-left: 10px;
}
.widget-sdt-footer-left .pageSizeSelect{
    height: 25px;
    font-size: 12px;
    padding: 3px 10px;
    color: #666;
}
.widget-sdt-container .pagination>.active>a{
    color:rgb(0,167,206);
    font-weight: bold;
    background-color: transparent;
}
.widget-sdt-container .pagination > li > a:hover{
    border-radius: 4px;
}
.widget-sdt-container .pagination > li.disabled > a{
    color: #999;
}
.widget-sdt-container .pagination > li.prev > a{
    transform:rotate(180deg);
    position: relative;
    top: -2px;
    padding: 3px 12px;
}
.widget-sdt-container .pagination > li.next > a{
    padding: 3px 12px;
}
.widget-sdt-paging{
    display: inline-block;
}
.widget-sdt-prev-page{
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
.widget-sdt-more{
    overflow: hidden;
    float: left;
}
.more{
    float: right;
    /* padding: 10px; */
    /* color: rgb(0,167,206); */
    /* font-size: 14px; */
    cursor: pointer;
}
