<style>
    * {
        -webkit-user-select: none;
        user-select: none;
    }
    .userSelect {
        -webkit-user-select: auto;
        user-select: all;
    }
    #indexMain {
        position: fixed;
    }
    #btnConfig {
        font-size: 2.4rem;
        width: 3rem;
    }

    .noBtnBack #btnBack {
        display: inline-flex;
        display: -webkit-inline-flex;
    }

    #divObserverMap {
        height: 100%;
        width: 100%;
        position: relative;
        border-bottom: 0.1rem solid #bbb;
        overflow: hidden;
    }

        #divObserverMap.deviceMode #btnLocate {
            display: none;
        }

        #divObserverMap.deviceMode #btnRelocate {
            display: none;
        }

    #containerMap {
        position: relative;
        z-index: 0;
        background-color: transparent;
    }

    #imgMap {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -1;
    }

    /*.divCtr {
        display: none;
    }*/
    .divHis {
        position: absolute;
    }

    #btnToggle {
        font-size: 2rem;
        border: 0.1rem solid black;
        position: absolute;
        left: 5%;
        top: 5%;
        z-index: 1;
    }

    #divMapTool {
        display: none;
        position: absolute;
        left: 1rem;
        bottom: 2%;
    }

        #divMapTool button {
            padding: 0.6rem 0.7rem 0.5rem 0.8rem;
            background-color: rgba(255, 255, 255, 0.7);
            color: #666;
            border: none;
        }

        #divMapTool span {
            font-size: 1.6rem;
            z-index: 1;
        }

    #btnLocate {
        font-size: 4rem;
        position: absolute;
        left: calc(50% - 2rem);
        top: 50%;
        cursor: move;
        z-index: 1;
    }

    #spanLocateIcon {
        position: relative;
        font-size: 4rem;
        color: #f95f54;
        -webkit-animation: upDown 1s linear infinite;
        animation: upDown 1s linear infinite;
    }

    @-webkit-keyframes upDown {
        from {
            top: -5px;
        }

        to {
            top: 0;
        }
    }
    @keyframes upDown {
        from {
            top: -5px;
        }

        to {
            top: 0;
        }
    }
    

    #shadow {
        border-radius: 50%;
        width: 22px;
        height: 8px;
        margin: 10px auto;
        -webkit-animation: shadow 1s linear infinite;
        animation: shadow 1s linear infinite;
    }
    @-webkit-keyframes shadow {
        from {
            box-shadow: 0 -24px 12px rgba(0,0,0,0.3);
        }

        to {
            box-shadow: 0 -24px 6px rgba(0,0,0,0.3);
        }
    }
    @keyframes shadow {
        from {
            box-shadow: 0 -24px 12px rgba(0,0,0,0.3);
        }

        to {
            box-shadow: 0 -24px 6px rgba(0,0,0,0.3);
        }
    }
    

    #divTempSet {
        font-size: 2rem;
        display: inline-block;
        position: absolute;
        color: white;
        background-color: #666;
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
        right: 0.5rem;
        top: 0.5rem;
    }

    #divTemperatureShow {
        font-size: 8rem;
        width: 80%;
        margin: 0 auto;
        position: relative;
        text-align: center;
        top: 24%;
    }

    #btnHistory {
        position: absolute;
        top: 50px;
        right: 10px;
    }

    #btnTempMode {
        border-bottom-left-radius: 0.3rem;
        border-top-left-radius: 0.3rem;
    }

    #btnDeviceMode {
        border-bottom-right-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
    /*#btnTempMode {
        top: 5rem;
    }

    #btnDeviceMode {
        top: 8.8rem;
    }

    #btnShowTable {
        top: 12.8rem;
        width: 3rem;
        height: 3rem;
    }*/

    .divModeToolbar {
        position: absolute;
        top: 5rem;
        right: 1rem;
        background-color: rgb(34, 37, 46);
        border: 1px solid #FFA200;
        border-radius: 0.5rem;
        z-index:10;

    }

    .btnMode,.btn3DMode {
        float: left;
        width: 4rem;
        height: 3.2rem;
        color: #fff;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .btn3DMode{
        display:none;
    }
    .btn3DMode .iconfont{
        font-size:2rem;
        line-height: 3rem;
    }
        .btnMode .iconfont, .btnMode .glyphicon {
            font-size: 2.4rem !important;
        }

        .btnMode.selected{
            background-color: #ffa200;
            color: #fff;
        }
        .btn3DMode.selected{
            background-color: #ffa200;
            color: #fff;
        }

    .divCtr {
        display: none;
    }

    .divCtr .spIcon {
        /*box-shadow: 0 0 6px 1px darkorange;*/
        background-color: rgba(255, 162, 0, 0.8);
    }

    .divSensor .spIcon {
        /*box-shadow: 0 0 6px 1px #337ab7;*/
        background-color: rgba(51, 122, 183,0.8);
    }
    .divSensor .spIcon.higher {
        background-color: rgba(252, 42, 0, 0.8);
    }
    .divSensor .spIcon.lower {
        background-color: rgba(8, 85, 14, 0.8);
    }
    .tempMode .divEquip {
        z-index: 5;
        height: 3rem;
    }

    .divEquip {
        position: absolute;
        margin-top: -6rem;
        margin-left: 1.95rem;
    }
    .divEquip.divCtr{
        z-index: 5;
    }
    .divEquip.divSensor{
        z-index: 4;
    }
    .divEquip.selected{
        z-index: 6;
    }
    .divEquip .spIcon {
        position: relative;
        padding: 0.4rem;
        height: 3rem;
        /*margin-left: 1.95rem;*/
        border-bottom: 0.1rem solid #FFA200;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        box-shadow: 2px 2px 5px #222;
    }

        .divEquip .spIcon .iconfont {
            font-size: 2.4rem;
            line-height: 2.2rem;
            padding: 0 0.5rem 0 0.5rem;
            float: left;
            width: 3rem;
        }
        .divEquip.divSensor .spIcon .iconfont{
            color: #eee;
        }
        .divEquip.selected  .spIcon {
            z-index: 6;
            background-color: #FFF;
        }
        .divEquip.divSensor.selected .spIcon .iconfont, .divEquip.divSensor.selected .spIcon .spVal {
            color: #009CFF;
        }
        /*.divEquip.divSensor.selected .spIcon .iconfont{
            -webkit-animation: iconShine 1s linear infinite;
            animation: iconShine 1s linear infinite; 
        }*/
        .divEquip.divCtr.selected .spIcon .iconfont, .divEquip.divCtr.selected .spIcon .spVal {
            color: #3C424E;
        }
        .divEquip.divCtr .spIcon .iconfont{
            color: #FFF;
            /*-webkit-animation: iconShine 1s linear infinite;
            animation: iconShine 1s linear infinite;
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;*/
        }
        .divEquip.off .spIcon{
            background-color: #A1ACB1;
        }
        .divEquip.off.divCtr .spIcon .iconfont {
            -webkit-animation:none;
            animation: none;
        }
        @-webkit-keyframes iconShine {
            from {
                -webkit-transform: rotate(0deg);
                -webkit-transform-origin: 50% 50%;
                transform: rotate(0deg);
                transform-origin: 50% 50%;
            }

            to {
                -webkit-transform: rotate(360deg);
                -webkit-transform-origin: 50% 50%;
                transform: rotate(360deg);
                transform-origin: 50% 50%;
            }
        }
        @keyframes iconShine {
            from {
                -webkit-transform: rotate(0deg);
                -webkit-transform-origin: 50% 50%;
                transform: rotate(0deg);
                transform-origin: 50% 50%;
            }

            to {
                -webkit-transform: rotate(360deg);
                -webkit-transform-origin: 50% 50%;
                transform: rotate(360deg);
                transform-origin: 50% 50%;
            }
        }
        .divEquip .spVal {
            color: #FFF;
            font-weight: bold;
            display: inline-block;
            height: 2.2rem;
            line-height: 2.2rem;
            float: left;
            overflow: hidden;
            margin-right: 1rem;
        }

    .tempMode .spAttr {
        display: none;
    }

    .divEquip .spAttr {
        height: 30%;
        padding-left: 0.5rem;
    }

        .divEquip .spAttr .iconfont {
            font-size: 0.5rem;
        }

    .divEquip .spBatteryVal {
        color: #323232;
        margin: 0 20px 0 2px;
    }
    /*折线样式*/
    .divBrokenLine.lineCtr{
        display: none;
    }
    .divBrokenLine{
        height: 3.46rem;
        position: absolute;
        z-index: 3;
        margin-top: -3.2rem;
    }
    .divBrokenLine .slash{
        float: left;
        width: 0.1rem;
        height: 100%;
        margin-left: 1.1rem;
        background: -webkit-linear-gradient(#FFA200, red);
        background: -o-linear-gradient(#FFA200, red); 
        background: -moz-linear-gradient(#FFA200, red);
        background: linear-gradient(#FFA200, red); 
        -webkit-transform: rotate(30deg) scaleY(1.1);
        transform: scaleY(1.1) rotate(30deg);
        
    }
    /*.divBrokenLine .horizonalLine{
        float: right;
        width: 6rem;
        height: 3.46rem;
        border-top: 0.1rem solid #FFA200;
        margin-left: 0.8rem;
    }*/
    .divBrokenLine .smallPoint{
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: red;
        position: absolute;
        left: 0.1rem;
        bottom: -0.1rem;
    }
    .icon-large {
        font-size: 3.6rem;
    }

    .icon-medium {
        font-size: 2.4rem;
        vertical-align: middle;
        color: #62BDEA;
        margin-right: 10px;
    }

    .divBtnBottom {
        position: relative;
        top: 0;
        padding: 5px 0px;
        height: 46px;
        border-bottom: 1px solid #dfdfdf;
    }

        .divBtnBottom .btn {
            padding: 5px 10px;
            border-radius: 15px;
        }

            .divBtnBottom .btn:first-of-type {
                left: 20px;
                position: absolute;
            }

            .divBtnBottom .btn:nth-of-type(2) {
                right: 20px;
                position: absolute;
                background-color: rgb(97,182,98);
            }

    #divTemperature {
        height: 15.3rem;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: none;
        background-color: rgba(60,66,80,1);
        color:#eee;
    }
    #indexMain .divTemperature {
        height: 12rem;
        background-color: transparent;
    }
    #indexMain .divTemperature .paneConfig{
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #divTemperature .paneInfo {
        font-size: 2.2rem;
    }
    #indexMain .divTemperature .paneInfo {
        color:#eee;
    }
    #divTemperature #btnCloseInfo {
        position: absolute;
        right: 0rem;
        text-shadow: 0 0 3px #000;
        top: -1.5rem;
        left: auto;
        width: 3rem;
        text-align: center;
        z-index: 1;
    }
    #divTemperature .paneInfo .shadow {
        /*background-color: rgba(255, 255, 255, 0.6);*/
        height: 1600px;
        width: 1600px;
        border-radius: 1600px;
        position: absolute;
        left: calc(-800px + 50%);
    }
    #divTemperature .modeBox{
        width: 7rem;
        height: 7rem;
        position: absolute;
        bottom: 0;
        left: 2rem;
    }
    #indexMain #divTemperature .modeBox #btnSetMode{
        top: 0.8rem;
        left: 50%;
        margin-left: -1.9rem;
        text-align: center;
    }
    #divTemperature .iconfont {
        width: 2.8rem;
        height: 2.8rem;
        color: #6cb2ff;
        font-size: 2.4rem;
        text-align: center;
        vertical-align: middle;
        line-height: 2.4rem;
        text-align: right;
        display: inline-block;
    }
    /*divTemperature中的控制器样式*/
    #divTemperature .paneInfo .ulCtrl{
        height: 15.3rem;
        font-size: 12px;
        padding: 1rem 0 2.3rem 0;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen{
        height: 12rem;
        padding: 0 0.5rem;
        margin-top: 0;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen .head{
        height: 2rem;
        line-height: 2rem;
        padding: 0;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen .head span{
        height: 100%;
        color: #ccc;
        font-size: 2rem;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen.active .head span{
        color: rgb(110,110,110);
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen .head span.electricity{
        line-height: 2.5rem;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen .headMsg{
        height: 4rem;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen .headMsg div {
        height: 100%;
        line-height: 2rem;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen .speed {
        height: 2.5rem;
        line-height: 2.5rem;
        vertical-align: middle;
        padding: 0.25rem;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen .speed .iconfont {
        height: 2rem;
        width: 50%;
        padding-right:5px;
        line-height: 2rem;
        display: block;
        float: left;
        color: rgba(243, 152, 1, 1);
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen .speed .speedVal{
        height: 2rem;
        width: 50%;
        font-size: 1.8rem;
        padding-left:5px;
        line-height: 2rem;
        float: right;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen .btn-group{
        width: 100%;
        height: 2rem;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen button{
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 50%;
        height: 100%;
        text-align: center;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen button >.glyphicon {
        top: 0.2rem;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen button:nth-child(1){
        border-right: 1px solid #666;
    }
    #divTemperature .paneInfo .ulCtrl .deviceScreen button:nth-child(2){
        border-left: 1px solid #666;
    }
    #indexMain .divTemperature #btnSetMode,#indexMain .divTemperature #btnSetWs,#indexMain .divTemperature .txtFont{
        position: absolute;
        width: 3.8rem;
        height: 3.8rem;
        font-size: 4rem;
        line-height: 3.8rem;
        bottom: 1.2rem;
        top: 3.6rem;
        color: #444;
    }
    #indexMain .divTemperature #btnSetWs{
        left: 6rem;
    }
    #indexMain .divTemperature .txtFont{
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
        height: 2.2rem;
        line-height: 1.1rem;
        top: 2.4rem;
        left: 5.6rem;
        bottom: 0;
        word-break: keep-all;
        white-space: nowrap;
    }
    /*#indexMain .divTemperature #btnSetWs {
        position: absolute;
        height: 5rem;
        line-height: 5rem;
        font-size: 4rem;
        left: calc(15% - 2rem);
        top: .3rem;
        color: #fff;
    }*/
    /*#indexMain .divTemperature #wsCtn{
        width: 5rem;
        height: 5rem;
        left: 7rem;
        position: absolute;
        bottom: 1rem;
    }*/

    .spanFCU{
        position: absolute; width: 6rem; left: calc(15% + 1.5rem); text-align: left;color:#6cb2ff; font-size: 1.3rem;
    }
    .divTemp {
        position: absolute;
        right: 2rem;
        bottom: 1rem;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 3px solid rgb(138, 98, 31);
        background: linear-gradient(#ffb741, #cc8101);
        cursor: pointer;
        /*box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.13), 0 5px 8px rgba(0, 0, 0, 0.5), 0 10px 10px 4px rgba(0, 0, 0, 0.3);*/
        color: #393939;
        text-align: center;
        padding-top: 20px;
    }

        .divTemp:before {
            content: "";
            position: absolute;
            left: -0.8rem;
            right: -0.8rem;
            top: -0.8rem;
            bottom: -0.8rem;
            border-radius: inherit;
            box-shadow: inset 0 8px 8px rgba(0, 0, 0, 0.1);
            -webkit-filter: blur(1px);
            filter: blur(1px);
        }

        .divTemp .li {
            height: 12rem;
            width: 12rem;
            margin: 0 0 0 -6rem;
        }

        .divTemp .a {
            display: block;
            background-image: -webkit-linear-gradient(top, #a1ccfc, #62adfd);
            width: 12rem;
            height: 12rem;
            position: relative;
            text-align: center;
            line-height: 144px;
            border-radius: 50%;
            padding: 0.4rem;
        }

            .divTemp .a:before {
                content: "";
                display: block;
                background: rgba(150, 200, 255, 0.48);
                position: absolute;
                top: -10px;
                left: -10px;
                bottom: -10px;
                right: -10px;
                z-index: -1;
                border-radius: 50%;
                /*box-shadow: inset 0 8px 48px #ddd;*/
            }

            /*.divTemp .a:hover {
                text-decoration: none;
                color: #555;
                background: #f5f5f5;
            }*/

        .divTemp h3 {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }

    #spanTemp {
        font-size: 26px;
    }

    .divLabel {
        display: inline-block;
        padding: 5px 0;
        font-size:1.6rem;
        float: right;
    }
    .divLabel:last-of-type {

    }
    .divLabel:first-of-type {
        float: left;
        font-weight: 600;
    }

    .divLabel span:first-of-type {
        margin-right: 10px;
    }

    .divItem {
        padding: 3px 0;
        width: 48%;
        display: inline-block;
        font-size:1.2rem;
        line-height:1.2;
    }

        .divItem .spanlabel {
            margin-right: 10px;
        }

        .divItem .glyphicon {
            margin-right: 5px;
            margin-left: 1px;
            font-size: 1.7rem;
            top: 2px;
        }

    .divSetItem {
        padding: 12px 20px;
    }

        .divSetItem > span{
            line-height: 34px;
            vertical-align: middle;
        }

        .divRange{
            display: inline-block;
            text-align: center;
            width: calc(100% - 60px);
            margin-left: 30px;
        }

        .divRange .rangeSlider{
            width: 100%;
            height: 10px;
            background-color: #888585;
            border-radius: 4px;
            position: relative;
            top: -4px;
        }

        .divRange .rangeFill{
            position: absolute;
            left: 0;
            width: 0;
            height: 10px;
            background-color: #EDF1F0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .divRange .rangeCursor{
            position: absolute;
            left: -10px;
            top: -5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: -webkit-radial-gradient(#EFE7E0 5%, #ffa200 50%);
            cursor: pointer;
        }
        
        .divRange .divScale{
            position: static;
            width: 100%;
            text-align: center;
        }

        .divRange .divScale span{
            display: inline-block;
            position: absolute;
        }

        .divRange .divScale span#iptTempVal,  .divRange .divScale span#iptSpeedVal{
            font-weight: 600;
            color: #F1B21C;
            position: static;
        }

    .kaiguan, .fengsushezhi {
        font-family: "iconfont" !important;
        font-size: 18px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 8px;
        /*border-radius: 100%;
        color: #fff;*/
    }

    .kaiguan {
        color: #f26658;
    }

    .fengsushezhi {
        color: #3c8dfa;
    }

    #btnMatch, #btnHist {
        width: 50%;
        border-radius: 0;
        border: 0;
        color: #fff;
    }

    /*#btnMatch {
        background: #EC857A;
    }

    #btnHist {
        background: #70ABFB;
    }*/
     /*.paneInfo1 {
        padding: 10px 20px 0;
    }*/
    .deviceName {
        font-weight: 600;
    }

    #mapBg {
        width: 100%;
        height: 100%;
        position: absolute;
    }

        .deviceMode #mapBg .relateLine {
            stroke: rgba(99,99,99, 0.3);
            stroke-width: 2;
            stroke-dasharray: 5
        }

    .battSignStyle {
        font-size:1.2rem;
    }
    #refreshSpinner {
        display: none;
        position: absolute;
        top: 50px;
        right: 1rem;
        height: 3rem;
        z-index: 1;
    }
    #refreshTime{
        position: absolute;
        top: 44px;
        left: 0;
        color: rgba(100,100,100,0.8);
        padding: 0.2rem;
        z-index: 1;
        font-size: 1rem;
    }
    #indexChartCtn, #divChart{
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        /*z-index: 4;
        background-image: url('static/app/temperatureControl/img/bg_content.jpg');*/
    }
    #divChartWrap{
        display: none;
    }
    #divChartWrap .btnClose{
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    #btnCloseHis{
        position: absolute;
        right: -1.5rem;
        text-shadow: 0 0 5px #000;
        bottom: -1.5rem;
        font-size: 2rem;
        z-index: 5;
        color: #fff;
        width: 5rem;
        line-height: 4rem;
        height: 5rem;
        background-color: rgba(167, 166, 166, 0.5);
        border-radius: 50%;
        text-align: left;
    }
    #prgState{
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 0px;
        height: 6px;
        border-radius: 0;
    }
    #divTemperature .spinnerMask{
        position: absolute;
        height: calc(100% - 2rem);
        width: 100%;
        top: 2rem;
    }
    #deviceAll {
        width: 100%;
        position: absolute;
        top: 40px;
        right: 0;
        display: none;
        border: 1px solid #ddd;
        border-radius: 3px;
        background: rgba(142, 138, 138, 0.6);
        color: #F5F4F4;
        z-index: 5;
        padding: 5px 10px;
    }
    #deviceAll .deviceOption {
        height: 2.4rem;
        line-height: 2.4rem;
        border-bottom: 1px solid rgba(222,222,222, 0.6);
    }
    #deviceAll .selectedDevice {
        vertical-align: middle;
        margin-top: -1.4rem;
        font-size: 16px;
    }
    #deviceAll .deviceName {
        display:inline-block;
        width:85%;
        padding: 0 0.2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #deviceAll .selectButton {
        color:rgba(32, 134, 247, 0.85);
    }
    #deviceAll .selectOption {
        background: rgba(125, 125, 125, 0.3);
    }
    #freshData {
        padding: 1px 6px;
        margin-left: calc(50% - 24px);
        margin-top: 5px;
        background: rgba(132, 185, 244, 0.85);
    }
    .btnTopMore{
        right: 0;
        z-index: 5;
        position: absolute;
        color: #fff;
        padding: 10px 20px;
    }
    .paneInfo .bottomBox{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .paneInfo .bottomBox .curve {
        width: 100%;
        height:3.5rem;
    }
    .paneInfo .bottomBox .bot{
        width: 100%;
        height:8.5rem;
        background: -webkit-linear-gradient( rgba(255, 162, 0, 0.85),rgba(243, 174, 63, 0.85));
        background: linear-gradient(rgba(255, 162, 0, 0.85),rgba(243, 174, 63, 0.85));
        /*position: relative;*/
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 1s linear;
        transition: 1s linear;
        /*left: -100%;*/
    }
    .paneInfo .bottomBox .bot .dials{
        width: 1px;
        height:100%;
        background: -webkit-linear-gradient( #de8e07, #fff);
        background: linear-gradient( #de8e07, #fff);
        opacity: 0.3;
        position: absolute;
        left: calc(20% - 1px);
        bottom: 0;
    }
    .paneInfo .bottomBox .bot .dials:nth-of-type(2){
        left: calc(40% - 1px);
    }
    .paneInfo .bottomBox .bot .dials:nth-of-type(3){
        left: calc(60% - 1px);
    }
    .paneInfo .bottomBox .bot .dials:nth-of-type(4){
        left: calc(80% - 1px);
    }
    #divSetTempHis{
        position: absolute;
        z-index: 10;/*在传感器之上*/
        transform: perspective(200px) rotateX(-5deg) rotateY(-15deg);
    }
    #divSetTempHis .liSetTemp{
        margin-top: .3rem;
        border-radius: 4px;
        padding: 0 1rem 0 0;
        position: relative;
        border-radius: 1.8rem;
        /*background: -webkit-gradient(linear, 0% 0%,100% 0,color-stop(0%,transparent), color-stop(35%,rgba(0,0,0,0.7)),color-stop(100%,rgba(0,0,0,0.3)));*/
        background-color: rgba(84, 84, 84, 0.85);
        border: 1px solid transparent;
        white-space: nowrap;
    }
    #divSetTempHis .liSetTemp.active{
        box-shadow: 0 0 6px 1px rgba(114,179,232,0.4);
        border: 1px solid rgba(114,179,232,0.4);
    }
    #divSetTempHis .liSetTemp .urlImg{
        width: 3.6rem;
        height: 3.6rem;
        display: inline-block;
    }
    #divSetTempHis .liSetTemp .urlImg img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 3px 0 6px 0 rgba(0,0,0,.7)
    }
    #divSetTempHis .liSetTemp .temp{
        opacity: 0.95;
        font-size: 1.4rem;
        color: #ffa200;
        font-weight: 600;
    }
    #divSetTempHis .liSetTemp .time{
        opacity: 0.65;
        font-size: 1.4rem;
        white-space: nowrap;
    }
    #divSetTempHis .liSetTemp .name{
        opacity: 0.85;
        font-size: 1.2rem;
        display: none;
        position: absolute;
        height: 100%;
        line-height: 4rem;
        border-radius: 10px;
        top: 0;
        background-color: rgba(0,0,0,0.6);
        padding: 0 .5rem;
        color: #fff;
    }
    #divSetTempHis .liSetTemp.active .name{
        display: inline-block;
    }
    #divSetTempHis .liSetTemp .name:before{
        position: absolute;
        display: inline-block;
        border-top: 7px solid transparent;
        border-left: 7px solid #eee;
        border-bottom: 7px solid transparent;
        border-left-color: rgba(0, 0, 0, 0.4);
        right: -7px;
        top: 1.2rem;
        content: '';
    }
    #divSetTempHis .liSetTemp .name:after{
        position: absolute;
        display: inline-block;
        border-top: 7px solid transparent;
        border-left: 7px solid #eee;
        border-bottom: 7px solid transparent;
        border-left-color: rgba(0, 0, 0, 0.3);
        right: -7px;
        top: 1.2rem;
        content: '';
    }
    #verifyPwdBox {
        width: auto;
        height: auto;
        margin: 0 auto;
        background: rgba(255,255,255,1);
        position: fixed;
        top: 10%;
        left: 10%;
        z-index: 1;
        padding: 10%;
    }
</style>
<!--<div id="refreshSpinner" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>-->
<div id="refreshTime">

</div>
<div id="divObserverMap">
    <div id="containerMap">
        <div id="btnLocate">
            <span id="spanLocateIcon" class="iconfont icon-dingwei" aria-hidden="true"></span>
            <div id="shadow"></div>
            <div id="locateTempShow" aria-hidden="true"></div>
        </div>
        <ul id="divSetTempHis" class="list-unstyled">
        </ul>
        <svg id="mapBg"></svg>
    </div>
    <div class="divModeToolbar">
        <div id="btnTempMode" class="btnMode">
            <span class="iconfont icon-wendushitu" aria-hidden="true"></span>
        </div>
          <div id="btn3DMode" class="btn3DMode">
         <span class="iconfont" aria-hidden="true">3D</span>
        </div>
        <div id="btnDeviceMode" class="btnMode">
            <span class="iconfont icon-guanliyuan2" aria-hidden="true"></span>
        </div>
        <!--<div id="btnShowTable" class="notShow btnMode" style="display: none;">
            <span class="glyphicon glyphicon-list-alt"></span>
        </div>-->
    </div>
    <div class="btn btn-default" id="btnHistory" style="display: none;" i18n="admin.navTitle.HISTORY_CURVE">历史曲线</div>
    <div id="divMapTool" class="btn-group" role="group">
        <button id="btnSizeUp" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        <button id="btnRelocate" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span></button>
        <button id="btnSizeDown" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
    </div>
</div>
<div id="divTemperature">

</div>