<style>
    #btnSure{
        padding-left: 1.5rem;
    }
    #ctnComment {
        padding: 1.5rem;
        border-bottom: 1px solid #ccc;
    }
    #iptComment{

    }
    #ctnPhoto {
        margin: 0;
    }
    .divPhoto {
        height: 16rem;
        text-align: center;
        padding: 1rem;
    }
    .divPhoto>span,.divPhoto>img{
        border: 2px dotted #ccc;
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        font-size: 5rem;
        color: #ccc;
        display: inline-flex;
        display: -webkit-inline-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
    }
    #btnPtList{
        font-size: 1.8rem;
        padding-left: 2rem;
        right: 60px;
        top: -1px;
    }
</style>
<div id="ctnComment">
    <label class="sr-only" for="iptComment"></label>
    <textarea id="iptComment" placeholder="请输入评论" class="form-control" ></textarea>
</div>
<div id="ctnPhoto" class="row">
    <div id="btnPhoto" class="divPhoto zepto-ev col-xs-4">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </div>
</div>