{% extends "./layout/index_layout.html" %}
{% block style %}
    <style>
        .mb5 {
            margin-bottom: 5px;
        }

        .mb15 {
            margin-bottom: 15px;
        }

        .m-auto {
            margin: 0 auto;
        }

        .login-wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            left: 0;
            top: 0;
            z-index: 1;
            font-family: Futura Md BT, Arial, 'Microsoft YaHei';
        }

        .login-bg, .login-container {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .login-container {
            z-index: 88;
        }

        .login-bg {
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .login-logo {
            height: 270px;
            line-height: 270px;
            font-size: 100px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 5px #fff;
        }

        .login-logo > img {
            width: 360px;
        }

        .login-content {
            height: calc(100% - 240px);
        }

        .login-info-box, .login-interval-box, .login-form-box {
            float: left;
            height: 100%;
        }

        .login-info-box {
            width: 49%;
        }

        .login-interval-box {
            width: 2%;
        }

        .login-interval {
            position: relative;
            top: calc(50% - 300px);
            left: calc(50% - 1px);
            margin: 0 auto;
        }

        .login-form-box {
            width: 49%;
        }

        .login-info, .login-form {
            color: #fff;
            margin: 0 auto;
            overflow: hidden;
        }

        .beop-alert {
            position: fixed;
            left: calc(50% - 200px);;
            top: 10px;
            width: 400px;
        }

        .login-form {
            width: 50%;
            position: relative;
            top: calc(50% - 260px);
            padding: 5% 5% 2% 5%;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.6);
        }

        .login-info {
            width: 80%;
            color: #a7cbc1;
            font-size: 26px;
        }

        .page-zh .login-info, .page-en .login-info {
            color: #fff;
            position: relative;
        }

        .info-title {
            font-size: 30px;
            font-family: Futura Md BT, Arial, 'Microsoft YaHei';
        }

        .page-zh .login-info {
            top: calc(50% - 220px);
        }

        .page-zh .info-title {
            margin-bottom: 15px;
        }

        .page-zh .info-detail {
            font-size: 25px;
        }

        .page-en .login-info {
            top: calc(50% - 240px);
        }

        .page-en .info-title {
            margin-bottom: 0;
        }

        .page-en .info-detail {
            font-size: 25px;
            margin: 5px 0;
        }

        .info-detail-en, .info-detail-zh {
            display: none;
        }

        .page-en .info-detail-en {
            display: block;
        }

        .page-zh .info-detail-zh {
            display: block;
        }

        .powered-by-box {
            width: 195px;
            margin: 0 auto;
        }

        .powered-by {
            color: #fff;
            font-family: Futura Lt BT, Arial, 'Microsoft YaHei';
        }

        .info-line {
            background: #fff;
            height: 2px;
            width: 30px;
            margin: 20px 15px 0 0;
        }

        .form-icon-box {
            position: absolute;
            top: 1px;
            left: 1px;
            height: 38px;
            line-height: 38px;
            width: 38px;
            background: #F6F8F7;
            border-radius: 2px 0 0 2px;
            float: left;
            text-align: center;
            z-index: 33;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .form-icon {
            color: #006a4d;
        }

        #divLogin .form-input {
            border-radius: 0;
            text-indent: 33px;
        }

        #divLogin .form-group {
            height: 40px;
        }

        #divLogin .form-control, #btnLogin, #passwordResetBtn {
            border-radius: 2px;
            height: 40px;
            font-size: 16px;
            font-family: Futura Lt BT, Arial, 'Microsoft YaHei';
        }

        #btnLogin, #passwordResetBtn {
            background: #006a4d;
            border-color: #0e7558;
            margin-bottom: 5px;
            font-size: 19px;
            font-family: Futura Lt BT, Arial, 'Microsoft YaHei';
        }

        #btnLogin:hover, #btnLogin:focus, #passwordResetBtn:hover, #passwordResetBtn:focus {
            border-color: #3BB49D;
            box-shadow: 0 0 2px #fff;
        }

        #cbRememberPwd {
            position: relative;
            top: 2px;
        }

        .login_logo_develop {
            width: 100px;
            margin: 0 8px;
        }

        .login-wrapper .dropdown-menu > li > a {
            color: #ccc;
            padding: 3px 6px;
            text-align: left;
        }

        .divLanguage {
            position: absolute;
            z-index: 99;
            top: 20px;
            right: 20px;
            padding-bottom: 4px;
            border-bottom: 1px solid #afafaf;
            display: none;
            cursor: pointer;
            font-size: 13px;
        }

        .divLanguage:hover #selectLanguage {
            display: block;
        }

        .divLanguage .country {
            display: inline-block;
            height: 15px;
            width: 25px;
            vertical-align: middle;
        }

        .page-zh .country {
            background: url(/static/app/Index/img/img/zn.png);
            background-size: cover;
            margin-top: -1px;
        }

        .page-en .country {
            background: url(/static/app/Index/img/img/en.png);
            background-size: cover;
            margin-top: -1px;
        }

        .divLanguage .divLanguage-down {
            display: inline-block;
            color: #afafaf;
            height: 15px;
            line-height: 15px;
            vertical-align: middle;
            top: 0;
        }

        #selectLanguage {
            box-shadow: none;
            border: none;
            left: -7px;
            background: transparent;
            top: 20px;
            min-width: 60px;
            overflow: hidden;
        }

        #selectLanguage li {
            border-radius: 3px;
        }

        #selectLanguage li:hover span {
            color: #333;
        }

        .font1 {
            color: #fff;
            font-size: 12px;
            font-weight: normal;
            cursor: pointer;
        }

        #resetPasswordModal .modal-dialog {
            width: 340px;
        }

        #inputEmail {
            margin: 3px 0 20px 0;
            border-radius: 2px;
            border: 1px solid #c9c9c9;
        }

        #btnForgetPwd {
            margin-top: 6px;
            color: #fff;
        }

        #btnForgetPwd:hover {
            text-decoration: underline;
        }

        #resetPasswordModal {
            font-size: 12px;
        }

        #resetPasswordModal .modal-content {
            border-radius: 4px;
        }

        #resetPasswordModal .close {
            position: relative;
            top: -13px;
            left: 10px;
        }

        #myModalLabel {
            color: #323232;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 2px;
        }

        #resetPasswordModal {
            font-family: Futura Lt BT, Arial, 'Microsoft YaHei';
        }

        @media (max-height: 768px) {
            .login-logo {
                line-height: 170px;
            }

            .login-logo img {
                width: 250px;
            }
        }
    </style>
{% endblock %}


{% block indexMain %}

    <div id="cbreProject" class="login-wrapper">
        <img src="https://beopweb.oss-cn-hangzhou.aliyuncs.com/custom/login/cbre/login_bg.jpg" class="login-bg">

        <div id="cbreLanguage" class="divLanguage" style="display: block;">
            <a>
                <span id="languageTitle" class="country"></span>
                <span class="glyphicon glyphicon-menu-right divLanguage-down cp"></span>
            </a>
            <ul class="dropdown-menu" id="selectLanguage">
                <li><a value="zh"><span> 中文</span></a></li>
                <li><a value="en"><span> English</span></a></li>
            </ul>
        </div>

        <div class="login-container">
            <div class="login-logo">
                <img src="https://beopweb.oss-cn-hangzhou.aliyuncs.com/custom/login/cbre/login_logo.png">
            </div>
            <div class="login-content">
                <div class="login-info-box">
                    <div class="login-info">
                        <div class="info-detail-zh">
                            <div class="tc info-title">世邦魏理仕能源与微气候管理系统</div>
                            <div class="tc info-detail">
                                <span>基于</span>
                                <img src="https://beopweb.oss-cn-hangzhou.aliyuncs.com/custom/login/cbre/login_logo_develop.png" class="login_logo_develop"
                                     onerror="if (this.src != '/static/images/logo_beop.png') this.src = '/static/images/logo_beop.png';"/>
                                <span>技术构建</span>
                            </div>
                        </div>
                        <div class="info-detail-en">
                            <div class="tc info-title">CBRE Energy & Micro-climate</div>
                            <div class="tc info-title">Management System</div>
                            <div class="tc oh info-detail">
                                <div class="powered-by-box">
                                    <div class="info-line fl"></div>
                                    <div class="powered-by fl">powered by</div>
                                </div>
                            </div>
                            <div class="tc info-detail">
                                <img src="https://beopweb.oss-cn-hangzhou.aliyuncs.com/custom/login/cbre/login_logo_develop.png" class="login_logo_develop"
                                     onerror="if (this.src != '/static/images/logo_beop.png') this.src = '/static/images/logo_beop.png';"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login-interval-box m-auto">
                    <img src="https://beopweb.oss-cn-hangzhou.aliyuncs.com/custom/login/cbre/login_interval.png" class="login-interval">
                </div>
                <div class="login-form-box" id="divLogin">
                    <div class="login-form">
                        <div class="form-group pr mb5">
                            <div class="form-icon-box">
                                <span class="glyphicon glyphicon-user form-icon"></span>
                            </div>
                            <input type="text" id="txtName" class="form-control form-input pa"
                                   i18n="placeholder=admin.login.PANE_PLACEHOLDER_ACCOUNT" required="" autofocus="">
                        </div>
                        <div class="form-group pr mb15">
                            <div class="form-icon-box">
                                <span class="glyphicon glyphicon-lock form-icon"></span>
                            </div>
                            <input type="password" id="txtPwd" class="form-control form-input pa"
                                   i18n="placeholder=admin.login.PANE_PLACEHOLDER_PWD" required="">
                        </div>
                        <button type="button" class="btn btn-success btn-block" id="btnLogin"
                            i18n="admin.login.PANE_BTN_LOGIN">
                        </button>
                        <div class="oh">
                            <span class="fl" style="padding-top: 2px;">
                                <input type="checkbox" id="cbRememberPwd" class="pr cp"
                                       i18n="title=admin.login.PANE_CHECKBOX_REMEMBER" title="Remember">
                                <label for="cbRememberPwd" class="font1" i18n="admin.login.PANE_CHECKBOX_REMEMBER">Remember</label>
                            </span>
                            <span id="btnForgetPwd" class="font1 fr" data-toggle="modal" data-target="#resetPasswordModal"
                                  i18n="admin.login.PANE_FORGET"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" style="top:200px;">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel" i18n="admin.resetPassword.RETRIEVE_PASSWORD"></h4>

                    <div i18n="admin.resetPassword.ENTER_EMAIL_ACCOUNT" style="color: #909090"></div>
                    <div style="margin-top: 10px;">
                        <input type="text" class="form-control" id="inputEmail" style="color: #646464"
                               i18n="placeholder=admin.resetPassword.MAIL">
                    </div>
                    <div class="message"></div>
                    <button type="button" class="btn btn-success btn-block" id="passwordResetBtn"
                            i18n="admin.resetPassword.OK;data-complete-text=admin.resetPassword.MAIL_COMPLETE;data-loading-text=admin.resetPassword.MAIL_SENDING"></button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scriptLoaded %}
    <script>
        $(function () {
            $('#indexMain').off('mousewheel');
            var $cbreProject = $("#cbreProject");

            function setLanguage(language) {
                if (language == 'zh') {
                    $cbreProject.removeClass('page-en').addClass('page-zh');
                } else {
                    $cbreProject.removeClass('page-zh').addClass('page-en');
                }
            }

            setLanguage(localStorage.getItem('language'));

            $("#selectLanguage").off('click.loadCompanyInfo').on('click.loadCompanyInfo', 'a', function (e) {
                setLanguage(e.currentTarget.attributes.value.value);
            });
        })
    </script>
{% endblock %}