{% extends "./layout/index_layout.html" %}
{% block style %}
    <style>
        .mb5 {
            margin-bottom: 5px;
        }

        .mb15 {
            margin-bottom: 15px;
        }

        .m-auto {
            margin: 0 auto;
        }

        .login-wrapper {
            background-image: -webkit-linear-gradient(top, #96bcfd, #507ccf);
            width: 100%;
            height: 100%;
            position: relative;
            left: 0;
            top: 0;
            z-index: 1;
            font-family: "Microsoft YaHei", "微软雅黑", "arial", "sans-serif";
        }

        .login-bg, .login-container {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .login-container {
            z-index: 88;
        }

        .login-bg {
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .login-logo {
            margin-left: auto;
            margin-right: auto;
            margin-top: 3%;
            margin-bottom: 2%;
            width: 12%;
            font-size: 100px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            text-shadow: 1px 1px 5px #fff;
        }

        .login-logo > img {
            width: 100%;
        }

        .login-content {
            height: calc(100% - 240px);
        }

        .login-info-box, .login-interval-box, .login-form-box {
            float: left;
            height: 100%;
        }

        .login-info-box {
            text-align: center;
            width: 49%;
        }

        .login-interval-box {
            width: 2%;
        }

        .login-interval {
            position: relative;
            top: calc(50% - 300px);
            left: calc(50% - 1px);
            margin: 0 auto;
        }

        .login-form-box {
            width: 49%;
        }

        .login-info, .login-form {
            color: #fff;
            margin: 0 auto;
            overflow: hidden;
        }

        .beop-alert {
            position: fixed;
            left: calc(50% - 200px);;
            top: 10px;
            width: 400px;
        }

        .login-form {
            width: 45%;
            position: relative;
            top: calc(50% - 330px);
            padding: 2% 4% 2% 4%;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.3);
        }

        .form-logo-text {
            text-align: center;
            font-size: 38px;
            letter-spacing: 10px;
            vertical-align: top;
            margin-bottom: 15px;
            font-family: "Microsoft YaHei", "微软雅黑", "arial", "sans-serif";
        }

        .login-info {
            margin-top: 6%;
            width: 40%;
            color: #a7cbc1;
            font-size: 26px;
            padding-left: 6%;
        }

        .login-info img {
            width: 100%;
            height: 100%;
            display: block;
        }

        .form-icon-box {
            position: absolute;
            top: 1px;
            left: 1px;
            height: 38px;
            line-height: 38px;
            width: 38px;
            background: #F6F8F7;
            border-radius: 2px 0 0 2px;
            float: left;
            text-align: center;
            z-index: 33;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .form-icon {
            color: #797979;
        }

        #divLogin .form-input {
            border-radius: 0;
            text-indent: 35px;
        }

        #divLogin .form-group {
            height: 40px;
        }

        #divLogin .form-control, #btnLogin, #passwordResetBtn {
            border-radius: 2px;
            height: 40px;
            font-size: 16px;
            font-family: "Microsoft YaHei", "微软雅黑", "arial", "sans-serif"
        }

        #btnLogin, #passwordResetBtn {
            border: none;
            background: #003e74;
            margin-bottom: 5px;
            font-size: 19px;
            font-family: "Microsoft YaHei", "微软雅黑", "arial", "sans-serif";
        }

        #btnLogin:hover, #btnLogin:focus, #passwordResetBtn:hover, #passwordResetBtn:focus {
            border-color: #3BB49D;
            box-shadow: 0 0 2px #fff;
        }

        #cbRememberPwd {
            position: relative;
            top: 2px;
        }

        .login-wrapper .dropdown-menu > li > a {
            color: #ccc;
            padding: 3px 6px;
            text-align: left;
        }

        .font1 {
            color: #fff;
            font-size: 12px;
            font-weight: normal;
            cursor: pointer;
        }

        #resetPasswordModal .modal-dialog {
            width: 340px;
        }

        #inputEmail {
            margin: 3px 0 20px 0;
            border-radius: 2px;
            border: 1px solid #c9c9c9;
        }

        #resetPasswordModal {
            font-size: 12px;
        }

        #resetPasswordModal .modal-content {
            border-radius: 4px;
        }

        #resetPasswordModal .close {
            position: relative;
            top: -13px;
            left: 10px;
        }

        #myModalLabel {
            color: #323232;
            font-size: 20px;
            margin-bottom: 2px;
        }

        #resetPasswordModal {
            font-family: "Microsoft YaHei", "微软雅黑", "arial", "sans-serif";
        }

        .form-footing,
        .footing-text,
        .footing-logo {
            text-align: center;
        }

        .form-footing {
            margin-top: 15px;
        }

        .footing-text,
        .footing-logo {
            text-align: center;
            display: inline-block;
            vertical-align: middle;
        }

        .footing-text {
            font-size: 30px;
            font-family: "Helvetica", "arial", "sans-serif";
            margin-right: 15px;
        }

        .footing-logo {
            width: 100px;
            height: 100%;
        }

        .footing-logo img {
            display: block;
            width: 100%;
            height: 100%;
        }

        #drag-mask {
            line-height: 38px;
            height: 38px;
            position: absolute;
            background-color: #0077ee;
            color: #ffffff;
            text-align: center;
            vertical-align: middle;
            font-size: 18px;
            top: 1px;
            left: 1px;
            z-index: 10;
        }

        #slide-verification {
            position: absolute;
            top: 1px;
            cursor: pointer;
        }

        @media (max-width: 1366px) {
            .login-logo {
                margin-top: 2%;
            }

            .login-info-box,
            .login-interval-box,
            .login-form-box {
                height: auto;
            }

            .login-form {
                width: 50%;
            }

            .form-logo-text {
                letter-spacing: 6px;
                font-size: 34px;
            }

            .footing-text {
                font-size: 22px;
            }

            .footing-logo {
                width: 90px;
                height: 90%;
            }

            .login-info {
                margin-top: 3%;
                width: 48%;
            }
        }
    </style>
{% endblock %}


{% block indexMain %}

    <div id="cbreProject" class="login-wrapper">

        <div class="login-container">
            <div class="login-logo">
                <img src="https://beopweb.oss-cn-hangzhou.aliyuncs.com/custom/project_img/425_login_logo.png">
            </div>
            <div class="login-content">
                <div class="login-info-box">
                    <div class="login-info">
                        <img src="https://beopweb.oss-cn-hangzhou.aliyuncs.com/custom/project_img/425_login_bg5.png">
                    </div>
                </div>
                <div class="login-interval-box m-auto">
                    <img src="https://beopweb.oss-cn-hangzhou.aliyuncs.com/custom/login/cbre/login_interval.png" class="login-interval">
                </div>
                <div class="login-form-box" id="divLogin">
                    <div class="login-form">
                        <div class="form-logo-text">新鲜营销中心</div>
                        <div class="form-group pr mb5">
                            <div class="form-icon-box">
                                <span class="glyphicon glyphicon-user form-icon"></span>
                            </div>
                            <input type="text" id="txtName" class="form-control form-input pa"
                                   i18n="placeholder=admin.login.PANE_PLACEHOLDER_ACCOUNT" required="" autofocus="">
                        </div>

                        <div class="form-group pr mb5">
                            <div class="form-icon-box">
                                <span class="glyphicon glyphicon-lock form-icon"></span>
                            </div>
                            <input type="password" id="txtPwd" class="form-control form-input pa"
                                   i18n="placeholder=admin.login.PANE_PLACEHOLDER_PWD" required="">
                        </div>

                        <div class="form-group pr mb5">
                            <div id="drag-mask"></div>
                            <div class="form-icon-box icon iconfont icon-shuangjiantou form-icon"
                                 id="slide-verification"
                                 title="拖拽我" style="border-radius: 0;">
                            </div>
                            <input type="text" class="form-control form-input pa"
                                   style="text-indent: 36px; background-color: #ffffff; "
                                   placeholder="按住滑块,拖到最右边" readonly>
                        </div>

                        <div class="oh">
                        <span id="btnForgetPwd" class="font1 fl" data-toggle="modal" data-target="#resetPasswordModal"
                              i18n="admin.login.PANE_FORGET">
                        </span>
                        <span class="fr">
                            <input type="checkbox" id="cbRememberPwd" class="pr cp"
                                   i18n="title=admin.login.PANE_CHECKBOX_REMEMBER" title="Remember" checked>
                            <label for="cbRememberPwd" class="font1"
                                   i18n="admin.login.PANE_CHECKBOX_REMEMBER">Remember</label>
                        </span>
                        </div>
                        <button type="button" class="btn btn-success btn-block" id="btnLogin"
                                i18n="admin.login.PANE_BTN_LOGIN">
                        </button>
                        <div class="form-footing">
                            <div class="footing-text">powered by</div>
                            <div class="footing-logo">
                                <img src="https://beopweb.oss-cn-hangzhou.aliyuncs.com/custom/project_img/login_logo_beop.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" style="top:200px;">
            <div class="modal-content">
                <div class="modal-body clearfix">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel" i18n="admin.resetPassword.RETRIEVE_PASSWORD"></h4>

                    <div i18n="admin.resetPassword.ENTER_EMAIL_ACCOUNT" style="color: #909090"></div>
                    <div style="margin-top: 10px;">
                        <input type="text" class="form-control" id="inputEmail" style="color: #646464"
                               i18n="placeholder=admin.resetPassword.MAIL">
                    </div>
                    <div class="message"></div>
                    <button type="button" class="btn btn-success btn-block" id="passwordResetBtn"
                            i18n="admin.resetPassword.OK;data-complete-text=admin.resetPassword.MAIL_COMPLETE;data-loading-text=admin.resetPassword.MAIL_SENDING"></button>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block scriptLoaded %}
    <script>
        $(function () {
            $('#indexMain').off('mousewheel');
            var $slide = $('#slide-verification'),
                    $mask = $('#drag-mask'),
                    $slideP = $slide.parent();
            var isValid = false,
                    isMove = false,
                    oldX = 0;     //isTrue滑动成功,isMove标记是否可以移动,oldX初始化鼠标X轴位置;
            $slide.on('mousedown', function (ev) {
                oldX = ev.clientX;
                isMove = true;
                return false;
            });
            $slide.on('mouseout mouseup', function () {
                isMove = false;
                if (!isValid) goOld();
                return false;
            });
            function goOld() {
                var timer = setInterval(function () {
                    var speed = $slide.position().left / 11;
                    speed = speed > 0 ? Math.ceil(speed) : speed;
                    $slide.css({'left': $slide.position().left - speed + 'px'});
                    $mask.width($slide.position().left - speed);
                    if ($slide.position().left <= 0) clearInterval(timer);
                }, 20);
            }

            $(document).on('mousemove', function (ev) {
                if (isValid) isMove = false;
                if (isMove) {
                    var disX = ev.clientX - oldX;
                    $slide.css({'left': $slide.position().left + disX + 'px'});
                    //两边超出处理;
                    if ($slide.position().left <= 0) {
                        $slide.css({'left': '0'});
                    }
                    if ($slide.position().left + $slide.outerWidth() >= $slideP.width() - 1) {
                        $slide.css({'left': $slideP.width() - $slide.outerWidth() - 1 + 'px'});
                        $slide.removeClass('icon-shuangjiantou').addClass('icon-xuanze').css('color', '#0077ee');
                        $mask.text('验证成功');
                        isValid = true;
                    }
                    $mask.width($slide.position().left);
                    oldX = ev.clientX;
                }
                return false;
            });

            IndexScreen.onBeforeLogin = function () {
                if (!isValid) {
                    alert.danger('验证未通过，登录失败。');
                }
                return isValid;
            }
        })
    </script>
{% endblock %}