<style>
    #divProjectSummary {
        height: calc(100% - 20rem);
        height: -webkit-calc(100% - 20rem);
        width: 100%;
        position: relative;
        margin-bottom: 0;
    }
    #divProjectSummary .panel-heading {
        padding: 0;
        color: #000;
        /*background-color: rgb(234,239,245);
        /*border-color: rgb(230,235,241);*/
        border: none;
    }
    #divProjectSummary .panel{
        margin: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
    }

    .panel-primary {
        background-color: transparent;
        margin-bottom: 0;
        border: none;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
    }
        .panel-primary .panel-title {
                width: 100%;
                font-size: 1.6rem;
        }
        .panel-primary >.panel-heading {
            background-color: white;
            background-clip: content-box;
            border: none;
            color: #323232;
            padding: 10px 0;
            position: relative;
            width: 90%;
            margin-left: 5%;
            display: inline-flex;
            height: 100%;
            display: -webkit-inline-flex;
            align-items: center;
            -webkit-align-items: center;
            justify-content: space-around;
        }
    .panel-primary>.panel-heading+.panel-collapse>.panel-body {
        border-top-color: transparent;
        border: none;
    }
    .panel-collapse {
        background-color: #f7f7f7;
    }
    .panel-collapse thead th {
        font-weight: normal!important;
    }
    .divIcon {
        display: inline-flex;
        height: 100%;
        display: -webkit-inline-flex;
        align-items: center;
        -webkit-align-items: center;
    }
    .divIcon path {
        fill: white;
        stroke: white;
    }
    .spMainIcon {
        margin-right: 1rem;
        display: inline-flex;
        display: -webkit-inline-flex;
        align-items: center;
        -webkit-align-items: center;
        background-color: #5FCCFF;
        border-radius: 2rem;
        padding: 0.5rem;
    }
    .spMainIcon svg{
        height: 1.4rem;
        width: 1.7rem;
    }
    .spAddIcon {
        display: inline-flex;
        display: -webkit-inline-flex;
        align-items: center;
        -webkit-align-items: center;
    }
    .spAddIcon svg{
        height: 1.4rem;
        width: 1.7rem;
    }
    .reportTime {
        position: absolute;
        right: 0;
        top: 1.8rem;
        color: #969696!important;
        font-size: 1.2rem;
        font-family: Helvetica;
    }
    .aCollapse {
        padding: 10px 0;
        display: inline-block;
        width: 100%;
        color:#323232
    }
    .aCollapse:not(.collapsed) {
        border: none;
    }
    .aCollapse:hover, .aCollapse:focus,.aCollapse:active{
        text-decoration: none;
    }
    .aCollapse[aria-expanded="true"] .glyphicon-chevron-down{
        display: none;
    }
    .aCollapse[aria-expanded="false"] .glyphicon-chevron-up{
        display: none;
    }
    .aCollapse span{
        display: inline-block;
        color:#323232
    }
    .reportDetail {
        z-index: 1;
        display: none !important;
    }
    .btnDetail{
        padding: 1rem 15px;
        margin: 0 15px;
        border-bottom: 1px solid white;
        text-align: right;
        color: black;
        font-weight: bold;
    }
    .collapseArrow {
        padding: 0 !important;
        right: 0.5rem;
        top: 1rem;
        transform: scale(1.1,0.9);
        position: absolute;
        font-size: 1.4rem;
        float: right;
    }
    .canvas-container img{
        width: 100%;
        height: 100%;
    }
    #beopReport .page-header {
        padding-bottom: 9px;
        margin: 0;
        font-size: 2rem;
        color: #323232;
    }
    #beopReport .report-unit {
        color:#646464;
    }
    #beopReport .well{
        padding: 9px;
        border-radius: 3px;
        border: none;
        background-color: transparent;
        margin: 15px 0;
        padding-left: 0;
    }
    #beopReport .well h3{
        margin: 0;
        font-size: 1.8rem;
        color: #323232;
    }
    #beopReport .tableContainer{
        width: 100%;
        overflow-x: auto;;
    }

    .report-content {
        margin-left: -2rem;
    }
    [data-deep="0"] h3 {
        font-size: 1.8rem;
    }
    [data-deep="1"] h3 {
        font-size: 1.4rem;
    }
    [data-deep="2"] h3 {
        font-size: 1.2rem;
    }
</style>
<div id="containerMessageReport">

</div>