<style>
    #appConfig .list-group{
        margin-top: 1rem;
    }
    #appConfig .list-group-item {
        padding: 15px;
        position: relative;
        border-radius: 0;
    }
    #appConfig .list-group-item > div {
        display: table-cell;
        vertical-align: middle;
        height: 24px;
    }
    .opt-title { width: 10000px; }
    .btn-switch {
        display: table-cell;
        border-radius: 11px;
        background-color: #ccc;
        border: 1px solid #bbb;
        padding-left: 0;
        padding-right: 22px;
    }
    .btn-open {
        display: table-cell;
        padding-right: 22px;
    }
    .btn-switch.on {
        padding-left: 22px;
        padding-right: 0;
        background-color: #337ab7;
        border-color: #2e6da4;
    }
    .btn-switch-slider {
        width: 22px;
        height: 22px;
        background-color: #fff;
        border-radius: 50%;
        border-right: 1px solid #ccc;
        box-shadow: 0 1px 1px #999;
    }
    #btnLogout {
        text-align: center;
        font-size: 2.2rem;
        border-radius: 3rem;
        width: 80%;
        padding: 0.5rem;
        margin: 0 auto;
        position: relative;
        top: 30%;
        cursor: pointer;
    }
    #btnLogout button {
        background: rgb(164,204,250);
        border-color: rgb(160,200,240);
        color: rgb(0,112,196);
    }
    .list-group-item{
        background-color: transparent;
        border-width: 0;
        border-bottom-width: 1px;
    }
</style>
<div id="appConfig">
    <div class="list-group">
        <div class="list-group-item" id="mSchedule">
            <div class="opt-title" i18n="admin.setUp.SCHEDULE_TABLE">日程表</div>
            <div class="opt-btn btn-open">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
        <div class="list-group-item hidden" id="mMode">
            <div class="opt-title" i18n="admin.navTitle.PATTERN">模式</div>
            <div class="opt-btn btn-open">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
        <!--<div class="list-group-item" id="mBoot">
            <div class="opt-title">开机</div>
            <div class="opt-btn btn-open">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
        <div class="list-group-item" id="mShutdown">
            <div class="opt-title">关机</div>
            <div class="opt-btn btn-open">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
        <div class="list-group-item" id="mBindRoom">
            <div class="opt-title">关联房间</div>
            <div class="opt-btn btn-open">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>-->
        <div class="list-group-item" id="mNews">
            <div class="opt-title" i18n="admin.setUp.INFOS">消息中心</div>
            <div class="opt-btn btn-open">
                <span class="glyphicon glyphicon-chevron-right"><span class="badge" id="newsCount"></span></span>
            </div>
        </div>
    </div>

    <div id="btnLogout">
        <button type="button" class="btn btn-primary btn-lg btn-block" i18n="admin.setUp.LOGOUT">注销</button>
    </div>
</div>