<style>
#indexMain{
    background-image: url("static/app/inputApp/img/loginBg.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}
.form-control::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.4);
}
#loginPage { 
    position: relative;
    padding: 4rem 1rem;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}
#divTempIcon {
    width: 15rem;
    height: 15rem;
    margin: 0 auto 2rem;
    border-radius: 10rem;
    overflow: hidden;
}
#divTempIcon img{
    width: 120%;
    height: 120%;
    margin-left: -10%;
    margin-top: -11%;
}
#divLogInfo > div {
    margin: 0 auto 15px;
}
#divLogInfo .input-group {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#divLogInfo .glyphicon {
    /*font-size: 2.2rem;*/
}
#divLogInfo .input-group-addon {
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
}
#divLogInfo .form-control {
    height: 3.2rem;
    border: none;
    background-color: transparent;
    color: #fff;
    box-shadow: none;
}
#divLoginAlert {
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    margin: 0 auto;
}
#divCopyRight {
    font-size: 1.5rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 1rem;
    width: 100%;
    color: #bbb;
}
.registerBox {
    text-align:right;
}
#registerPerson {
    color: #ddd;
    padding: 1rem 5px;
    font-size: 1.4rem;
}
#btnLogin{
    margin-top: 3rem !important;
}
#btnLogin button{
    background: rgb(164,204,250);
    border-color: rgb(160,200,240);
    color: rgb(0,112,196);
}
</style>
<div id="loginPage">
    <div id="divTempIcon">
        <img src="static/app/inputApp/img/login.jpg"/>
    </div>
    <div id="divLogInfo">
        <div class="form-group" id="divUserName">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                <input type="text" class="form-control" id="userName" placeholder="填写用户名" autocomplete="off">
            </div>
        </div>
        <div class="form-group" id="divPwd">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                <input type="password" class="form-control" id="password" placeholder="输入密码" autocomplete="off" >
            </div>
        </div>
        <div class="form-group registerBox">
            <span id="registerPerson">注册</span>
        </div>
        <div class="form-group zepto-ev" id="btnLogin">
            <button type="button" class="btn btn-primary btn-lg btn-block" style="font-size: 1.6rem; padding: 6px;">登录</button>
        </div>
    </div>
    <div id="divLoginAlert"></div>
    <div id="divCopyRight">
        <small>R&amp;B TECHNOLOGY CO.LTD</small>
    </div>
</div>