body {
    color: #eee !important;
    background-color: #0E0E0E !important;
    background-image: none !important;
}

.datetimepicker {
    color: #333;
}

#navHeader a, .breadcrumb a {
    color: #eee !important;
}

#menuConfigureInfo a {
    color: #333 !important;
}

.bgWrapper {
    background: #3b3b3b !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: rgb(101, 109, 124) !important;
}

.table-hover > tbody > tr:hover {
    background-color: rgb(37, 48, 70);
}

.step-container .table-hover > tbody > tr:hover {
    background-color: #f5f5f5 !important;
}

/*.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #2A3E50;
    background-color: transparent !important;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-color: #2A3E50;
}
*/
/*html模块 start*/
.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
    background-color: transparent;
}

.table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr.danger:hover > th {
    background-color: rgb(37, 48, 70) !important;
}

.springContent .table > thead > tr > th, .springContent .table > tbody > tr > th, .springContent .table > tfoot > tr > th, .springContent .table > thead > tr > td, .springContent .table > tbody > tr > td, .springContent .table > tfoot > tr > td {
    border-top-color: rgba(245, 245, 245, 0.1);
}

.springContent .table > thead > tr > td.active, .springContent .table > tbody > tr > td.active, .springContent .table > tfoot > tr > td.active, .springContent .table > thead > tr > th.active, .springContent .table > tbody > tr > th.active, .springContent .table > tfoot > tr > th.active, .springContent .table > thead > tr.active > td, .springContent .table > tbody > tr.active > td, .springContent .table > tfoot > tr.active > td, .springContent .table > thead > tr.active > th, .springContent .table > tbody > tr.active > th, .springContent .table > tfoot > tr.active > th {
    background-color: rgba(245, 245, 245, 0.1);
}

/*html模块 end*/

.popover.bottom > .arrow {
    border-bottom-color: rgba(238, 238, 238, .24);
}

.popover.bottom > .arrow:after {
    border-bottom-color: rgba(47, 55, 71, .8);
}

#indexMain {
    background-color: #3b3b3b;
}

#iconList .dropdown-menu li.iconWrap .glyphicon, #iconList .dropdown-menu li > span.dropdownNav, #labelChangeSkin {
    color: #eee !important;
}

#iconList .dropdown-menu li.iconWrap:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

/* 导航 start */
#right-nav:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 26px;
    box-shadow: 0 0px 5px 1px rgba(255, 255, 255, .2) !important;
    transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: rgba(255, 255, 255, 0.36) !important;
}

#ulPages .dropdown-menu {
    background-color: rgba(40, 52, 70, 0.92) !important;
}

#ulPages .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: rgba(255, 255, 255, 0.36) !important;
}

#iconList a:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

#iconList a, #iconList a:focus, #iconList a:active {
    background-color: transparent !important;
}

#iconList .dropdown-menu {
    background-color: rgba(40, 52, 70, 0.96) !important;
}

.breadcrumb > .active {
    color: rgb(234, 193, 36) !important;
}

.navbar-brand span {
    background-image: url('/static/images/logo_white.png') !important;
}

.navbar-default {
    background: -webkit-linear-gradient(top, #151515, #222) !important;
    background: -moz-linear-gradient(top, #151515, #222) !important;
    background: -o-linear-gradient(top, #151515, #222) !important;
    border-color: transparent !important;
}

.navbar-default .navbar-nav > li > a {
    color: #eee !important;
}

#txtProjectTitle {
    color: #eee !important;
}

.nav-icon-svg-g {
    fill: #eee !important;
}

.active .nav-icon-svg-g {
    fill: rgb(234, 193, 36) !important;
}

#ulPages .active a span {
    color: rgb(234, 193, 36) !important;
}

#ulPages .active a span .nav-icon-svg-g {
    fill: rgb(234, 193, 36) !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: #bbb !important;
    transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: transparent !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #bbb !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #bbb !important;
    background-color: transparent !important;
}

#btnLogout a:hover, #btnLogout a:active, #btnLogout a:focus {
    color: #eee !important;
}

#ulAlarmPanel li, #ulAlarmPanel li a {
    color: #333 !important;
}

#right-nav a:hover, #right-nav .active a {
    background-color: transparent !important;
}

#iconList .dropdown-menu li span:nth-of-type(2) {
    color: #eee !important;;
}

#btnDropdownNavList .card-close {
    color: #666 !important;
}

#taskPoolInfo {
    border: none !important;
    background-color: transparent !important;
}

#taskPoolInfo .tooltipTitle {
    border: none !important;
}

#taskPoolInfo .tooltipTitle, #taskPoolInfo .tooltipContent {
    border: none !important;
    background: #38496A !important;
}

.tooltipContent {
    border: none !important;
}

#taskPoolInfo .tooltip.left, #taskPoolInfo .tooltip-arrow {
    border-left-color: #38496A !important;
}

/* 导航 end */

/* map start */
.amap-info-content {
    background: rgba(47, 55, 71, .8) !important;
}

/* map start */

/* benchMark start */
.benchCt {
    background-color: rgba(47, 55, 71, .8) !important;
}

.popover.top > .arrow:after {
    border-top-color: rgba(47, 55, 71, .6);
}

.item .rank {
    color: rgb(57, 57, 57);
}

.item .name, .item .value {
    color: #777;
}

.navTab [data-target]:hover {
    background-color: rgba(36, 36, 36, 0.5) !important;
}

#spanUnit {
    color: #eee !important;
}

/* benchMark end */

/* pane start */
.panel-default {
    border-color: #2A3E52 !important;
}

.indexContent .panel, .panel-default > .panel-heading, .panel-default > .panel-footer,
.sliders > div {
    background-color: rgb(25, 34, 52) !important;
}

.panel-default > .panel-heading {
    color: #eee !important;
    border-color: #2A3E50 !important;
}

.config-footer {
    border-color: #2A3E50 !important;
}

.panel-body.whitePanel {
    color: #666 !important;
}

/* pane start */

/*数据分析 start*/
.divPage .effect {
    background: rgba(0, 0, 0, 0.18) !important;
}

.template {
    border-color: #2A3E50 !important;
}

.template:hover {
    background-color: transparent !important;
    border: 1px solid #fff;
    box-shadow: 0px 0px 2px 1px #9CADBD;
}

.template input {
    color: #333 !important;
}

.userTemplate {
    border-color: #38496a !important;
}

.panel-footer {
    border-color: #2a3e50;
}

.divPage .sliderInfo {
    color: #a7a8a9 !important;
}

.sideTrans span {
    color: #a7a8a9;
}

.slider-item-add .glyphicon-plus {
    color: #38496a;
}

.sideTrans span:hover {

}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb > .active {
    color: #eee;
}

.divPage {
    border-color: #2A3E52 !important;
}

.divPage.selected {
    border: 3px solid #ccc !important;
}

.sideTrans {
    background: #23272F;
}

.sideTrans:hover {
    background: #0e0e0e;
}

.leftCtOpen, .rightCtClose {
    border-right: 1px solid #232323;
}

.rightCtOpen, .leftCtClose {
    border-left: 1px solid #232323;
}

.slider-item .slider-cb {
    border-right: 1px solid #2a3e52 !important;
    border-bottom: 1px solid #3a3e52 !important;
    background-color: rgba(42, 62, 82, 0.6) !important;
}

.divLegend {
    color: #fff !important;
    font-weight: 500 !important;
}

.template .glyphicon {
    color: rgb(191, 193, 198) !important;
}

/* data source */
.inputEditGroup {
    background-color: transparent;
}

.dsGroupName {
    color: #a7a8a9;
}

.dsGroupName.selected {
    color: #eee;
}

.dsTreeHeaderIcon {
    background-image: url('/static/images/dataSource/group_head_normal_white.png');
}

.dsTreeHeaderIcon.open {
    background-image: url('/static/images/dataSource/group_head_sel_white.png');
}

.panel-heading-btn {
    color: #a7a8a9;
}

#dataSrcPanel li.rows {
    background-color: #253046;
}

.dsTreeHeader, #dataSrcAddGroup {
    background-color: rgba(25, 34, 52, 0.8) !important;
    border-bottom-color: #2A3E50;
}

.treeRow {
    background-color: transparent;
    border-bottom-color: #2A364E;
}

.treeRow:hover {
    background-color: rgb(56, 73, 106) !important;
    border: none;
    box-shadow: none;
}

#inputAddGroup {
    color: #eee;
    background-color: transparent
}

#dataSrcPanel .tooltip, #dataSrcPanel .tooltipTitle, #dataSrcPanel .tooltipContent, .divHover .tooltip, .divHover .tooltipTitle, .divHover .tooltipContent {
    background-color: rgba(47, 55, 71, 1) !important;
    border: none !important;
}

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
    background-color: rgb(39, 51, 79) !important;
}

.anlsTemplate {
    background-color: #253046 !important;
    border-color: #2a3e50 !important;
}

.anlsTemplate h3 {
    font-weight: 500 !important;
    color: #eee;
}

.anlsTemplate > p {
    color: #a7a8a9 !important;
}

#panelIconNew {
    background: #3b3b3b !important;
}

/*.templateImgBg {
    background-color: transparent !important;
}*/
.preTemplate .templateImgBg {
    background-color: rgba(65, 131, 189, 0.2) !important;
}

.userTemplate .templateImgBg {
    background-color: rgba(148, 193, 142, .2) !important;
}

.template h3, .template .infoWrap, .template .infoWrap .modifyTime {
    color: #F9F5F5 !important
}

.anlsTemplate .templateImg {
    background-image: url("/static/images/analysis/templateImg/templateImg_for_dark.png") !important;
    opacity: 0.8;
    left: 18px;
}

.wsTools {
    color: #384969 !important;
}

#anlsPane .anlsTemplate .templateImgBg {
    opacity: 0;
}

.preTemplate .templateImg {
    background: url("/static/images/analysis/templateImg/template_common_dark.png") !important;
}

.userTemplate .templateImg {
    background: url("/static/images/analysis/templateImg/template_proj_dark.png") !important;
}

.userTemplate {
    background-color: rgba(65, 131, 189, 0.1) !important;
}

.divNote {
    color: #333 !important;
}

.echarts-dataview {
    color: #333 !important;
}

.wsSet .infoWrap input {
    color: #666;
}
#__echarts_download_wrap__ img{
    background-color: #eee;
}
/*数据分析 end*/

/* dashboard start */
.pointValue {
    color: rgb(234, 193, 36) !important;
    font-weight: 500 !important;
}

.sliderIner .springContainer .panel-default {
    border-color: transparent !important;
}

.accordion-group {
    background-color: #253046 !important;
}

.panePop {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

#toolBox .rows {
    background-color: #253046 !important
}

.lyrow:hover {
    border-color: transparent;
    background-color: rgb(56, 73, 106) !important;
    box-shadow: none;
}

.springContent .well {
    background-color: transparent;
}

.springContent .table-striped > tbody > tr:nth-child(odd) {
    background-color: #233344;
}

#modalCt li.nav-header {
    color: #a7a8a9;
}

#modalCt li.rows {
    color: rgba(238, 238, 238, 0.68);
}

.panel-title {
    font-weight: 500 !important;
}

/* dashboard end */

/* 系统诊断start */
.floorTop .panel {
    background-color: rgba(25, 34, 52, 0.85) !important;
}

#divPaneNotice .panel-body {
    background-color: rgb(25, 34, 52) !important;
}

#divPaneNotice .span-btn {
    color: #eee !important;
}

#errTip {
    background-color: rgba(14, 14, 14, 0.8) !important;
}

#divPaneNotice.top {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !important;
}

#diagnosisLogCt .grow:hover, #btnFloorsSP:hover {
    background-color: transparent !important;
}

#divPaneNotice p:nth-of-type(2) {
    color: #a7a8a9;
}

#divFramesConfig a {
    background-color: #666 !important;
}

/* 系统诊断end */

/* 能效分析start*/
.reportNavigation .form_datetime {
    border: 1px solid #2D8BCA !important;
}

.reportNavigation .form_datetime input {
    border-left: 1px solid #2D8BCA !important;
}

.reportNavigation li a {
    color: #eee !important;
    opacity: 0.7;
}

.reportNavigation > .nav > li.active > a {
    color: #eee !important;
    border-left: 2px solid #2D8BCA !important;
}

.reportNavigation .nav .nav li a:hover, .reportNavigation .nav .nav li.active a {
    color: #eee !important;
    border-left: 1px solid #2D8BCA !important;
}

/* 能效分析start*/

/* modal dialog start */
.modal-content {
    background-color: #eee;
}

.modal-header {
    color: #0b0b0b;
    border-bottom: 1px solid #dcdcdc;
}

.modal-body {
    color: #646464;
}

.modal-body :input {
    color: #0b0b0b;
}

.modal-body label {
    font-weight: 500;
}

.divConfigData {
    border: 1px solid #dcdcdc !important;
}

.dataDragTip {
    color: #cacaca !important;
}

.dataTypeName {
    background-color: #eee !important;
}

.divDSConfigure {
    background-color: #fff !important;
    border: 1px solid #dcdcdc !important;
}

#dataConfig {
    border-top: 1px solid #dcdcdc !important;
}

/* modal dialog end */

/*report start*/
#indexMain > #beopReport > .step-container {
    color: #0b0b0b !important;
}

.reportList .list-group-item {
    color: rgb(21, 21, 21) !important;
}

.reportList .list-group-item.active {
    color: #eee !important;
    background: #428bca !important;
}

#beopReport {
    background: #3b3b3b !important;
}

#beopReport .input-group-addon .glyphicon-calendar {
    color: #fff !important;
}

.report-block {
    background: #F5F5F5 !important;
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.69) !important;
}

.reportList .list-group-item {
    background: #F5F5F5 !important;
}

.step-item-container {
    background: transparent !important;
}

/*report end*/

/* 用户管理 start */
#userListUl {
    color: #666 !important;
}

#tabsUl {
    background: transparent !important;
}

#tabsUl > li.active > a, #tabsUl > li.active > a:hover, #tabsUl > li.active > a:focus {
    background: #fff !important;
    color: #333 !important;
}

#tabsUl a {
    color: #428bca !important;
}

/* 用户管理 end */

/* 工单 start */
#wf-outline input, #wf-outline select, #wf-outline textarea {
    background: #38496A !important;
    color: #eee !important;
    border: 1px solid #38496A;
}

#wf-outline #input-search-name {
    background: #fff !important;
    color: #333 !important;
    border: 1px solid #ccc !important;
}

#workflow-insert {
    color: #666;
}

#wf-content {
    background: #192234 !important;
}

#wf-main-menu {
    background-color: #192234 !important;
}

#wf-level-menu {
    background-color: #27334B !important;
    border-right: 1px solid #27334B !important;
    color: #ACAFB5 !important;
}

#wf-task-search {
    color: #eee !important;
}

#wf-main-ul li:hover {
    color: #eee !important;
}

#wf-main-ul li.active {
    border: 1px solid transparent !important;
    background-color: #27334B !important;
    color: #eee !important;    box-shadow: none !important;
    text-shadow: none !important;
}

#wf-main-ul li {
    border: 1px solid transparent !important;
}

#wf-level-menu li.active, #wf-level-menu span.active {
    color: #eee !important;
}

#wf-label-header .wf-tags-ul-show, #wf-task-mine div.active {
    color: #eee !important;
}

.wf-level-ul {
    color: #ACAFB5 !important;
}

#wf-label-ul li {
    color: #ACAFB5 !important;
}

.wf-activity-box {
    background: #192234 !important;
}

.statistics-item-info {
    border: 1px solid #2A3E50 !important;
    background: #27334B !important;
    color: #ACAFB5 !important;
}

.wf-activity-comment {
    border-bottom: 1px solid #355775 !important;
}

.wf-activity-comment:last-child {
    border-bottom: none !important;
}

.wf-activity-person-box {
    border: 1px solid rgb(42, 62, 80) !important;
    background: rgb(39, 51, 75) !important;
}

.wf-activity-person-footer {
    border: 1px solid rgb(42, 62, 80) !important;
    background: rgb(25, 34, 52) !important;
}

.wf-activity-comment .form-control {
    background-color: rgb(41, 54, 79) !important;
    background-image: none;
    border: 1px solid transparent !important;
}

.wf-activity-person-body .content {
    color: rgb(79, 89, 109);
}

.noActivities {
    opacity: 0.5 !important;
}

.wf-table-head {
    background: #192234 !important;
}

.wf-detail-table tr td, .wf-detail-table tr th, #wf-detail-form .hb td, #wf-detail-form .hb th {
    border: 1px solid #213042 !important;
}

.wf-manager-change-work-group {
    background: #27334B !important;
    color: #ACAFB5 !important;
}

.wf-task-detail {
    background-color: transparent !important;
    color: #eee;
}

#wf-detail-form .btn-white {
    color: #eee !important;
    background-color: #428bca !important;
    border-color: #357ebd !important;
}

#wf-task-table tbody tr.wf-today-task {
    background: rgb(73, 117, 80) !important;
    color: rgba(238, 238, 238, 0.7) !important;
}

#wf-editor {
    background-color: rgb(41, 54, 79) !important;
    border: 1px solid rgb(42, 62, 80) !important;
}

.hasEvent span {
    color: #ACAFB5 !important;
}

#wf-detail-funUl .active span {
    color: #eee !important;
}

.historyConTitle {
    color: #ACAFB5 !important;
}

.historyAction {
    color: #f0ad4e !important;
}

.newName, .oldName {
    color: #eee !important;
}

.media-body {
    color: rgba(238, 238, 238, 0.8) !important;
}

.media-body a {
    color: rgba(238, 238, 238, 0.7) !important;
}

#wf-task-table tbody tr {
    color: #ACAFB5 !important;
    background: #27364E !important;
    border: 1px solid #38486A !important;
}

#wf-outline #wf-task-table tbody tr:hover {
    background: -moz-linear-gradient(top, rgba(56, 72, 106, 0.7) 0%, rgba(56, 72, 106, 0.9) 50%, rgba(56, 72, 106, 0.7) 100%) !important;
    background: -webkit-linear-gradient(top, rgba(56, 72, 106, 0.7) 0%, rgba(56, 72, 106, 0.9) 50%, rgba(56, 72, 106, 0.7) 100%) !important;
}

#wf-task-table thead tr {
    color: #eee !important;
    border: 1px solid #38486A;
}

#wf-task-table thead tr th {
    background: #38486A !important;
}

#wf-task-table tbody tr:nth-of-type(even) {
    background: #38486A !important;
}

#task-pagination li.active a {
    color: #fff !important;
}

#task-pagination li a {
    color: #eee !important;
}

#task-pagination li.disabled a {
    color: #777 !important;
}

.pagination > li > a, .pagination > li > span {
    background: transparent !important;
    color: #ACAFB5 !important;
    border: 1px solid #38486A !important;
}

/*#task-pagination > li > a:hover, #task-pagination > li > span:hover, #task-pagination > li > a:focus, #task-pagination > li > span:focus {
    color: #EBC124 !important;
}

#task-pagination>.disabled>span, #task-pagination>.disabled>span:hover, #task-pagination>.disabled>span:focus, #task-pagination>.disabled>a, #task-pagination>.disabled>a:hover, #task-pagination>.disabled>a:focus {
    color: #eee !important;
}*/

#task-pagination li.active a {
    color: #EBC124 !important;
}

#wf-content #calendar {
    color: #333 !important;
}

#wf-detail-container table {
    background: #192234 !important;
}

#wf-detail-comment [data-role="editor-toolbar"] a {
    color: #333 !important;
}

#accountManagePanel .panel-body {
    color: #333;
}

#wf-add-group-form {
    /*color: #333 !important;*/
}

.wf-reply-info {
    color: #fff !important;
}

.wf-reply-time, .wf-reply-user-name {
    color: #ACAFB5 !important;
}

#wf-detail-funUl li {
    background: #27334B !important;
    color: #ACAFB5 !important;
}

.wf-search-all li {
    color: #333 !important;
}

#wf-Time-overdue li a {
    color: #333 !important;
}

.wf-table {
    color: #333;
}

.wf-search-all {
    background: #fff;
}

.wf-search-result-title .nav-tabs {
    background: transparent !important;
}

.wf-search-result-title .nav-tabs li:hover {
    color: #fff !important;
    background: #000 !important;
}

.wf-search-result-title .nav-tabs li.active {
    color: #fff !important;
}

#wf-task-table {
    background: #fff;
}

.wf-detail-table {
    color: #fff !important;
}

#wf-task-return-activities {
    color: #333 !important;
}

#events {
    background: #27334B !important;
}

#events h4 {
    color: #ACAFB5 !important;
}

#events .dropdown a {
    color: #333 !important;
}

#events .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: #333 !important;
    color: #fff !important;
}

#events .fc-event, .zoneInfo {
    color: #ACAFB5 !important;
}

.taskPoolInfoEcharts {
    background: #eee !important;
}

#workflowInfo .modal-footer a {
    color: #333 !important;
}

#workflowInfo .modal-body input, #workflowInfo .modal-body input[disabled='disabled'] {
    background: #eee !important;
    color: #333 !important;
}

#workflowInfo .modal-body input[disabled='disabled'] {
    border: 1px solid #eee !important;
}

#calendar-time {
    background: #27334B !important;
    color: #ACAFB5 !important;
    border: 1px solid #273348 !important;
}

#events .btn-default {
    color: #ACAFB5 !important;
    background-color: #27334B !important;
    border-color: #355775 !important;
}

#calendar-time .datetimepicker {
    color: #ACAFB5 !important;
}

#wrap {
    background: #192234 !important;
}

.fc-view-container {
    background: #27334B !important;
    color: #ACAFB5 !important;
}

.fc-unthemed .fc-today {
    background: #38496A !important;
}

.fc-unthemed .fc-divider, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #2A3E50 !important;
}

.fc-toolbar {
    color: #ACAFB5 !important;
}

.fc-state-active, .fc-state-disabled, .fc-state-down, .fc-state-hover {
    color: #ACAFB5;
    background-color: #27334B;
    border-color: #355775;
}

.wf-activity-statistics-container {
    border: 1px solid #2A3E50 !important;
    color: #ACAFB5 !important;
}

.statistics-header {
    color: #eee !important;
}

#userSettingWin .media-body {
    color: #666 !important;
}

/*ue-ditor
.edui-popup div, .edui-dialog div {
    color: #333 !important;
}
*/

/*beop-version-history*/
#beopVersionHistory {
    color: #428bca !important;
}

.pdf_download {
    background: #fff !important;
    color: #333 !important;
}

#task_pool .dropdown {
    color: #333 !important;
}

#task_pool .dropdown-menu > li > a {
    color: #333 !important;
}

.tooltip {
    color: #fff !important;
}

/* 工单 end */

/* 数据管理 start*/
.pointList tr:hover {
    background-color: rgb(56, 73, 106) !important;
}

.nav-tabs {
    background: #1f1f1f !important;
}

#divUploadWrap {
    color: #666 !important;
}

#shareLogPanel {
    color: #666;
    border-color: #1f1f1f !important;
}

#shareLogPanel .panel-heading {
    background-color: #1f1f1f !important;
}

#searchPointName {
    background-color: rgb(56, 73, 106);
    color: #eee;
    border-color: #2a3e50;
}

#myTab {
    border-color: #2a3e50;
}

#myTab li a {
    border-color: transparent;
}

/* 数据管理 end*/

/* 数据回放 start */
#divObserverTools .panel {
    background-color: rgba(25, 34, 52, 0.8) !important;
}

.toolBacktrace.selected {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

/* 数据回放 end */

/* 项目导航 start */
.amap-info-sharp {
    width: 0px;
    height: 0px !important;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-width: 20px;
    border-right-style: solid;
    border-right-color: transparent;
    border-top-width: 32px;
    border-top-style: solid;
    border-top-color: rgba(47, 55, 71, .78) !important;
    position: relative;
    top: 0;
    left: -6px;
    background-image: none;
}

.amap-info-content {
    border-color: rgba(47, 55, 71, .78) !important;
}

#projectsCard > div {
    background: rgba(47, 55, 71, .9) !important;
}
#projectsCard > div:nth-of-type(1){
    background: transparent !important;
}
.map-card .project-detail, .map-card .project-nav {
    background-color: rgba(47, 55, 71, .8) !important;
}

.nearby-projects {
    background-color: rgba(47, 55, 71, .8) !important;
}

.wobble-horizontal:hover, .wobble-horizontal:focus, .wobble-horizontal:active {
    background-color: rgba(40, 52, 70, 0.92) !important;
}

.map-card .card-close {
    color: #eee !important;
    background-color: rgba(47, 55, 71, .8) !important;
}

.nav-section {
    color: rgba(238, 238, 238, 0.8) !important;
}

/*内燃机 start*/

#projectsCard .project-media-panel {
    /*background: rgba(24, 24, 24, 1) !important;*/
}

#projectsCard .project-media-result .search_result span{
    color: rgb(234, 193, 36) !important;
}
#projectsCard .project-media-result .search_result em {
    color: rgb(234, 193, 36) !important;
}
#projectsCard .project-media-panel li > div {
    background: rgba(24, 24, 24, 1) !important;
}

#projectsCard .project-media-panel .panel-mask {
    background: rgba(24, 24, 24, 1) !important;
}

#projectsCard .project-media-panel li.active > div {
    background: transparent !important;
}

#advanceSearch-content select {
    background: rgba(56, 100, 145, .5) !important;
    border-color: rgb(66, 139, 202) !important;
    color: #eee !important;
}
#projectsCard .project-media-result table tbody td{
    border-color: rgb(69, 89, 129) !important;
}
#projectsCard .project-media-result table {
    border-color: rgb(69, 89, 129) !important;
}
#projectsCard .project-media-result table thead th {
    background: rgba(46, 61, 88, 1) !important;
    border-color: rgba(70,91,133,1) !important;
    border-bottom: 1px solid  rgb(69, 89, 129) !important;
}

#projectsCard .project-media-panel li[class="enabled"] > div:hover {
    color: rgb(234, 193, 36) !important;
}

#projectsCard .project-media-panel li.active {
    background: rgba(47, 55, 71, .9) !important;
    color: rgb(234, 193, 36) !important;
}
#projectsCard #pms-project-content{
    border-color: rgb(70, 91, 133) !important;
}
#projectsCard .project-control-advanceSearch{
    border-color: rgb(70, 91, 133) !important;
}
#projectsCard .project-control-advanceSearch a{
    border-color: rgb(70, 91, 133) !important;
    background: rgba(46, 61, 88, 1) !important;
}
#projectsCard .project-media-control .nav-tabs > li.active a, #projectsCard .project-media-control .active a.active{
    color: #eac124 !important;
    background: transparent !important;
}
/*内燃机 end*/
/* 项目导航 end */

/* 用户信息 start */
#accountManage #useName {
    color: #333;
}

/* 用户信息 end */

/*警告信息 start*/
#panelLog {
    color: #666;
}

#panelLog .panel-heading {
    background-color: #1f1f1f !important;
}

/*警告信息 end*/

/* 权限管理 start */
#permissionManage {
    color: #666;
}

#staffList, #staffList .media-body {
    color: #666 !important;
}

#addPerson {
    background: #888 !important;
}

/* 权限管理 end */

/* wiki管理 start*/
#wikiListPanel {
    color: #666;
    border-color: #1f1f1f !important;
}

#wikiListPanel .panel-heading {
    background-color: #1f1f1f !important;
}

.tagCtn .tagItem {
    background-color: #fff !important;
}

#btnChangeWiki, #btnRemoveWiki {
    color: #428bca !important;
}

#divWikiContent hr {
    border-color: #aaa;
}

#divWikiContent .pagebreak {
    height: 3px;
    border-radius: 2px;
}

#divWikiContent a {
    color: #428bca !important;
}

/* wiki管理 end*/

/*wysiwyg start*/
.divWikiEditor .btn-toolbar a {
    color: #428bca !important;
}

/*wysiwyg end*/

/* benchmark start */
#benchmarkConfigure {
    color: #666;
}

.barDataZoom span {
    color: #333 !important;
}

/* benchmark end */

/*fontTemp start */
.fontTemp1 {
    color: rgb(45, 139, 202);
}

.fontTemp2 {
    color: rgb(92, 184, 92);
}

.fontTemp3 {
    color: rgb(218, 60, 33);
}

.fontTemp4 {
    color: rgb(234, 193, 36);
}

.fontTemp5 {
    color: #eee !important;
}

.fontTemp6 {
    color: #a7a8a9 !important;
}

.fontTemp7 {
    color: rgb(21, 21, 21) !important;
}

/*fontTemp end */

/*菜单配置 start */
#menuConfigureInfo {
    color: #666 !important;
}

#reg-wizard {
    color: #666;
}

/*菜单配置 end */

/* 报表分享 start*/
.show-detail > a {
    background-color: rgb(237, 193, 36) !important;
    border-color: rgb(237, 193, 36) !important;
}

#reportBody {
    background-color: #3b3b3b;
}

#divNavWrap .left-nav {
    color: #eee;
}

#reportContainer .panel-default {
    background-color: rgb(25, 34, 52) !important;
}

.selectSkinWrap {
    box-shadow: 0 3px 8px 0px #666 !important;
    background: -webkit-linear-gradient(top, rgba(35, 35, 35, 0.98), rgba(51, 51, 51, 0.8)) !important;
    background: -moz-linear-gradient(top, rgba(35, 35, 35, 0.98), rgba(51, 51, 51, 0.8)) !important;
    background: -o-linear-gradient(top, rgba(35, 35, 35, 0.98), rgba(51, 51, 51, 0.8)) !important;
}

.selectSkinWrap ul > li.skinItem {
    border: 1px solid #aaa !important;
    box-shadow: 1px 3px 8px 0px #555 !important;
}

.selectSkinWrap ul > li.skinItem.checked {
    border-color: rgb(237, 193, 36) !important;
}

/* 报表分享 end*/
/*bgColorTemp start*/
.bgColorTemp1 {
    background-color: #29364f;
}

.bgColorTemp2 {
    background-color: #38496a;
}

.bgColorTemp3 {
    background-color: #2a3e50;
}

#accordion .panel-default > .bgColorTemp1 {
    background-color: #29364f !important;
}

#accordion .panel-default > .bgColorTemp2 {
    background-color: #38496a !important;
}

/*bgColorTemp end*/
/*borderColorTemp start*/
.borderColorTemp1 {
    border: 1px solid #2a3e50;
    border-radius: 5px;
}

.borderColorTemp2 {
    border: 2px solid rgb(25, 34, 52);
}

#accordion .panel-default .borderColorTemp4 {
    border-top: 1px solid rgb(25, 34, 52);
}

.borderColorTemp3 {
    border-bottom: 1px solid #2a3e50;
}

/*borderColorTemp end*/
/*几何图形颜色*/
.svgCopyBoxTem {
    border: 2px dashed #a7a8a9 !important;
}

.deleteGraphTem {
    color: #a7a8a9;
}

/*诊断 start*/
.floorTop .panel {
    background-color: rgba(24, 34, 52, 0.7);
    border-radius: 5px;
}

.floorTop .panel-default > .panel-heading {
    background-color: rgba(24, 34, 52, 0.7);
    color: #eee;
}

.floorTop .panel-default > .panel-body {
    background-color: rgba(24, 34, 52, 0.7);
}

.floorTop .div-row-icon-badge:hover, .floorTop .div-row-icon-badge:active, .floorTop .div-row-icon-badge:visited {
    background-color: #2e3d58;
    color: #e7b452;
}

#floorCt .showCont .showBtn {
    color: rgba(24, 34, 52, 0.7);
    box-shadow: 0 0 4px #eee;
    border-radius: 20px;
    background: rgba(24, 34, 52, 0.1);
    line-height: 41px;
}

#floorCt .showCont .showBtn:hover {
    color: rgb(32, 67, 99);
}

#floorCt .showCont .showText {
    color: #eee;
}

.floorTop .spanSmall {
    background-color: #2e3d58 !important;
    color: #e7b452;
}

#floorCt .panelBodyColor {
    background: #192234 !important;
}

/*诊断 end*/

/*ueditor start*/
.edui-default .edui-dialog {
    color: #666;
}

/*ueditor end*/