<div id="terminalPointsTableBox" class="terminal-table-box">
    <div class="ml10">
        <div id="obixBtnGroupBox" class="clearfix">
            <div class="btn-group btn-group-sm fl btn-groups" role="group">
                <span class="navBtnStyle cp ml10">
                    <span id="obixPointUpdate" class="btn-box">
                        <span class="icon iconfont icon_position" i18n="title=common.ADD;">&#xe711;</span>
                        <span class="mediaHide" i18n="common.ADD"></span>
                    </span>
                </span>
                <span class="navBtnStyle cp">
                    <span id="obixPointDelete" class="btn-box">
                        <span class="icon iconfont icon_position" i18n="title=common.DELETE;">&#xe712;</span>
                        <span class="mediaHide" i18n="common.DELETE"></span>
                    </span>
                </span>
                 <span class="navBtnStyle cp">
                    <span id="obixAllPointsDelete" class="btn-box">
                        <span class="icon iconfont icon_position" i18n="title=common.DELETE_ALL;">&#xe7f9;</span>
                        <span class="mediaHide" i18n="common.DELETE_ALL"></span>
                    </span>
                </span>
                <span class="navBtnStyle cp">
                    <a id="point_export" target="_blank" nothash  class="btn-box">
                        <span class="glyphicon glyphicon-export"
                              i18n="title=debugTools.btnNav.EXPORT_POINT_LIST;"></span>
                        <span class="mediaHide" i18n="debugTools.btnNav.EXPORT_POINT_LIST"></span>
                    </a>
                </span>
                <span class="navBtnStyle pr cp">
                    <span id="point_import" class="btn-box">
                        <span class="glyphicon glyphicon-import"
                              i18n="title=debugTools.btnNav.IMPORT_POINT_LIST;"></span>
                        <span class="mediaHide" i18n="debugTools.btnNav.IMPORT_POINT_LIST"></span>
                    </span>
                </span>
                <span class="navBtnStyle pr cp">
                    <a class="load-tpl" target="_blank" href="/static/scripts/modbus/templates/obixsample.xlsx" nothash>
                        <span class="glyphicon glyphicon-save"
                              i18n="title=debugTools.btnNav.EXPORT_POINT_TEMPLATE_LIST;"></span>
                        <span class="mediaHide" i18n="debugTools.btnNav.EXPORT_POINT_TEMPLATE_LIST"></span>
                    </a>
                </span>
                <span class="navBtnStyle cp">
                    <span id="obixPointHistory">
                        <span class="icon iconfont icon_position"
                              i18n="title=debugTools.btnNav.HISTORY;">&#xe70f;</span>
                        <span class="mediaHide" i18n="debugTools.btnNav.HISTORY"></span>
                    </span>
                </span>
                <span class="navBtnStyle cp">
                    <span id="obixPointDebug" class="btn-box">
                        <span class="icon iconfont icon_position" i18n="title=dataTerminal.obix.DEBUG">&#xe867</span>
                        <span class="mediaHide" i18n="dataTerminal.obix.DEBUG"></span>
                    </span>
                </span>
                <span class="navBtnStyle cp">
                    <span id="obixPointAutoSearch" class="btn-box">
                        <span class="icon iconfont icon_position" i18n="title=dataTerminal.obix.AUTO_SEARCH">&#xe87f</span>
                        <span class="mediaHide" i18n="dataTerminal.obix.AUTO_SEARCH"></span>
                    </span>
                </span>
            </div>
            <div class="text_search_box ml10">
                <span class="icon iconfont icon_position searchIcon cp">&#xe713;</span>
                <input type="text" id="text_search" class="form-control mr10 fl text-search" value=""
                       i18n="placeholder=common.SEARCH"/>
            </div>
            <div id="obixAutoSearchBox" class="fl pr dn">
                <img id="obixAutoSearchLoading" class="fl" src="/static/images/loading-dark.gif" />
                <div id="obixAutoSearchInfo" class="fl ml5" i18n="dataTerminal.obix.AUTO_SEARCH_PROMPT"></div>
            </div>
            <div id="obixAutoSearchResult" class="fl pr dn">
                <span i18n="dataTerminal.obix.AUTO_SEARCH_POINT_INFO1"></span>
                <span id="obixAutoSearchPointTotal">0</span>
                <span i18n="dataTerminal.obix.AUTO_SEARCH_POINT_INFO2"></span>
            </div>
        </div>
        <div id="obixTable" class="table-plugin"></div>
    </div>
</div>
<!--@formatter:off-->

<!--@formatter:on-->