
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" i18n="admin.ddlUser.MENU_RESET_PASSWORD"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="oldPwd" class="col-sm-3 col-sm-offset-1 control-label" i18n="admin.resetPassword.OLD_PASSWORD"></label>

                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="oldPwd" i18n="placeholder=admin.resetPassword.OLD_PASSWORD">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPwd" class="col-sm-3 col-sm-offset-1 control-label" i18n="admin.resetPassword.NEW_PASSWORD"></label>

                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="newPwd" i18n="placeholder=admin.resetPassword.NEW_PASSWORD">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="checkNewPwd" class="col-sm-3 col-sm-offset-1 control-label" i18n="admin.resetPassword.NEW_PASSWORD_CONFIRM"></label>

                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="checkNewPwd" i18n="placeholder=admin.resetPassword.NEW_PASSWORD_CONFIRM">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" i18n="admin.resetPassword.CLOSE"></button>
                <button type="button" class="btn btn-primary" id = "change-psw" i18n="admin.resetPassword.OK"></button>
            </div>
        </div>


<script >

    $("#change-psw").click(function (e) {

        var dialog = $("#change-psw").closest('.modal')[0]

        var newPsw = $("#newPwd")[0].value;
        var newPswC = $("#checkNewPwd")[0].value;
        if(!newPsw)
        {
            alert("Password should not be empty!")
        }
        else if(newPsw == newPswC)
        {
            var oldPsw = $("#oldPwd")[0].value;
            if(newPsw == oldPsw)
            {
                alert("New password should be different with old one.")
            }
            else
            {
                var id = AppConfig.userId;

                spinner.spin(dialog)
                WebAPI.post("/reset_pwd", {
                                id: id,
                                oldPsw: oldPsw,
                                newPsw: newPsw
                }).done(function (data) {
                    if(!data['status'])
                    {
                        alert(data['error']);
                    }
                    else
                    {
                        alert("succeeded");
                        $("#change-psw").closest('.modal').modal('hide');
                    }
                    spinner.stop()
                }).error(function(e){
                    alert("whoops!");
                    spinner.stop()
                })
            }

        }
        else
        {
            alert("New password confirmation failed!")
        }
    });

</script>