<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Strategy Builder</title>
    <link rel="shortcut icon" type="image/ico" href="/static/images/favicon.ico">
    <script>
        var _hmt = _hmt || [];
    </script>
    {% assets "strategy_css_bundle" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"> {% endassets %}
</head>

<body class="strategy-builder">
    <div id="mainframe"></div>

    <div style="display:none;">
        <image id="imgIcon" src="/static/app/Strategy/themes/default/images/icon.png" />
        <image id="imgIcon2" src="/static/app/Strategy/themes/default/images/iconSelect.png" />
    </div>

    <input type="hidden" value="{{token if token else ''}}" id="hidToken"> {% assets "strategy_js_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script> {% endassets %}
</body>

</html>