<div class="historyDrag" id="divHistoryDrag">
    <div class="divChartTtl" i18n="dashboard.modalHistoryDataAnalyze.HISTORY_DRAG_PANEL">历史拖拽面板</div>
    <div class="ctnTimeConfig gray-scrollbar" style="display: none;">
        <div class="divTimeConfig clearfix">
            <div class="divTimeMode">
                <label i18n="modalConfig.option.LABEL_MODE">模式</label>
                <select class="form-control iptTimeMode">
                    <option value="0" i18n="modalConfig.option.MODE_CURRENT">快速配置</option>
                    <option value="1" i18n="modalConfig.option.MODE_RECENT">最近周期</option>
                    <option value="2" i18n="modalConfig.option.MODE_FIXED">固定周期</option>
                </select>
            </div>
            <div class="divTimeRange input-group">
                <label i18n="modalConfig.option.LABEL_TIME_RANGE">时间范围</label>
                <select class="form-control selRecentTimeRange">
                    <option value="today" i18n="modalConfig.option.PERIOD_DROP_DOWN_TODAY">过去24小时</option>
                    <option value="threeDay" i18n="modalConfig.option.PERIOD_DROP_DOWN_THREE_DAY">过去72小时</option>
                    <option value="yesterday" selected="" i18n="modalConfig.option.PERIOD_DROP_DOWN_YESTERDAY">昨天（24小时）</option>
                    <option value="thisWeek" i18n="modalConfig.option.PERIOD_DROP_DOWN_THIS_WEEK">过去7天</option>
                    <option value="lastWeek" i18n="modalConfig.option.PERIOD_DROP_DOWN_LAST_WEEK">上周（7天）</option>
                    <option value="thisYear" i18n="modalConfig.option.PERIOD_DROP_DOWN_THIS_YEAR">过去12个月</option>
                </select>
            </div>
        </div>
        <div class="btnTimeConfigGrp">
            <div class="divConfigConfirm btn btn-primary" i18n="dashboard.modalHistoryDataAnalyze.DATE_CONFIRM">查询</div>
            <div style="background-color:transparent" class="divConfigCancel btn btn-default" i18n="dashboard.modalHistoryDataAnalyze.DATE_CANCEL">取消</div>
        </div>
        <div class="divBackground">
            <label>背景</label><span class="bg dark">深色</span><span class="bg light">浅色</span><span class="bg transparent">透明</span>
        </div>
    </div>
    <div class="btnShowTimeConfig glyphicon glyphicon-cog"></div>
    <div class="btnShowAddPanel glyphicon glyphicon-plus-sign"></div>
    <div class="btnClosePanel glyphicon glyphicon-remove-circle"></div>
    <div class="dragTip"><span i18n="dashboard.modalHistoryDataAnalyze.DRAG_TIP_FOR_CHART" style="box-shadow: 0 0px 3px;padding: 3px 5px;border-radius: 4px;">拖拽数据源至此生成图表</span></div>
    <div class="divHistoryChart"></div>
</div>