<style>
    #divScreenContainer {
        padding: 20px;
    }
    
    .divQueryTool {
        height: 40px;
        margin-bottom: 14px;
    }
    
    .divQueryTool .divTimeTool {
        display: inline-block;
    }
    
    .divQueryTool .iptField {
        float: left;
        border: 1px solid #3477be;
        background: #144685;
        padding: 0 10px;
        margin-right: 15px;
        border-radius: 4px;
    }
    
    .divQueryTool .iptLabel {
        line-height: 32px;
        display: inline-block;
        width: 70px;
    }
    
    .divQueryTool .iptContent {
        background: transparent;
        border: none;
        display: inline-block;
        box-shadow: none;
        outline: none;
        width: 120px;
    }
    
    .divQueryTool .btnQueryTool {
        display: inline-block;
        height: 34px;
        vertical-align: top;
        line-height: 24px;
        padding: 5px 25px;
        color: white;
        margin-left: 15px;
        cursor: pointer;
        border-radius: 4px;
    }
    
    .divStatisticTable {
        display: table;
        width: 100%;
        border-top: 1px solid black;
        border-left: 1px solid black;
    }
    
    .divStatisticTable .thead .td {
        color: white;
        font-weight: bold;
    }
    
    .divStatisticTable .tr {
        text-align: center;
        display: table-row;
    }
    
    .divStatisticTable .td {
        display: table-cell;
        padding: 10px 0;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        color: #ccc;
    }
    
    .divStatisticTable .tr:nth-of-type(odd) {
        background-color: #26334B
    }
    
    .divStatisticTable .tr:nth-of-type(even) {
        background-color: #344464
    }
</style>
<div class="divQueryTool">
    <div class="divTimeTool clearfix">
        <div class="iptField">
            <span class="iptLabel">开始时间</span>
            <input type="text" class="iptContent" id="iptTimeStart" data-field="startTime">
        </div>
        <div class="iptField">
            <span class="iptLabel">结束时间</span>
            <input type="text" class="iptContent" id="iptTimeEnd" data-field="endTime">
        </div>
    </div>
    <div class="btnQueryTool btn-success" data-action="query">查询</div>
    <div class="btnQueryTool btn-primary" data-action="export">导出</div>
    <!--<div class="btnQueryTool" data-action="map">回到地图</div>-->
</div>
<div style="overflow:auto;max-height: calc(100% - 54px);">
    <div class="divStatisticTable"></div>
</div>