<div class="historicalPath">
    <style>
        .historicalPath {
            width: 100%;
            height: 100%;
            padding-left: 8px;
            background: #000000;
            color: #eeeeee;
            position: relative;
        }
        
        .historicalPath .gpsInfo {
            position: absolute;
            top: 70px;
            right: 0;
            width: 260px;
            background: rgba(13, 33, 49, 0.74);
            height: calc(100% - 140px);
            border: 1px solid #397ac9;
        }
        
        .historicalPath .gpsInfo .head {
            background: #144685;
            height: 20px;
            width: 100%;
        }
        
        .historicalPath .gpsInfo span {
            font-size: 12px;
            text-align: center;
            padding: 2px;
            display: inline-block;
            width: 32%;
            line-height: 16px;
        }
        
        .historicalPath .gpsInfo .gpsCon {
            height: calc(100% - 20px);
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
        
        .historicalPath .gpsInfo .gpsCon>div {
            border-bottom: 1px solid #313e49;
        }
        
        .historicalPath .timeInput {
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            position: relative;
            background: rgb(25, 34, 52);
            padding-left: 15px;
        }
        
        .historicalPath .timeInput .startTime,
        .historicalPath .timeInput .endTime {
            width: 270px;
            float: left;
            height: 30px;
            border: 1px solid #3477be;
            background: #144685;
            padding: 0 10px;
            margin-right: 15px;
            border-radius: 4px;
        }
        
        .historicalPath .timeInput input {
            background: transparent;
            border: none;
            display: inline-block;
            box-shadow: none;
            outline: none;
            width: calc(100% - 90px);
        }
        
        .historicalPath .timeInput label {
            line-height: 30px;
            display: inline-block;
            width: 70px;
        }
        
        .historicalPath .timeInput button {
            height: 30px;
            vertical-align: top;
            line-height: 20px;
            padding: 5px 15px;
            color: white;
            cursor: pointer;
            border-radius: 4px;
        }
        
        .historicalPath .backMap {
            position: absolute;
            right: 15px;
        }
        
        .historicalPath #historyPathMap {
            width: 100%;
            height: calc(100% - 140px);
        }
        
        .historicalPath .timeSlider {
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            background: rgb(25, 34, 52);
            position: relative;
        }
        
        .historicalPath .timeSlider>div {
            width: calc(100% - 105px);
            display: flex;
            align-items: center;
            border: 1px solid #38496a;
            padding: 5px;
            border-radius: 5px;
            position: relative;
            margin-left: 90px;
        }
        
        .historicalPath .timeSlider>div span {
            width: 150px;
        }
        
        .historicalPath .timeSlider>div input {
            width: calc(100% - 300px);
            outline: none;
        }
        
        .historicalPath .timeSlider>div span.tooltipTime {
            position: absolute;
            top: -20px;
            background: rgba(255, 255, 255, .8);
            padding: 4px;
            border-radius: 4px;
            color: #000000;
        }
        
        .historicalPath .stop,
        .historicalPath .start {
            position: absolute;
            left: 15px;
            width: 60px;
        }
        
        .historicalPath .BMap_cpyCtrl {
            display: none;
        }
        
        .historicalPath .anchorBL {
            display: none;
        }
    </style>
</div>