.toolTipIcon{
  height: 100%;
  display: inline-block;
  color: #a80000;
  vertical-align: middle;
  margin-left: 4px;
}
.toolTipWrap :global(.ms-Callout-main) {
  overflow-y: hidden !important;
}
.toolTipWrap :global(.ms-Tooltip-subText) {
  width: 80px;
  word-wrap: break-word;
  line-height: 16px;
}
