<style>
    #ulMessageDivide .list-group-item {
        font-size: 2rem;
        position: relative;
        font-family: "Microsoft YaHei";
    }
    .messageListIcon {
        position: relative;
        top: 0.2rem;
        /* left: -0.3rem; */
        margin-right: 0.8rem;
        font-size: 2.2rem;
    }
    .list-group-item .badge{
        float: none;
        position: absolute;
        right: 2rem;
        top: 1.3rem;
        font-size: 1.6rem;
    }
</style>
<ul id="ulMessageDivide" class="list-group">
    <li class="list-group-item" id="liReportMess"><span class="messageListIcon glyphicon glyphicon-file" aria-hidden="true"></span>我的报表<span class="badge"></span></li>
    <li class="list-group-item" id="liWkMess"><span class="messageListIcon glyphicon glyphicon-tasks" aria-hidden="true"></span>我的工单<span class="badge"></span></li>
    <li class="list-group-item" id="liScheduleMess"><span class="messageListIcon glyphicon glyphicon-flag" aria-hidden="true"></span>我的日程</li>
    <li class="list-group-item" id="liAffairMess"><span class="messageListIcon glyphicon glyphicon-briefcase" aria-hidden="true"></span>工单动态</li>
</ul>