{% extends "wxTemplate.html" %}
{% block title %}待完成{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <ol class="daylist list-group">
                <li class="list-group-item day-item">
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                    <span class="item-onoff">33今日冷水机组累计发生4次启停.冷冻水泵累计发生2次启停.冷却水泵累计发生2次启停.冷却塔累计发生8次启停.</span>
                </li>
                <li class="list-group-item day-item">
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                    <span class="item-yes">相比昨日:外温+8%.</span>
                </li>
                <li class="list-group-item day-item">
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                    <span class="item-bs">今日机房运行与本项目运营历史比，同样室外温湿度参数及负荷下，比最佳运营的一天（2014-12-11)多耗电92度，操作行为的节能空间有1.3%.</span>
                </li>
                <li class="list-group-item day-item">
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                    <span class="item-nxb">今日机房平均能效比为0.69kW/ton.在同样室外温湿度参数下，同时运行的同类机房最优为0.66kW/ton.最差为0.99kW/ton.本项目距离最优效率目标的空间有4.1%.</span>
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ol class="list-group favorite-list">
            </ol>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
        $(function() {
            var data = [['能效比', 33, 'kw/h'],['能效比2', 11, 'kw/h'],['能效比3', 2, 'kw/h'],['能效比4', 755, 'kw/h']];
            for(var n=0, nlen=data.length; n<nlen; n++){
                var item = data[n];
                var li = '<li class="list-group-item">'+item[0] +' '+ item[1] +' '+ item[2] +'</li>';
                $('.favorite-list').append(li)
            }
        })
    </script>
{% endblock %}