<style type="text/css">
    #versionHistory {
        padding: 10px 5px;
        background: #eee;
        height: 100%;
        color: #333 !important;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #versionHistory #user-name {
        color: #333;
    }

    #versionHistory-container {
        width: 80%;
        margin: 0 auto;
    }

    #versionHistory .version-history-list {
        padding-left: 20px;
        list-style: inside;
    }

    #versionHistory .version-history-list li {
        list-style-type: decimal;
        display: list-item;
        margin: 5px auto;
        font-size: 12px;
    }

    #versionHistory-modal-title {
        cursor: pointer;
        min-height: 25px;
        width: 50%;
    }

    .versionHistory-add-container {
        width: 80%;
        height: 40px;
        position: relative;
        display: block;
        margin: 10px auto
    }

    #versionHistory .panel-heading:hover .glyphicon {
        display: block;
    }

    #versionHistory .panel-heading span {
        display: none;
        transition: .3s 0s all ease-in-out;
        cursor: pointer;
        margin: 0 5px;
    }

    #versionHistory .version-history-config > div {
        margin-bottom: 10px;
        overflow: hidden;
    }

    #versionHistory .version-history-config .project-item {
        cursor: pointer;
    }

    #versionHistory .version-history-config .project-item.checked i {
        opacity: 1;
    }

    #versionHistory .version-history-config i {
        font-size: 15px;
        opacity: 0;
    }

    #versionHistory .panel-project-img {
        margin-top: -10px;
        margin-left: -10px;
    }

    #versionHistory .panel-project-img ul {
        padding: 0;
        list-style-type: none;
    }

    #versionHistory .panel-project-img li {
        display: inline-block;
    }

    #versionHistory .panel-project-img img {
        width: 40px;
        height: 40px;
        border-radius: 3px;
        opacity: .8;
        transition: .3s 0s all ease-in-out;
    }

    #versionHistory .panel-project-img img:hover {
        opacity: 1;
    }

    #versionHistory .panel-heading {
        min-height: 37px;
    }
</style>
<div class="container scrollbar" id="versionHistory">
    <div class="versionHistory-add-container"></div>
    <div id="versionHistory-container"></div>
    <div class="modal fade" id="versionHistory-modal" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog modal-lg" role="" style="margin-top: 60px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-close="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="versionHistory-modal-title"></h4>
                </div>
                <div class="modal-body" style="min-height: 200px;"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-close="modal"
                            i18n="admin.versionHistory.CLOSE"></button>
                    <button type="button" class="btn btn-primary" id="versionHistory-commit"
                            i18n="admin.versionHistory.SAVE;title=admin.versionHistory.SAVE;value=admin.versionHistory.SAVE"></button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/template" id="versionHistoryPlate_item">
        <!for(var i=0;i < versionList.length;i++){!>
        <div class="panel panel-default" data-version-history-id="<!=versionList[i].id!>"
             data-version-history-userID="<!=versionList[i].userId!>">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left"><!=versionList[i].version!></h3>
                <!if(isPermission){!>
                <span class="glyphicon glyphicon-remove pull-right version-history-delete" title=""></span>
                <span class="glyphicon glyphicon-edit pull-right version-history-edit" title=""></span>
                <span class="glyphicon glyphicon-cog pull-right version-history-config"></span>
                <!}!>
            </div>
            <div class="panel-body">
                <!if(changeProjectImg && projectImgUrlList && projectImgUrlList[versionList[i].id] && AppConfig.userId
                == 1){!>
                <div class="panel-project-img">
                    <ul>
                        <! for (var m=0;m < projectImgUrlList[versionList[i].id].length; m++){!>
                        <li>
                            <img src="<!='/static/images/project_img/' +projectImgUrlList[versionList[i].id][m].pic!>"
                                 title="<!=projectImgUrlList[versionList[i].id][m].name!>"
                                 onerror="this.src='<!='/static/images/project_img/default.jpg'!>'"/>
                        </li>
                        <!}!>
                    </ul>
                </div>
                <!}!>
                <div class="panel-project-log">
                    <!=versionList[i].log!>
                </div>
            </div>
        </div>
        <!}!>
    </script>
    <script type="text/html" id="versionHistory_config_proj_img">
        <! if (projectImgUrlList){!>
        <div class="panel-project-img">
            <ul>
                <! for (var m=0;m < projectImgUrlList.length; m++){!>
                <li>
                    <img src="<!='/static/images/project_img/' +projectImgUrlList[m].pic!>"
                         title="<!=projectImgUrlList[m].name!>"
                         onerror="this.src='<!='/static/images/project_img/default.jpg'!>'"/>
                </li>
                <!}!>
            </ul>
        </div>
        <!}!>
    </script>
    <script type="text/html" id="versionHistory_config_proj_item">
        <div class="row version-history-config">
            <!for(var i=0;i< AppConfig.projectList.length;i++){!>
            <div class="col-lg-3">
                <!if(versionOwners.indexOf(AppConfig.projectList[i].id.toString()) == -1){!>
                <section class="input-group project-item" data-project-id="<!=AppConfig.projectList[i].id!>"
                         data-version-id="<!=versionId!>">
                    <!}else{!>
                    <section class="input-group project-item checked" data-project-id="<!=AppConfig.projectList[i].id!>"
                             data-version-id="<!=versionId!>">
                        <!}!>
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </span>
                    <span type="text" class="form-control ellipsis"
                          style="white-space: normal;padding: 8px 12px 6px 12px;"
                          title="<!=isEN ? AppConfig.projectList[i].name_en : AppConfig.projectList[i].name_cn!>">
                        <!=isEN ? AppConfig.projectList[i].name_en : AppConfig.projectList[i].name_cn!>
                    </span>
                    </section>
                </section>
            </div>
            <!}!>
        </div>
    </script>
</div>

