<style>
    #ctnSubSelTopNav {
        position: relative;
        background-color: #061624;
    }
    #ctnSubSelMain {
        position: relative;
    }
    #btnSubBack {
        width: 3rem;
        padding-left: 0.75rem;
    }
    #btnSubBack .btnIcon{
        background: none;
    }
    #ctnSubSelContent {
        width: 100%;
        overflow-x: hidden;
        -webkit-overflow-scrolling:touch;
    }
    #ctnSubSelRs {
        border-top: 1px solid #ccc;
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .divSelUnit {
        display: inline-block;
        width: 33.333333333%;
        height: 10rem;
        text-align: center;
        margin: 3% 0;
        position: relative;
    }
    .imgSel {
        height: 7rem;
        width:7rem;
        border-radius: 3.5rem;
    }
    .spTitle{
        font-size: 1.4rem;
        color: #646464;
    }
    .divSelUnit.selected .spSelClk{
        color: #0E93DB;
    }
    .spSelClk {
        position: absolute;
        top: 1rem;
        right: 2.5rem;
        font-size: 2rem;
        color: white;
    }
    .divSelTip {
        display: -webkit-inline-flex;
        display: inline-flex;
        align-items: center;
        -webkit-align-items: center;
        background-color: #eee;
        border: 1px solid #ccc;
        padding: 0.5rem 1rem;
        position: relative;
        margin-left: 1rem;
        height: 80%;
        border-radius: 0.5rem;
        top: 10%;
    }
    #spTopSearch {
        display: inline-flex;
        display: -webkit-inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        height: 100%;
        width: 60%;
        left: 20%;
        position: absolute;
    }
</style>
<div id="ctnSubSelTopNav">
    <span id="btnSubBack" class="topTool topNavLeft zepto-ev" aria-hidden="true">
        <span class="btnIcon">
            <svg style="width:24px;height:24px;" version="1.1" id="图形" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1024px" height="1024px" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve">
                <path class="svgpath" data-index="path_0" fill="#ecf0f1" d="M137.728 509.12 598.656 48.128 564.032 13.44 65.472 512 564.032 1010.56 601.6 972.992Z" />
            </svg>
        </span>
    </span>
</div>
<div id="ctnSubSelMain">
    <div id="ctnSubSelContent" class="zepto-ev"></div>
    <div id='ctnSubSelRs'></div>
</div>