<style>
    .subTitle {
        color: #333;
        padding-top: 7px !important;
    }
</style>

<div id="accountManage">
    <div class="row" id="userInfo"></div>
    <div class="row" id="accountManagePanel">
        <div class="panel blank-panel">
            <div class="panel-heading">
                <div class="panel-options">
                    <ul id="tabsUl" class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0)" data-toggle="tab" data-shown="basicSet"
                                              i18n="admin.panelManagement.BASIC_SETTINGS"></a>
                        </li>
                        <li><a href="javascript:void(0)" data-toggle="tab" data-shown="loginPwd"
                               i18n="admin.panelManagement.LOGIN_PASSWORD"></a></li>
                        <li><a href="javascript:void(0)" data-toggle="tab" data-shown="operationRecords"
                               i18n="admin.panelManagement.ACCOUNT_RECORD_OPERATION"></a></li>
                        <li permission="ReportPushSet"><a href="javascript:void(0)" data-toggle="tab" data-shown="reportEmailSetting"
                               i18n="admin.panelManagement.REPRORT_EMAIL_SETTING"></a>
                        </li>
                        <li><a href="javascript:void(0)" data-toggle="tab" data-shown="accountSecrity"
                               i18n="accountSecurity.TITLE"></a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body" id="contentWrapper">
                    <div class="row" id="basicSet"></div>
                    <div class="row dn" id="loginPwd">
                        <div class="oh">
                            <div id="loginPwdWrapper" class="form-horizontal">
                                <div class="form-group">
                                    <label for="editOldPwd" class="col-sm-3 control-label">
                                        <span i18n="admin.panelManagement.ORIGINAL_PASSWORD;title=admin.panelManagement.ORIGINAL_PASSWORD"></span>
                                    </label>

                                    <div class="col-sm-9">
                                        <input type="password" class="form-control w200 fl" id="editOldPwd"
                                               placeholder=""
                                               i18n="placeholder=admin.panelManagement.ORIGINAL_PASSWORD">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="editNewPwd" class="col-sm-3 control-label">
                                        <span i18n="admin.panelManagement.NEW_PASSWORD;title=admin.panelManagement.NEW_PASSWORD"></span>
                                    </label>

                                    <div class="col-sm-9">
                                        <input type="password" class="form-control w200 fl" id="editNewPwd"
                                               placeholder=""
                                               i18n="placeholder=admin.panelManagement.NEW_PASSWORD">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="editCheckNewPwd" class="col-sm-3 control-label">
                                        <span i18n="admin.panelManagement.CONFIRM_NEW_PASSWORD;title=admin.panelManagement.CONFIRM_NEW_PASSWORD"></span>
                                    </label>

                                    <div class="col-sm-9">
                                        <input type="password" class="form-control w200 fl" id="editCheckNewPwd"
                                               placeholder=""
                                               i18n="placeholder=admin.panelManagement.CONFIRM_NEW_PASSWORD">
                                    </div>
                                </div>

                                <div style="text-indent: 98px;color: #f0ad4e;height: 30px;"
                                     i18n="admin.panelManagement.PASSWORD_FORMAT"></div>
                                <div id="returnInfoCon" class="form-group" style="display:none;">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8 infoPrompt" id="returnInfo"></div>
                                </div>
                                <div class="tc">
                                    <button type="button" class="btn btn-success" id="submitResetPwd"
                                            i18n="admin.panelManagement.DETERMINE"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row dn" id="operationRecords">
                        <div class="oh">
                            <div class="fl ml10">
                                <div class="input-group date form_datetime fl" data-date=""
                                     data-link-field="dtp_inputStart">
                                    <input class="form-control" size="16" type="text" value="" id="txtLogDateStart"
                                           style="border-radius:5px 0 0 5px;"/>
                                </div>
                                <div class="dib obj1" i18n="admin.panelManagement.TO"></div>
                                <div class="input-group date form_datetime fl" data-date=""
                                     data-link-field="dtp_inputStart">
                                    <input class="form-control" size="16" type="text" value="" id="txtLogDateEnd"
                                           style="border-radius:0 5px 5px 0;">
                                </div>
                                <button type="button" id="searchRecord" class="btn btn-success ml30 fl"
                                        data-dismiss="modal"
                                        i18n="admin.panelManagement.DETERMINE"></button>
                        <span id="infoDate" class="infoPrompt dn pr"
                              i18n="admin.panelManagement.DATE_CANNOT_EMPTY"></span>
                            </div>
                        </div>
                        <div id="allRecordTableWrapper" class="mt20 gray-scrollbar">
                            <table id="allRecordTable">
                                <thead>
                                <tr>
                                    <th width="20%" i18n="admin.panelManagement.TIME"></th>
                                    <th width="15%">IP</th>
                                    <th width="15%" class="dn" i18n="admin.panelManagement.ATTRIBUTION"></th>
                                    <th width="15%" i18n="admin.panelManagement.OPERATING_SYSTEM"></th>
                                    <th width="15%" i18n="admin.panelManagement.RATIO"></th>
                                    <th width="20%" i18n="admin.panelManagement.BROWSER"></th>
                                </tr>
                                </thead>
                                <tbody id="allRecord"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row dn" id="reportEmailSetting">
                        <form class="form-horizontal" method="post" action="javascript:void(0)"
                              id="submit-report-email-list">
                            <div class="form-group">
                                <label for="wf-report-setting-name"
                                       class="col-sm-2 control-label"><span
                                        i18n="admin.panelManagement.NAME"></span></label>

                                <div class="col-sm-2">
                                    <input type="text" maxlength="10" class="form-control" id="wf-report-setting-name"
                                           placeholder="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span
                                        i18n="admin.panelManagement.MAILBOX"></span>
                                </label>

                                <div class="wf-report-setting-email-container">
                                    <div class="wf-report-setting-email col-sm-3">
                                        <input type="email" class="form-control"
                                               placeholder="email"
                                               required>
                                        <span class="glyphicon glyphicon-remove wf-report-remove-email"></span>
                                    </div>
                                </div>
                                <span class="glyphicon glyphicon-plus-sign wf-report-email-add"
                                      id="wf-report-email-add"></span>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><span
                                        i18n="admin.panelManagement.RELATE_PROJECT"></span>
                                </label>

                                <div class="col-sm-10 wf-report-setting-email-lists scrollbar">
                                    <ul class="nav wf-project-list clearfix"></ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="tc">
                                    <button type="submit" class="btn btn-success"
                                            i18n="admin.panelManagement.DETERMINE"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row dn" id="accountSecrity">

                        <div class="col-xs-8 col-xs-offset-2" id="accountSecurityContain" style="height: 100%">
                            <div class="panel-body" style="height: calc(100% - 41px);">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputBindPhone" class="col-sm-3 control-label subTitle" i18n="accountSecurity.BIND_PHONE">Bind Phone</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="inputBindPhone" placeholder="Un-Bind Phone" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputNewBindPhone" class="col-sm-3 control-label subTitle" i18n="accountSecurity.NEW_PHONE">New Phone</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="inputNewBindPhone" placeholder="Plz input bind phone">
                                        </div>

                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-default" id="btnPhoneSubmit" i18n="accountSecurity.SUBMIT">Submit</button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputCheckCode" class="col-sm-3 control-label subTitle" i18n="accountSecurity.CHECK_CODE">Check Code</label>

                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" id="inputCheckCode" placeholder="">
                                        </div>

                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-default" id="btnChkCodeSubmit" i18n="accountSecurity.SUBMIT">Submit</button>
                                        </div>

                                        <div class="col-sm-2" style="padding-top: 6px">
                                            <span id="spanTimer"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--确认窗口开始-->
<article id="PromptWin" class="modal fade promptWin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" i18n="admin.panelManagement.PROMPT"></h4>
            </div>
            <div class="modal-body">
                <p id="PromptWinInfo" class="infoPrompt" style="text-align:center;"></p>
            </div>
        </div>
    </div>
</article>
<!--确认窗口结束-->

<!--模版开始-->
<script type="template" id="paneProjectUserInfoFormTmpl">
    <div class="oh">
        <div id="basicSetInfoWrapper" class="form-horizontal">
            <div class="form-group">
                <label for="editInput" class="col-sm-2 control-label">
                    <span i18n="admin.panelManagement.NAME"></span>
                </label>

                <div class="col-sm-10">
                    <input id="editInput" class="form-control w150 fl" type="text" name="editInput"
                           value="<!=userfullname!>" maxlength="10" data-toggle="tooltip" data-placement="top"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <span i18n="admin.panelManagement.SEX"></span>
                </label>

                <div class="col-sm-10">
                    <label class="mr20 mt5">
                        <!if(usersex=='1') {!>
                        <input type="radio" name="userSex" value="1" checked="checked"/>
                        <!} else{ !>
                        <input type="radio" name="userSex" value="1"/>
                        <!}!>
                        <span i18n="admin.panelManagement.MALE" class="fw-normal"></span>
                    </label>
                    <label class="mr20 mt5">
                        <!if(usersex=='0') {!>
                        <input type="radio" name="userSex" value="0" checked="checked"/>
                        <!} else{ !>
                        <input type="radio" name="userSex" value="0"/>
                        <!}!>
                        <span i18n="admin.panelManagement.FEMALE" class="fw-normal"></span>
                    </label>
                    <label class="mr20 mt5">
                        <!if(usersex=='2') {!>
                        <input type="radio" name="userSex" value="2" checked="checked"/>
                        <!} else{ !>
                        <input type="radio" name="userSex" value="2"/>
                        <!}!>
                        <span i18n="admin.panelManagement.CONFIDENTIAL" class="fw-normal"></span>
                    </label>
                </div>
            </div>
            <p class="tc">
                <button type="button" id="confrimEditName" class="btn btn-success"
                        data-dismiss="modal" i18n="admin.panelManagement.DETERMINE">
                </button>
            </p>
        </div>
    </div>
</script>

<script type="template" id="paneProjectUserInfoTmpl">
    <div class="box1">
        <div class="media">
            <div class="media-left">
                <div class="thumbnail image-upload" style="width:70px; height:70px;">
                    <label for="file-input">
                        <!if(!!userpic) {!>
                        <img class="media-object userPic" src="http://images.rnbtech.com.hk<!=userpic!>"
                             alt="<!=userfullname!>">
                        <!} else{ !>
                        <img class="media-object userPic"
                             src="/static/images/avatar/default/1.jpg"
                             alt="<!=userfullname!>">
                        <!}!>
                    </label>
                    <input id="file-input" type="file" accept="image/x-png, image/jpeg, image/jpg"/>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading nameEditor">
                    <span id="useName"><!=userfullname!></span>
                </h4>

                <div class="email cl1"><!=useremail!></div>
                <div class="user mt10">
                    <!if(supervisorName){!>
                    <span class="cl1" i18n="admin.panelManagement.SUPERIOR"></span><span
                        class="userSupervisor cl1 mr15">：<!=supervisorName!></span>
                    <!}!>
                    <!if(isManager === 1){!>
                    <span class="userLevel mr15 cl1" i18n="admin.panelManagement.MANAGEMENT_AUTHORITY_OK"></span>
                    <!} else {!>
                    <span class="userLevel mr15 cl1" i18n="admin.panelManagement.MANAGEMENT_AUTHORITY_NO"></span>
                    <!}!>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="template" id="projectNameList">
    <!for(var i=0;i < projectNameList.length;i++){!>
    <li data-project-id="<!=projectNameList[i].id!>">
        <label>
            <input type="checkbox">
            <span><!=projectNameList[i].title!></span>
            <span class="glyphicon glyphicon-ok projectlist-check"></span>
        </label>
    </li>
    <!}!>
</script>
<script type="template" id="projectDetailList">
    <!if (projectDetailList.length) {!>
    <ul class="nav wf-project-detail">
        <!for(var i=0;i < projectDetailList.length;i++){!>
        <li data-navItems-id="<!=projectDetailList[i].id!>"
            data-navItems-reportFolder="<!=projectDetailList[i].reportFolder!>">
            <label>
                <input type="checkbox">
                <span><!=projectDetailList[i].text!></span>
            </label>
        </li>
        <!}!>
    </ul>
    <!}else{!>
    <ul class="nav wf-project-detail no-data">
        <li><span>No Data</span></li>
    </ul>
    <!}!>
</script>
<!--模版结束-->