<style>
    #ctnMissionResult{
        padding: 1rem;
    }
    .divPoint{
        padding: 0.5rem 0;
        font-size: 2rem;
    }
    .spPtName{
        display: inline-block;
        width: 70%;
    }
    .spPtStatus{
        right: 1rem;
        color: white;
        font-size: 1.6rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: darkorange;
    }
    .spPtStatus.statusOk{
        background-color: rgb(83, 155, 218);
    }
    .spPtStatus.statusSkip{
        background-color: #ccc;
    }
    .spGuideLine{
        height: 2rem;
        width: 1px;
        display: inline-block;
        background: #aaa;
        margin-left: 0.5rem;
    }
</style>
<div id="ctnMissionResult">

</div>