<style>
    .divPath {
        padding: 1.2rem 1rem;
        border-bottom: 1px solid #ccc;
    }
    .spName {
        display: inline-block;
        width: 80%;
    }
    .spStatus{
        padding: 0.2rem 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
    }
    .divMission {
        border-top: 1px solid #ccc;
        padding: 0.5rem;
    }
    .divMission.active{
        -webkit-animation: active 1.5s linear 0s infinite;
        -o-animation: active 1.5s linear 0s infinite;
        animation: active 1.5s linear 0s infinite;
    }
    .divMission.disabled{
        color: #ccc;
        background-color: #f7f7f7;
    }
    @keyframes active
    {
    0%   {box-shadow: none}
    50%  {box-shadow: 0 0 6px 3px #337ab7 inset}
    }

    @-moz-keyframes active /* Firefox */
    {
    0%   {box-shadow: none}
    50%  {box-shadow: 0 0 6px 3px #337ab7 inset}
    }

    @-webkit-keyframes active /* Safari 和 Chrome */
    {
    0%   {box-shadow: none}
    50%  {box-shadow: 0 0 6px 3px #337ab7 inset}
    }

    @-o-keyframes active /* Opera */
    {
    0%   {box-shadow: none}
    50%  {box-shadow: 0 0 6px 3px #337ab7 inset}
    }
    .divMission:first-of-type{
        margin-top: 1rem;
    }
    .spTime {
        display: block;
    }
    .spExecutor {
        display: block;
    }
</style>
<div id="ctnPathSelBtn">

</div>
<div id="ctnPathList">

</div>