<style>
    .ctnMain{
        height: 50%;
        text-align: center;
    }
    .ctnMain .btn{
        position: relative;
        font-size: 2rem;
        padding: 1rem 2rem;
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
    }
    #btnUpdate {
        background: lightseagreen;
    }
</style>
<div id="ctnUpdate" class="ctnMain">
    <button id="btnUpdate" class="btn btn-lg btn-primary zepto-ev">同步数据</button>
</div>
<div id="ctnStart" class="ctnMain">
    <button id="btnStart" class="btn btn-lg btn-primary zepto-ev">开始使用</button>
</div>