/* component.css */

/*=============================================
=                公共样式                     =
=============================================*/
.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-center-modal .ant-modal {
    top: auto;
}
.scrollable-modal .ant-modal {
    top: auto;
    padding-bottom: 0;
}
.scrollable-modal .ant-modal-body {
    max-height: 800px;
    overflow-y: auto;
}
.content-no-padding-modal .ant-modal-body {
    padding: 0;
}

@media screen and (max-height: 940px) {
    .vertical-center-modal .ant-modal-body {
        max-height: 700px;
    }
}

@media screen and (max-height: 805px) {
    .vertical-center-modal .ant-modal-body {
        max-height: 600px;
    }
}

/*=====  End of 公共样式  ======*/

/*=============================================
=            参数配置模态框样式                =
=============================================*/
.params-config-modal .params-list{
    width: 100%;
}
.params-list-header {
    border-bottom: 1px solid #495252;
    height: 48px;
    line-height: 48px;
    padding: 0 8px;
}
.params-form-header {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #495252;
    padding: 0px 24px;
}
#params-config-spinner {
    left: 300px;
    right: 350px;
    width: calc(100% - 650px);
    height: 100%;
}
.params-config-modal-fix .ant-modal-mask {
    left: 300px;
    right: 350px;
}
.params-config-modal-fix .ant-modal-wrap {
    left: 300px;
    right: 350px;
}
@media screen and (max-width:1400px) {
    .params-config-modal-fix .ant-modal-mask {
        left: 250px;
        right: 250px;
    }
    .params-config-modal-fix .ant-modal-wrap {
        left: 250px;
        right: 250px;
    }
    #params-config-spinner {
        left: 250px;
        right: 250px;
        width: calc(100% - 500px);
        height: 100%
    }
}
/*=====  End of 参数配置模态框样式 ======*/

/*=============================================
=              普通模式画板样式                =
=============================================*/

.sketchpadViewBody .ant-modal-mask {
    left: 300px;
    right: 350px;
}
.sketchpadViewBody .ant-modal-wrap {
    left: 300px;
    right: 350px;
}
@media screen and (max-width:1400px) {
    .sketchpadViewBody .ant-modal-mask {
        left: 250px;
        right: 250px;
    }
    .sketchpadViewBody .ant-modal-wrap {
        left: 250px;
        right: 250px;
    }
}
/*=====  End of 普通模式画板样式 ======*/

/*=============================================
=              调试模式画板样式                =
=============================================*/

.debugViewBody .ant-modal-mask {
    left: 300px;
    right: 350px;
}
.debugViewBody .ant-modal-wrap {
    left: 300px;
    right: 350px;
}
@media screen and (max-width:1400px) {
    .debugViewBody .ant-modal-mask {
        left: 250px;
        right: 250px;
    }
    .debugViewBody .ant-modal-wrap {
        left: 250px;
        right: 250px;
    }
}
/*=====  End of 调试模式画板样式 ======*/
/*=============================================
=              模板模态框样式                =
=============================================*/

.templateTreeModal .ant-modal-mask {
    left: 0;
    right: 0;
}
.templateTreeModal .ant-modal-wrap {
    left: 300px;
    right: 350px;
}
@media screen and (max-width:1400px) {
    .templateTreeModal .ant-modal-mask {
        left: 0;
        right: 0;
    }
    .templateTreeModal .ant-modal-wrap {
        left: 250px;
        right: 250px;
    }
}
/*=====  End of 模板模态框样式 ======*/
/**/
.faultManageContainer .ant-modal-mask {
    left: 0;
    right: 0;
    top: 45px;
    bottom: 0;
}
.faultManageContainer .ant-modal-wrap {
    left: 0;
    right: 0;
    top: 45px;
    bottom: 0;
}

/*=============================================
=              工具栏样式                =
=============================================*/

@media screen and (max-width:1320px) {
    #painter  #toolBarWrap .btnGroup .basicBtnGroup, #painter #toolBarWrap .btnGroup .algorithmBtnGroup, #painter #toolBarWrap .btnGroup .showBtnGroup{
        padding: 0px 10px 0px 5px
    }
}
/*=====  End of 工具栏样式 ======*/

/*=============================================
=              模糊规则块配置样式                =
=============================================*/
#fuzzyRuleContentView .pointSelect .ant-select-selection input{
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
#fuzzyRuleContentView .judgeSelect{
    float: left;
}
#fuzzyRuleContentView .judgeSelect .ant-select-selection.ant-select-selection--single{
    border-right: none;
    border-radius: 0 0 0 4px;
}
#fuzzyRuleContentView .termSelect .ant-select-selection input{
    border-radius: 0 0 4px 0;
}
#fuzzyRuleContentView .ruleAndOrSelect .ant-select-selection.ant-select-selection--single{
    border-right: none;
    border-radius: 4px 0 0 4px;
    height: 56px;
}
#fuzzyRuleContentView .pointSelectItem .ant-select-selection input{
    border-bottom: none;
    border-radius: 0 4px 0 0;
}
#fuzzyRuleContentView .judgeSelectItem{
    float: left;
}
#fuzzyRuleContentView .judgeSelectItem .ant-select-selection.ant-select-selection--single{
    border-right: none;
    border-radius: 0;
}
#fuzzyRuleContentView .termSelectItem .ant-select-selection input{
    border-radius: 0 0 4px 0;
}
/*=====  End of 模糊规则块配置样式 ======*/


/*=====  start of tagTree ======*/
/*tag 图标*/
.strategy-builder #pageTag .ztree li span.button.iconfont {
    height: 0 !important;
}
.strategy-builder #pageTag .ztree li a{
    color: #cadee5;
}
.strategy-builder #pageTag .tagTreeHeader{
    border-bottom:1px solid rgb(73, 82, 82);
}
.strategy-builder #pageTag .tagTreeHeader .select2-selection{
    background: #34393c;
    border: 1px solid #495252;
    color: #cadee5;
}
.strategy-builder #pageTag .tagTreeHeader .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #cadee5;
}
.strategy-builder #pageTag .tagTreeHeader .select2-selection>ul input{
    color: #cadee5;
}
.strategy-builder #pageTag .tagTreeHeader .selectTagType{
    background: #34393c;
    color: #cadee5;
}
.strategy-builder #pageTag #tagTreeUlBox li span.treeTagItem:after {
    border-right: 6px solid #34393c;
}

.strategy-builder #pageTag .tagTreeHeader .selectProject{
    width: 100%;
}
.strategy-builder #pageTag .tagTreeHeader .showStyle{
    display: none;
}
.strategy-builder #pageTag .tagTreeHeader .selectTagBox{
    display: none;
}
.strategy-builder #pageTag .tagTreeHeader .select2-selection--multiple{
    height: 28px;
    min-height: 28px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #495252;
    border-right: none;
}
.strategy-builder #pageTag .tagTreeHeader #searchByTagBtn .searchBtn{
    height: 28px;
    background: #34393c;
    color: #cadee5;
    border: 1px solid #495252;
    outline: none;
}
.strategy-builder #pageTag #externalTagTree{
    height: calc(100% - 83px);
}
/* .strategy-builder #pageTag #externalTagTree a[isparent='true']{
    width: calc(100% - 100px) !important;
} */
.strategy-builder #pageTag #externalTagTree .paginationIcon{
    width: 75px;
    display: inline-block;
}
.strategy-builder .select2-dropdown{
    background: #34393c;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    border: none;
}
.strategy-builder .select2-dropdown .select2-results__option{
    color: #cadee5;
}
.strategy-builder .select2-container--default .select2-results__option[aria-selected=true]{
    background: #444;
    font-weight: 700;
    color: #cadee5;
}
.strategy-builder .select2-container--default .select2-results__option--highlighted[aria-selected]{
    background: #65686b;
    color: #cadee5;
}
.strategy-builder .select2-container--default .select2-search--dropdown .select2-search__field{
    background: #34393c;
    color: #cadee5;
    border: 1px solid #495252;
}
.strategy-builder .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: rgba(100,100,100,.1);
    border: 1px solid #495252;
    margin-top: 2px;
}
/*=====  End of tagTree ======*/

/*=====  start of paramsTree ======*/
#paramsTreeWrap .ant-menu-inline .ant-menu-item{
    height: 25px;
    line-height: 25px;
}
/*=====  End of paramsTree ======*/

/*小屏幕*/
#btnConfigs{
    display: none;
}
@media screen and (max-width:1616px) {
    /*首页*/
    #btnHide1,#btnHide2,#btnHide3{
        display: none;
    }
    #btnConfigs{
        display: inline-block;
    }
}
@media screen and (max-width:1120px) {
    /*首页*/
    .searchHide{
        display: none;
    }
}
/*参数配置 属性面板 模糊规则输出配置*/
.ant-row.ant-form-item.perWrap label,
#modulePropPanel form>div label,
#outputForm>div label{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ant-row.ant-form-item.perWrap .ant-form-item-label,
#modulePropPanel form>div .ant-form-item-label,
#outputForm>div .ant-form-item-label{
    margin-right: 8px;
}
.ant-row.ant-form-item.perWrap .ant-form-item-label.ant-col-8{
    margin-right:0;
}
/*变量查看*/
.variableView table{
    border: 1px solid #495252;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}
.variableView table tr{
    line-height: 28px;
}
.variableView table th,
.variableView table td{
    border-right: 1px solid #495252;
    padding: 6px 8px;
    word-break: break-all;
    border-bottom: 1px solid #495252;
}
/* 属性面板tag选择 */
.tagSelect .ant-select-dropdown-menu{
    max-height: 100px;
}   
/* notification  全局弹出框*/
.ant-notification-notice-description{
    word-break: break-word
}