/**
 * 自定义 ant design 样式
 * TODO 用自定义皮肤功能取代这个文件
 */

/*
.ant-form-item-label label {
    color: #eee !important;
}

.ant-btn {
    background: none !important;
    color: #c7c7c7 !important;
}

.ant-btn:hover {
    border-color: #eee !important;
    color: #eee !important;
}

.ant-tag {
    color: #c7c7c7 !important;
    background: none !important;
}

.ant-tag:hover {
    color: #eee !important;
}
*/