<style>
    #historyChartBox {
        height: 800px;
    }

    .historyChartBigModel {
        width: 75%;
        background: #fff;
    }

    .historyChartBigModel .modal-header, .historyChartBigModel .modal-body {
        background: #fff;
    }

    .historyChartBigModel .modal-header {
        height: 68px;
        line-height: 68px;
        overflow: hidden;
        border-bottom: 1px solid #ebebeb;
    }

    .historyChartBigModel .modal-header .close {
        opacity: 0.3;
        margin-right: 30px;
        margin-top: 5px;
    }

    .historyChartBigModel .modal-title {
        margin: 5px 0 0 15px;
    }

    .historyChartBigModel .modal-body {
        padding: 20px 30px;
    }

    .modal-light .btn-primary {
        background: #2082fc;
        border-color: #2082fc;
    }

    .modal-content .btn-default, .modal-content .form-control {
        background: #fafafa;
        color: #999;
    }

    .modal-content .form-control {
        width: 148px;
        background: none;
        box-shadow: none;
    }

    .modal-content .time-box {
        padding: 0 10px;
        border: 1px solid #ebebeb;
        border-radius: 2px;
        background: #fafafa;
    }

    .modal-content .time {
        border: none;
    }

    .modal-content .to {
        padding: 0 15px;
        margin: 0 20px;
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        position: relative;
        top: 2px;
    }

    .modal-light .ztree li a {
        color: #3c4046;
    }

    .modal-light .collapse-box {
        background: #fafafa;
    }

    #chartMin, #chartMax {
        width: 100px;
    }

    .modal-light .collapse-title {
        padding: 5px;
        background: #ebebeb;
        overflow: hidden;
        cursor: pointer;
    }

    .modal-light .checkbox_false_full + a span, .modal-light .checkbox_false_full_focus + a span {
        color: #aaa !important;
    }

    #tableOperatingRecord {
        margin: 0 auto;
        height: 680px;
        width: 80%;
    }

    #tableOperatingRecord.historyTable {
        background: #fff;
    }

    #curveSelectBox {
        line-height: 30px;
    }

    .historyDataTable {
        max-height: 600px;
        width: 100%;
        overflow: auto;
    }

    .historyDataTable .table tbody tr td:first-child {
        min-width: 152px !important;
    }

    .modal-content.dark {
        color: #ffffff;
    }

    .disable {
        color: #ccc !important;
    }

    #hcPointTreeBox {
        width: 16%;
        height: 678px;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid #ebebeb;
    }

    #hcPointTreeWrapper {
        background: #fafafa;
    }

    @media (max-width: 1366px) {
        #historyChartBox {
            height: 600px;
        }

        .historyChartBigModel .form-control {
            height: 30px;
        }

        .historyChartBigModel .modal-header {
            height: 32px;
            line-height: 32px;
            padding-top: 0;
        }

        .historyChartBigModel .modal-title {
            margin-top: 5px;
            margin-left: 0;
            font-size: 14px;
        }

        .historyChartBigModel .modal-header .close {
            margin-right: 8px;
            margin-top: 2px;
        }

        .historyChartBigModel .modal-body {
            padding: 10px 15px;
        }

        .historyChartBigModel .modal-footer {
            padding: 10px 0;
        }

        #setChartBox label {
            margin-left: 0;
        }

        #chartMin, #chartMax {
            width: 100%;
        }

        #hcPointTree li a {
            width: 80%;
        }

        #hcPointTreeBox {
            height: 480px;
        }

        #tableOperatingRecord {
            height: 480px !important;
        }

        #dialogContent .modal-content {
            height: auto !important;
        }

        .historyDataTable {
            max-height: 390px;
        }
    }

    @media (max-width: 1446px) {
        #curveSelectBox .min-screen {
            margin-bottom: 5px;
        }

        .historyChartBigModel .btn, .historyChartBigModel .form-control {
            padding: 3px 6px;
        }
    }
</style>
<div class="modal-content" id="historyChartBox">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="opacity: 0.3;">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel" i18n="dataManage.HISTORY_CURVE"></h4>
    </div>
    <div class="modal-body">
        <div id="curveSelectBox" class="mb20 clearfix">
            <div class="clearfix min-screen fl" style="margin-right: 20px;">
                <span class="mr10 fl" i18n="common.TIME_RANGE"></span>
                <div class="fl time-box">
                    <div class="fl cp time-group">
                        <span class="glyphicon glyphicon-time"></span>
                        <input class="form-control dib time" size="16" type="text" value="" id="curveDateStart"
                               i18n="placeholder=common.SELECT_START_TIME">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                    <span class="fl to" i18n="common.TO"></span>

                    <div class="fl cp time-group">
                        <span class="glyphicon glyphicon-time"></span>
                        <input class="form-control dib time" size="16" type="text" value="" id="curveDateEnd"
                               i18n="placeholder=common.SELECT_CLOSING_TIME">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                </div>
            </div>
            <div class="min-screen fl">
                <span class="mr10" i18n="common.TIME_INTERVAL"></span>
                <select id="intervalType" class="mr10 form-control w150" style="display: inline-block">
                    <option value="m1">1min</option>
                    <option value="m5">5min</option>
                    <option value="h1">1h</option>
                    <option value="d1">1d</option>
                </select>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default searchCurveOfTime" dateType="hour"
                            i18n="common.HOUR"></button>
                    <button type="button" class="btn btn-default searchCurveOfTime" dateType="today"
                            i18n="common.TODAY"></button>
                    <button type="button" class="btn btn-default searchCurveOfTime" dateType="week"
                            i18n="common.THIS_WEEK"></button>
                    <button type="button" class="btn btn-default searchCurveOfTime" dateType="month"
                            i18n="common.THIS_MONTH"></button>
                </div>
                <button type="button" class="btn btn-default mr10" id="repairData" data-toggle="tooltip"
                        i18n="dataManage.GENERATE_DATA"></button>
                <button type="button" class="btn btn-primary mr10" id="filterCurveConfirm"
                        i18n="common.CONFIRM"></button>
            </div>
        </div>
        <div id="hcPointTreeWrapper" class="oh">
            <div id="hcPointTreeBox" class="fl gray-scrollbar">
                <div class="collapse-box">
                    <div class="collapse-title" data-toggle="collapse" href="#hcPointTree"
                         aria-expanded="false" aria-controls="hcPointTree">
                        <span class="fl" i18n="historyChart.POINT_LIST"></span>
                        <span class="glyphicon glyphicon-chevron-down fr collapse-icon"></span>
                    </div>
                    <ul id="hcPointTree" class="ul ztree collapse in collapse-content gray-scrollbar"></ul>
                </div>
                <div class="collapse-box">
                    <div class="collapse-title" data-toggle="collapse" href="#setChartBox"
                         aria-expanded="false" aria-controls="setChartBox">
                        <span class="fl" i18n="historyChart.CONFIG"></span>
                        <span class="glyphicon glyphicon-chevron-down fr collapse-icon"></span>
                    </div>
                    <div id="setChartBox" class="collapse in p10 collapse-content">
                        <div class="mb10">
                            <strong class="mb10" i18n="historyChart.Y_AXIS"></strong>
                            <label class="ml20">
                                <span class="fl mt5">
                                    <span i18n="historyChart.MIN"></span>
                                    <span>:</span>
                                </span>
                                <input id="chartMin" type="number" class="form-control w120 ml10 fr"/>
                            </label>
                            <label class="ml20">
                                <span class="fl mt5">
                                    <span i18n="historyChart.MAX"></span>
                                    <span>:</span>
                                </span>
                                <input id="chartMax" type="number" class="form-control w120 ml10 fr"/>
                            </label>
                        </div>
                        <div class="mb10">
                            <strong class="mb5 db" i18n="historyChart.PADDING"></strong>
                            <label class="ml20">
                                <input type="checkbox" id="isHideCompleteData">
                                <span i18n="historyChart.HIDE_PADDING_DATA"></span>
                            </label>
                        </div>
                        <div class="mb10 dn">
                            <strong class="mb5 db">隐藏清洗数据</strong>
                            <label class="ml20">
                                <input type="checkbox" id="isHideFilteringData">
                                <span>隐藏清洗数据</span>
                            </label>
                        </div>
                        <div class="modal-footer tc">
                            <button type="button" class="btn btn-default" id="chartReset"
                                    i18n="common.RESET"></button>
                            <button type="button" class="btn btn-primary" id="chartConfirm"
                                    i18n="common.CONFIRM"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tableOperatingRecord" class="tableOperatingRecord fr"></div>
        </div>
    </div>
</div>