<style type="text/css">
    /*每一个人物框*/
    .wf-activity-person-box {
        border: 1px solid #e7eaec;
        background: #fff;
        margin-bottom: 15px;
    }

    .wf-activity-person-box .noActivities {
        height: 100%;
        display: block;
        margin: 0 auto;
    }

    /*下拉按钮*/
    .wf-activity-person-action {
        float: right;
        margin: 15px;
        margin-right: 0;
    }

    .btn-white {
        color: inherit;
        background: white;
        border: 1px solid #C8CBCD
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
    }

    .fa-angle-down:before {
        content: "\f107";
    }

    /*avator*/
    .wf-activity-person-avatar img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }

    .wf-activity-person-avatar-body {
        padding: 0 15px 0 0;
    }

    .wf-activity-person-avatar-body a {
        font-size: 14px;
        color: #337ab7;
        display: block;
        transition: 0.3s opacity 0s linear;
    }

    .wf-activity-person-avatar-body a:hover {
        opacity: 0.8;
        text-decoration: none;
    }

    .wf-activity-person-avatar-body small {
        color: #888888;
    }

    /*body*/
    .main_info_box {
        padding: 15px;
    }

    .wf-activity-person-body {
        padding: 15px;
        overflow: hidden;
    }

    .wf-activity-person-body p {
        margin: 0 0 10px;
        color: #676a6c;
        font-size: 13px;
    }

    .wf-activity-person-footer {
        border-top: 1px solid #e7eaec;
        padding: 10px 40px;
        background: #f9f9f9;
    }

    /*评论*/
    .wf-activity-comment {
        margin-top: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
    }

    .wf-activity-comment:first-child {
        margin-top: 0;
    }

    .wf-activity-comment:last-child {
        margin-top: 20px;
        border-bottom: none;
    }

    .wf-activity-comment a img {
        width: 32px;
        margin-right: 10px;
    }

    .form-control {
        background-color: #FFFFFF;
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
        font-size: 14px;
    }

    .media-body {
        overflow: hidden;
        font-size: 12px;
        display: block;
        width: auto;
        color: #676a6c;
    }

    .reply-btn-wrapper {
        margin-top: 10px;
    }

    /*动态更新*/
    .wf-activity-active {
        display: none;
    }

    .feed-element {
        border-bottom: 1px solid #e7eaec;
        margin-top: 15px;
        padding: 10px 0;
    }

    .feed-element:first-child {
        margin-top: 0;
    }

    .feed-element img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }

    .text-navy {
        color: #1ab394;
    }

    .wf-activity-comment textarea {
        resize: vertical;
    }

    #wf-content .recordContent a {
        text-decoration: none;
    }

    .historyEdit li {
        line-height: 25px;
    }

    .historyConTitle {
        color: #000;
    }

    .oldName {
        color: #369;
        margin-right: 5px;
    }

    .newName {
        color: #369;
        margin-left: 5px;
    }

    .historyAction {
        color: #979797;
        font-weight: normal;
    }

    #wf-content {
        background: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        left: 280px;
        width: calc(100% - 280px);
    }

    .wf-activity-empty {
        display: none;
    }

    .wf-activity-empty img {
        display: block;
        margin: 0 auto;
        background: transparent;
    }

    .wf-activity-container {
        width: calc(100% - 230px);
        position: absolute;
        left: 0;
        top: 0;
    }

    .wf-activity-statistics-container {
        position: absolute;
        right: 0;
        top: 35px;
        width: 220px;
        padding: 15px;
        border: 1px solid #e7eaec;
        color: #676a6c;
    }

    .wf-activity-box {
        position: relative;
        padding: 0 10px;
        background: #fff;
    }

    .wf-activity-position {
        width: 100%;
        height: 30px;
        background: transparent;
        color: #a0a0a0;
        font-size: 17px;
        font-weight: 400;
        line-height: 10px;
    }

    .wf-activity-get-more {
        text-align: center;
        padding: 20px 0;
    }

    .task-name {
        font-size: 16px;
        padding: 5px 10px 0 15px;
        display: inline-block;
    }

    .statistics-header {
        height: 30px;
        line-height: 18px;
        font-size: 16px;
        color: #000;
    }

    .statistics-item-info {
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 1px solid #e7eaec;
        background: #f9f9f9;
        color: #676a6c;
    }

    .progress {
        margin: 5px 0;
        height: 10px;
        border-radius: 50px;
    }

</style>

<div class="wf-activity-container-wrappper pr">
    <div class="wf-activity-container col-lg-8">
        <div class="wf-activity-container-box" style="background: #fff;margin-top: 5px"></div>
        <div class="wf-activity-get-more dn">
            <button class="btn btn-success" type="button"
                    i18n="workflow.task.GET_MORE;title=workflow.task.GET_MORE;value=workflow.task.GET_MORE"></button>
        </div>
    </div>
    <div class="wf-activity-statistics-container dn">
        <div class="statistics-header">
            今天任务量
        </div>
        <div class="statistics-body">
            <div class="statistics-info-box">
                <div class="statistics-item-info">
                    <div class="oh">
                        <span class="fl">已完成任务量</span>
                        <span class="fr wf-statistics-num">65%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                             aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                </div>
                <div class="statistics-item-info">
                    <div class="oh">
                        <span class="fl">未完成任务量</span>
                        <span class="fr wf-statistics-num">30%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                             aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                </div>
                <div class="statistics-item-info">
                    <div class="oh">
                        <span class="fl">逾期任务量</span>
                        <span class="fr wf-statistics-num">5%</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                             aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="statistics-footer">
            <span>累计任务量：</span><span id="wf-statistics-total">250</span>
        </div>
    </div>
</div>
<script type="text/html" id="tpl_wf_activity_empty">
    <div class="wf-activity-box">
        <!if(stateMap.activity_type == 'thisMonth'){!>
        <div class="wf-activity-position <!=showPosition ? '' : 'dn' !>" i18n="workflow.calendar.THIS_MONTH"></div>
        <!}else if(stateMap.activity_type == 'yesterday'){!>
        <div class="wf-activity-position <!=showPosition ? '' : 'dn' !>" i18n="workflow.calendar.YESTERDAY"></div>
        <!}else if(stateMap.activity_type == 'thisWeek'){!>
        <div class="wf-activity-position <!=showPosition ? '' : 'dn' !>" i18n="workflow.calendar.THIS_WEEK"></div>
        <!}else if(stateMap.activity_type == 'today'){!>
        <div class="wf-activity-position <!=showPosition ? '' : 'dn' !>" i18n="workflow.activities.TODAY"></div>
        <!}!>
        <section class="wf-activity-person-box">
            <img class="noActivities" src="static/images/workflow/emptyActivitys.gif"/>
        </section>
    </div>
</script>
<script type="text/html" id="tpl_wf_activity">
    <div class="wf-activity-box">

        <!if(stateMap.activity_type == 'thisMonth'){!>
        <div class="wf-activity-position <!=showPosition ? '' : 'dn' !>" i18n="workflow.calendar.THIS_MONTH"></div>
        <!}else if(stateMap.activity_type == 'yesterday'){!>
        <div class="wf-activity-position <!=showPosition ? '' : 'dn' !>" i18n="workflow.calendar.YESTERDAY"></div>
        <!}else if(stateMap.activity_type == 'thisWeek'){!>
        <div class="wf-activity-position <!=showPosition ? '' : 'dn' !>" i18n="workflow.calendar.THIS_WEEK"></div>
        <!}else if(stateMap.activity_type == 'today'){!>
        <div class="wf-activity-position <!=showPosition ? '' : 'dn' !>" i18n="workflow.activities.TODAY"></div>
        <!}!>
        <!try{var step= getActivitiesStepAmount ? getActivitiesStepAmount : activities.length;}catch(ex){}!>
        <!try{if(getActivitiesStepAmount > activities.length){!>
        <!step=activities.length}}catch(ex){}!>
        <! for(var m=0; m < step; m++){ !>
        <! var activity = activities[m]; !>
        <section class="wf-activity-person-box">
            <a href="javascript:void (0)" data-trans-id="<!=activity.linkToTransactionId!>" class="task-name"><!=activity.trans_title!></a>
            <div class="oh main_info_box">
                <a class="pull-left wf-activity-person-avatar" href="javascript:void (0)">
                    <!if(activity.userpic){!>
                    <img src="<!=activity.userpic!>"/>
                    <!}else{!>
                    <img src="" alt="no userpic"/>
                    <!}!>
                </a>
                <div class="wf-activity-person-avatar-body">
                    <div class="fl">
                        <a href="javascript:void (0)" class="task-user" data-user-id="<!=activity.userId!>"><!=activity.userName!></a>
                        <small title="<!=activity.opTime!>">
                            <!var opTimeMoment = moment(activity.opTime);!>
                            <!if(opTimeMoment.diff(new Date, 'days') < 5){!>
                            <!=opTimeMoment.fromNow()!>
                            <!}else{!>
                            <!=activity.opTime!>
                            <!}!>
                        </small>
                    </div>
                    <div class="fl ml30">
                        <span class="content">
                            <!=WorkflowTool.translate(activity.op)!>
                        </span>
                        <!if(activity.op==='edit'){!>
                        <span class="content"><!=WorkflowTool.translate(activity.detail)!></span>
                        <!}!>
                    </div>
                </div>
            </div>

            <!if(activity.reply){!>
            <div class="wf-activity-person-footer">
                <! for(var n=0; n < activity.reply.length; n++){!>
                <! var reply = activity.reply[n]; !>
                <div class="wf-activity-comment">
                    <a class="pull-left">
                        <img src="<!=reply.userpic!>"/>
                    </a>

                    <div class="media-body">
                        <a href="javascript:void (0)" class="task-user" data-user-id="<!=reply.userId!>"><!=reply.userName!></a>
                        <span>:</span>
                        <!=reply.detail!>
                        <br>
                        <small class="text-muted" title="<!=reply.replyTime!>">
                            <!var replyTimeMoment = moment(reply.replyTime);!>
                            <!if(replyTimeMoment.diff(new Date, 'days') < 5){!>
                            <!=replyTimeMoment.fromNow()!>
                            <!}else{!>
                            <!=reply.replyTime!>
                            <!}!>
                        </small>
                    </div>
                </div>
                <! } !>
                <div class="wf-activity-comment clearfix">
                    <form action="javascript:void(0);" method="post" class="add-reply-form">
                        <div class="media-body">
                        <textarea class="form-control reply-text-area" i18n="placeholder=workflow.notice.COMMENTS"
                                  required
                                  name="detail"></textarea>
                        </div>
                        <input type="hidden" name="ofTransactionId"
                               value="<!=activity.linkToTransactionId!>">
                        <input type="hidden" name="replyToId" value="<!=activity.id!>">

                        <div class="dn pull-right reply-btn-wrapper">
                            <button class="btn btn-success" type="submit"
                                    i18n="workflow.activities.REVIEW;value=workflow.activities.REVIEW;title=workflow.activities.REVIEW"></button>
                        </div>
                    </form>
                </div>
            </div>
            <! }else { !>
            <div class="wf-activity-person-footer clearfix">
                <div class="wf-activity-comment">
                    <form action="javascript:void(0);" method="post" class="add-reply-form">

                        <div class="media-body">
                        <textarea class="form-control reply-text-area" i18n="placeholder=workflow.notice.COMMENTS"
                                  required
                                  name="detail"></textarea>
                        </div>
                        <input type="hidden" name="ofTransactionId"
                               value="<!=activity.linkToTransactionId!>">
                        <input type="hidden" name="replyToId" value="<!=activity.id!>">

                        <div class="dn pull-right reply-btn-wrapper">
                            <button class="btn btn-success" type="submit"
                                    i18n="workflow.activities.REVIEW;value=workflow.activities.REVIEW;title=workflow.activities.REVIEW"></button>
                        </div>
                    </form>
                </div>
            </div>
            <! } !>
        </section>
        <! } !>
    </div>
</script>