.report-wrap table thead, .report-container-wrap table thead{
    background:#0078dc !important;
}
.report-wrap table thead tr:nth-child(2n) {
    background: #0078dc !important;
}
.report-wrap table tr, .report-wrap table th, .report-wrap table td{
    border: 1px solid #98ccf5 !important;
}
.report-wrap table tr:nth-child(2n) {
    background: #cde5f9 !important;
}
.report-wrap table.faultTable tbody tr:nth-child(1),
.report-wrap table.faultTable tbody tr:nth-child(2),
.report-wrap table.faultTable tbody tr:nth-child(3),
.report-wrap table.faultTable tbody tr:nth-child(4),
.report-wrap table.faultTable tbody tr:nth-child(5),
.report-wrap table.faultTable tbody tr:nth-child(6),
.report-wrap table.faultTable tbody tr:nth-child(7),
.report-wrap table.faultTable tbody tr:nth-child(8),
.report-wrap table.faultTable tbody tr:nth-child(9),
.report-wrap table.faultTable tbody tr:nth-child(10)
{
    background: #bee2cf !important;
}