#indexNav {
    height: 56px;
    font: 20px "Microsoft YaHei";
    line-height: 36px;
    border-bottom: 1px solid #e7e7e7;
}
#divNavWrap {width:90%; margin:0 auto;}
.left-nav>div {
    display: inline-block;
}
#divNavWrap>a {
    margin-left: 30px;
    vertical-align: top;
}
#indexMain {
    position: fixed;
    left: 0;
    right: 0;
    top: 56px;
    bottom: 5px;
    padding: 0 8px 0 8px;
    margin: 0;
}
#indexMain > .divLoading {
    font-size: large;
    font-weight: bold;
}

.left-nav { padding: 9px 0; float: left; }
.right-nav { float: right; font-size: 15px;}
.right-nav>li>a { line-height: 25px; transition: background-color .15s linear, color .15s linear;}
#indexNav .right-nav>li>a:hover {  background-color: #337ab7; color: #fff; }
.show-detail>a { vertical-align: bottom; margin-left: 15px; }

#modalSendEmail .modal-dialog { width: 800px; font-family: "Microsoft YaHei";}
#modalSendEmail .form-group{
    position: relative;
}
#mailList { max-height: 500px;overflow-y: scroll; }
#mailTo {
    width: 100%;
    min-height: 42px;
    line-height: 30px;
    border-radius: 2px;
    font-size: 15px;
    background: #ffffff;
    border: 1px solid #49a9ee;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
    padding-top: 5px;
}
#mailTo .selectedMailList,.dropDwonList{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.dropDwonList{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border-radius: 5px;
    margin-top: 2px;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.dropDwonList li{
    padding: 5px 8px;
    cursor: pointer;
    position: relative;
}
.dropDwonList li.on{
    background: #f7f7f7;
}
.dropDwonList li.on .glyphicon {
    color: #108ee9;
}
.dropDwonList li .glyphicon{
    position: absolute;
    right: 8px;
    top: 5px; 
    color: #ffffff;
}
.dropDwonList li:hover{
    background-color: #ecf6fd;
}
.dropDwonList li:hover .glyphicon{
    color: #ecf6fd;
}
#mailTo .selectedMailList li{
    float: left;
    background: #eeeeee;
    border-radius: 3px;
    padding: 0 5px;
    margin-left: 5px;
    display: flex;
    margin-bottom: 5px;
}
#mailTo .selectedMailList li.inputSearchBox{
    height: 30px;
    background: #ffffff;
    width: auto;
}
#mailTo .selectedMailList li.inputSearchBox input{
    border: none;
    outline: none;
    width: 10px;
    overflow: visible;
}
#mailTo .selectedMailList .removeMail{
    font-size: 6px;
    margin-left: 5px;
}
.queryMailList li{
    padding: 5px 16px;
    cursor: pointer;
}
.queryMailList li:hover{
    background: #ecf6fd;
}
.queryMailList li.selected{
    background: #eeeeee;
}
.list-group-item:hover, .list-group-item.on { background-color: #337ab7; color: #fff;}
.item-loading { text-align: center; }
.list-group-item.item-loading:hover { cursor: default; background-color: none; }
.list-group-item { border-color: #ddd; }
.item-mail>.user-name { font-weight: bold;margin-right: 5px; }
.item-mail>.mail-addr { color: #a0a0a0; }
.item-mail.on>.mail-addr { color: #ddd; }
.item-mail>.item-status {  float: right; line-height: 20px; font-size: 16px; display: none;}
.item-mail.on>.item-status { display: block; }

.inner-mail-wrap {cursor: default; -webkit-user-select: none;}
.inner-mail:hover { background-color: #dfdfdf; }
.inner-mail-wrap,.inner-mail { display: inline-block; }
.inner-mail>.user-name { font-weight: bold; }
.inner-mail>.mail-addr { color: #a0a0a0; }