<style class="diagnosisInfo" type="text/css">
#disgnosisDetailInfoModal .modal-dialog{
    width:800px;
    margin-top:80px;
}
#checkDiagnosis,#sendOrder{
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
}
.diagnosisAllBox{
    margin-top:20px;
    height:600px;
    overflow-y: auto;
}
#btnLoadMore{
    text-align:center;
    padding: 10px;
    cursor:pointer;
    background: rgba(56, 73, 106,0.6);
    margin: 10px 0 0 0;
    border-radius: 5px;
}
#btnLoadMore:hover{
    background:rgb(51, 67, 109);
}
@media screen and (max-width: 1368px){
     .diagnosisAllBox{
         height:360px;
     }
}
.diagnosisTable{
    width:100%;
}
.diagnosisTable td,.diagnosisTable th{
    text-align: center;
    height:20px;
    line-height:20px;
}
.diagnosisTable td{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.diagnosisTable td .spectrumDiv{
    height:26px;
    display:inline-block;
    margin-top: 4.5px;
    border-top: 1px solid #c6c5c2;
    border-bottom: 1px solid #c6c5c2;
    overflow: hidden;
    position:relative;
}

 #disgnosisDetailInfoModal .modal-content{
    box-shadow: none;
    border: none;
 }
 #disgnosisDetailInfoModal .modal-body{
     overflow:hidden;
     padding:2px;
 }
.diagnosisAllBox tbody tr.selected{
    background-color: rgb(35,46,74);
    color: rgb(236,195,8);
}
.diagnosisAllBox tbody tr:nth-child(odd){
   background-color:#fdfdfd;
}
.diagnosisAllBox .spectrumCommen{
    position:relative;
}
.diagnosisAllBox .diagnosisDetailTr:hover{
    background-color:#8f9397;
}
.diagnosisAllBox .timeDayCount{
    padding:0 5px;
    line-height:24px;
}
.diagnosisAllBox .diagnosisTableTool{
    position:fixed;
    background:rgba(0,0,0,1);
    color:#fff;
    max-height:400px;
    overflow-y: auto;
}
.diagnosisAllBox .diagnosisTableTool .diagnosisDetailTrContent{
    background:#000;
}
.diagnosisAllBox .spectrumCount{
    -webkit-box-shadow:-2px 0 5px #f8f5ea,0 -2px 5px rgba(0,0,0,0),0 2px 5px #f8f5ea,2px 0 5px rgba(0,0,0,0);
    -moz-box-shadow:-2px 0 5px #f8f5ea,0 -2px 5px rgba(0,0,0,0),0 2px 5px #f8f5ea,2px 0 5px rgba(0,0,0,0);
    box-shadow:-2px 0 5px #f8f5ea,0 -2px 5px rgba(0,0,0,0),0 2px 5px #f8f5ea,2px 0 5px rgba(0,0,0,0);
}
.zoneApart{
    display: none;
    position: absolute;
    top:5px;
    height:26px;
    z-index:33;
    background:rgba(84, 140, 217, 0.64);
}
#disgnosisDetailInfoModal .timeSelectBox > div{
    padding-right: 0;
    padding-left: 0;
}
.timeSelectBox .sendOrder{
    position: absolute;
    right: -22px !important;
    left: auto !important;
}
.timeSelectBox .btnROI{
    position: absolute;
    right: 112px;
    width: 63px;
}

/*详情弹出框*/
#wrapSpectrum{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    bottom: 0;
    padding: 10px;
    z-index: 1051;
}
#wrapSpectrum .leftCtn{
    width: 35%;
    height: 260px;
}
#wrapSpectrum .rightCtn{
    width: 65%;
    height: 260px;
}
#wrapSpectrum #chart{
    width: 100%;
    height: 100%;
}
#wrapSpectrum .float{
    float: left;
}
#wrapSpectrum #btnClose{
    position: absolute;
    right: 16px;
    top: 2px;
    color: #aaa;
    font-size: 20px;
    display: inline-block;
    padding: 2px 8px;
    cursor: pointer;
    z-index: 1;
    background-color: rgba(170, 170, 170, 0.18);
    border-radius: 50%;
}
#wrapSpectrum #btnClose:hover{
    color: #fff;
}
#wrapSpectrum #tbFaultInfo{
    color: #ccc;
    margin-top: 20px;
}
#wrapSpectrum #tbFaultInfo td{
    line-height: 1.6;
    padding: 10px;
}
#wrapSpectrum .desc{
    width: calc(100% - 60px);
}
#wrapSpectrum .labelF{
    width: 60px;
    color: #aaa;
}
</style>

<div class="diagnosisInfo modal fade" id="disgnosisDetailInfoModal" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="timeSelectBox clearfix">
                    <div class="col-xs-6">
                        <div class="input-group">
                              <input type="text" class="form-control" id="startTimeCog"/>
                              <span class="input-group-addon">To</span>
                              <input type="text" class="form-control" id="endTimeCog"/>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div id="checkDiagnosis" i18n="modalConfig.modalApp.SURE">确定</div>
                    </div>
            
                    <div class="col-xs-2 sendOrder">
                        <div class="btn btn-default" id="sendOrder" i18n="modalConfig.modalApp.SEND_ORDER">发送工单</div>
                    </div>
                    <div class="col-xs-2 btnROI">
                        <div class="btn btn-default" id="btnROI" onclick="">ROI</div>
                    </div>
                </div>
                <div class="diagnosisAllBox gray-scrollbar">
                    <table class="diagnosisTable">
                        <thead>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" i18n="modalConfig.modalApp.CLOSE">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 详情弹出框 start -->
<div class="diagnosisInfo" id="wrapSpectrum" style="display: none;">    
    <span id="btnClose">&times;</span>
    <div class="leftCtn float">
        <table id="tbFaultInfo">
            <tr class="faultName faultInfo">
                <td class="labelF" i18n="modalConfig.modalApp.FAULT">Fault</td>
                <td class="desc"></td>
            </tr>
            <tr class="faulDetail faultInfo">
                <td class="labelF" i18n="modalConfig.modalApp.FAULT_DETAIL">Detail</td>
                <td class="desc"></td>
            </tr>
        </table>
    </div>
    <div class="rightCtn float">
        <div id="chart"></div>
    </div>
</div>
<!-- 详情弹出框 end -->