<style type="text/css">
    #dialogContent {
        width: 85%;
        margin-top: 58px;
    }

    .diagListNav, .diagnosisInfoBox {
        float: left;
        background: rgba(24, 34, 52, 0.7);
        height: 100%;
        color: rgb(196, 209, 229);
        border-radius: 5px;
    }

    .diagListNav {
        width: 300px;
    }

    .diagnosisInfoBox {
        width: calc(100% - 305px);
        margin-left: 5px;
    }

    .nav_one {
        padding: 0 8px;
        line-height: 35px;
        border-bottom: 1px solid rgba(56, 74, 103, 0.72);
        cursor: pointer;
    }

    .nav_two {
        padding: 0 16px;
        line-height: 35px;
        border-bottom: 1px solid rgba(56, 74, 103, 0.72);
        font-size: 12px;
        cursor: pointer;
    }

    .nav_two_box {
        display: none;
        background: #28324b;
    }

    .nav_three_box {
        display: none;
        background: rgba(56, 73, 106, 0.6);
        color: #c8d2e6;
    }

    .nav_three {
        padding: 0 26px;
        line-height: 35px;
        border-bottom: 1px solid rgba(56, 74, 103, 0.72);
        font-size: 12px;
        cursor: pointer;
    }

    #diagnosisManage {
        height: 600px;
        background: #3a3a3a;
    }

    #diagnosisManage .modal-body {
        padding: 5px;
        height: 100%;
    }

    .leftNavTitle, .diagInfoBtns {
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-bottom: 1px solid rgba(56, 74, 103, 0.72);
    }

    .diagInfoBtns {
        text-align: left;
        padding-left: 5px;
        position: relative;
    }

    .leftNavBox, .rightdiagInfo {
        width: 100%;
        height: calc(100% - 40px);
        overflow-y: auto;
    }

    .active {
        display: block;
        color: #fcb813;
    }

    .rightdiagInfo tbody tr.trActive {
        color: #fcb813;
    }

    .diagInfoBtns .btn {
        padding: 3px 12px;
        margin-top: -3.5px;
    }

    .rightdiagInfo table {
        width: 100%;
        margin-top: 10px;
        border-radius: 3px;
    }

    .rightdiagInfo tbody tr:hover {
        color: #fcb813;
        cursor: pointer;
    }

    .rightdiagInfo table, .rightdiagInfo table tr {
        border: 1px solid rgba(56, 74, 103, 0.72);
        color: rgb(196, 209, 229);
    }

    .rightdiagInfo table tr {
        height: 30px;
        line-height: 30px;
    }

    .rightdiagInfo table td, .rightdiagInfo table th {
        text-align: center;
    }

    .rightdiagInfo table thead {
        background: #283557;
    }

    .rightdiagInfo table tbody {
        background: #232e4a;
    }

    #diagSearch {
        float: right;
        margin-right: 5px;
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
        background: transparent;
        border: 1px solid rgb(78, 105, 148);
        border-radius: 3px;
        padding-left: 5px;
        padding-right: 15px;
    }

    #pushFailurePeople {
        float: right;
        margin-right: 10px;
        margin-top: 6px;
    }

    #closeModal {
        float: right;
        margin-right: 5px;
        margin-top: 6px;
    }

    #searchBtn {
        position: absolute;
        color: rgb(196, 209, 229);
        top: 12px;
        right: 75px;
    }

    #displayEnableSpan {
        cursor: pointer;
    }

    .rightdiagInfo .leftAlign {
        text-align: left;
    }

    .taGrade {
        padding: 6px;
    }
    .rightdiagInfo table tr.faultDisStyle{
        color:#808c9e;
    }

    .rightdiagInfo tbody tr.faultDisStyle:hover {
        color: #fcb813;
        cursor: pointer;
    }
    .rightdiagInfo tbody tr.faultDisStyle.trActive {
        color: #fcb813;
    }
    @media screen and (max-width: 1367px) {
        #diagnosisManage {
            height: 600px;
        }

        #dialogContent {
            margin-top: 48px;
        }
    }

    @media screen and (min-width: 1367px) {
        #diagnosisManage {
            height: 800px;
        }

        #dialogContent {
            margin-top: 58px;
        }
    }

    #diagnosisItemForm input[type='text'], #diagnosisItemForm select, #pushUserList {
        width: 700px;
    }

    #diagnosisItemForm input[readonly] {
        background: #ccc;
    }

    #displayPushIpt {
        margin-left: 5px;
    }
</style>
<div class="modal-content" id="diagnosisManage">
    <!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>

        </button>
        <h4 class="modal-title" i18n="diagnosis.config.TITLE"></h4>
    </div>-->
    <div class="modal-body clearfix">
        <div class="diagListNav">
            <div class="leftNavTitle" i18n="diagnosis.config.subConfig.FAUTS_LIST">所有项目</div>
            <div class="leftNavBox gray-scrollbar"></div>
        </div>
        <div class="diagnosisInfoBox gray-scrollbar">
            <div class="diagInfoBtns clearfix">
                <span class="btn btn-primary" id="diagEdit" style="display:none;" i18n="diagnosis.diagnosisROI.EDIT">编辑</span>
                <span class="btn btn-primary" id="diagEnableDiag" i18n="diagnosis.config.subConfig.ENABLE_FDD">启用诊断</span>
                <span class="btn btn-primary" id="diagDisableDiag" i18n="diagnosis.config.subConfig.DISABLE_FDD">禁用诊断</span>
                <input type="checkbox" i18n="value=diagnosis.config.subConfig.SHOW_FAULT" id="displayEnableIpt" checked><span id="displayEnableSpan" i18n="diagnosis.config.subConfig.SHOW_FAULT">显示禁用故障</span>
                <label class="dn">
                   <input type="checkbox" id="displayPushIpt" i18n="value=diagnosis.config.subConfig.SHOW_PUSH_FAULT">
                    <span i18n="diagnosis.config.subConfig.SHOW_PUSH_FAULT">显示推送故障</span>
                </label>
                <span class="ml30">
                    <span class="btn btn-primary" id="diagnosisEnablePush" i18n="diagnosis.config.subConfig.ENABLE_PUSH"></span>
                    <span class="btn btn-primary" id="diagnosisDisablePush" i18n="diagnosis.config.subConfig.DISABLE_PUSH"></span>
                    <span class="btn btn-primary" id="diagnosisMailPush" i18n="diagnosis.config.subConfig.MAIL_PUSH"></span>
                    <span class="btn btn-primary" id="diagnosisAppPush" i18n="diagnosis.config.subConfig.APP_PUSH"></span>
                    <!--<span class="btn btn-primary" id="diagnosisDelPush" class="dn" i18n="">删除全部</span>-->
                </span>
                <span class="btn btn-primary " id="closeModal" i18n="diagnosis.config.subConfig.CLOSE">关闭</span>
                <input type="search" placeholder="search" id="diagSearch"/>
                <span class="glyphicon glyphicon-search" id="searchBtn"></span>
                <!--<span class="btn btn-primary dn" typeof="button" id="pushFailurePeople">推送人</span>-->
            </div>
            <div class="rightdiagInfo gray-scrollbar">
                <table>
                    <thead>
                        <tr>
                            <th i18n="diagnosis.config.subConfig.LEVEL">级别</th>
                            <th i18n="diagnosis.config.subConfig.FAULT_NAME">故障名称</th>
                            <th i18n="diagnosis.config.subConfig.EQUIOMENT">对应设备</th>
                            <th i18n="diagnosis.config.subConfig.CONSEQUENCE">后果</th>
                            <th i18n="diagnosis.config.subConfig.PUSH">推送设置</th>
                            <th i18n="diagnosis.config.subConfig.STATUS"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="diagnosisItemDetailBox" class="p10 dn">
                <span class="btn btn-default" id="backToDiagnosisList">返回</span>
                <form id="diagnosisItemForm" class="mt10">
                    <label class="col-md-12 mt10">
                        <span class="col-md-2 tr mt5">故障名称</span>
                        <input type="text" id="diagnosisItemName" class="form-control col-md-8" name="Name" value="" readonly/>
                    </label>
                    <label class="col-md-12 mt10">
                        <span class="col-md-2 tr mt5">级别</span>
                        <select id="diagnosisItemGrade" class="form-control col-md-8" name="Grade">
                            <option value="1">异常</option>
                            <option value="2">故障</option>
                        </select>
                    </label>
                    <label class="col-md-12 mt10">
                        <span class="col-md-2 tr mt5">对应设备</span>
                        <input type="text" id="diagnosisItemEquipName" class="form-control col-md-8" name="EquipName" value="" readonly/>
                    </label>
                    <label class="col-md-12 mt10">
                        <span class="col-md-2 tr mt5">后果</span>
                        <input type="text" id="diagnosisItemConsequence" class="form-control col-md-8" name="Consequence" value="" readonly/>
                    </label>
                    <div class="col-md-12 mt10">
                        <span class="col-md-2 tr">启用设置</span>
                        <label>
                            <input type="radio" name="Enable" value=true textValue="启用" />
                            <span class="ml5">启用</span>
                        </label>
                        <label class="ml10">
                            <input type="radio" name="Enable" value=false textValue="禁用" />
                            <span class="ml5">禁用</span>
                        </label>
                    </div>
                    <div class="col-md-12 mt10">
                        <span class="col-md-2 tr">推送设置</span>
                        <span class="glyphicon glyphicon-edit wf-people-add"></span>
                        <div class="col-md-12">
                            <div class="col-md-2"></div>
                            <div id="pushUserList" class="showPushList col-md-8"></div>
                        </div>

                    </div>
                </form>
                <div class="tc">
                    <span class="btn btn-primary mr10" id="diagnosisItemConfirm">确认</span>
                    <span class="btn btn-default" id="diagnosisItemCancel">取消</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-推送列表 start- !>
<script type="text/html" id="tpl_data_alarm_pushList">
    <!if(members.length){!>
    <table class="table mt10">
        <thead>
        <tr>
            <th><!=I18n.resource.debugTools.dataAlarm.USER_ACCOUNT!></th>
            <th class="tc"><!=I18n.resource.debugTools.dataAlarm.WEB_PUSH!></th>
            <th class="tc"><!=I18n.resource.debugTools.dataAlarm.APP_PUSH!></th>
            <th class="tc"><!=I18n.resource.debugTools.dataAlarm.MAIL_PUSH!></th>
        </tr>
        </thead>
        <!for(var m=0; m < members.length; m++){!>
        <!var member = members[m];!>
        <tbody>
        <tr>
            <td>
                <!=member.userfullname!>
            </td>
            <td class="tc">
                <!if(notifyData){!>
                    <!if(member.isWebSite){!>
                        <input type="checkbox" class="isWebSite" checked/>
                    <!} else{!>
                        <input type="checkbox" class="isWebSite"/>
                    <!}!>
                <!} else{!>
                    <input type="checkbox" class="isWebSite" checked/>
                <!}!>
            </td>
            <td class="tc">
                <!if(notifyData){!>
                    <!if(member.isApp){!>
                        <input type="checkbox" class="isApp" checked/>
                    <!} else{!>
                        <input type="checkbox" class="isApp"/>
                    <!}!>
                <!} else{!>
                    <input type="checkbox" class="isApp" checked/>
                <!}!>
            </td>
            <td class="tc">
                <!if(notifyData){!>
                    <!if(member.isEmail){!>
                        <input type="checkbox" class="isEmail" checked/>
                    <!} else{!>
                        <input type="checkbox" class="isEmail"/>
                    <!}!>
                <!} else{!>
                    <input type="checkbox" class="isEmail" checked/>
                <!}!>
            </td>
        </tr>
        </tbody>
        <!}!>
    </table>
    <!}!>
</script>
<!-推送列表 end-!>
<script type="text/html" id="tpl_alarm_info_list">
    <!for(var m=0; m < infoList.length; m++){!>
        <!var info = infoList[m];!>
        <tr>
            <td><!=info.pointName!></td>
            <td><!=PointManagerDataAlarm.prototype.converterAlarmStatus(info.alarm_type, info.alarm_result)!></td>
            <td><!=info.alarm_time!></td>
            <td><!=PointManagerDataAlarm.prototype.converterAlarmType(info.alarm_type)!></td>
        </tr>
    <!}!>
</script>
