<style>
    #modalConfig {
        position: absolute;
    }

        #modalConfig .modal-backdrop{
            position: absolute;
        }
        @media (max-width: 1366px){
            #modalConfig .modal-dialog{
                width: 700px;
            }
        }
        @media (min-width: 1367px){
            #modalConfig .modal-dialog{
                width: 720px;
            }
        }
        
    /*optionConfig*/
    option.forbid{
        display: none;
    }
    #inputPeriodValue {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        width: 49%;
    }
    #inputPeriodUnit {
        width: 49%;
    }
    #divGauge div:nth-child(odd){
        padding-left: 0;
    }
    #divGauge div:nth-child(even){
        padding-right: 0;
    }
    #divCompareDate div{
        padding-left: 0;
        padding-right: 30px;
    }
    #divCompareDate div:last-child{
        padding-right: 0
    }
    .gaugeGreen {
        background-color: lightseagreen;
    }
    .gaugeBlue {
        background-color: #428bca;
    }
    .gaugeRed {
        background-color: #ff6c60;
    }
    /*dataConfig*/
    #dataConfig{
        border-top: 1px solid #e5e5e5;
        max-height: 350px;
        overflow-y: auto;
    }
    .chartPointCog {
        position: absolute;
        font-size: 18px;
        right: 10px;
        top: -10px;
        color: #666;
        background-color: white;
        cursor: pointer;
    }
    #divChartPointCog {
        padding-top: 10px;
        padding-bottom: 10px;
        position: absolute;
        width: 60%;
        left: 20%;
        top: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 #428bca;
        z-index: 1400;
        background-color: white;
        display: none;
        color: #333;
    }
    #divBtnChartPtCog {
        position: relative;
        float: right;
        right: 10px;
        font-size: 18px;
    }
    #btnPtCogRemove {
        position: absolute;
        right: 5px;
        top: 5px;
        color: #ccc;
        cursor: pointer;
    }
    #containerNotePtCfg {
        padding-top: 10px;
        padding-bottom: 10px;
        position: absolute;
        width: 90%;
        left: 5%;
        top: 100px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 #428bca;
        z-index: 1400;
        background-color: white;
    }
    .rowNotePtCfgTitle {
        margin-top :10px;
        font-weight: bold;
        width: 100%;
        margin-left: 10px;
    }
    #divNotePtCfg {
        height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .rowNotePtCfg {
        position :relative;
        top: 5px;
        margin-left: 10px;
        margin-right: 0;
    }
    #divBtnNotePtCfg {
        position: relative;
        float: right;
        right: 10px;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
        bottom: -5px;
    }
    #btnNotePtCfgAdd {
        position: absolute;
        right: 30px;
        top: 10px;
        color: #ccc;
        cursor: pointer;
    }
    #btnNotePtCfgExit {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #ccc;
        cursor: pointer;
    }
    .btnRowNoteCfgRemove {
        position: absolute;
        top: 10px;
        left: -5px;
        color:#ccc;
        cursor: pointer;
        z-index: 1;
    }
    .divConfigData {
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
    }
        .divConfigData .row{
            margin: 0;
        }
    .dataTypeName{
        position: absolute;
        top: -10px;
        left: -10px;
        background-color: white;
        padding-right: 12px;
        padding-left: 12px;
    }
    .rowDataValue div{
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
    }
    @media (min-width: 1200px) {
        .rowDataValue div {
            width: 23%;
            margin-left: 1%;
            margin-right: 1%;
        }
    }
    @media (min-width: 992px) and (max-width: 1199px){
        .rowDataValue div {
            width: 31.33333%;
            margin-left: 1%;
            margin-right: 1%;
        }
    }
    .dataDragTip {
        text-align: center;
        color: #ccc;
        border: 1px dashed #ccc ;
        height: 30px;
    }
    .dataDragTip span{
        top: 2px;
    }
    .dataDragTip:hover{
        border-color: #66afe9;
        cursor: pointer;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
    .dataDragTip:hover span{
        visibility: hidden;
    }
    .dataDragTip.addData{
        border-color: #66afe9;
        cursor: pointer;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
    .dataDragTip.addData span{
        visibility: hidden;
    }
    .divDSConfigure {
        background-color: #efeeee;
        border: 1px solid transparent;
        color: #4c9f42;
        cursor: pointer;
        font-size: 14px;
        height: 30px;
    }
        .divDSConfigure .contentDS{
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 84%;
            white-space: nowrap;
        }
        .divDSConfigure .btnRemoveDS{
            top: 2px;
            color: #ccc;
            float: right;
        }
            .divDSConfigure:hover .btnRemoveDS{
                color:orange;
            }
    #configAlert {
        width: 80%;
        display: inline-block;
        position: absolute;
        left: 10px;
        bottom: -15px;
        text-align: center;
    }
    /* editor start */
    .pointValue{
        display: inline-block;
        padding: 5px;
        border-radius: 4px;
        /*background-color: rgba(255,255,255,0.5);
        border: 1px solid #ddd;*/
        color: #428bca;
        font-weight: 600;
    }
    @-webkit-keyframes shineBorder {
        from { box-shadow: 0 0 2px #F1F6DE; }
        50% { box-shadow: 0 0 10px #b6f1be; }
        to { box-shadow: 0 0 2px #F1F6DE; }
    }
    #editor:focus, #editor:hover{
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
    #noteEditor{
        height: 500px;
        overflow: hidden;
    }
    #noteEditor .edui-editor{
        height: 100% !important;
    }
    #noteEditor .edui-editor-iframeholder{
        height: calc(100% - 105px) !important;
    }
    /* editor end */
    .anlsModifyCobfig {
        width:80px;height:30px;line-height:30px;text-align: center;margin-bottom: 15px;padding: 0;font-size:16px;cursor:pointer;
    }
    #modifyChart .row {display:none;}
</style>

<div class="modal fade" id="modalConfig" style="z-index: 151;" role="dialog" aria-labelledby="templateType" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title" id="templateType" i18n="modalConfig.TITLE">
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-3 col-xs-4">
                        <label for="inputMode" i18n="modalConfig.option.LABEL_MODE"></label>
                        <select class="form-control" id="inputMode">
                            <option value="easy" i18n="modalConfig.option.MODE_CURRENT"></option>
                            <option value="fixed" i18n="modalConfig.option.MODE_FIXED"></option>
                            <option value="recent" i18n="modalConfig.option.MODE_RECENT"></option>
                            <option value="realTime" i18n="modalConfig.option.MODE_REAL_TIME"></option>
                            <option value="easyEnergy" i18n="modalConfig.option.MODE_CURRENT"></option>
                            <option value="easyCompareAnalyz" i18n="modalConfig.option.MODE_COMPARE_EASY"></option>
                            <option value="easyCompare" i18n="modalConfig.option.MODE_COMPARE_EASY"></option>
                            <option value="compareSensor" i18n="modalConfig.option.MODE_COMPARE_SENSOR"></option>
                            <option value="compareMeter" i18n="modalConfig.option.MODE_COMPARE_METER"></option>
                            <option value="gauge" i18n="modalConfig.option.MODE_GAUGE"></option>
                            <option value="weather" i18n="modalConfig.option.MODE_WEATHER">Weather</option>
                            <option value="realTimeDashboard" i18n="modalConfig.option.MODE_REAL_TIME"></option>
                            <option value="easyHistory" i18n="modalConfig.option.MODE_CURRENT"></option>
                            <option value="multiple" i18n="modalConfig.option.MODE_REAL_TIME"></option>
                            <option value="easyHistorySelect" i18n="modalConfig.option.MODE_CURRENT"></option>
                            <option value="modalRankNormal" i18n="modalConfig.option.MODE_CURRENT"></option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3 col-xs-4">
                        <label for="inputInterval" i18n="modalConfig.option.LABEL_INTERVAL"></label>
                        <select class="form-control" id="inputInterval">
                            <option value="m1" i18n="modalConfig.option.INTERVAL_MIN1"></option>
                            <option value="m5" selected i18n="modalConfig.option.INTERVAL_MIN5"></option>
                            <option value="h1" i18n="modalConfig.option.INTERVAL_HOUR1"></option>
                            <option value="d1" i18n="modalConfig.option.INTERVAL_DAY1"></option>
                            <option value="M1" i18n="modalConfig.option.INTERVAL_MON1"></option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-xs-4">
                        <label for="divInputGroupPeriod"  i18n="modalConfig.option.LABEL_PERIOD"></label>
                        <div class="input-group" id="divInputGroupPeriod" style="width: 100%;">
                            <label for="inputPeriodValue"></label>
                            <input type="text" class="form-control" id="inputPeriodValue" placeholder="">
                            <label for="inputPeriodUnit"></label>
                            <select class="form-control" id="inputPeriodUnit">
                                <option value="hour" i18n="modalConfig.option.PERIOD_UNIT_HOUR"></option>
                                <option value="day" selected i18n="modalConfig.option.PERIOD_UNIT_DAY"></option>
                                <option value="month" i18n="modalConfig.option.PERIOD_UNIT_MON"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-4">
                        <label for="inputPeriodDropDown" i18n="modalConfig.option.LABEL_PERIOD"></label>
                        <select class="form-control" id="inputPeriodDropDown">
                            <option value="today" i18n="modalConfig.option.PERIOD_DROP_DOWN_TODAY"></option>
                            <option value="threeDay" i18n="modalConfig.option.PERIOD_DROP_DOWN_THREE_DAY"></option>
                            <option value="yesterday" selected i18n="modalConfig.option.PERIOD_DROP_DOWN_YESTERDAY"></option>
                            <option value="thisWeek" i18n="modalConfig.option.PERIOD_DROP_DOWN_THIS_WEEK"></option>
                            <option value="lastWeek" i18n="modalConfig.option.PERIOD_DROP_DOWN_LAST_WEEK"></option>
                            <option value="thisYear" i18n="modalConfig.option.PERIOD_DROP_DOWN_THIS_YEAR"></option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-xs-12">
                        <label for="divInputGroupTimeRange" i18n="modalConfig.option.LABEL_TIME_RANGE"></label>
                        <div class="input-group" id="divInputGroupTimeRange" style="width: 100%;">
                            <input class="form-control form_datetime" id="inputTimeStart" size="16" type="text">
                            <span class="input-group-addon" i18n="modalConfig.option.TIP_RANGE_TO"></span>
                            <input class="form-control form_datetime" id="inputTimeEnd" size="16" type="text">
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="gaugeMode" i18n="modalConfig.option.LABEL_GAUGE_MODE"></label>
                        <select class="form-control" id="gaugeMode">
                            <option value="high" i18n="modalConfig.option.GAUGE_MODE_HIGH" selected></option>
                            <option value="low" i18n="modalConfig.option.GAUGE_MODE_LOW"></option>
                        </select>
                    </div>
                    <div class="col-xs-12" id="divGauge">
                        <div class="input-group">
                            <label for="gaugeLowerLimit" ></label>
                            <input type="text" class="form-control" value="0" id="gaugeLowerLimit" placeholder="" tabindex="1">
                            <span class="input-group-addon gaugeGreen" i18n="modalConfig.option.GAUGE_GREEN"></span>
                            <label for="normalLowerLimit"></label>
                            <input type="text" class="form-control" value="4" id="normalLowerLimit" placeholder="" tabindex="2">
                            <span class="input-group-addon gaugeBlue" i18n="modalConfig.option.GAUGE_NORMAL"></span>
                            <label for="normalUpperLimit"></label>
                            <input type="text" class="form-control" value="6" id="normalUpperLimit" placeholder="" tabindex="3">
                            <span class="input-group-addon gaugeRed" i18n="modalConfig.option.GAUGE_RED"></span>
                            <label for="gaugeUpperLimit"></label>
                            <input type="text" class="form-control" value="10" id="gaugeUpperLimit" placeholder="" tabindex="4">
                        </div>
                    </div>
                    <div class="form-group col-xs-6" id="divRealTimeInterval">
                        <label for="inputRealTimeInterval" i18n="modalConfig.option.LABEL_REAL_TIME_INTERVAL"></label>
                        <select class="form-control" id="inputRealTimeInterval">
                            <option value="30s" i18n="modalConfig.option.REAL_TIME_INTERVAL_30_SEC"></option>
                            <option value="1m" i18n="modalConfig.option.REAL_TIME_INTERVAL_1_MIN"></option>
                            <option value="5m" i18n="modalConfig.option.REAL_TIME_INTERVAL_5_MIN" selected></option>
                            <option value="10m" i18n="modalConfig.option.REAL_TIME_INTERVAL_10_MIN"></option>
                            <option value="30m" i18n="modalConfig.option.REAL_TIME_INTERVAL_30_MIN"></option>
                        </select>
                    </div>
                    <div class="form-group col-xs-4">
                        <label for="inputComparePeriod" i18n="modalConfig.option.LABEL_COMPARE_PERIOD"></label>
                        <select class="form-control" id="inputComparePeriod">
                            <option value="hour" i18n="modalConfig.option.COMPARE_PERIOD_HOUR"></option>
                            <option value="day" i18n="modalConfig.option.COMPARE_PERIOD_DAY" selected></option>
                            <option value="week" i18n="modalConfig.option.COMPARE_PERIOD_WEEK"></option>
                            <option value="month" i18n="modalConfig.option.COMPARE_PERIOD_MONTH"></option>
                        </select>
                    </div>
                    <div class="col-xs-9" id="divCompareDate">
                        <div class="form-group col-xs-6">
                            <label for="inputCompareDate1" i18n="modalConfig.option.LABEL_COMPARE_DATE1"></label>
                            <input type="text" class="form-control form_datetime compare" id="inputCompareDate1" placeholder="">
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="inputCompareDate2" i18n="modalConfig.option.LABEL_COMPARE_DATE2"></label>
                            <input type="text" class="form-control form_datetime compare" id="inputCompareDate2" placeholder="">
                        </div>
                    </div>
                    <div class="col-xs-5" id="divHistoryRange">
                        <label for="inputHistoryRange" i18n="modalConfig.option.LABEL_HISTORY_RANGE"></label>
                        <select class="form-control" id="inputHistoryRange">
                            <option value="hour" i18n="modalConfig.option.HISTORY_RANGE_HOUR"></option>
                            <option value="day" i18n="modalConfig.option.HISTORY_RANGE_DAY" selected></option>
                            <option value="week" i18n="modalConfig.option.HISTORY_RANGE_WEEK"></option>
                            <option value="month" i18n="modalConfig.option.HISTORY_RANGE_MONTH"></option>
                            <option value="year" i18n="modalConfig.option.HISTORY_RANGE_YEAR"></option>
                        </select>
                    </div>
                    <div class="col-xs-4" id="divChartSelect">
                        <label for="inputHistoryRange" i18n="modalConfig.option.LABEL_CHART_SELECT"></label>
                        <select class="form-control" id="inputChartSelect">
                            <option value="bar" i18n="modalConfig.option.CHART_SELECT_BAR" selected></option>
                            <option value="line" i18n="modalConfig.option.CHART_SELECT_LINE"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-body" id="dataConfig" style="display: none;">
                <div><span I18n="modalConfig.data.DATA_CONFIG_TITLE"></span></div>
            </div>
            <div class="form-horizontal" id="divChartPointCog">
                <div class="form-group">
                    <label for="inputPtValUpper" class="col-xs-4 control-label" i18n="modalConfig.data.PT_UPPER"></label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="inputPtValUpper" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPtValLower" class="col-xs-4 control-label" i18n="modalConfig.data.PT_LOWER"></label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="inputPtValLower" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPtUnit" class="col-xs-4 control-label" i18n="modalConfig.data.PT_UNIT"></label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="inputPtUnit" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPtAccuracy" class="col-xs-4 control-label" i18n="modalConfig.data.PT_ACCURACY"></label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="inputPtAccuracy" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLineName1" class="col-xs-4 control-label" i18n="modalConfig.data.PT_LINE_1"></label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control inputLineName" id="inputLineName1" placeholder="TiTle">
                    </div>
                    <label for="inputLineVal1" class="sr-only control-label"></label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control inputLineVal" id="inputLineVal1" placeholder="Value">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLineName2" class="col-xs-4 control-label" i18n="modalConfig.data.PT_LINE_2"></label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control inputLineName" id="inputLineName2" placeholder="">
                    </div>
                    <label for="inputLineVal2" class="sr-only control-label"></label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control inputLineVal" id="inputLineVal2" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLineName3" class="col-xs-4 control-label" i18n="modalConfig.data.PT_LINE_3"></label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control inputLineName" id="inputLineName3" placeholder="">
                    </div>
                    <label for="inputLineVal3" class="sr-only control-label"></label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control inputLineVal" id="inputLineVal3" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLineName4" class="col-xs-4 control-label" i18n="modalConfig.data.PT_LINE_4"></label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control inputLineName" id="inputLineName4" placeholder="">
                    </div>
                    <label for="inputLineVal4" class="sr-only control-label"></label>
                    <div class="col-xs-3">
                        <input type="text" class="form-control inputLineVal" id="inputLineVal4" placeholder="">
                    </div>
                </div>
                <span class="glyphicon glyphicon-remove" id="btnPtCogRemove" aria-hidden="true"></span>
                <div id="divBtnChartPtCog">
                    <button type="button" class="btn btn-primary" id="btnPtCogSure" i18n="modalConfig.data.PT_COG_SURE"></button>
                    <button type="button" class="btn btn-primary" id="btnPtCogCancel" i18n="modalConfig.data.PT_COG_CANCEL"></button>
                </div>
            </div>
            <!-- <div class="modal-body" id="noteEditor" style="border-top: 1px solid #e5e5e5;display: none; height: 320px;"> -->
            <script id="noteEditor" type="text/plain"></script>
            <!-- </div> -->
            <div class="modal-body" id="modifyChart" style="display: none;">
                <span i18n="modalConfig.option.MODIFY_CHART_CONFIG" class="anlsModifyCobfig form-control"></span>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="modifyChartTitle" i18n="modalConfig.option.MODIFY_CHART_TITLE">Title</label>
                        <input class="form-control" id="modifyChartTitle">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="modifyChartYUnitName" i18n="modalConfig.option.MODIFY_CHART_YAXIS_NAME">Y Axis Name</label>
                        <input class="form-control" id="modifyChartYUnitName">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="modifyChartYUnitEx" i18n="modalConfig.option.MODIFY_CHART_YAXIS_UNIT">Y Axis Unit</label>
                        <select class="form-control" id="modifyChartYUnitEx">
                            <option>--</option>
                            <option>℃</option>
                            <option>l/s</option>
                            <option>m3/h</option>
                            <option>kW</option>
                            <option>RT</option>
                            <option>%</option>
                            <option>kWh</option>
                            <option>Hz</option>
                            <option>kJ</option>
                            <option>kg</option>
                            <option>RMB</option>
                            <option>RTH</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="modifyChartYMax" i18n="modalConfig.option.MODIFY_CHART_MAX">Max</label>
                        <input class="form-control" id="modifyChartYMax">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="modifyChartYMin" i18n="modalConfig.option.MODIFY_CHART_MIN">Min</label>
                        <input class="form-control" id="modifyChartYMin">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="modifyChartYMark" i18n="modalConfig.option.MODIFY_CHART_MARK">Mark</label>
                        <input class="form-control" id="modifyChartYMark">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div id="configAlert"></div>
                <button type="button" class="btn btn-primary disabled" id="startConfig"></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->