<style>
    #shareLogPanel {
        margin-top: 5px;
        height: calc(100% - 30px);
    }
    .btnShareLogClose {
        color: #AAAAAA;
        float: right;
        font-size: 18px;
    }
    .btnShareLogClose:hover  {
        color: #428bca;
    }
    .shareLogIndex {
        position: absolute;
    }
    .panel-body .row {
        margin: 0 20px 0 20px;
    }
    .rowShareLogTitle {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 15px;
    }
    .rowShareLogContent {
        border-top: 1px solid #eeeeee;
        padding: 10px 0 10px 0;
    }
    .rowShareLogContent:hover {
        cursor:pointer;
    }
    .rowShareLogContent>div{
        min-height: 25px;
        line-height: 24px;
    }
    .btnShareRemove {
        cursor: pointer;
        font-size: 18px;
        color:#428bca;/*darkorange;*/
        position: relative;
        left: -15px;
        top: 4px;
        margin-left: 5px;
    }
    .btnShareRemove:hover {
        color:#2a6496; /*red;*/
    }
    .btnSharePageEdit {
        cursor: pointer;
        font-size: 18px;
        color:#428bca;
        position: relative;
        left: -10px;
        top: 4px;
        margin-right: 5px;
    }
    .shareDesc {
        cursor: pointer;
        font-size: 14px;
        color:#428bca;
        position: relative;
        left: -8px;
        top: 0px;
        margin-right: 10px;
    }
    .btnSharePageEdit:hover {
        color: #2a6496;
    }
    .shareDesc:hover {
        color: #2a6496;
    }
    /*.rowShareLogContent:hover .btnShareRemove{
        visibility: visible;
    }
    .rowShareLogContent:hover .btnSharePageEdit{
        visibility: visible;
    }*/
    .shareURL {
        cursor: pointer;
    }
    .shareURL:hover {
        color: #428bca;
    }
    .shareDesc {
        position: relative;
    }
    .shareDesc input{
        position: absolute;
        top: -4px;
    }
    .shareNone:hover {
        color: #428bca;
        cursor: pointer;
    }
    .shareOrder {
        width:60px;
        float:left;
    }
    .shareDate {
        width:160px;
        float:left;
    }
    .shareOperate {
        width:75px;
        float:left;
        display:none;
    }
    .shareDescribe {
        width:calc(100% - 295px);
        float:left;
    }
</style>
<div class="container" style="height: 100%;">
    <div class = "row" style="height: 100%;">
        <div class="panel panel-default" id="shareLogPanel">
            <div class="panel-heading">
                <span i18n="analysis.shareLog.TITLE_SHARE_LOG"></span>
                <span class="glyphicon glyphicon-remove btnShareLogClose"></span>
            </div>
            <div class="panel-body" style="max-height: calc(100% - 41px);overflow: auto">
                <div class="row rowShareLogTitle"><!--shareOrder  shareDescribe   shareDate   shareOperate-->
                    <div class="shareOrder" i18n="analysis.shareLog.TITLE_SHARE_LOG_INDEX"></div>
                    <!--<div class="col-xs-5" i18n="analysis.shareLog.TITLE_SHARE_LOG_URL"></div>col-xs-1col-xs-7col-xs-3col-xs-1-->
                    <div class="shareDescribe" i18n="analysis.shareLog.TITLE_SHARE_LOG_DESCRIPTION"></div>
                    <div class="shareDate" i18n="analysis.shareLog.TITLE_SHARE_LOG_TIME"></div>
                    <div class="shareOperate"></div>
                    <br style="clear:both;">
                </div>
                <div class="divShareLog"></div>
            </div>
        </div>
    </div>
</div>