.operateContent{
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: 1px;
    background-color: #1b2540;  
}

.add, .edit, .delete{
    margin-left: 5px;
    color: #7b869c;
    height: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
    float: left;
}

.add div, .edit div, .delete div{
    width: 32px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
}

.add:hover div, .edit:hover div, .delete:hover div{
    background-color: rgba(23, 29, 52, 0.4);
    border: solid 1px rgba(58, 62, 76, 0.4);
}

.disabled div{
    cursor: not-allowed;
    color:rgb(153, 153, 153);
}

.disabled:hover div{
    background-color: rgba(23, 29, 52, 0.4);
    border: none;
}
