{% extends "./layout/index_layout_platform.html" %}
{% block script %}
<script>
    void (function (login_result, window) {
        var AppConfig = {};
        if(login_result){
            login_result.config = login_result.config || {};
            var systemSkin = login_result.config.skin;
            if(!systemSkin){//兼容
                systemSkin = window.localStorage.getItem('systemSkin_' + login_result.id)||'dark';
                login_result.config.skin = systemSkin;
            }

            AppConfig.userProfile = {};
            AppConfig.userId = +login_result.id;
            AppConfig.userProfile.userfullname = login_result.userinfo.fullname;
            AppConfig.account = login_result.userinfo.fullname;
            AppConfig.projectList = login_result.projects;
            AppConfig.userProfile = login_result.userProfile;
            AppConfig.userOfRole = login_result.userProfile.userOfRole;
            AppConfig.debugTool = login_result.debugTool;
            AppConfig.afterLogin = true;
            AppConfig.isFactory = 0;
            AppConfig.permission = login_result.permission;
            AppConfig.userConfig = login_result.config;
            window.AppConfig = AppConfig;
        }
    })({{ AppConfig | safe }}, window);
</script>
{% endblock %}