<div class="col-xs-12 vertical-roll">
    <div class="panel col-xs-offset-1 col-xs-10 workflow-container" id="workflow-efficiency"
         style="padding: 20px 50px 0 50px;">
        <div class="row" style="text-align: center;">
            <h1 class="col-xs-12"><span i18n="workflow.efficiency.TOTAL_TASK_EFFICIENCY_STATISTICS"></span></h1>
        </div>
        <div class="row" style="text-align: center;margin:5px 0 30px 0;">
            <button type="button" class="btn btn-default" id="thisMonth" i18n="workflow.efficiency.THIS_MONTH"></button>
            <button type="button" class="btn btn-success" id="cumulative" i18n="workflow.efficiency.TOTAL" style="cursor: default;"></button>
            <button type="button" class="btn btn-default" id="lastMonth" i18n="workflow.efficiency.LAST_MONTH"></button>
        </div>
        <div class="row workflow-efficiency-row" id="GroupStatics">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3"><div i18n="workflow.efficiency.GATHER_ALL;title=workflow.efficiency.GATHER_ALL" class="ellipsis" style="margin-left: 3px;"></div></div>
                            <div class="col-xs-2"><div i18n="workflow.efficiency.TOTAL_QUANTITY_OF_TASK_2;title=workflow.efficiency.TOTAL_QUANTITY_OF_TASK_2" class="ellipsis"></div></div>
                            <div class="col-xs-2"><div i18n="workflow.efficiency.DELAY_QUANTITY_OF_TASK_2;title=workflow.efficiency.DELAY_QUANTITY_OF_TASK_2" class="ellipsis"></div></div>
                            <div class="col-xs-2"><div i18n="workflow.efficiency.DELAY_RATE_2;title=workflow.efficiency.DELAY_RATE_2" class="ellipsis"></div></div>
                            <div class="col-xs-2"></div>
                        </div>
                    </div>
                    <div class="panel-body workflow-efficiency-table-body" id="divGroupStatics">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>