.diagnosisItemPanel {
  width: 100%;
  height: 100%;
}
.leftCtn {
  width: 200px;
  height: 100%;
  float: left;
}
.rightCtn {
  width: calc(100% - 200px);
  height: 100%;
  float: left;
}
.btnGroup {
  height: 34px;
  border-top: 1px solid #edeeef;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.btnGroup button {
  width: 40px;
  background-color: #f2f2f2;
  border: 1px solid #e8e8e8;
  line-height: 20px;
}
.itemsList {
  width: 100%;
  height: calc(100% - 33px);
  padding: 15px;
}
.itemsList > div {
  height: 20px;
  border-radius: 10px;
  font-size: 12px;
  padding-left: 4px;
}
.itemsList > div > div {
  width: 20px;
  font-size: 12px;
}
.singleItem,
.newEmpty {
  color: #666666;
  border: 1px solid #e8e8e8;
  padding: 10px 6px;
  margin-top: 10px;
  position: relative;
}
.singleItem.selected {
  background-color: #f2f2f2;
}
.singleItem .btns {
  position: absolute;
  right: 6px;
  top: 4px;
}
.singleItem .btns i {
  margin-left: 4px;
}
.singleItem .singleInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
}
.singleItem li > * {
  display: inline-block;
}
.singleItem label {
  width: 56px;
  text-align: right;
}
.singleItem span {
  width: calc(100% - 56px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.whiteBlock {
  width: 100%;
  height: 33px;
}
.editInfoCtn {
  padding: 20px;
  height: calc(100% - 33px);
  background-color: #f1f4f5;
}
.infoCtn {
  border: 1px solid #e8ebf4;
  background-color: #ffffff;
  height: 100%;
  padding: 15px;
}
