<style class="iGalleryModal">
    #iGalleryModal .btnClose{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 36px;
        height: 36px;
        line-height: 34px;
        vertical-align: middle;
        font-size: 30px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgba(255,255,255,0.4);
    }
    #iGalleryModal .btnClose:hover{
        color: #000;
        background-color: rgba(255,255,255,0.8);
        box-shadow: 0 0 8px 0px rgba(255, 255, 255,0.8);
    }
    .content{
        height: calc(100% - 110px);
        width: 100%;
        margin-top: 60px;
    }
    .modal-content {
        height: 100%;
    }
    .iGalleryWrap{
        height: 100%;
        display: flex;
        justify-content: center;
    }
    #iGalleryContent .iGalleryWrap{
        align-items: center;
    }
    .btnScan{
        cursor: pointer;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
        opacity: 0.6;
        border-radius: 50%;
        margin-right: 6px;
        margin-left: 6px;
        background-color: rgba(255,255,255,0.5);
    }
    .btnScan:hover{
        text-shadow: 0 0 3px #333;
        opacity: 1;
        background-color: rgba(255,255,255,0.56);
    }
    .btnScan .iconfont{
        font-size: 28px;
        line-height: 56px;
    }
    .contentWrap{
        width: 1200px;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
        padding: 20px 0;
        height: 690px;
    }
    .imgCurtInfo{
        display: flex;
    }
    .imgWrap{
        width: calc(100% - 260px);
        height: 626px;
        line-height: 626px;
    }
    .imgInfo{
        padding: 10px;
        width: 260px;
        text-align: left;
        background-color: rgba(100, 109, 144, 0.6);
    }
    .imgInfo .des{
        display: flex;
        height: 24px;
    }
    .imgInfo .spanLabel{
        opacity: .56;
        margin-right: 10px;
        width: 60px;
        display: inline-block;
        text-align: right;
    }
    .imgInfo .descript{
        opacity: .66;
        display: inline-block;
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #imgCurt{
        max-height: 100%;
        max-width: 100%;
    }
    .contentWrap .divTips{
        height: 24px;
        position: relative;
        opacity: 0.78;
    }
    #btnBack{
        position: absolute;
        left: 16px;
        top: -4px;
        cursor: pointer;
    }
    #btnDelete{
        position: absolute;
        right: 16px;
        top: -4px;
        cursor: pointer;
    }
    #albumWrap, #albumList{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .albumItem{
        padding: 10px;
        background-color: rgb(236, 236, 186);
        border-radius: 2px;
        position: relative;
        width: 280px;
        height: 220px;
        margin: 10px 15px;
        cursor: pointer;
    }
    .albumItem .albumImg{
        width: 100%;
        height: calc(100% - 20px);
    }
    .albumItem .name{
        margin-top: 5px;
        text-align: center;
    }
    .albumItem .albumImg img{
        width: 100%;
        height: 100%;
    }
    .albumItem .count{
        position: absolute;
        bottom: 30px;
        right: 20px;
        font-size: 24px;
        color: #fff;
        text-shadow: 0 0 3px #000;
        font-family: cursive;
    }

    #albumList .imgItem{
        padding: 10px;
        background-color: rgb(236, 236, 186);
        text-align: center;
        border-radius: 2px;
        position: relative;
        width: 280px;
        height: 240px;
        margin: 10px 15px;
        cursor: pointer;
        text-align: left;
        color: #888;
    }
    #albumList .imgItem .fileName{
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        margin-top: 4px;
    }
    #albumList .imgItem .albumImg{
        width: 100%;
        height: calc(100% - 40px);
    }
    #albumList .imgItem .albumImg img{
        width: 100%;
        height: 100%;
    }
    #albumList .imgItem .imgAlbumInfo .modifyTime{
        margin-left: 16px;
    }

    #albumList .imgItem .checkBox{
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: #aaa;
    }
    #albumList .imgItem.selected .checkBox{
        color: #ff8800;
    }
    .modal-header button{
        margin-left: 12px;
    }
    #iAlbumContent .modal-body{
        height:calc(100% - 60px);
        overflow-y: auto;
    }
    @media screen and (max-height: 768px) {
        .contentWrap{
            width: 840px;
        }
        #imgCurt{
            max-height: 560px;
        }
        #albumList .imgItem{
            width: 17.6%;
            height: 200px;
        }
    }
</style>
<div class="modal fade iGalleryModal" id="iAlbumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <span class="btnClose">&times;</span>
    <div class="modal-dialog modal-lg content" id="iAlbumContent">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <button type="button" class="close"><span class="iconfont hidden" id="btnBackAlbum">&#xe65e;</span></button>
                <button type="button" class="close"><span class="iconfont hidden" id="btnBatchEdit">&#xe7fb;</span></button>
                <button type="button" class="close"><span class="iconfont hidden" id="btnBatchDelete">&#xe712;</span></button>
                <button type="button" class="close"><span class="iconfont hidden" id="btnFinishEdit">&#xe7fd;</span></button>
                <h4 class="modal-title" id="albumTitle">图库</h4>
            </div>
            <div class="modal-body">
                <div class="iGalleryWrap" id="albumWrap"></div>
                <div class="iGalleryWrap hidden" id="albumList"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade iGalleryModal" id="iGalleryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <span class="btnClose">&times;</span>
    <div class="modal-dialog modal-lg content" id="iGalleryContent">
        <div class="iGalleryWrap">
            <div class="btnScan btnPrev"><span class="iconfont">&#xe7ec;</span></div>
            <div class="contentWrap">
                <div class="divTips"><span class="iconfont" id="btnBack">&#xe71c;</span><span class="tips"></span><span class="glyphicon glyphicon-trash" id="btnDelete"></span></div>
                <div class="imgCurtInfo">
                    <div class="imgWrap"><img class="" id="imgCurt" src="" onerror="onImgError(this);"/></div>
                    <div class="imgInfo">
                        <div class="des"><span class="spanLabel">图片名:</span><span class="descript imgName"></span></div>
                        <div class="des"><span class="spanLabel">修改人:</span><span class="descript modifier"></span></div>
                        <div class="des"><span class="spanLabel">修改时间:</span><span class="descript modifyTime"></span></div>
                        <div class="des"><span class="spanLabel">来源:</span><span class="descript from"></span></div>
                    </div>
                </div>
            </div>
            <div class="btnScan btnNext"><span class="iconfont">&#xe7ea;</span></div>
        </div>
    </div>
</div>

