<!DOCTYPE HTML>
<html>
<head>
    <style type="text/css">

    .content{
    	width: 700px;
    	margin: auto;
    }
	</style>
</head>
<body>
	<div class='content'>
		<p><strong>IP访问记录</strong></p>
		<table>
			
			{% for r in rv['ipcount'] %}
			<tr>
				<td>{{ r.ip }}:</td>
				<td>{{ r.count }}</td>
			</tr>
			{% endfor %}
		</table>

		<p><strong>页面类型访问排行</strong></p>
		<table>
			{% for r in rv['pagetype'] %}
			<tr>
				<td>{{ r._id }}</td>
				<td>{{ r.count }}</td>
			</tr>
			{% endfor %}
		</table>
		<p><strong>项目页面访问排行</strong></p>
		<table>
			{% for r in rv['projectpage'] %}
			<tr>
				<td>{{ r._id.projid }}/{{ r._id.pageid }}</td>
				<td>{{ r.count }}</td>
			</tr>
			{% endfor %}
		</table>
		<p><strong>登录次数统计</strong></p>
		<table>
			
			{% for r in rv['loginNum'] %}
			<tr>
				<td>{{ r.date }}:</td>
				<td>{{ r.count }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>