.clear::after {
  display: block;
  content: '';
  clear: both;
  width: 0;
  height: 1px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.checkbox {
  height: 24px;
}
.checkbox > label > div {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border-color: #ccc;
}
.checkbox:hover > label > div:global(.ms-Checkbox-checkbox) {
  border-color: #ccc;
}
.checkbox:global(.is-checked:hover) > label > div,
.checkbox:global(.is-checked) > label > div {
  background-color: #4c84ff;
}
.checkbox:hover > label > span:global(.ms-Checkbox-text),
.checkbox > label > span {
  font-size: 12px;
  color: #666;
}
.checkbox > label > div > i {
  font-size: 12px;
}
.checkbox label{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}


.EvaluateModulePanel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 24px;
}

.left-panel {
  width: 18%;
  height: 100%;
  border-right: 1px solid rgba(153, 153, 153, 0.3);
}
.right-panel {
  width: 82%;
  height: 100%;
  overflow-y: auto;
}
.left-panel > .title {
  width: 100%;
  line-height: 1;
  font-size: 20px;
  font-weight: 500;
  color: #1d1d1d;
  padding: 0 16px;
}
.methodsWrap {
  padding-top: 16px;
  padding-left: 16px;
  height: 50%;
  overflow-y: auto;
}
.methodsWrap > .title {
  width: 100%;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  color: #1d1d1d;
  padding: 0 0 0 8px;
  border-left: 4px solid #1d1d1d;
  font-weight: 600
}
.methodsWrap .item {
  margin-top: 8px;
  padding: 0 16px 0 0;
}
.datasetWrap {
  height: calc(50% - 20px);
  padding: 16px 16px 0 16px;
}

.right-panel .item {
  width: calc(100% - 32px);
  height: 448px;
  margin: 0 16px 16px;
  padding: 8px;
  border: 1px solid #eaeaea;
}
.right-panel .item .chartWrap{
  height: 400px;
  width: 440px;
}
.right-panel .item .infoWrap{
  width: calc(100% - 440px);
  height: 100%;
  padding: 16px;
}
.right-panel .item .infoWrap .info{
  width: 50%;
}
.right-panel .item .infoWrap .info .infoTitle{
  display: block;
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  color: #999999;
}
.right-panel .item .infoWrap .info .infoValue{
  display: block;
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
}