body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -ms-content-zooming: none;
    font-size: 12px;
    vertical-align: middle;
    overflow: hidden;
    font-family:'Helvetica','Microsoft YaHei';
}
#mainframe, #thermalComfort{
    width: 100%;
    height: 100%;
}
.thermalComfort_nav{
    width: 240px;
    height: 100%;
    float: left;
    background: #2d333c;
    color: #ccc;
}
.thermalComfort_content{
    width: calc(100% - 240px);
    height: 100%;
    margin-left: 240px;
    background: rgb(241,244,251);
}
.thermalComfort_item{
    width: 100%;
    height: 64px;
    background: #ffffff;
    color: #354052;
    box-shadow:0 2px 4px 0 rgba(191,193,201,0.50);
}
.thermalComfort_info{
    width: 100%;
    height: calc(100% - 64px);
}
.thermalComfort_scroll::-webkit-scrollbar{
    width: 10px;
}
.thermalComfort_scroll::-webkit-scrollbar-thumb{
    background-color: #DFE1E6;
}
.thermalComfort_scroll::-webkit-scrollbar-track{
    background-color: #EFF1F5;
}
/*左侧导航 start*/
.thermalComfort_nav .timeTop{
    height: 64px;
    background:#4c8be4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.thermalComfort_nav .timeTop span{
    font-size: 16px;
}
.thermalComfort_nav .timeTop #pickerWrap{
    display: inline-block;
    width: 100%;
    line-height: 28px;
}
.thermalComfort_nav .timeTop #picker{
    display: inline-block;
    font-size: 12px;
    height: 28px;
    border: none;
    padding: 0px;
    width: calc(100% - 20px);
    line-height: 28px;
    text-align: left;
    color: #ffffff;
    border-radius: 4px;
    border-color: transparent;
    outline: none;
    background: transparent;
    transition: all 0.25s;
}
.thermalComfort_nav .timeTop #picker.active{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    background: #fff;
}
.thermalComfort_nav .timeTop #picker+label{
    width: auto;
    height: auto;
    float: right;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    margin-top: 7px;
    cursor: pointer;
}
.thermalComfort_nav .selectTime{
    width: 160px;
}
.thermalComfort_nav  .treeCtn{
    height: calc(100% - 64px);
}
.thermalComfort_nav  .treeCtn .treeTitle{
    background: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}
.thermalComfort_nav  .treeTitle .iconBox span{
    padding: 0 2px;
}

.thermalComfort_nav .itemHead{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 30px 0 12px;
    background-color: #272b31;
    color: #c6d5f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    background: #1e232b;
}
.thermalComfort_nav .iconCtn span{
    font-size: 12px;
    text-align: center;
    width: 30px;
    display: inline-block;
}
.thermalComfort_nav .itemList{
    list-style: none;
    font-size: 12px;
    height: calc( 100% - 30px );
    overflow-y: auto; 
    background-color: #2d333c;
    padding: 0;
}
.thermalComfort_nav .itemList::-webkit-scrollbar{
    width: 6px;
}
.thermalComfort_nav .itemList::-webkit-scrollbar-thumb{
    background-color: rgb(60, 68, 80);
}
.thermalComfort_nav .itemList::-webkit-scrollbar-track{
    background-color: rgb(53, 60, 72);
}
/*ztree*/
.thermalComfort_nav .itemList li{
    position: relative;
}
.thermalComfort_nav .itemList li ul{
    padding: 0;
}
.thermalComfort_nav .itemList li span.itemEnd{
    text-align: center;
    width: 30px;
}
.thermalComfort_nav .itemList li span.button.switch{
    width: auto;
    height: auto;
    position: absolute;
    right: 20px;
    top: 8px;
    z-index: 999;
    color: #cacaca;
    transition: all 0.5s;
}
.thermalComfort_nav .itemList li a{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #808797;
    padding: 0 40px 0 12.25px;
    border-bottom: 1px solid rgba(88,88,88,.1);
    border-left: none;
    border-right: none;
    border-top: none;
}
.thermalComfort_nav .itemList li a:hover{
    background: #323A46;
    color: #fff;
    text-decoration: none;
}
.thermalComfort_nav .itemList li a:hover span.iconfont,
.thermalComfort_nav .itemList li a.curSelectedNode span.iconfont{
    color: #fff;
}
.thermalComfort_nav .itemList li a.curSelectedNode{
    background: #323A46;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(88,88,88,.1);
    border-left: 3px solid #4c8be4;
}
.thermalComfort_nav .itemList li a span{
    display: inline-block;
    width: calc( 100% - 75px);
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-right: 0;
}
.thermalComfort_nav .itemList li a span.iconfont ,
.thermalComfort_nav .itemList li span.button.noline_open,
.thermalComfort_nav .itemList li span.button.noline_close{
    width: auto;
    height: auto;
    font-size: 11px;
    line-height: 1;
    color: #808797;
    background: none;
    font-family: 'Glyphicons Halflings';
    margin-top: 6px;
}
.thermalComfort_nav .itemList li a span.iconfont{
    float: left;
    margin: 15.5px 8px 0 0;
}
.thermalComfort_nav .itemList li a span.icon-gailan{
    font-size: 14px;
}
.thermalComfort_nav .itemList li span.button.noline_close::before{
    content: "\e259";
}
.thermalComfort_nav .itemList li span.button.noline_open::before{
    content: "\e260";
}
.thermalComfort_nav .itemList li li a{
    padding-left: 34px;
}
.thermalComfort_nav .itemList li li li a{
    padding-left: 56px;
}
.thermalComfort_nav .itemList li li li li a{
    padding-left: 78px;
}
.thermalComfort_nav .itemList li li li li li a{
    padding-left: 100px;
}
/*ztree end*/
/*左侧导航 end*/
/*右侧导航 start*/
.thermalComfort_item ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}
.thermalComfort_item li{
    padding: 0 20px;
    font-size: 14px;
    line-height: 64px;
    float: left;
    cursor: pointer;
}
.thermalComfort_item li.active{
    background: #f1f3f7;
    color: #006adb;
}
/*右侧导航 end*/

/*monthly begin*/
.monthlyContainer{
        width: 100%;
        height: 100%;
        padding: 10px;
}
.monthlyTop{
        width: 100%;
        height: 25px;
}
.monthlyMain{
        width: 100%;
        height: calc(100% - 45px);
        position: relative;
}
.errorModal{
    /*position: absolute;*/
    width: 300px;
    height: 100px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -50px;
    transform:translateY(-50%);
    display: none;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.25);
}
.monthlyBox{
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow:0 4px 5px 0 rgba(191,193,201,0.50);
}
/*monthly end*/
/*关联故障 start*/
.thermalComfort_info .associatedFaultsCtn{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
}
.thermalComfort_info .associatedFaultsCtn .tableCtn{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 4px 6px 0 rgba(191,193,201,0.50);
    background: #ffffff;
}
.faultDetailPanel{
    width: 100%;
    height: 270px;
    margin-top: 10px;
    display: none;
    background: #ffffff;
}
.thermalComfort_info .associatedFaultsCtn table{
    width: 100%;
    background:#ffffff;
    color: #596473;
}
.associatedFaultsCtn table thead{
    background:#d1e6ff;
    font-size:14px;
    color:#354052;
}
.associatedFaultsCtn table tr{
    cursor: pointer;
}
.associatedFaultsCtn table tr:nth-child(2n){
    background: #f1f3f7;
}
.associatedFaultsCtn table tr.selected{
    background: #B5D7FF;
    color: #354052;
}
.associatedFaultsCtn table td{
    height: 40px;
    padding: 0 10px;
}
/*关联故障 end*/
/*diagnosisFaultDetailPanel start*/
#faultDetailPanel{
    height: 280px;
    background-color: #1C1E22;
    font-size: 12px;
    position: relative;
}
#diagnosisFaultDetailPanelContent{
    height: 100%;
    position: relative;
    box-shadow: 0 4px 6px 0 rgba(191,193,201,0.50);
}
#diagnosisFaultDetailPanelContent .pTitle{
    color: #45abff;
}
#diagnosisFaultDetailPanelContent .faultNumbers,#diagnosisFaultDetailPanelContent .savingMoney,#diagnosisFaultDetailPanelContent .time,#diagnosisFaultDetailPanelContent .faultDetail{
    color: #596473;
}
#faultSelect{
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    padding: 6px;
}
#diagnosisFaultDetailPanelContent .divFault{
    margin: 10px 0;
}
#diagnosisFaultDetailPanelContent .divFaultInfo{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#diagnosisFaultDetailPanelContent .divFaultInfo .divFaultNumbers{
    padding-left: 0;
}
#leftFaultDetailPanel,#rightFaultDetailPanel{
    height: 100%;
}
#btnClose{
    position: absolute;
    right: 16px;
    top: 5px;
    color: #aaa;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    background-color: rgba(170, 170, 170, 0.18);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}
/*diagnosisFaultDetailPanel end*/

/*温度 start*/
#temperature_trend {
    height: calc(100% - 20px);
    width: auto;
    position: relative;
    margin: 10px;
}

#temperature_trend .thermalComfort_sensor {
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    color: #666666;
    background: #FFffff;
    box-shadow: 0 0 5px rgba(191,193,201,0.50);
    border-radius: 2px;
}

#temperature_trend .thermalComfort_trend_map {
    width: auto;
    height: 100%;
    margin-left: 270px;
    padding-top: 25px;
    box-shadow: 0 0 5px rgba(191,193,201,0.50);
    background: #ffffff !important;
    border-radius: 2px;
}

#temperature_trend .sensor-container {
    margin-left: 25px;
    height: calc(100% - 80px);
    overflow: auto;
}

#temperature_trend .sensor-container .checkbox {
    overflow: hidden;
}

#temperature_trend .sensor-container input {
    cursor: pointer;
}

#temperature_trend .sensor-container .sensorName {
    vertical-align: sub;
    vertical-align: -webkit-baseline-middle;
    max-width: 140px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

#temperature_trend .tooltips-container {
    height: 30px;
    position: absolute;
    z-index: 10;
    text-align: center;
    line-height: 30px;
    bottom: 15px;
    overflow: hidden;
    width: 100%;
}

#temperature_trend .sensor-container label {
    display: inline;
    float: left;
}

#temperature_trend .sensor-container label.hotSensor {
    color: rgb(201, 75, 48);
}

#temperature_trend .sensor-container label.coolSensor {
    color: rgb(54, 117, 246);
}

#temperature_trend .sensor-container .sensor-temperature {
    display: inline-block;
    width: 55px;
    color: #666666;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    background: #ffffff;
    padding: 3px 9px;
    float: right;
    text-align: center;
}

#temperature_trend .sensor-container label.hotSensor+.sensor-temperature {
    background: rgb(201, 75, 48);
    color: #ffffff;
}

#temperature_trend .sensor-container label.coolSensor+.sensor-temperature {
    background: rgb(54, 117, 246);
    color: #ffffff;
}

#temperature_trend .tooltips-container .tooltips {
    display: inline-block;
    overflow: hidden;
}

#temperature_trend .tooltips .tooltip-pic {
    width: 30px;
    height: 13px;
    display: inline-block;
    border-radius: 2px;
}

#temperature_trend  .tooltip-pic-hot .tooltip-pic {
    background: rgb(201, 75, 48);
}

#temperature_trend  .tooltip-pic-cool .tooltip-pic {
    background: rgb(54, 117, 246);
}

#temperature_trend .tooltips .tooltip-text {
    display: inline-block;
    font-size: 14px;
}

#temperature_trend .tooltips:first-child {
    margin-right: 7px;
}

/*#temperature_trend .sensor-container .checkbox:first-child {
    margin-left: -20px;
}*/

/*温度 end*/