<div id="importDataBox">
    <div id="divUploadWrap">
        <h3><span i18n="dataManage.IMPORT_YOUR_PROJECT_DATA"></span><strong id="stPjName"></strong>)</h3>

        <div class="upload-wrap">
            <div class="form-group has-feedback">
                <label class="control-label" for="iptPjData"
                       i18n="admin.projectCreator.PANE2_FORM_ITEM1_LABEL"></label>
                <input type="file" accept=".csv,.xls,.xlsx" id="iptPjData" multiple="multiple"
                       style="display:none;">

                <div>
                    <button type="button" class="btn btn-primary" id="btnUploadCSV">
                        <span i18n="admin.projectCreator.PANE2_FORM_ITEM1_TITLE"></span>
                        <span class="glyphicon glyphicon-upload"></span>
                    </button>
                        <span class="text-muted" id="spUploadInfo"
                              i18n="admin.projectCreator.PANE2_FORM_ITEM1_TIP1"></span>
                </div>
                <span class="help-block" i18n="admin.projectCreator.PANE2_FORM_ITEM1_TIP2"></span>
            </div>
            <div class="drop-handler" id="divPjDataDropHandler" style="display:none;">
                <p i18n="dataManage.DRAG_TIP"></p>
            </div>
        </div>
        <div class="tb-wrap">
            <div class="tb-head clearfix">
                <h3 i18n="admin.projectCreator.PANE2_TABLE_TITLE"></h3>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>Date</th>
                    <th>PointName1</th>
                    <th>PointName2</th>
                    <th>PointName3</th>
                </tr>
                <tr>
                    <td>2014-05-01 1:00</td>
                    <td>0.544533</td>
                    <td>0.412343</td>
                    <td>0.112314</td>
                </tr>
                <tr>
                    <td>2014-05-01 2:00</td>
                    <td>0.987917</td>
                    <td>0.312334</td>
                    <td>0.534956</td>
                </tr>
                <tr>
                    <td>2014-05-01 3:00</td>
                    <td>0.124133</td>
                    <td>0.132311</td>
                    <td>0.543534</td>
                </tr>
                <tr>
                    <td>2014-05-01 4:00</td>
                    <td>0.987978</td>
                    <td>0.543534</td>
                    <td>0.867867</td>
                </tr>
                <tr>
                    <td>2014-05-01 5:00</td>
                    <td>0.123432</td>
                    <td>0.321543</td>
                    <td>0.645645</td>
                </tr>
                <tr>
                    <td>2014-05-01 6:00</td>
                    <td>0.757531</td>
                    <td>0.414752</td>
                    <td>0.555123</td>
                </tr>
            </table>
        </div>
        <div class="div-actions">
            <button type="button" class="btn btn-primary" id="btnConfirmUpload" disabled="disabled"
                    i18n="dataManage.CONFIRM_UPLOAD"></button>
        </div>
    </div>
</div>
<div id="uploadMask" style="display:none;"></div>