.excelImportAnalysisPanel {
  width: 100%;
  height: 100%;
}
.leftCtn {
  width: 200px;
  height: 100%;
  float: left;
  font-size: 10px;
  color: #666;
  margin-top: 20px;
  border-right: 1px solid rgba(153, 153, 153, 0.3);
}
.rightCtn {
  width: calc(100% - 200px);
  height: 100%;
  float: right;
}
.panelTitle {
  text-align: left;
  color: #1d1d1d;
  padding-left: 16px;
}
.panelTitle span {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.leftCtn .body {
  height: calc(100% - 200px);
  padding: 16px;
  border-bottom: 1px solid rgba(153, 153, 153, .15);
}
.importButton {
  position: relative;
}
.importButton input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 32px;
  width: 100%;
  z-index: 1;
}
.importButton button {
  border: 1px solid #cccccc;
}
.leftCtn .footer {
  height: 200px;
  padding: 16px;
}
.leftCtn .footer .title {
  width: 100%;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  color: #1d1d1d;
  padding: 0 0 0 8px;
  border-left: 4px solid #1d1d1d;
  font-weight: 600
}
.leftCtn .footer .fileInfo {
  height: calc(100% - 16px);
  padding-left: 12px;
}
.leftCtn .footer .fileInfo > div {
  padding: 0 6px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.leftCtn .footer .fileInfo > div label {
  width: 60px;
}
.leftCtn .footer .fileInfo > div span {
  width: calc(100% - 60px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rightCtn {
  padding: 16px;
}
.rightCtn .buttonCtn {
  height: 60px;
}
.rightCtn .tableCtn {
  height: calc(100% - 60px);
}
.rightCtn .tableCtn .tableBody > .isNoneCtn{
  height: 100px;
  justify-content: center;
}
.rightCtn .tableCtn > div {
  border: 1px solid #cccccc;
  height: 100%;
}
.singleTime {
  width: 150px;
  border-right: 1px solid #cccccc;
  line-height: 26px;
  text-align: center;
}
.singleData {
  width: calc(100% - 150px);
}
.tableBody{
  height: calc(100% - 54px);
  overflow-y: auto;
  overflow-x: hidden;
}
.tableHeader > div,
.tableBody > div,
.singleData {
  display: flex;
  align-items: center;
}
.tableHeader > div,
.tableBody > div {
  border-bottom: 1px solid #cccccc;
}
.singleData > div {
  line-height: 26px;
  border-right: 1px solid #cccccc;
  text-align: center;
}
.singleData > div:last-child {
  border-right: none;
}
.singleData > div input {
  padding: 2px 4px;
}
