<style>
    .divWrap{
        padding: 5rem 3rem;
    }
    #btnChangeAvatar{
        position: absolute;
        right: 0;
        top: 1.5rem;
        width: 3rem;
        height: 44px;
        color: #fff;
    }
    .divWrap #bigAvatar{
        width: 100%;
    }
    .divWrap #divButtons{
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
    }
    .divWrap #divButtons > .btn{
        display: block;
        border-left: none;
        border-right: none;
        border-radius: 0;
        border-bottom: none;
        padding: 1.2rem;
    }
    .divWrap #divButtons > .btn:hover, .divWrap #divButtons > .btn:focus, .divWrap #divButtons > .btn:active{
        background-color: rgba(170,170,170,0.8);
    }
    #divButtons{
        display: none;
    }
    #wrapImgCut{
        display: none;
        position: relative;
    }

    /*裁剪图片*/
    #clipArea {
		margin: 20px;
		height: 300px;
	}
	#clipBtn {
        position: absolute;
        top: -6.6rem;
        right: -2rem;
	}
	#view {
		display: none;
	}
</style>
<div class="divWrap" id="divAvatar">
    <div>
        <img src="https://beopweb.oss-cn-hangzhou.aliyuncs.com/static/images/avatar/default/7.png" id="bigAvatar"/>
    </div>

    <div class="img_a" id="wrapImgCut">
        <div id="clipArea"></div>
		<input type="file" id="file" style="display: none;">
		<button class="btn btn-success" id="clipBtn">截取</button>
		<div id="view"></div>
    </div>

    <div id="divButtons">
        <div class="btn btn-default" id="btnSelectFromAlbum">从手机相册选择</div>
        <div class="btn btn-default" id="btnCancelChange" style="margin-top: 5px">取消</div>
    </div>
</div>