<style>
    .divUserPic{
        width: 5rem;
        height: 5rem;
        margin: auto;
        border: 3px solid rgb(238, 238, 238);
        border-radius: 50%;
        position: absolute;
        right: 3rem;
    }
    .divUserPic img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px inset rgba(136, 136, 136, 0.33);
    }
    #personalCenter .divUserPic.noEdit {
        display: inline-block;    
    }
    .list-group .listBorder{
        padding: 1.5rem;
    }
    .list-group .listBorder > div{
        display: inline-block;
        margin-left: 1rem;
    }
    .list-group .listBorder > div input{
        display: inline-block;
    }
    #divSex .divSexItem {
        width: auto;
        text-align: center;
        display: inline-block;
    }
    #divSex .selected .glyphicon{
        color: #ff8800;
    }
    #divAvatar{
        height: 9rem;
    }
    #personalCenter .opt-title {
        width: 3rem;
        margin-left: 5px;
    }
    #divAvatar .opt-title{
        position: absolute;
        top: 5rem;
    }
    #personalCenter .noEdit {
        display: none;
    }
    #personalCenter .list-group .listBorder > div input.noEdit {
        display: inline-block;
        width: 120%;
        background: transparent;
        border: none;
        color: #fff;
    }
    #personalCenter .sex {
        display: none;
    }
    #personalCenter .sex.noEdit {
        display: inline-block;
    }
    #btnEdit {
        text-align: center;
        font-size: 2.2rem;
        border-radius: 3rem;
        width: 80%;
        padding: 0.5rem;
        position: fixed;
        bottom: 0;
        left: 10%;
        cursor: pointer;
    }
    #btnEdit.down {
        position: static;
        margin-left: 10%;
    }
    #btnEdit button {
        background: #f3b145;
        color: rgb(70, 70, 70);
        border: none;
    }
</style>

<div id="personalCenter">
    <div class="list-group">
        <div class="listBorder" id="divAvatar">
            <div class="opt-title" i18n="admin.personalCenter.AVATAR">头像</div>
            <div class="divUserPic info-edit noEdit">
                <img class="imgUser" src="https://beopweb.oss-cn-hangzhou.aliyuncs.com/static/images/avatar/default/7.png">
            </div>
        </div>
        <div class="listBorder" id="divSex">
            <div class="opt-title" i18n="admin.personalCenter.SEX">Sex</div>
            <div class="" style="width: 80%;padding: 6px 12px;">
                <div class="sex info-edit noEdit"></div>
                <div class="divSexItem info-edit noEdit" data-value="1">
                    <span class="glyphicon glyphicon-ok-sign sexList optionActive" data-value="1"></span><span i18n="admin.index.MAN">男</span>
                </div>
                <div class="divSexItem info-edit noEdit" data-value="0" style="margin-left: 1rem">
                    <span class="glyphicon glyphicon-ok-sign sexList sexGirl" data-value="0"></span><span i18n="admin.index.WOMEN">女</span>
                </div>
            </div>
        </div>
        <div class="listBorder">
            <div class="opt-title" i18n="admin.personalCenter.PHONE_NUM">Phone number</div>
            <div class="" style="width: 64%">
                <input type="text" class="form-control info-edit noEdit" id="iptPhoneNum" disabled/>
            </div>
            <div id="btnEditPhone" class="glyphicon glyphicon-edit info-edit noEdit"></div>
        </div>
        <div class="listBorder" id="">
            <div class="opt-title" i18n="admin.personalCenter.EMAIL">email</div>
            <div class="" style="width: 64%">
                <input type="text" class="form-control info-edit noEdit" id="iptEmail" disabled placeholder="example.beop@163.com"/>
            </div>
            <div class="glyphicon glyphicon-edit btnEdit info-edit noEdit"></div>
            <div class="glyphicon glyphicon-remove hidden" style="margin-left: 0.5rem;"></div>
        </div>
        <div id="btnEdit" class="edit">
            <button type="button" class="btn btn-primary btn-lg btn-block" i18n="admin.personalCenter.EDIT"></button>
        </div>
    </div>
</div>