<style>
    .cloudRevert {
        color: #0077ee;
        cursor: pointer;
    }

    .cloudDetail {
        padding-right: 10px;
        color: #0077ee;
        cursor: pointer;
    }

    .version-body-top {
        min-height: 30px;
    }

    #version-modal-left {
        width: 50%;
        height: 100%;
        float: left;
        border-right: 1px solid #ddd;
    }

    #version-modal-right {
        width: 50%;
        height: 100%;
        float: left;
    }

    #version-calc-content {
        width: 100%
    }

    .modal-dialog {
        width: 1000px;
    }

    #versionDetailModal .modal-content {
        background: #fff;
    }

    #version-modal-body {
        padding: 0 10px;
        height: 100%;
        background: #FAFAFA;
        border: 1px solid #F1F1F1;
    }

    #versionDetailModal .modeal-header {
        border-color: #F2F2F2;
    }

    #versionDetailModal .modal-header {
        height: 50px;
    }

    #versionDetailModal .modal-footer {
        height: calc(15% - 50px);
        width: 100%;
        background: #FAFAFA;
    }

    #versionDetailModal .modal-body {
        padding: 15px 15px 0 15px;
    }

    .version_body_title {
        padding: 10px;
        font-weight: bold;
        border-bottom: 1px solid #F0F0F0;
    }

    .pd10 {
        padding: 10px 10px 0 10px;
    }

    @media (max-width: 1366px) {
        #versionDetailModal .modal-content {
            height: 85vh !important;
        }
    }

</style>
<table class="wf-table wf-reply-table" id="version-table"></table>
<div class="modal fade gray-scrollbar" id="versionDetailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin-top:100px; height:70vh;">
            <div class="modal-header clearfix">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" i18n="workflow.team.POINT_CONTRAST"></h4>
            </div>
            <div class="modal-body  gray-scrollbar" style="height:85%;background:#fff; overflow:auto;">
                <div id="version-modal-body">
                    <div class="version-body-top clearfix">
                        <div id="version-modal-left"></div>
                        <div id="version-modal-right"></div>
                    </div>
                    <div id="version-calc-content"></div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<!--@formatter:off-->
<script type="text/html" id="tpl_version_body">
    <tbody>
    <!for(var n = 0,nLen = versions.length; n < nLen; n++){!>
        <!var version = versions[n]; userInfo = version.modify_by || {};!>
    <!!>
        <tr>
            <td class="vt">
                <dl class="pr wf-detail-userInfo"
                    title="<!=userInfo.userfullname +'\n' +(userInfo.useremail && userInfo.useremail!='undefined' ? userInfo.useremail : '')!>">
                    <dt class="wf-detail-userPic">
                        <img src="<!=userInfo.userpic!>" class="wf-person-pic">
                    </dt>
                    <dd class="pa wf-detail-userName ellipsis dn">
                        <!=userInfo.userfullname!>
                    </dd>
                </dl>
                <div class="wf-reply-info-content fl" style="width: 80%">
                    <div class="wf-reply-user-name"><!=userInfo.userfullname!>
                        <!if(n != nLen - 1){!>
                            <span style="color: black"><!=I18n.resource.workflow.team.MODIFIED_POINT!></span>
                        <!}else{!>
                            <span style="color: black"><!=I18n.resource.workflow.team.CREATE_POINT!></span>
                        <!}!>
                    </div>
                    <div class="wf-reply-time" title="<!=version.modify_time!>">
                        <!var language = localStorage.getItem("language");!>
                        <!moment.locale(language);!>
                        <!var modifyTime = moment(version.modify_time);!>
                        <!if(modifyTime.diff(new Date, 'days') < 5){!>
                            <!=modifyTime.fromNow()!>
                        <!}else{!>
                            <!=version.modify_time!>
                        <!}!>
                    </div>
                </div>
                <!if(n != 0){!>
                <span class="pull-right cloudRevert" data-version-id="<!=version.id!>"><!=I18n.resource.workflow.team.BACK_THIS_VERSION!></span>
                <!}!>
                <!if(n != nLen - 1){!>
                <span class="pull-right cloudDetail" data-version-id="<!=version.id!>" data-last-id="<!=versions[n + 1].id!>">
                    <!=I18n.resource.workflow.team.VIEW!>
                </span>
                <!}else{!>
                <span class="pull-right cloudDetail" data-version-id="<!=version.id!>"><!=I18n.resource.workflow.team.VIEW!></span>
                <!}!>
            </td>
        </tr>
    <!}!>
    </tbody>
</script>
<script type="text/html" id="tpl_version_modal_body">
    <div class="version_body_title">
        <!if(point.isLastVersion){!>
            <!=I18n.resource.workflow.team.BEFORE!>
        <!}else{!>
            <!=I18n.resource.workflow.team.AFTER!>
        <!}!>
    </div>
    <div class="pd10">
        <span i18n="debugTools.sitePoint.CLOUD_POINT"></span>
        <span>: <!=point ? point.value : ''!></span>
    </div>

    <div class="pd10">
        <span i18n="debugTools.sitePoint.NOTE"></span>
        <span>: <!=point ? point.alias : ''!></span>
    </div>
    <!if(point.params){!>
        <!if(point.params.flag == 1){!>
        <div class="pd10">
            <span i18n="debugTools.sitePoint.POINT_VALUE"></span>
            <span>: <!=point ? point.pointValue : ""!></span>
        </div>
        <!}else if(point.params.flag == 0){!>
        <div class="pd10">
            <span i18n="debugTools.sheetHeaders.MAPPING_POINT"></span>
            <span>: <!=(point && point.params.mapping) ? point.params.mapping.point: ''!></span>
        </div>
        <!}!>
    <!}!>
</script>
<!--@formatter:on-->
