<style>
    .flatPanel {
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        background: rgb(247, 248, 250);
    }

    .flatSinglePanel {
        width: 50%;
        height: 50%;
        display: inline-block;
        box-sizing: border-box;
        float: left;
        padding: 10px;
    }

    .blockPanel {
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        box-sizing: border-box;
        border-radius: 1px;
        padding: 30px 35px;
        box-shadow: 0 4px 6px 0 rgba(191, 193, 201, 0.50)
    }

    .panelBottomLine {
        margin-bottom: 20px;
        width: 14px;
        height: 30px;
        border-radius: 0 0 7px 7px;
        background: rgb(25, 208, 242);
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(144, 254, 158)), to(rgb(25, 208, 242)));
    }

    .panelNameTitle {
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 5px;
        font-weight: bold;
        color: rgb(72, 150, 255)
    }



    .panelContentContainer {
        height: calc(100% - 28px);
        overflow: hidden;
    }

    .checkboxPanel {
        color: rgb(36, 37, 41);
        font-size: 16px;
        font-weight: lighter;
        /*white-space: nowrap;*/
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        min-height: 3em;
    }

    .checkboxRow {
        width: 50%;
        float: left;
        height: 24%;
        position: relative;
        top: 40%;
        transform: translateY(-60%);
    }

    .fontCircle {
        width: 16px;
        height: 16px;
        background-color: white;
        color: black;
        text-align: center;
        border-radius: 16px;
        border: 1px rgb(211, 211, 211) solid;
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    .fontCircleNo:hover {
        cursor: not-allowed;
    }

    .checkboxPanelNo:hover {
        cursor: not-allowed;
    }

    .fontCircleNo {
        -webkit-font-smoothing: antialiased;
    }

    .checkCircle {
        /*color: rgb(85, 184, 120);*/
        color: rgb(72, 150, 255);
        font-size: 18px;
    }

    .introduction {
        display: block;
        color: #999;
        font-weight: lighter;
        font-size: 12px;
        margin-top: 0;
    }

    .checkboxRow .introduction {
        margin-left: 31px;
        margin-top: 0;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .checkboxPanel {
        margin-bottom: 0;
    }

    .checkboxRow {
        float: none;
        top: 0;
        width: 100%;
        height: auto;
        transform: translateY(0);
        cursor: pointer;
        z-index: 1000;
    }

    .blockPanel {
        padding: 0 0;
    }

    .headWrap {
        padding: 0px 30px 0 30px;
    }

    .panelNameTitleContainer {
        height: 115px;
        border-bottom: 1px solid rgb(228, 228, 228);
        cursor: pointer;
    }

    .panelContentContainer {
        height: calc(100% - 115px);
        overflow: auto;
        padding: 20px 30px 0 30px;
    }

    .fontCircle {
        width: 18px;
        height: 18px;
    }

    .notCheckCircle {
        font-size: 16px;
        color: #ccc;
    }

    .checkCircle {
        font-size: 16px;
    }

    .fontCircleNo {
        color: #e5e5e5;
    }


    @-webkit-keyframes hvr-wobble-horizontal {
        16.65% {
            -webkit-transform: translateX(8px);
            transform: translateX(8px);
        }
        33.3% {
            -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
        }
        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }
        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }
        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    @keyframes hvr-wobble-horizontal {
        16.65% {
            -webkit-transform: translateX(8px);
            transform: translateX(8px);
        }
        33.3% {
            -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
        }
        49.95% {
            -webkit-transform: translateX(4px);
            transform: translateX(4px);
        }
        66.6% {
            -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
        }
        83.25% {
            -webkit-transform: translateX(1px);
            transform: translateX(1px);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }

    .hvr-wobble-horizontal {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
    }

    .hvr-wobble-horizontal:hover,
    .hvr-wobble-horizontal:focus,
    .hvr-wobble-horizontal:active {
        -webkit-animation-name: hvr-wobble-horizontal;
        animation-name: hvr-wobble-horizontal;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
 .flatPanel .gray-scrollbar::-webkit-scrollbar-thumb{
     background-color: #e5e5e5;
 }
 .flatPanel .gray-scrollbar::-webkit-scrollbar-track{
         -webkit-box-shadow: none;
 }
</style>



<body>
    <div class="flatPanel">
        <div class="flatSinglePanel">
            <div class="blockPanel">
                <div class="headWrap">
                    <div class="panelNameTitleContainer" title=" Get access to your data with the platform." href="http://beop.rnbtech.com.hk/observer#page=ModBusInterface&projectId=619">
                        <div class="panelBottomLine"></div>
                        <div class="panelNameTitle">Connection</div>
                        <label class="introduction">Get access to your data with the platform.</label>
                    </div>
                </div>
                <div class="panelContentContainer gray-scrollbar">
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/observer#page=ModBusInterface&projectId=619"
                        title="'Data terminal'  module makes the platform easier to connect to complex datasource with the following ways, such as Modbus, Obix, Excel, DB…">
                        <label class="checkboxPanel"><i class=" iconfont icon-wenjianjia-2 checkCircle" ></i><input class="" style="opacity:0"  type="checkbox"  checked="checked"/><span class="projectTitleSpan" >Data terminal</span> <span class="introduction" >"Data terminal"  module makes the platform easier to connect to complex datasource with the following ways, such as Modbus, Obix, Excel, DB…</span></label>
                    </div>
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/observer#page=PointManagerRealTimeData&projectId=575"
                        title="Check out the raw data has been imported, and the realtime data will be displayed on the platform.">
                        <label class="checkboxPanel"><i class="iconfont icon-weigouxuan notCheckCircle"></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Check Raw Data</span><span class="introduction">Check out the raw data has been imported, and the realtime data will be displayed on the platform.</span></label>
                    </div>
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/observer#page=workflow&type=transaction&subType=workingTask"
                        title="As a bridge between teams and platform, work order system makes it more convenient to track, share and slove problems.">
                        <label class="checkboxPanel"><i class="iconfont icon-weigouxuan notCheckCircle fontCircleNo"></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Get the team</span><span class="introduction">As a bridge between teams and platform, work order system makes it more convenient to track, share and slove problems.</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="flatSinglePanel">
            <div class="blockPanel">
                <div class="headWrap">
                    <div class="panelNameTitleContainer" title="The original data is chaotic and messy, which needs to be handled before using it." href="http://beop.rnbtech.com.hk/observer#page=PointManagerCloudPoint&pointType=0&projectId=575">
                        <div class="panelBottomLine"></div>
                        <div class="panelNameTitle">Pre-handling</div>
                        <label class="introduction">The original data is chaotic and messy, which needs to be handled before using it.</label>
                    </div>
                </div>
                <div class="panelContentContainer gray-scrollbar">
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/observer#page=DmTagTreeEdit&projectId=575"
                        title="Firstly, we can use data more efficiently by tag. Tag is one kind of powerful, varied and automatic processing function.">
                        <label class="checkboxPanel"><i class="iconfont icon-weigouxuan notCheckCircle" ></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Tag your data</span><span class="introduction">Firstly, we can use data more efficiently by tag. Tag is one kind of powerful, varied and automatic processing function.</span></label>
                    </div>
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/observer#page=PointManagerCloudPoint&pointType=0&projectId=575"
                        title="Secondly, we have to filter invalid data cause most of original data is redundant.">
                        <label class="checkboxPanel"><i class=" iconfont icon-wenjianjia-2 checkCircle" ></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Filter your data</span><span class="introduction">Secondly, we have to filter invalid data cause most of original data is redundant.</span> </label>

                    </div>
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/observer#page=PointManagerCloudPoint&pointType=2&projectId=575"
                        title=" Thirdly, we should convert and repair some data. Equipments under complex condition for a long time may make it out of control, which leads to data missing during working time. Besides, the raw data is incorrect and we should repair it.">
                        <label class="checkboxPanel"><i class=" iconfont icon-wenjianjia-2 checkCircle" ></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Clean and convert</span><span class="introduction"> Thirdly, we should convert and repair some data. Equipments under complex condition for a long time may make it out of control, which leads to data missing during working time. Besides, the raw data is incorrect and we should repair it.</span> </label>
                    </div>

                </div>
            </div>
        </div>
        <div class="flatSinglePanel">
            <div class="blockPanel">
                <div class="headWrap">
                    <div class="panelNameTitleContainer" title=" How to make data become valuable? You will be surprised by AI rather than simple presentation." href="http://beop.rnbtech.com.hk/strategy?projectId=520" data-project="520" >
                        <div class="panelBottomLine"></div>
                        <div class="panelNameTitle">Algorithm</div>
                        <label class="introduction"> How to make data become valuable? You will be surprised by AI rather than simple presentation.</label>
                    </div>
                </div>
                <div class="panelContentContainer gray-scrollbar">
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/strategy?projectId=520" data-project="520" title="Algorithm Developer can help you imitate your experience by self-check and self-optimization with only some simple configuration.">
                        <label class="checkboxPanel"><i class="  iconfont icon-wenjianjia-2 checkCircle" ></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Create diagnosis</span><span class="introduction">Algorithm Developer can help you imitate your experience by self-check and self-optimization with only some simple configuration.</span> </label>

                    </div>
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/observer#page=AnalysisScreen" title="Algorithm Developer will check out the problem and then analyze, finally it will find the key of the problem.">
                        <label class="checkboxPanel"><i class=" iconfont icon-wenjianjia-2 checkCircle" ></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Start analysis</span><span class="introduction">Algorithm Developer will check out the problem and then analyze, finally it will find the key of the problem.</span> </label>

                    </div>
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/diagnosis_v2?projectId=293" title=" The platform apply various of forms to display your analysis in case it’s too difficult to understand.">
                        <label class="checkboxPanel"><i class=" iconfont icon-wenjianjia-2 checkCircle" ></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Check your diagnosis</span><span class="introduction"> The platform apply various of forms to display your analysis in case it’s too difficult to understand.</span>  </label>

                    </div>

                </div>
            </div>
        </div>
        <div class="flatSinglePanel">
            <div class="blockPanel">
                <div class="headWrap">
                    <div class="panelNameTitleContainer" title="You can drag configuration pages at random, and UI will help show them with beautiful visual effect." href="http://beop.rnbtech.com.hk/factory" data-project="575">
                        <div class="panelBottomLine"></div>
                        <div class="panelNameTitle">Visualization</div>
                        <label class="introduction">You can drag configuration pages at random, and UI will help show them with beautiful visual effect.</label>
                    </div>
                </div>
                <div class="panelContentContainer gray-scrollbar">
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/factory" data-project="575"title="Home page is highly generalized to display the functions and status of system.">
                        <label class="checkboxPanel"><i class=" iconfont icon-wenjianjia-2 checkCircle" ></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Get a "home"</span><span class="introduction">Home page is highly generalized to display the functions and status of system.</span> </label>

                    </div>
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/factory"  data-project="575" title="Report page is a regular review of system situation, you can generate report of any period and any form with a variety of templates and modules.">
                        <label class="checkboxPanel"><i class="iconfont icon-weigouxuan notCheckCircle" ></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Get a report</span><span class="introduction">Report page is a regular review of system situation, you can generate report of any period and any form with a variety of templates and modules.</span>   </label>

                    </div>
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/factory" data-project="575"  title="Dashboard page is more quickly to display data by generating line chart, histogram, and etc.">
                        <label class="checkboxPanel"><i class=" iconfont icon-wenjianjia-2 checkCircle" ></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Get a dashboard</span><span class="introduction">Dashboard page is more quickly to display data by generating line chart, histogram, and etc.</span></label>

                    </div>
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/factory" data-project="575"  title="APP page makes it easier to generate mobile page at any resolution. And you can get diagnosis push, alarm push, and system information at anytime or anywhere.">
                        <label class="checkboxPanel"><i class="iconfont icon-weigouxuan notCheckCircle" ></i><input class="" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Get an app</span><span class="introduction">APP page makes it easier to generate mobile page at any resolution. And you can get diagnosis push, alarm push, and system information at anytime or anywhere.</span>  </label>

                    </div>
                    <div class="checkboxRow hvr-wobble-horizontal" href="http://beop.rnbtech.com.hk/factory" data-project="575"  title="Choose needed pages and just release them, then the web will show you all you have done.">
                        <label class="checkboxPanel"><i class="iconfont icon-weigouxuan notCheckCircle" ></i><input class="inputCheckbox" style="opacity:0"  type="checkbox" value="" /><span class="projectTitleSpan" >Release your pages</span><span class="introduction">Choose needed pages and just release them, then the web will show you all you have done.</span></label>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>