<div id="wf-memberSelected-container">
    <style>

    </style>
    <div class="modal fade dn" id="wf-add-person" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h5 class="modal-title" i18n="workflow.memberSelected.TITLE"></h5>
                </div>
                <div class="modal-body" style="padding-bottom: 0">
                    <div class="form-group" style="margin-bottom: 0">
                        <input type="text" class="form-control" id="input-search-name"
                               i18n="placeholder=workflow.memberSelected.INPUT_INFO">
                    </div>
                    <div class="wf-search-box">
                        <div class="wf-search-content">
                            <!--筛选所有人-->
                            <section class="wf-search-result-container wf-search-all">
                                <div class="wf-search-result-title">
                                    <ul class="nav nav-tabs">
                                        <li i18n="workflow.memberSelected.ALL"></li>
                                        <li>a</li>
                                        <li>b</li>
                                        <li>c</li>
                                        <li>d</li>
                                        <li>e</li>
                                        <li>f</li>
                                        <li>g</li>
                                        <li>h</li>
                                        <li>i</li>
                                        <li>j</li>
                                        <li>k</li>
                                        <li>l</li>
                                        <li>m</li>
                                        <li>n</li>
                                        <li>o</li>
                                        <li>p</li>
                                        <li>q</li>
                                        <li>r</li>
                                        <li>s</li>
                                        <li>t</li>
                                        <li>u</li>
                                        <li>v</li>
                                        <li>w</li>
                                        <li>x</li>
                                        <li>y</li>
                                        <li>z</li>
                                    </ul>
                                </div>
                                <div class="wf-search-result scrollbar"></div>
                                <div class="wf-check-result-container clearfix">
                                    <span class="fl"><span
                                            i18n="workflow.memberSelected.MEMBER_SELECTED"></span>:</span>
                                    <ul class="clearfix wf-check-result">
                                    </ul>
                                    <button type="button" id="wf-member-comfirm-btn" class="btn btn-success fr"
                                            i18n="workflow.common.CONFIRM"></button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--选择人员状态栏模板-->
    <script type="text/html" id="tpl_wf_dialog_added_member">
        <!for(var m=0; m < members.length; m++){!>
        <!var member = members[m];!>
        <li>
        <span class="ellipsis"
              title="<!=member.userfullname +'\n' + (member.useremail && member.useremail!='undefined' ? member.useremail : '')!>"><!=member.userfullname!></span>
            <i class="glyphicon glyphicon-remove"
               i18n="workflow.main.DELETE" data-user-id="<!=member.id!>"></i>
        </li>
        <!}!>
    </script>
    <!--选择人员模板结束-->
    <script type="text/html" id="tpl_wf_added_member">
        <!for(var m=0; m < members.length; m++){!>
        <!var member = members[m];!>
        <div class="people" title="<!=member.userfullname!>" data-user-id="<!=member.id!>">
            <img src="<!=member.userpic!>">

            <div class="people-name ellipsis"><!=member.userfullname!></div>
            <input type="hidden" name="addedUsers[]" value="<!=member.id!>">
        </div>
        <!}!>
    </script>
    <script type="text/html" id="tpl_wf_added_member_personal">
        <!for(var m=0; m < members.length; m++){!>
        <!var member = members[m];!>
        <dl class="pr wf-detail-userInfo">
            <dt class="wf-detail-userPic"><img src="<!=member.userpic!>" class="wf-person-pic"></dt>
            <dd class="pa wf-detail-userName ellipsis"
                title="<!=member.userfullname +'\n' +(member.useremail && member.useremail!='undefined'  ? member.useremail : '')!>">
                <!=member.userfullname!>
            </dd>
            <input type="hidden" name="<!=userListName!>[]" value="<!=member.id!>">
        </dl>
        <!}!>
    </script>
    <script type="text/html" id="tpl_wf_member">
        <!for(var m=0; m < members.length; m++){!>
        <!var member = members[m];!>
        <!if(addUserMap[''+member.id]){!>
        <div class="wf-member wf-member-selected"
             data-user-id="<!=member.id!>"
             title="<!=member.userfullname +'\n'+ (member.useremail && member.useremail!='undefined' ? member.useremail : '')!>">
            <div class="wf-member-avatar">
                <img class="avatar-icon" src="<!=member.userpic!>">
            </div>
            <div class="wf-member-content">
                <p class=" wf-team-avatar-name ellipsis"><!=member.userfullname!></p>
            </div>
            <div class="wf-member-check">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
        </div>
        <!}else{!>
        <div class="wf-member" data-user-id="<!=member.id!>"
             title="<!=member.userfullname +'\n'+ (member.useremail && member.useremail!='undefined' ? member.useremail : '')!>">
            <div class="wf-member-avatar">
                <img class="avatar-icon" src="<!=member.userpic!>">
            </div>
            <div class="wf-member-content">
                <p class=" wf-team-avatar-name ellipsis"><!=member.userfullname!></p>
            </div>
            <div class="wf-member-check">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
        </div>
        <!}!>
        <!}!>
    </script>
</div>