<div id="wf_team_wrapper" class="wf wf_team_wrapper"></div>

<!--无团队模板开始-->
<script type="text/html" id="tpl_wf_team_none">
    <div id="wf_team_no_join" class="no-join-box">
        <div>您还未参与任何团队，请新建团队</div>
        <button type="button" id="wf_add_team" class="btn btn-primary mt50">添加团队</button>
    </div>
</script>
<!--无团队模板结束-->

<!--创建团队模板开始-->
<script type="text/html" id="tpl_wf_team_create">
    <div id="wf_team_create_box" class="wf_team_create_page">
        <article class="tr mt10">
            <button type="button" class="btn btn-default mr10" id="wf_team_create_cancel">取消</button>
            <button type="button" class="btn btn-primary mr30" id="wf_team_create_confirm">确认</button>
        </article>
        <form id="wf_team_create_form" method="post" action="javascript:void(0)">
            <div id="wf_team_create_content" class="scrollbar">
                <div class="form-team">
                    <div class="col-sm-1 tr"><span>团队名</span>：</div>
                    <div class="col-sm-11">
                        <input type="text" value="" name="name" class="form-control" maxlength="20"
                               placeholder="请输入团队名"/>
                    </div>
                </div>
                <div class="form-team">
                    <div class="col-sm-1 tr"><span>团队描述</span>：</div>
                    <div class="col-sm-11">
                        <textarea value="" name="des" class="form-control" maxlength="50"
                                  placeholder="请输入团队描述"></textarea>
                    </div>
                </div>
                <div class="form-team">
                    <div class="col-sm-1 tr"><span>标签名</span>：</div>
                    <div class="col-sm-11">
                        <div id="wf_team_tags_wrapper_box">
                            <div id="wf_team_tags_wrapper"></div>
                        </div>
                    </div>
                </div>
                <div class="form-team">
                    <div class="col-sm-1 tr"><span>团队架构</span>：</div>
                    <div class="col-sm-11">
                        <div class="wf-added-user-list" id="team_structure_box"></div>
                    </div>
                </div>
                <div class="form-team">
                    <div class="col-sm-1 tr"><span>团队流程</span>：</div>
                    <div class="col-sm-11">
                        <div id="wf_team_process" class="wf_team_process oh"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>
<!--创建团队模板结束-->

<!--团队编辑模板开始-->
<script type="text/html" id="tpl_wf_team_edit">
    <form class="form-horizontal oh wf_team_box wf_team_edit_page wf_member_type_<!=user_type!>" id="wf_team_edit_form" team_id="<!=team._id!>">
        <article class="tr mt10">
            <button type="button" class="btn btn-default mr10" id="wf_team_edit_cancel">取消</button>
            <button type="button" class="btn btn-primary mr30" id="wf_team_edit_confirm" i18n="">确认</button>
        </article>
        <div id="wf-team-content" class="scrollbar">
            <div class="form-team">
                <div class="col-sm-1"><span>团队名</span>：</div>
                <div class="col-sm-11">
                    <input type="text" value="<!=team.name!>" name="name" class="form-control" maxlength="20"
                           placeholder="请输入团队名"/>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1"><span>团队描述</span>：</div>
                <div class="col-sm-11">
                    <textarea value="<!=team.desc!>" name="des" class="form-control" maxlength="50" placeholder="请输入团队描述"><!=team.desc!></textarea>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1"><span>标签名</span>：</div>
                <div class="col-sm-11">
                    <div id="wf_team_tags_wrapper_box">
                        <div id="wf_team_tags_wrapper"></div>
                    </div>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1"><span>团队架构</span>：</div>
                <div class="col-sm-11">
                    <div id="team_structure_box" class="mr10"></div>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1 tr"><span>团队流程</span>：</div>
                <div class="col-sm-11">
                    <div id="wf_team_process" class="wf_team_process oh"></div>
                </div>
            </div>
        </div>
    </form>
</script>
<!--团队编辑模板结束-->

<!--团队显示模板开始-->
<script type="text/html" id="tpl_wf_team_show">
    <section class="form-horizontal oh wf_team_box wf_team_show_page wf_member_type_<!=user_type!>" id="wf_team_box" team_id="<!=team._id!>">
        <article id="wf_show_page_fun" class="oh">
            <button type="button" id="delete_team" class="btn btn-danger mr10 dn fr">解除团队</button>
            <article id="wf_team_edit" class="tr cp mr30">
                <span class="glyphicon glyphicon-pencil"></span>
                <span>编辑</span>
            </article>
        </article>
        <div class="scrollbar">
            <div class="form-team">
                <div class="col-sm-1"><span>团队名</span>：</div>
                <div class="col-sm-11">
                    <p><!=team.name!></p>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1"><span>团队描述</span>：</div>
                <div class="col-sm-11">
                    <p><!=team.desc!></p>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1"><span>标签名</span>：</div>
                <div class="col-sm-11">
                    <div class="mr10 fl">
                        <div id="wf_team_tags_wrapper_box">
                            <div id="wf_team_tags_wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1"><span>团队架构</span>：</div>
                <div class="col-sm-11">
                    <div  id="team_structure_box" class="mr10"></div>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1"><span>团队流程</span>：</div>
                <div class="col-sm-11">
                    <div id="wf_team_process" class="wf_team_process oh"></div>
                </div>
            </div>
        </div>
    </section>
</script>
<!--团队显示模板结束-->

<!--------------------------------------------------团队架构相关开始-------------------------------------------------->
<!--团队架构模板开始-->
<script type="text/html" id="tpl_wf_team_structure">
<div class="team-<!=viewType!>">
    <div class="wf-added-user-list" id="team_structure">
        <!if(structure.length){!>
            <!for(var l=0; l < structure.length; l++){!>
            <!var group=structure[l];!>
            <div class="form-team mt10" wf-team-id="<!=group.id!>">
                <div class="col-sm-1 wf-user-name-box team-group-name-title">
                    <!if(l!=0&&l!=1){!>
                    <span class="glyphicon glyphicon-edit cp wf-group-name-edit"></span>
                    <span class="glyphicon glyphicon-save cp dn wf-group-name-save"></span>
                    <!}!>
                    <span class="wf-group-name team-group-name-text ellipsis" contenteditable="false" group_type="member"><!=group.name!></span>：
                </div>
                <div class="col-sm-11 pull-right wf-manager-people">
                    <div class="wf-group-people-box">
                        <!for(var m=0; m < group.members.length; m++){!>
                        <!var member=group.members[m];!>
                            <div class="people">
                                <img src="<!=member.userpic!>" class="user"/>
                                <div class="people-name ellipsis"><!=member.userfullname!></div>
                            </div>
                        <!}!>
                    </div>
                    <!if(l==0){!>
                    <span id="wfTeamAddSuperAdmin" class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add"></span>
                    <!}else if(l==1){!>
                    <span id="wfTeamAddAdmin" class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add"></span>
                    <!}else{!>
                    <span class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add"></span>
                    <!}!>
                </div>
            </div>
            <!}!>
        <!}else{!>
            <div class="form-team mt10">
                <div class="col-sm-1 team-group-name-title" group_type="1" member_id="<!=ObjectId()!>">
                    <span class="team-group-name-text" group_type="1">超级管理员</span>：
                </div>
                <div class="col-sm-11 pull-right wf-manager-people" group_type="1">
                    <div class="wf-group-people-box"></div>
                    <span class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add" group_type="1"></span>
                </div>
            </div>
            <div class="form-team mt10">
                <div class="col-sm-1 team-group-name-title" group_type="2" member_id="<!=ObjectId()!>">
                    <span class="team-group-name-text" group_type="2">管理员</span>：
                </div>
                <div class="col-sm-11 pull-right wf-manager-people" group_type="2">
                    <div class="wf-group-people-box"></div>
                    <span class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add" group_type="2"></span>
                </div>
            </div>
        <!}!>
    </div>
    <div id="addTeamGroupInput" class="form-team">
        <div class="col-sm-1"></div>
        <div class="col-sm-11 cp wf-delete-parent">
            <span id="wf_team_groups_box" class="dn">
                <input type="text" id="wf_add_team_group" class="form-control mb10 group_name"
                       placeholder="回车添加组" name="group_name" value=""/>
            </span>
        </div>
    </div>
    <div id="addTeamGroupText" class="form-team">
        <div class="col-sm-1"></div>
        <div class="col-sm-11 cp">
            <span id="wf_team_group_add_input">
                <span class="glyphicon glyphicon-plus"></span>
                <span>添加组</span>
            </span>
        </div>
    </div>
</div>
</script>
<!--团队架构模板结束-->

<!--添加成员box模板开始-->
<script type="text/html" id="tpl_wf_add_group">
    <div class="form-team" wf-team-id="<!=id!>">
        <div class="col-sm-1 wf-user-name-box team-group-name-title">
            <span class="glyphicon glyphicon-edit cp wf-group-name-edit"></span>
            <span class="glyphicon glyphicon-save cp dn wf-group-name-save"></span>
            <span class="wf-group-name team-group-name-text" contenteditable="false" group_type="member"><!=name!></span>：
        </div>
        <div class="col-sm-11 wf-manager-people wf-team-memberList">
            <div class="wf-group-people-box"></div>
            <span class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add" group_type="member"></span>
        </div>
    </div>
</script>
<!--添加成员box模板结束-->

<!--团队添加组模板开始-->
<script type="text/html" id="tpl_wf_team_add_group">
    <input type="text" class="form-control mb10 group_name" placeholder="回车添加组" name="group_name"/>
</script>
<!--团队添加组模板结束-->
<!--------------------------------------------------团队架构相关结束-------------------------------------------------->


<!--------------------------------------------------标签相关开始-------------------------------------------------->
<!--添加标签窗口开始-->
<article id="wf_add_tag_win" class="modal fade promptWin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span></span></button>
                <h4 class="modal-title" i18n="admin.panelManagement.PROMPT"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="wf_add_tag_form">
                    <div class="form-group ps10">
                        <input type="text" class="form-control" id="wf_add_tag_name" placeholder="请输入标签名"
                               maxlength="15">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="wf_add_tag_confirm" type="button" class="btn btn-primary"
                        i18n="workflow.common.CONFIRM"></button>
            </div>
        </div>
    </div>
</article>
<!--添加标签窗口结束-->

<!--团队标签新添加模板开始-->
<script type="text/html" id="tpl_team_add_tags">
<!for(var l=0; l < tags.length; l++){!>
<!var tag=tags[l];!>
<span class="pr wf-tag-wrapper">
    <!if(opType !== 'show'){!>
        <!if(tag.type === 2){!>
            <i class="pa wf-tag-delete glyphicon glyphicon-remove"></i>
            <i class="pa wf-tag-edit glyphicon glyphicon-edit"></i>
            <i class="pa wf-tag-save glyphicon glyphicon-save"></i>
        <!}!>
    <!}!>
    <span class="glyphicon glyphicon-tag"></span>
    <span class="wf-tag-name"><!=tag.name!></span>
    <input type="hidden" value="<!=tag.name!>" name="tags[]" class="wf-tag-val">
</span>
<!}!>
</script>
<!--团队标签新添加模板结束-->

<!--添加标签开始-->
<script type="text/html" id="tpl_wf_add_tag">
    <span class="pr wf-tag-wrapper">
        <!if(opType !== 'show'){!>
            <i class="pa wf-tag-delete wf-tag-remove glyphicon glyphicon-remove"></i>
            <i class="pa wf-tag-edit glyphicon glyphicon-edit"></i>
            <i class="pa wf-tag-save glyphicon glyphicon-save"></i>
        <!}!>
        <span class="glyphicon glyphicon-tag"></span>
        <span class="wf-tag-name"><!=name!></span>
        <input type="hidden" value="<!=name!>" name="tags[]" class="wf-tag-val">
    </span>
</script>
<!--添加标签结束-->
<!--------------------------------------------------标签相关结束-------------------------------------------------->

