<style>
    .wf-attachment {
        display: block;
    }

    .wf-attachment input[type="file"] {
        display: none;
    }

    .wf-attachment-body {
        padding: 15px 10px;
        background: #40485b;
    }

    .wf-attachment-body .wf-attachment-list {
        padding-left: 0;
        list-style: none;
    }

    .wf-attachment-body .wf-attachment-list .wf-attachment-add {
        text-align: center;
    }

    .wf-attachment-body .wf-attachment-list .wf-attachment-add #wf-attachment-add-btn {
        cursor: pointer;
        display: block;
        padding: 10px 0 0 29px;
        font-size: 25px;
    }

    .wf-attachment-body .wf-attachment-list .wf-attachment-add #wf-attachment-add-btn:after {
        content: "";
        position: absolute;
        width: 28px;
        height: 28px;
        left: 24px;
        top: 15px;
        border: 2px solid #ccc;
        border-radius: 100%;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    .wf-attachment-body .wf-attachment-list .wf-attachment-add .wf-attachment-add-btn-words {
        padding-top: 45px;
        margin-left: -35px;
    }

    .wf-attachment-body .wf-attachment-list li {
        display: inline-block;
        margin: 0 10px;
    }

    .wf-attachment-body .wf-attachment-list li p {
        color: #fff;
        display: block;
        float: right;
        height: 80px;
        margin: 0 10px;
        padding-top: 10px;
    }

    .wf-attachment-item {
        display: block;
        position: relative;
        color: #fff;
        border: 1px solid #fff;
        overflow: hidden;
        width: 80px;
        height: 80px;
    }

    .wf-attachment-item:hover .wf-attachment-modal {
        display: flex;
    }

    .wf-attachment-item:hover .wf-attachment-content {
        transform: scale(1.2, 1.2);
    }

    .wf-attachment-item .wf-attachment-modal {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        width: inherit;
        height: inherit;
        background: rgba(97, 105, 116, 0.5);
        transition: transform 300ms;
        z-index: 10;
        text-align: center;
    }

    .wf-attachment-item .wf-attachment-modal .wf-attachment-delete-btn {
        cursor: pointer;
        display: block;
        font-size: 25px;
        position: relative;
        transform: rotate(45deg);
    }

    .wf-attachment-item .wf-attachment-modal .wf-attachment-delete-btn:after {
        content: "";
        position: absolute;
        width: 28px;
        height: 28px;
        left: -5px;
        top: 5px;
        border: 2px solid #fff;
        border-radius: 100%;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    .wf-attachment-item .wf-attachment-modal .glyphicon {
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }

    .add {
        background-color: #616974;
    }

    .wf-attachment-content {
        width: inherit;
        height: inherit;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 9;
        transition: transform 300ms;
    }

</style>
<div class="wf-attachment" id="wf-attachment">
    <input type="file" multiple class="dn">
    <div class="wf-attachment-body">
        <ul class="wf-attachment-list">
            <li>
                <div class="wf-attachment-item">
                    <section class="wf-attachment-modal">
                        <span class="wf-attachment-delete-btn">
                            +
                        </span>
                    </section>
                    <section class="wf-attachment-content"
                             style="background-image: url('http://localhost/static/images/project_img/panda.jpg');">
                    </section>
                </div>
            </li>
            <li>
                <div class="wf-attachment-item wf-attachment-add">
                    <div style="display: flex;">
                        <span id="wf-attachment-add-btn">
                            +
                        </span>
                        <span class="wf-attachment-add-btn-words">添加附件</span>
                    </div>
                </div>
            </li>
            <li><p>提示：单个图片不能超过5MB</p></li>
        </ul>
    </div>
</div>