<!--确认是否转为云点浮动窗口开始-->
<article id="isConvertPointWin" class="modal fade confirmWin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="infoPrompt">Do you mean to convert all points to cloud points?</p>

                <p class="delete-points points-wrapper">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                </button>
                <button id="convertConfirm" type="button" class="btn btn-primary">Yes
                </button>
            </div>
        </div>
    </div>
</article>
<!--确认是否转为云点浮动窗口结束-->

<!--确认是否删除点浮动窗口开始-->
<article id="isDelPointWin" class="modal fade confirmWin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="infoPrompt">Do you mean to delete these point?</p>

                <p class="delete-points points-wrapper">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                </button>
                <button id="deleteRowConfirm" type="button" class="btn btn-primary">Yes
                </button>
            </div>
        </div>
    </div>
</article>
<!--确认是否删除点浮动窗口结束-->
<!--确认是否下装点浮动窗口开始-->
<article id="isUpdatePointWin" class="modal fade confirmWin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="infoPrompt">Do you mean to upload these point to core?</p>

                <p class="update-points points-wrapper">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                </button>
                <button id="updateRowConfirm" type="button" class="btn btn-primary">Yes
                </button>
            </div>
        </div>
    </div>
</article>
<!--确认是否下装点浮动窗口结束-->
<!--编辑点浮动窗口开始-->
<article id="editPointWin" class="modal fade confirmWin">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="pointForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 id="editTitle" class="modal-title">Edit point</h4>
                </div>
                <div class="modal-body oh">

                    <section id="pointInfoUpWrapper" class="oh">
                        <section class="fl mr25" id="pointBasicWrapper">
                            <p>
                                <span class="basicParameterName">ID：</span>
                                <input type="text" id="point_id" class="form-control" name="value" value="" required/>
                            </p>

                            <p>
                                <span class="basicParameterName">Point Source：</span>
                                <select id="point_source" class="form-control" name="source" required>
                                </select>
                            </p>

                            <p>
                                <span class="basicParameterName">Note：</span>
                                <input type="text" id="point_notes" class="form-control" name="remark" value=""/>
                            </p>

                            <p>
                                <span class="basicParameterName">Unit：</span>
                                <select id="point_unit" class="form-control" name="Unit">
                                    <option value=""></option>
                                    <option value="0">%</option>
                                    <option value="1">kPa</option>
                                    <option value="2">℃</option>
                                    <option value="3">h</option>
                                    <option value="4">Hz</option>
                                    <option value="5">V</option>
                                    <option value="6">Kw</option>
                                    <option value="7">ls</option>
                                    <option value="8">KWh</option>
                                    <option value="9">m3/h</option>
                                </select>
                            </p>

                            <p>
                                <span class="basicParameterName">Write/Read：</span>
                                <select id="point_rw_attr" class="form-control" name="RWProperty">
                                    <option value=""></option>
                                    <option value="0">Read</option>
                                    <option value="1">Write</option>
                                </select>
                            </p>
                        </section>
                        <section class="fl mr25" id="pointFixedWrapper">
                            <section>
                                <div class="mb15 w200">
                                    <div>Max</div>
                                    <select class="point_bind_set form-control"
                                            data-placeholder="Choose a option"></select>
                                </div>
                                <div class="mb15 w200">
                                    <div>Min</div>
                                    <select class="point_bind_set form-control"
                                            data-placeholder="Choose a option"></select>
                                </div>
                                <div class="mb15 oh">
                                    <input id="point_jurisdiction" type="checkbox" name="param14" class="mr5"
                                           value=""/>
                                    <span>Three part accessible</span>
                                </div>
                                <div class="mb15 oh">
                                    <div>Store Cycle</div>
                                    <div>
                                        <select id="point_storage_period" name="storecycle"
                                                class="form-control">
                                            <option value="-1" disabled="disabled">Store Cycle</option>
                                            <option value="1">No Store</option>
                                            <option value="2">5 sec</option>
                                            <option value="3">1 min</option>
                                            <option value="4">5 min</option>
                                            <option value="5">half hour</option>
                                            <option value="6">1 hour</option>
                                            <option value="7">1 day</option>
                                            <option value="8">1 week</option>
                                            <option value="9">1 month</option>
                                            <option value="10">1 year</option>
                                        </select>
                                    </div>
                                </div>
                            </section>
                        </section>

                        <section class="fl" id="pointOtherWrapper">
                            <section class="fl">
                                <div class="mb15 oh">
                                    <div>Custom</div>
                                    <input id="point_custom" type="text" value="" class="form-control"
                                           name="customName">
                                </div>
                                <div class="mb15 oh">
                                    <div>System</div>
                                    <select id="point_system" name="system" class="form-control">
                                        <option value="-1" disabled="disabled">System</option>
                                        <option value="0">无</option>
                                        <option value="1">暖通</option>
                                        <option value="2">动力</option>
                                        <option value="3">照明插座</option>
                                        <option value="4">精密空调</option>
                                    </select>
                                </div>
                                <div class="mb15 oh">
                                    <div>Device</div>
                                    <select id="point_equipment" name="device" class="form-control">
                                        <option value="-1" disabled="disabled">Device</option>
                                        <option value="0">无</option>
                                        <option value="1">冷机</option>
                                        <option value="2">水泵</option>
                                        <option value="3">冷却塔</option>
                                        <option value="4">AHU</option>
                                        <option value="5">VAV</option>
                                        <option value="6">系统</option>
                                    </select>
                                </div>
                                <div class="mb15 oh">
                                    <div>Type</div>
                                    <select id="point_type" name="type" class="form-control">
                                        <option value="-1" disabled="disabled">Type</option>
                                        <option value="0">无</option>
                                        <option value="1">电量表</option>
                                        <option value="2">冷量表</option>
                                        <option value="3">温度</option>
                                        <option value="4">流量</option>
                                        <option value="5">压力</option>
                                        <option value="6">电流</option>
                                        <option value="7">功率</option>
                                        <option value="8">频率</option>
                                        <option value="9">启停</option>
                                        <option value="10">报警</option>
                                    </select>
                                </div>
                            </section>
                        </section>
                    </section>
                    <section id="pointInfoDownWrapper" class="oh">
                        <section class="pr10" id="pointRelatedWrapper"></section>
                    </section>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="editPointConfirm" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</article>
<!--编辑点浮动窗口结束-->
<div id="buttonGroup" class="oh">
    <div class="fl">
        <select id="select_project" class="form-control" name="select_project">
            <option disabled selected>Select Point</option>
        </select>

        <div class="btn-group" role="group">
            <div id="point_set" class="btn">
                <span class="glyphicon glyphicon-cog db" aria-hidden="true"></span>
                <span>Point Source</span>
            </div>
        </div>

        <div class="btn-group" role="group">
            <div id="point_add" class="btn">
                <span class="glyphicon glyphicon-plus db" aria-hidden="true"></span>
                <span>Add</span>
            </div>
            <div id="point_delete" class="btn">
                <span class="glyphicon glyphicon-remove db" aria-hidden="true"></span>
                <span>Delete</span>
            </div>
        </div>
    </div>
    <div class="btn-group" role="group">
        <div id="point_import" class="btn">
            <span class="glyphicon glyphicon-import db" aria-hidden="true"></span>
            <span>Import points</span>
            <input type="file" id="uploadInput"
                   accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </div>
        <a id="point_export" class="btn" target="_blank" style="color: #333;">
            <span class="glyphicon glyphicon-export db" aria-hidden="true"></span>
            <span>Export points</span>
        </a>
    </div>
    <div class="btn-group dtu-btn-group" role="group">
        <div id="reset_core" class="btn">
            <span class="glyphicon glyphicon-refresh db" aria-hidden="true"></span>
            <span>Restart Core</span>
        </div>
        <!--
        <div id="point_update_all" class="btn" style="display: none;">
            <span class="glyphicon glyphicon-refresh db" aria-hidden="true"></span>
            <span>下装全部点</span>
        </div>
        -->
        <div id="point_update_partial" class="btn">
            <span class="glyphicon glyphicon-refresh db" aria-hidden="true"></span>
            <span>upload points</span>
        </div>
        <div id="point_delete_partial" class="btn">
            <span class="glyphicon glyphicon-refresh db" aria-hidden="true"></span>
            <span>delete points</span>
        </div>
    </div>
    <div class="btn-group" role="group">
        <div id="point_undo" class="btn">
            <span class="glyphicon glyphicon-arrow-left db" aria-hidden="true"></span>
            <span>undo</span>
        </div>
        <div id="point_redo" class="btn">
            <span class="glyphicon glyphicon-arrow-right db" aria-hidden="true"></span>
            <span>redo</span>
        </div>
    </div>
    <input type="text" id="text_search" class="form-control mr10 fl" value="" placeholder="查找"/>
</div>
<div id="pointManageWrapper">
    <p style="float:left;"><span class="count"></span> results</p>

    <p id='dtu_info' style="float:right;">DTU server <span class="info text-warning">detecting...</span></p>

    <div class="sheet"></div>
</div>

<script type="text/html" id="tpl_source_type_options_table">
    <option value="-1" disabled="disabled">select point source</option>
    <!for(var sourceName in sourceTypes){!>
    <option value="<!=sourceName!>"><!=sourceName!></option>
    <!}!>
</script>

<script type="text/html" id="tpl_source_type_name">
    <!for(var i=0; i < 10; i++){!>
    <!var name = typeData["param" + (i + 1)] ? typeData["param" + (i + 1)] : 'Reserve Parameter' + (i + 1);!>
    <div class="reserveParamWrapper">
        <div class="w150 ellipsis m_auto" title="<!=name!>"><!=name!></div>
        <input type="text" value="" class="form-control m_auto reserveParamObj" name="param<!=(i + 1)!>"/>
    </div>
    <!}!>
</script>

<script type="text/html" id="tpl_point_list">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!for(var m=0; m < list.length; m++){!>
        <!var data=list[m].data;!>
        <tr>
            <th scope="row"><!=m+1!></th>
            <td><!=data.value!></td>
            <td><!=data.params.source!></td>
        </tr>
        <!}!>
        </tbody>
    </table>
</script>