<style type="text/css">
    #regWrapper {
        width: 100%;
        height: 100vh;
        background: #404348;
        color: #333;
    }

    #regBox {
        width: 60%;
        background: #fff;
        position: relative;
        top: 2%;
        left: 20%;
        height: 95%;
        padding: 2%;
    }

    #welcomeText {
        font-size: 20px;
        height: 40px;
        line-height: 8px;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
        color: #666;
        letter-spacing: 1px;
        text-align: center;
    }

    #regContent {
        width: 630px;
        margin: 60px auto 0;
    }

    #regForm label {
        overflow: hidden;
        font-weight: normal;
        display: block;
        height: 40px;
        line-height: 32px;
    }

    #regForm label input {
        width: 300px;
    }

    #regForm label span {
        display: block;
        width: 150px;
        text-align: right;
        margin-right: 15px;
    }

    #regForm label span, #regForm label input, #regForm label img {
        float: left;
    }

    #regNowBox {
        margin-top: 5px;
    }

    #regInfo {
        margin-left: 165px;
        color: orange;
    }

    #regNow {
        margin: 0 10px 0 165px;
        width: 300px;
    }

    #regCancel {
        color: #ccc;
    }

    #regWrapper #captchaInput {
        width: 120px;
    }

    #captchaInfo {
        position: relative;
        top: 5px;
    }

</style>
<div id="regWrapper">
    <div id="regBox">
        <h4 id="welcomeText" i18n="admin.register.WELCOME_TEXT"></h4>
        <div id="regContent">
            <form id="regForm">
                <label>
                    <span i18n="admin.register.ACCOUNT_EMAIL"></span>
                    <input type="text" id="regUserName" name="account" class="form-control"/>
                </label>
                <label>
                    <span i18n="admin.register.PASSWORD"></span>
                    <input type="password" id="regPwd" class="form-control"/>
                </label>
                <label>
                    <span i18n="admin.register.PASSWORD_CONFIRM"></span>
                    <input type="password" id="regPwdConfirm" class="form-control"/>
                </label>
                <div class="oh">
                    <label class="fl">
                        <span i18n="admin.register.VERIFY_CODE"></span>
                        <input type="text" id="captchaInput" class="form-control"/>
                    </label>
                <span id="captchaBtn" class="btn btn-default ml10 mr10"
                      i18n="admin.register.SEND_VERIFICATION_CODE"></span>
                <span id="captchaInfo" class="dn ml10">
                    <span i18n="admin.register.VERIFY_CODE_INFO1"></span>
                    <span id="captchaTime" class="text-danger">60</span>
                    <span class="text-danger">s</span>
                    <span i18n="admin.register.VERIFY_CODE_INFO2"></span>
                </span>
                </div>
            </form>
            <div id="regNowBox">
                <span id="regInfo"></span>
                <div class="mt10">
                    <button id="regNow" class="btn btn-success" i18n="admin.register.JOIN_NOW"></button>
                </div>
            </div>
        </div>
    </div>
</div>



