<div class="row">
    
</div>
<div class="row">
    <div class="col-sm-10">
        <div class="row panel panel-default">
            <div class="panel-body" style="overflow-x:auto;">
                <table id="chartPoints" class="table table-condensed" style="margin-bottom: 0;">
                    <tbody>
                        <tr class="trLabel"></tr>
                        <tr class="trData" style="height: 50px;"></tr>
                        <tr class="trLabel"></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row panel panel-default">
            <div class="panel-body" style="overflow:auto;">
                <table id="tablePoints" class="table table-bordered table-condensed" style="text-align: center;">
                    <thead>
                        <tr>
                            <th style="text-align: center;"><span i18n="analysis.paneConfig.DATE"></span></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge" id="spanPointCount"></span>
                <span i18n="analysis.paneConfig.POINT_NUM"></span>
            </li>
            <li class="list-group-item">
                <span class="badge" id="spanStartTime"></span>
                <span i18n="analysis.paneConfig.LABEL_TIME_START"></span>
            </li>
            <li class="list-group-item">
                <span class="badge" id="spanEndTime"></span>
                <span i18n="analysis.paneConfig.LABEL_TIME_END"></span>
            </li>
            <li class="list-group-item">
                <span class="badge" id="spanInterval"></span>
                <span i18n="analysis.paneConfig.LABEL_INVERAL"></span>
            </li>
            <li class="list-group-item">
                <span class="badge" id="spanLostCount"></span>
                <span i18n="analysis.paneConfig.MISS_NUM"></span>
            </li>
            <li class="list-group-item">
                <span class="badge" id="spanLostPercent"></span>
                <span i18n="analysis.paneConfig.MISS_RATE"></span>
            </li>
        </ul>
    </div>
</div>