<style>
    #equipTitle {
        font-size: 2rem;
        text-align: center;
    }
    #divEquipImg {
        text-align: center;
    }
    #divEquipImg img {
        width: 70%;
    }
    #divEquipConfig {
        position: relative;
        width:100%
    }
</style>
<div id="equipTitle">某暖通设备</div>
<div id="divEquipImg"></div>
<div id="divEquipConfig">
    <div id="divEquipSwitch" class="divConfig">
        <span class="cfgIcon glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <span class="cfgType">开关</span>
        <span class="spanCfgBtn"><span class="btnCfg btnCfgOff"></span></span>
    </div>
    <div id="divEquipWind" class="divConfig">
        <span class="cfgIcon glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <span class="cfgType">风速</span>
        <span class="btn-group spanCfgSel">
            <label for="inputEquipWind"></label>
            <select id="inputEquipWind" class="form-control inputCfgSel">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <span class="spanSelSrCover"></span>
        </span>
    </div>
</div>