<style>
    .gray{
        color: rgb(130, 130, 130);
    }
    .blueIcon{
        color: rgb(13,122,255);
    }
    #ImgLogin {
        width: 40%;
        margin-left: 30%;
        border-radius: 8rem;
        overflow: hidden;
        position: relative;
        top: 8%;
        box-shadow: 0 0 2rem 1rem #0F2A43;
    }
    #ImgLogin img {
        width: 100%;
        transform: scale(1.25,1.25);
        -webkit-transform: scale(1.25,1.25);
        position: relative;
    }
    #ImgLogin div {

    }
    #divLoginInfo {
        width: 80%;
        height: 30%;
        position: relative;
        left: 10%;
        top: 15%;
    }
    #btnLogin {
        position: relative;
        top: 25%;
    }
    #btnLogin button{
        border-radius: 2.5rem;
        background-color: #2486FC;
        padding: 0.5rem;
        font-size: 2.5rem;
        font-family: "Microsoft YaHei";
    }
    #btnLogin button, #btnLogin button:focus, #btnLogin button:active{
        border-color: transparent;
        outline-color: transparent;
    }
    #rememberPwd {
        display: inline-block;
        position: relative;
    }
    #forgetPwd {
        position: relative;
        left: 5rem;
        font-size: 1.4rem;
        border-bottom: 1px solid #D8DADD;
        display: inline-block;
    }
    #divSignUp {
        position: relative;
        top: 24%;
        text-align: center;
        font-size: 1.5rem;
        color: #aaa;
    }
    #btnSignUp {
        color: #D16462;
        border-bottom: 1px solid #E8D5EB;
    }
    #divCopyRight {
        position: absolute;
        bottom: 1%;
        width: 100%;
        text-align: center;
        color: #aaa;
    }
    #pwdManage{
        margin-top: -10px;
    }
    @media (max-device-height:667px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
        #ImgLogin {
            top: 8%;
        }
        #divLoginInfo {
            top: 22%;
        }
        #forgetPwd{
            font-size: 1.2rem;
            left: 1rem;
        }
        #btnLogin{
            top: 12%;
        }
        #btnLogin button{
            font-size: 2rem;
        }
        #divSignUp {
            top: 12%;
            font-size: 1.3rem;
        }
    }
    @media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 */
        #forgetPwd{
            font-size: 1.3rem;
            left: 4rem;
        }
    }
    @media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4 */
        #divSignUp {
            top: 8%;
        }
    }

    .divLanguage {
        position: absolute;
        padding: 3px 10px 3px 10px;
        top: 10px;
        right: 20px;
        border: 1px solid #eee;
        border-radius: 4px;
        opacity: 0.7;
        display: block;
        z-index: 10;
        cursor: pointer;
        font-size: 13px;
    }
    .divLanguage span {
        color: #eee;
    }
    .divLanguage:hover #selectLanguage {
        display: block;
    }

    #selectLanguage {
        margin-left: -10px;
        background-color: transparent;
    }
    #selectLanguage .vMiddle {
        text-align: right;
    }
    #selectLanguage li {
        border-radius: 3px;
    }
    #selectLanguage li:hover span {
        color: #16599C;
    }

</style>
<div id="divAppDashboardLanguage" class="divLanguage">
    <a>
        <span i18n="admin.navIndex.LINK_LANGUAGE"></span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" id="selectLanguage">
        <li><a value="zh"><span class="vMiddle">中文</span></a></li>
        <li><a value="en"><span class="vMiddle">English</span></a></li>
    </ul>
</div>

<div id="ImgLogin">
    <img src="static/app/dashboard/img/login.jpg"/>
</div>
<div id="divLoginInfo">
    <div id="divUserId" class="form-group has-feedback">
        <label class="sr-only" for="userName"></label>
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user blueIcon" aria-hidden="true"></span></div>
            <input id="userName" type="text" class="form-control gray" placeholder="User">
        </div>
        <span class="glyphicon glyphicon-chevron-down form-control-feedback blueIcon" aria-hidden="true" style="-webkit-transform:scale(0.9);transform: scale(0.9);"></span>
    </div>
    <div id="divUserPwd" class="form-group">
        <label class="sr-only" for="password"></label>
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock blueIcon" aria-hidden="true"></span></div>
            <input id="password" type="password" class="form-control gray" placeholder="Password">
        </div>
    </div>
    <!--<div id="pwdManage">
        <div class="checkbox gray" id="rememberPwd">
            <label>
              <input type="checkbox" id="#inputRememberPwd"><span i18n="admin.login.PANE_CHECKBOX_REMEMBER">Remember me</span>
            </label>
        </div>
        <div id="forgetPwd" class="gray">
            Forget your password?
        </div>
    </div>-->
    <div class="form-group zepto-ev" id="btnLogin">
        <button type="button" class="btn btn-primary btn-lg btn-block zepto-ev" i18n="admin.login.PANE_TITLE">Login</button>
    </div>
    <!--<div id="divSignUp" class="gray">
        Don't have an account? <span id="btnSignUp">Sign Up</span>
    </div>-->
</div>
<div id="divCopyRight" class="gray">
    <small>R&amp;B TECHNOLOGY CO.LTD</small>
</div>