<style>
    #alarmLoggingPane { margin:15px auto; }
    #alarmLoggingPane * { border-radius: 0; }
    #alarmLoggingPane .form-datetime { width: 250px; }
    
    .panel-body>div:first-child {text-align: left;}
    .panel-body>div:last-child {text-align: right;}

    .div-controls>button {padding: 4.5px 10px;}
    .div-controls>button>span {font-size: 18px;}

    .panel-heading>.close { opacity: .5; }
    .panel-heading>.close:hover { opacity: .8; }
    
    .input-group-addon {background: #fff;font-weight: 700;}
    .input-group-addon:last-of-type {border-left: none;border-right: none;}
    
    /* table base css */
    .table {table-layout: fixed;margin:0;}
    .ui-tbl-htable>thead>tr>th, .ui-tbl-btable>tbody>tr>td {text-align: center; vertical-align: middle;}
    .ui-tbl-htable,.ui-tbl-htable>thead>tr>th {border-bottom: none;}
    .ui-tbl-btable {border: none;}
    .ui-tbl-btable>tbody>tr:first-child>td {border-top: none;}
    .ui-tbl-wbody {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .ui-tbl-footer {padding: 10px 15px;}

    /* table custom css */
    #tbAlarm, #tbRule {width: 1168px;}
    .ui-tbl-col-no {width: 50px;}
    .ui-tbl-col-bindpointname {width: 250px;}
    .ui-tbl-col-time {width: 269px;}
    .ui-tbl-col-info {width: 249px;}
    .ui-tbl-col-level {width: 150px;}
    .ui-tbl-col-operations {width: 200px;}

    .ui-tbl-col-cb {width: 50px;}
    .ui-tbl-col-pointname {width: 200px;}
    .ui-tbl-col-warningtype {width: 168px;}
    .ui-tbl-col-warninglevel {width: 100px;}
    .ui-tbl-col-warningvalue {width: 150px;}
    .ui-tbl-col-warninginfo {width: 300px;}
    .ui-tbl-col-operations {width: 200px;}
    
    #btnSelectAll {padding: 5px 12px;}
    #btnSelectAll>input[type=checkbox] {
        width: 13px;
        height: 13px;
        cursor: pointer;
    }
    #iptRuleWrap {width: 50%;}
    #iptRuleSrch {width: 100%;}
    #ruleModal {padding-top: 100px;}

    .tooltip-arrow {
        border-right-color: transparent;
    }

    .row-condensed .col-xs-3+.col-xs-9 {padding-left: 0px;}

    /* custom animation */
    .loading {
        -webkit-animation: loading 1.4s infinite linear;
        animation: loading 1.4s infinite linear;
    }
    @-webkit-keyframes loading {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
</style>

<div class='container' id="alarmLoggingPane">
    <div class="row">
        <div class="panel panel-default" id="panelLog">
            <div class="panel-heading">
                Alarm Record
                <span class="close glyphicon glyphicon-remove" id="btnClose"></span>
            </div>
            <div class="panel-body row">
                <!-- <div class="col-sm-10 form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">From</div>
                            <input type="text" readonly class="form-datetime form-control" id="iptStartTime" placeholder="Start Time">
                            <div class="input-group-addon">To</div>
                            <input type="text" readonly class="form-datetime form-control" id="iptEndTime" placeholder="End Time">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="btnAlarmSrch">Search</button>
                </div> -->
                <div class="col-sm-12">
                    <button class="btn btn-default" id="btnReload" type="button" title="Get the last alarm info">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                    <button class="btn btn-default" id="btnConfig" type="button" title="Go to warning rule config">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                 </div>
            </div>
            <table id="tbAlarm"></table>
        </div>
        <!-- Config panel -->
        <div class="panel panel-default" id="panelCog" style="display:none;">
            <div class="panel-heading">
                Alarm Rule Config
            </div>
            <div class="panel-body row">
                <div class="col-sm-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" id="btnSelectAll">
                            <input type="checkbox">
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="listbox">
                            <li><a id="lkSelectAll" href="javascript:">Select All</a></li>
                            <li><a id="lkUnSelectAll" href="javascript:">Unselect All</a></li>
                            <li><a id="lkSelectInverse" href="javascript:">Select Inverse</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-default" id="btnAddRule" type="button" title="Add a rule">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-default" id="btnDelRule" type="button" title="Delete a rule">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <div class="col-sm-8 form-inline">
                    <div class="form-group" id="iptRuleWrap">
                        <label class="sr-only" for="">Search</label>
                        <input type="search" class="form-control" id="iptRuleSrch" placeholder="Search By Point Name">
                    </div>
                    <button type="button" class="btn btn-primary" id="btnRuleSrch">Search</button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" id="btnLogList" type="button" title="Go to warning record list">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </div>
            </div>
            <div class="ui-t-table">
                <table class="table ui-t-btable table-bordered table-condensed" id="tbRule"></table>
            </div>
        </div>
    </div>

    <!-- rule add/edit modal -->
    <div class="modal" id="ruleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ruleModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Rule</h4>
                </div>
                <div class="modal-body">
                    <div id="divRuleForm">
                        <div class="form-group">
                            <label for="iptPointName" class="control-label">Point Name:</label>
                            <input type="text" class="form-control" id="iptPointName" placeholder="Enter point name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Rule Type:</label>
                            <div class="input-group">
                                <div class="input-group-btn" id="ddAlarmMode">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span data-value="1">Bool Alarm Mode</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="listbox">
                                        <li><a href="javascript:" data-value="1">Bool Alarm Mode</a></li>
                                        <li><a href="javascript:" data-value="0">Limit-Value Alarm Mode</a></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="divAlarmInfo">
                            <label for="iptAlarmInfo" class="control-label">Alarm Info:</label>
                            <input type="text" class="form-control" id="iptAlarmInfo" placeholder="Enter alarm info">
                        </div>
                        <div class="form-group" id="divRuleEnable">
                            <label for="message-text" class="control-label">Rule Enable:</label>
                            <div class="row form-inline">
                                <div class="checkbox col-xs-3">
                                    <label>
                                      <input id="cbLL" type="checkbox" checked disabled> LL
                                    </label>
                                </div>
                                <div class="checkbox col-xs-3">
                                    <label>
                                      <input id="cbL" type="checkbox"> L
                                    </label>
                                </div>
                                <div class="checkbox col-xs-3">
                                    <label>
                                      <input id="cbH" type="checkbox"> H
                                    </label>
                                </div>
                                <div class="checkbox col-xs-3">
                                    <label>
                                      <input id="cbHH" type="checkbox"> HH
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="divRuleValue">
                            <label for="message-text" class="control-label">Rule Value:</label>
                            <div class="form-horizontal row-condensed">
                                <div class="form-group">
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" id="iptLL" placeholder="LL Value">
                                    </div>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="iptLLInfo" placeholder="LL Alarm Info">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" id="iptL" placeholder="L Value" disabled>
                                    </div>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="iptLInfo" placeholder="L Alarm Info" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" id="iptH" placeholder="H Value" disabled>
                                    </div>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="iptHInfo" placeholder="H Alarm Info" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" id="iptHH" placeholder="HH Value" disabled>
                                    </div>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="iptHHInfo" placeholder="HH Alarm Info" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="divAlarmLevel">
                            <label for="iptAlarmLevel" class="control-label">Alarm Level:</label>
                            <input type="text" class="form-control" id="iptAlarmLevel" placeholder="Enter alarm level">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-action="add" id="btnRuleSubmit">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>