<style>
    /*#modalKPIConfig * {border-radius: 0;}*/
    #modalKPIConfig, #modalKPIConfig .modal-backdrop {position: absolute;}
    .drop-area {
        border: 1px dashed #ccc; 
        height: 34px; 
        line-height: 34px; 
        text-align: center; 
        color: #acacac;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 15px;
        cursor: default;
    }
    .drop-area.on {border-color: #46b8da; border-width: 2px;}
    .drop-area.on>* {display:none;}
    #modalKPIConfig .input-combo .input-group-addon {border-left:none; border-right: none;}
    #modalKPIConfig .dropdown-wrap {width: 100%;}
    #modalKPIConfig .dropdown-wrap>.btn-sm { width: 100%; line-height: 22px;}
    #modalKPIConfig .dropdown-wrap>.btn-sm>.caret { float:right; margin-top: 8px;}
    #modalKPIConfig .form-group>.col-md-4~.col-md-4 { padding-left: 0; }
    #modalKPIConfig hr {margin: 0 -15px 15px; border-color: #ddd;}

    /* animation */
    .optional { transition: height .3s ease-in-out;}
    .optional>.form-group { transition: opacity .2s linear; opacity: 0; }
    .optional>.form-group.on {opacity: 1;}
    .optional-fgi {transition: opacity .3s ease-in-out; opacity: 0;}
    .optional-fgi.on {opacity: 1;}
</style>

<div class="modal" id="modalKPIConfig" data-backdrop="static">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">KPI Options</h4>
        </div>
        <div class="modal-body" id="formWrap">
            <div class="form-horizontal">
                <!-- Base Options -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="">Chart Name</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="iptChartName" placeholder="Chart Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="">Chart Range</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" id="iptChartLowerLimit" placeholder="Lower Limit" />
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" id="iptChartUpperLimit" placeholder="Upper Limit" />
                    </div>
                </div>
                <hr/>
                <!-- Point Difination -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="">Target Point</label>
                    <div class="col-md-4">
                        <div class="drop-area" id="divTargetPoint">
                            <span class="glyphicon glyphicon-plus"></span>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-md-3 control-label" for="">Reference Point</label>
                    <div class="col-md-4">
                        <div class="drop-area" id="divReferencePoint">
                            <span class="glyphicon glyphicon-plus"></span>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="form-group">
                    <label class="col-md-3 control-label" for="">Condition</label>
                    <div class="col-md-4">
                        <div class="btn-group dropdown-wrap">
                            <button class="btn btn-default btn-sm clearfix" id="btnCondition" type="button" data-toggle="dropdown">
                            <span>Equal To (=)</span>
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:;" data-value="0">Equal To (=)</a></li>
                                <li><a href="javascript:;" data-value="1">Less Than (&lt;)</a></li>
                                <li><a href="javascript:;" data-value="2">Greater Than (&gt;)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" id="iptConditionVal" placeholder="Condition Value" />
                    </div>
                </div> -->
                <hr/>
                <!-- Evaluate Cycle Options -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="">Data Cycle</label>
                    <div class="col-md-4">
                        <div class="btn-group dropdown-wrap">
                            <button class="btn btn-default btn-sm clearfix" type="button" data-toggle="dropdown" id="btnDataCycleMode" data-value="0">
                                <span>Monthly</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu " role="menu" id="ulDataCycleMode">
                                <li><a href="javascript:;" data-value="0">Monthly</a></li>
                                <!-- <li><a href="javascript:;" data-value="1">Quarterly</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-md-4 optional-fgi" id="fgiStartMonth">
                        <div class="btn-group dropdown-wrap">
                            <button class="btn btn-default btn-sm clearfix" id="btnStartMonth" type="button" data-toggle="dropdown" data-value="">
                            <span>Start Month</span>
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="ulStartMonth">
                            </ul>
                        </div>
                    </div> -->
                </div>
                <hr/>
                <!-- Warning Standard -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="">Warn Mode</label>
                    <div class="col-md-4">
                        <div class="btn-group dropdown-wrap">
                            <button class="btn btn-default btn-sm clearfix" id="btnWarnMode" type="button" data-toggle="dropdown" data-value="0">
                                <span>From User Input</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="ulWarnMode" role="menu">
                                <li><a href="javascript:;" data-value="0">From User Input</a></li>
                                <!-- <li><a href="javascript:;" data-value="1">From History</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group dropdown-wrap">
                            <button class="btn btn-default btn-sm clearfix" id="btnIsShowRC" type="button" data-toggle="dropdown" data-value="0">
                                <span>Show Reference Curve</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="ulIsShowRC">
                                <li><a href="javascript:;" data-value="0">Show Reference Curve</a></li>
                                <li><a href="javascript:;" data-value="1">Hide Reference Curve</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="optional" style="height:49px;">
                    <div class="form-group on" id="fgWarnRange">
                        <label class="col-md-3 control-label" for="">Warn Range</label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" id="iptLowerWarnVal" placeholder="Lower Warn Value" />
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="text" id="iptUpperWarnVal" placeholder="Upper Warn Value" />
                        </div>
                    </div>
                    <div class="form-group" id="fgWarnTime" style="display:none;">
                        <label class="col-md-3 control-label" for="">Time Mode</label>
                        <div class="col-md-4">
                            <div class="btn-group dropdown-wrap">
                                <button class="btn btn-default btn-sm clearfix" id="btnWarnTimeMode" type="button" data-toggle="dropdown" data-value="0">
                                    <span>From User Input</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="ulWarnTimeMode" role="menu">
                                    <li><a href="javascript:;" data-value="0">From User Input</a></li>
                                    <!-- <li><a href="javascript:;" data-value="1">Last Year (Same Period)</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="btn-group dropdown-wrap">
                                <button class="btn btn-default btn-sm clearfix" id="btnHistoryValUsage" type="button" data-toggle="dropdown" data-value="0">
                                    <span>Use As Lower Limit</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="ulHistoryValUsage" role="menu">
                                    <li><a href="javascript:;" data-value="0">Use As Lower Limit</a></li>
                                    <li><a href="javascript:;" data-value="1">Use As Upper Limit</a></li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="form-group" id="fgWarnTimeRange" style="display:none;">
                        <label class="col-md-3 control-label" for="">Time Range</label>
                        <div class="col-md-4">
                            <div class="input-group input-combo">
                                <input type="text" class="form-control datetime" id="iptWarnTimeRangeStart" placeholder="Start Time">
                            </div>
                        </div>
                    </div> -->
                </div>
                <hr/>
                <!-- Pre Warnning Options -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="">Pre-Warn Mode</label>
                    <div class="col-md-4">
                        <div class="btn-group dropdown-wrap">
                            <button class="btn btn-default btn-sm clearfix" id="btnPreWarnMode" type="button" data-toggle="dropdown" data-value="0">
                            <span>From User Input</span>
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="ulPreWarnMode" role="menu">
                                <li><a href="javascript:;" data-value="0">From User Input</a></li>
                                <!-- <li><a href="javascript:;" data-value="1">From History</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="optional" style="height: 49px;">
                    <div class="form-group on" id="fgPreWarnRange">
                        <label class="col-md-3 control-label" for="">Pre-Warn Range</label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" id="iptPreGreaterThan" placeholder="Greater Than Std" />
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" type="text" id="iptPreLessThan" placeholder="Less Than Std" />
                        </div>
                    </div>
                    <!-- <div class="form-group" id="fgPreWarnTime" style="display:none;">
                        <label class="col-md-3 control-label" for="">Time Mode</label>
                        <div class="col-md-4">
                            <div class="btn-group dropdown-wrap">
                                <button class="btn btn-default btn-sm clearfix" id="btnPreWarnTimeMode" type="button" data-toggle="dropdown" data-value="0">
                                <span>From User Input</span>
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="ulPreWarnTimeMode" role="menu">
                                    <li><a href="javascript:;" data-value="0">From User Input</a></li>
                                    <li><a href="javascript:;" data-value="1">Last Year (Same Period)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="fgPreWarnTimeRange" style="display:none;">
                        <label class="col-md-3 control-label" for="">Time Range</label>
                        <div class="col-md-4">
                            <div class="input-group input-combo">
                                <input type="text" class="form-control datetime" id="iptPreWarnTimeRangeStart" placeholder="Start Time">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
        </div>
    </div>
</div>
</div>