#terminalDebugContainer {
    color: black;
}

.dtuTypeBox {
    width: 100%;
    padding: 0 10px;
    margin-top: 6px;
}

#selectType {
    width: 215px;
    height: 30px;
    border-radius: 2px;
}

.dtuType {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #e6e6e6;
    overflow: hidden;
}

.dtuSee, .dtuEdit {
    width: 50px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border-right: 1px solid #ddd;
    cursor: pointer;
}

.dtuSee.active {
    background: #1e78e6;
    color: #ffffff;
}

.dtuEdit.active {
    background: #1e78e6;
    color: #ffffff;
}

.dtuType .btuIcon {
    display: block;
}

.hideIcon .btuIcon {
    display: none;
}

.btuIcon {
    float: right;
    margin-right: 6px;
    line-height: 32px;
    color: #666;
}

#list_dtu_ul {
    list-style: none;
    padding: 5px;
}

.list_dtu_ul li {
    border-radius: 4px;
    margin: 3px;
    overflow: hidden;
}

.list_dtu_ul li.dtuLi {
    border: 1px solid #ccc;
}

.list_dtu_ul li.dtuLi.active {
    border: 1px solid #1e78e6;
}

/*添加新样式start*/

.dtu_subsets_ul {
    padding: 0;
    list-style: none;
}

.list_dtu_ul li.dtuLi.active .dtuContent {
    background: #1e78e6;
}

.list_dtu_ul li.dtuLi.active .dbName {
    color: #ffffff;
}

.list_dtu_ul li .dtuContent {
    padding: 7px;
}

.dtuSubsets li {
    padding: 3px;
    margin: 0;
    border-radius: 0;
}

.dtuSubsets li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.list_dtu_ul li.dtuLi .dtuSubsets {
    display: none;
}

.list_dtu_ul li.dtuLi.active .dtuSubsets {
    display: block;
}

.list_dtu_ul li.dtuLi .glyphicon-chevron-down {
    display: block;
}

.list_dtu_ul li.dtuLi.active .glyphicon-chevron-down {
    display: none;
}

.list_dtu_ul li.dtuLi.active .glyphicon-chevron-up {
    display: block;
    color: #ffffff;
}

/*添加新样式end*/
.dtuLeft {
    float: left;
    padding: 4px 3px;
}

.onlineBackground {
    background: rgba(76, 174, 76, 0.6);
}

.offlineBackground {
    background: rgba(230, 0, 0, 0.3);
}

.dtuLeft .dtuName, .dtuLeft .dbName {
    font-size: 14px;
    color: #000;
}

.dtuLeft .dtuRemark {
    font-size: 12px;
    color: #646464;
    width: 100px;
}

.dtuRight {
    float: right;
    padding-top: 10px;
}

.dtuRight.noRemark {
    padding-top: 1px;
}

.dtuRight .btn {
    padding: 3px 5px;
}

.online .dtuRight .btn {
    border-color: #68b46a;
    background: #4cae4c;
    opacity: 0.7;
    font-size: 12px;
    color: #fff;
}

.offline .dtuRight .btn {
    border-color: #ea4848;
    background: #e60000;
    opacity: 0.5;
    font-size: 12px;
    color: #fff;
}

#searchProjectBox {
    padding: 10px;
    max-width: 240px;
    border-bottom: 1px solid #ddd;
}

#terminalDebugContainer .widget-sdt-container .table-body {
    height: 61vh;
}

.icon_is_online_ico_docu:before {
    content: "\e671";
}

#debugRightContainer .pagination .active a {
    color: #EBC124 !important
}

#debugSearchPoint {
    width: 370px;
}

.terminalDebugBox {
    background: #fff;
    width: 100%;
    height: 100%;
}

#debugLeftContainer {
    background: #f3f3f3;
    border-right: 1px solid #eae8ea;
    -webkit-user-select: none;
    left: 0;
    width: 240px;
    height: 100%;
}

#debugRightContainer {
    height: 100%;
    top: 0;
    left: 240px;
    width: calc(100% - 240px);
}

.treeWrapper {
    height: calc(100% - 100px);
    overflow-y: auto;
}

#debugLeftContainer .ztree li a {
    color: black;
}

#debugLeftContainer .ztree li a.curSelectedNode {
    color: black;
}

#debugLeftContainer .input-group-addon {
    padding: 5px;
    background: #fff;
    height: 30px;
    box-sizing: border-box;
    border-color: rgb(178, 178, 178);
    border-radius: 0 4px 4px 0;
}

#debugLeftContainer .input-group-addon button {
    -webkit-appearance: button;
    outline: none;
    background: none;
    border: none;
    -webkit-user-select: none;
}
