.spinnerMask {
    position: absolute;
    z-index: 1000;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #808080;
}

/*Config Chart start*/
.modal-body{
    overflow: auto;
}
/*DataWorkSpace end*/
.ctnDataSourceWorkSpace .divDataRole {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    margin: 10px 0;
    padding-top: 10px;
}
.ctnDataSourceWorkSpace .spVarLabel {
    position: absolute;
    background-color: #eee;
    padding: 0 12px;
    top: -10px;
    left: -10px;
}
.ctnDataSourceWorkSpace .divDataRole>div {
    background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #4c9f42;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    display: inline-block;
    margin: 5px 1%;
    padding: 4px 15px;
    border-radius: 5px;
    width: 31%;
    float: left;
}
.ctnDataSourceWorkSpace.vertical .divDataRole>div{
    width:98%;
}
@media (min-width: 1200px) {
    .ctnDataSourceWorkSpace .divDataRole>div {
        width: 23%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .ctnDataSourceWorkSpace.vertical .divDataRole>div{
        width:98%;
    }
}
.ctnDataSourceWorkSpace .divDataSource:hover .btnDataSourceDel{
    color: darkorange;
}
.ctnDataSourceWorkSpace .spDataSource {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 84%;
    white-space: nowrap;
}
.ctnDataSourceWorkSpace .btnDataSourceDel {
    top: 2px;
    color: #ccc;
    float: right;
}
.ctnDataSourceWorkSpace .divDataRole>.divDataAppendTip {
    text-align: center;
    color: #ccc;
    background-color: transparent;
    border: 1px dashed #ccc;
    height: 30px;
}
.ctnDataSourceWorkSpace .divDataRole>.divDataAppendTip>.spHoverTip {
    display: none;
}
.ctnDataSourceWorkSpace .divDataRole>.divDataAppendTip:hover {
    border-color: #66afe9;
    cursor: pointer;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.ctnDataSourceWorkSpace .divDataRole>.divDataAppendTip:hover>.spGeneralTip {
    display: none;
}
.ctnDataSourceWorkSpace .divDataRole>.divDataAppendTip:hover>.spHoverTip {
    display: inline-block;
}
.ctnDataSourceWorkSpace .divDataRole>.divDataAppendTip.dragover {
    border-color: #66afe9;
    cursor: pointer;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.ctnDataSourceWorkSpace .divDataRole>.divDataAppendTip.dragover>span {
    visibility: hidden;
}
.ctnDataSourceWorkSpace .labelDataRole {
    position: absolute;
    top: -10px;
    background-color: #fff;
}
.ctnDataSourceWorkSpace .btnChartCog {
    position: absolute;
    font-size: 18px;
    top: -9px;
    right: -9px;
    padding: 0;
    background: #eee;
}
.ctnDataSourceWorkSpace .panelChartCog {
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    width: 60%;
    left: 20%;
    top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #428bca;
    z-index: 1400;
    background-color: white;
    display: none;
    color: #333;
}
.ctnDataSourceWorkSpace .divBtnCogGrp{
    position: relative;
    float: right;
    right: 10px;
    font-size: 18px;
}
/*DataWorkSpace end*/

[data-h5-draggable-node]:hover {
    cursor: pointer;
    color:#428bca;
    transition: 0.1s;
    -webkit-transition: 0.1s;
}

.observer-text-tooltip {
    -webkit-transition: left .2s ease-out, top .2s ease-out, opacity .2s ease-out;
    transition: left .2s ease-out, top .2s ease-out, opacity .2s ease-out;
}