<style>
    *{font-family: "Microsoft YaHei"}
    #divReportSelect {
        width: 100%;
        height: 12%;
        position: relative;
        background-color: #EFEDE5;
    }
    #divReportTime {
        width: 30%;
        height: 100%;
        display: inline-block;
        border-right: 1px dotted #aaa;
    }
    #reportYear {
        color: #8e8e93;
        display: block;
        padding: 0.5rem 0 0 1.5rem;
    }
    #reportMonth {
        font-size: 3.8rem;
        font-weight: 500;
        padding-left: 1.5rem;
        position: relative;
        bottom: 0.5rem;
    }
    #reportMonth small {
        font-size: 45%;
        position: relative;
        top: -0.3rem;
    }
    #divReportSelect .caret {
        position: relative;
        bottom: 1.6rem;
        border-top: 6px solid;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }
    #containerReport {
        width: 100%;
        height:85%;
        position: relative;
        overflow-y: auto;
    }
    .canvas-container img{
        width: 100%;
        height: 100%;
    }
    .report-unit .summary{
        color: #000;
        margin-bottom: .8rem;
    }
</style>
<div id="divReportSelect">
    <div id="divReportTime">
        <span id="reportYear"></span>
        <span id="reportMonth"></span>
        <span class="caret"></span>
    </div>
    <div id="divReportList"></div>
</div>
<div id="containerReport">

</div>