<div id="template">
    <!--common start-->

    <!--workflow main start-->
    <div data-type="template" id="wf-main-gd-block">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="gd">
                <div class="icon-row">
                    <span class="icon-row-icon glyphicon glyphicon-stats" aria-hidden="true">
                        <span class="icon-row-text"></span>
                    </span>
                    <span class="icon-row-icon glyphicon glyphicon-ok-circle" aria-hidden="true">
                        <span class="icon-row-text"></span>
                    </span>
                    <span class="icon-row-icon glyphicon glyphicon-time" aria-hidden="true">
                        <span class="icon-row-text"></span>
                    </span>
                </div>
                <div class="content-row">
                    <div class="media">
                        <a class="media-left cp">
                            <div class="wf-project-icon"
                                 style="background: url(/static/images/login_feature_icons.jpg) no-repeat -50px 0;"></div>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--workflow main end-->
    <!--workflow transaction start-->
    <div data-type="template" id="wf-transaction-task">
        <div class="task-item clearfix">
            <div class="col-xs-10">
                <div class="col-xs-1 taskNo p0"></div>
                <div class="col-xs-11 task-body">
                    <div class="col-sm-7 col-md-6">
                        <span class="glyphicon timer fl ic0" i18n="title=workflow.urgencyLevel.0"></span>
                        <div class="task-title"></div>
                    </div>
                    <div class="col-sm-5 col-md-6 operator">
                        <span class="creator col-xs-4 ellipsis"></span>
                        <span class="member col-xs-4 ellipsis"></span>
                        <span class="status col-xs-4"></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"><span class="date"></span></div>
        </div>
    </div>

    <div data-type="template" id="wf-transaction-group-operator">
        <div class="project-operator pull-right col-xs-4">
            <a id="edit-project"><span i18n="title=workflow.main.EDIT"></span></a>
            <a id="del-project" class="btn btn-danger btn-sm"><span i18n="workflow.main.DELETE"></span></a>
        </div>
    </div>
    <!--workflow transaction end-->

    <!--workflow notice start-->
    <div data-type="template" id="wf-notice-latest-info">
        <div class="row latest-info-row">
            <div class="col-xs-12">
                <ul class="media-list lastest-info-list">
                    <li class="media">
                        <div class="media-left col-xs-1 tc">
                            <img src="" class="avatar-icon" />
                            <div class="avatar-name"></div>
                        </div>
                        <div class="media-body col-xs-10 pr-20">
                            <div class="info-date-container">
                                <div class="info-date-row"><span i18n="workflow.notice.DYNAMIC_TIME"></span>: <span
                                        class="date"></span></div>
                            </div>
                            <div class="info-content-container">
                                <span class="media-heading latest-info-title col-xs-2"
                                      i18n="workflow.notice.COOLER_ALARM_FAULT"></span>

                                <div class="latest-info-content col-xs-10">
                                    <div class="latest-info-description">
                                        <a href="#" class="notice-item">
                                            <span class="workflow-name"></span>
                                            <span href="#" class="notice-item-content"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--workflow notice end-->

    <!--workflow notice-detail start-->
    <div data-type="template" id="wf-notice-detail-reply">
        <div class="media discussion-media clearfix">
            <div class="media-left col-xs-2 tc">
                <img class="avatar-icon" src="" />
                <div class="avatar-name"></div>
            </div>
            <div class="media-body col-xs-10">
                <div class="col-xs-9 item-text-color"><span i18n="workflow.notice.REPLAY_ORDER"></span>：
                    <div class="latest-info-description"></div>
                </div>
                <div class="col-xs-3 reply-date item-text-color"></div>
            </div>
        </div>
    </div>
    <!--workflow notice-detail end-->

    <!--workflow team start-->
    <div data-type="template" id="wf-team-assign-member">
        <div class="col-xs-4">
            <div class="media member-media">
                <div class="media-left">
                    <div class="avatar-icon"
                         style="background: url(/static/images/login_feature_icons.jpg) no-repeat 0 0;"></div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading team-avatar-name"></h4>

                    <div class="team-avatar-desc"></div>
                </div>
            </div>
        </div>
    </div>
    <!--workflow team end-->

    <!--workflow mine start-->
    <div data-type="template" id="wf-mine-tasks">
        <div class="task-item clearfix">
            <div class="wr2 fl">
                <div class="col-xs-1 taskNo p0"></div>
                <div class="col-xs-11 task-body">
                    <div class="col-sm-8 col-md-8">
                        <span class="glyphicon timer fl ic0" i18n="title=workflow.urgencyLevel.0"></span>
                        <div class="task-title"></div>
                    </div>
                    <div class="col-sm-4 col-md-4 operator">
                        <span class="glyphicon glyphicon-ok-sign" i18n="title=workflow.main.FINISH"></span>
                        <span class="glyphicon glyphicon-edit" i18n="title=workflow.main.EDIT"></span>
                        <span class="glyphicon play-pause" i18n="title=workflow.main.START"></span>
                        <span class="status"></span>
                    </div>
                </div>
            </div>
            <div class="wr1 fl">
                <span class="date"></span>
            </div>
            <div class="wr1 fl ellipsis">
                <span class="creator"></span>
            </div>
            <div class="wr1 fl">
                <span class="alert-type"></span>
            </div>
        </div>
    </div>

    <div data-type="template" id="wf-mine-mines">
        <div class="task-item clearfix">
            <div class="wr3 fl">
                <div class="wd-no taskNo"></div>
                <div class="task-body">
                    <div class="wd-task fl">
                        <span class="glyphicon timer fl ic0" i18n="title=workflow.urgencyLevel.0"></span>
                        <div class="task-title"></div>
                    </div>
                    <div class="wd-status operator fr">
                        <span class="glyphiconWrapper">
                            <span class="glyphicon glyphicon-ok-sign" i18n="title=workflow.main.FINISH"></span>
                            <span class="glyphicon glyphicon-edit" i18n="title=workflow.main.EDIT"></span>
                            <span class="glyphicon play-pause" i18n="title=workflow.main.START"></span>
                        </span>
                        <span class="status"></span>
                    </div>
                </div>
            </div>
            <div class="wr1 fl ellipsis">
                <span class="executor-person"></span>
            </div>
            <div class="wr1 fl">
                <span class="create-date"></span>
            </div>
            <div class="wr1 fl">
                <span class="date"></span>
            </div>
            <div class="wr1 fl">
                <span class="alert-type"></span>
            </div>
        </div>
    </div>

    <div data-type="template" id="wf-mine-tasks-complete">
        <div class="row task-row">
            <div class="col-xs-10 col-xs-offset-1 task-items">
                <span class="task-type"></span>
                <div class="task-item clearfix">
                    <div class="wr2 fl">
                        <div class="col-xs-1 taskNo p0"></div>
                        <div class="col-xs-11 task-body">
                            <div class="col-sm-8 col-md-8">
                                <span class="glyphicon glyphicon-ok icon-status fl" i18n="title=workflow.main.FINISHED"></span>
                                <div class="task-title"></div>
                            </div>
                            <div class="col-sm-4 col-md-4 operator">
                                <span class="glyphicon glyphicon-repeat" i18n="title=workflow.main.RESTART" ></span>
                                <span class="status" style="margin-left: 57px;"
                                      i18n="workflow.mine.TASK_STATUS_COMPLETED"></span>
                            </div>
                        </div>
                    </div>
                    <div class="wr1 fl">
                        <span class="date"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--workflow mine end-->
    <!--workflow group end-->
    <div data-type="template" id="wf-group-assign-member">
        <div class="col-xs-3 draggable">
            <div class="media member-media">
                <div class="media-left">
                    <div class="avatar-icon"
                         style="background: url(/static/images/login_feature_icons.jpg) no-repeat 0 0;"></div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading team-avatar-name"></h4>

                    <div class="team-avatar-desc"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-type="template" id="wf-group-assign-group">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row group-name"></div>
            <div class="row group-members droppable-row">

            </div>
        </div>
    </div>
    <!--workflow group end-->
</div>

