<style type="text/css">
.bodyContain {
    margin: 5px 50px 50px 50px;
}
.checkboxShow {
    width: 180px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>

<div class="modal">
    <div class="modal-dialog modal-lg" style="margin-top: 100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" i18n="dashboard.modalJumpPages.IMPORT_PAGE">Import Page</h4>
            </div>

            <div class="modal-body bodyContain">

                <div class="row">
                    <form>
                        <div class="form-group">
                            <label for="selectGroup" i18n="dashboard.modalJumpPages.GROUP_LIST">Group List</label>
                            <select id="selectGroup" class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option style="color:#0000ff;font-weight:900;">New Group</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" id="inputNewGroup" placeholder="New group name" style="display:none;">
                    </form>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <label i18n="dashboard.modalJumpPages.POINT_LIST">Point List</label>
                    <div id="ptList" style="height: calc(100%);overflow-y: auto;">
                        <label class="checkboxShow">
                            <input type="checkbox">Please check this 1
                        </label>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px;position: relative;float: right;">
                    <button class="btn btn-default" type="button"  data-dismiss="modal" style="width:70px;" i18n="dashboard.modalJumpPages.CANCEL">Cancel</button>
                    <button class="btn btn-primary" type="button"  id="btnImport" style="width:70px;" i18n="dashboard.modalJumpPages.SURE">Sure</button>
                </div>

            </div>
        </div>
    </div>
</div>