<style>
    #spUploadInfo {
        font-size: 15px;
        font-weight: 700;
        margin-left: 15px;
    }
    #divUploadWrap {
        background: #fff;
        padding: 0 50px 20px;
    }
    .nav-tabs {
        background: #fff;
    }
    .tab-content {
        margin-top: 20px;
    }
    .div-actions {
        text-align: center;
    }
    .upload-wrap {position: relative; padding: 5px;}
    .drop-handler {
        position: absolute; 
        left: 0; 
        top: 0;
        z-index: 2;
        color:#92AAB0;
        background: #000;
        opacity: .6;
        text-align:center;
        vertical-align:middle;
        font-size:3em;
        width: 100%;
        height: 100%;
    }
    .drop-handler>p {
      opacity: 1;
      color: #fff;
      height: 100%;
      margin: 0;
      line-height: 100px;
    }
    .div-actions { text-align: center; }
    #uploadMask {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        background: transparent;
    }
</style>
<ul class="nav nav-tabs" id="myTab">
    <li class="active">
        <a href="#pane1" data-toggle="tab">实时数据</a>
    </li>
    <li>
        <a href="#pane2" data-toggle="tab">导入数据</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="pane1">
        <div class='container-fluid indexContent' id="divPointManagerPage">
            <div class='row-fluid'>
                <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>

                    <div id="divProjectList" class="panel panel-default col-md-3">
                        <div class="panel-heading">项目列表</div>
                        <div class="panel-body" style="padding:30px;"></div>
                    </div>

                    <div id="divPointsList" class="panel panel-default col-md-6">
                        <div class="panel-heading">点名列表</div>
                        <div class="panel-body" style="padding:30px;">
                            <table class="table" id="tableWatch" overflow="auto">
                                <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>编号</th>
                                        <th>点名</th>
                                        <th>点值</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div id="divOperationPanel" class="panel panel-default col-md-3">
                        <div class="panel-heading">操作区域</div>
                        <div class="panel-body" style="padding:30px;">

                            <div class="form-group">
                                <label>开始时间</label>
                                <div class="input-group date form_datetime" data-date="" data-link-field="dtp_inputStart">
                                    <input class="form-control" size="16" type="text" value="" id="selStartTime">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>结束时间</label>
                                <div class="input-group date form_datetime" data-date="" data-link-field="dtp_inputStart">
                                    <input class="form-control" size="16" type="text" value="" id="selEndTime">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="button" id="btn_hist_curve">
                                    <label>历史曲线</label>
                                </button>
        <!--
                                <button type="button" id="btn_sel_all">
                                    <label>全选</label>
                                </button>
                                <button type="button" id="btn_sel_none">
                                    <label>不选</label>
                                </button>

                                <button type="button" id="btn_sel_save">
                                    <label>保存</label>
                                </button>
                                <button type="button" id="btn_sel_load">
                                    <label>载入</label>
                                </button>
                                <button type="button" id="btn_sel_clear">
                                    <label>清除</label>
                                </button>
        -->
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pane2">
        <div class="container" id="divUploadWrap">
            <h3>请导入您的项目数据 - (当前项目：<strong id="stPjName"></strong>)</h3>
            <div class="upload-wrap">
                <div class="form-group has-feedback">
                    <label class="control-label" for="iptPjData" i18n="admin.projectCreator.PANE2_FORM_ITEM1_LABEL"></label>
                    <input type="file" id="iptPjData" style="display:none;">
                    <div>
                        <button type="button" class="btn btn-primary" id="btnUploadCSV">
                            <span i18n="admin.projectCreator.PANE2_FORM_ITEM1_TITLE"></span>
                            <span class="glyphicon glyphicon-upload"></span>
                        </button>
                        <span class="text-muted" id="spUploadInfo">（请选择文件）</span>
                    </div>
                    <span class="help-block" i18n="admin.projectCreator.PANE2_FORM_ITEM1_TIP"></span>
                </div>
                <div class="drop-handler" id="divPjDataDropHandler" style="display:none;">
                    <p>请将文件拖拽到此处进行上传</p>
                </div>
            </div>
            <div class="tb-wrap">
                <div class="tb-head clearfix">
                    <h3 i18n="admin.projectCreator.PANE2_TABLE_TITLE"></h3>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th>Date</th>
                        <th>PointName1</th>
                        <th>PointName2</th>
                        <th>PointName3</th>
                    </tr>
                    <tr>
                        <td>2014-05-01 1:00</td>
                        <td>0.544533</td>
                        <td>0.412343</td>
                        <td>0.112314</td>
                    </tr>
                    <tr>
                        <td>2014-05-01 2:00</td>
                        <td>0.987917</td>
                        <td>0.312334</td>
                        <td>0.534956</td>
                    </tr>
                    <tr>
                        <td>2014-05-01 3:00</td>
                        <td>0.124133</td>
                        <td>0.132311</td>
                        <td>0.543534</td>
                    </tr>
                    <tr>
                        <td>2014-05-01 4:00</td>
                        <td>0.987978</td>
                        <td>0.543534</td>
                        <td>0.867867</td>
                    </tr>
                    <tr>
                        <td>2014-05-01 5:00</td>
                        <td>0.123432</td>
                        <td>0.321543</td>
                        <td>0.645645</td>
                    </tr>
                    <tr>
                        <td>2014-05-01 6:00</td>
                        <td>0.757531</td>
                        <td>0.414752</td>
                        <td>0.555123</td>
                    </tr>
                </table>
            </div>
            <div class="div-actions">
                <button type="button" class="btn btn-primary" id="btnConfirmUpload">确认上传</button>
            </div>
        </div>
    </div>
</div>
<div id="uploadMask" style="display:none;"></div>