/*样式覆盖 开始*/
body {
    background: #e7e7e7;
}

input[type="checkbox"] {
    cursor: pointer;
}

textarea {
    resize: none;
}

.fl {
    float: left;
}

.ul {
    padding-left: 0;
    list-style: none;
}

.fr {
    float: right;
}

.cb {
    clear: both;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.cp {
    cursor: pointer;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.p20 {
    padding: 20px;
}

.ps20 {
    padding: 0 20px;
}

.pv20 {
    padding: 20px 0;
}

.m5 {
    margin: 5px;
}

.m8 {
    margin: 8px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.mt80 {
    margin-top: 80px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr25 {
    margin-right: 25px;
}

.mv10 {
    margin: 10px 0;
}

.mv15 {
    margin: 15px 0;
}

.m_auto {
    margin: 0 auto;
}

.ti5 {
    text-indent: 5px;
}

.ti10 {
    text-indent: 10px;
}

.oh {
    overflow: hidden;
}

.oa {
    overflow: auto;
}

.vm {
    vertical-align: middle;
}

.vi {
    vertical-align: inherit;
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.w120 {
    width: 120px;
}

.w150 {
    width: 150px;
}

.w180 {
    width: 180px;
}

.w200 {
    width: 200px;
}

.w400 {
    width: 400px;
}

.wr100 {
    width: 100%;
}

.db {
    display: block;
}

.dn {
    display: none;
}

.cp {
    cursor: pointer;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tb1 {
    width: 100%;
}

.tb1 td, .tb1 th {
    border: 1px solid #c7c7c7;
    padding: 10px;
    text-align: center;
}

.btn-group {
    margin-right: 10px;
    background-color: #fff;
    border-radius: 5px;
}

/*样式覆盖 结束*/
.spinner {
    z-index: 10000 !important;;
}

#page-wrapper {
    min-height: 100vh;
}

.btnGroup {
    margin: 10px 0;
    color: #333;
}

#point_clear {
    display: none;
}

#buttonGroup.pointType #point_clear {
    display: block;
}

.btnGroup button {
    border: 1px solid #d7d7d7;
    background: #fff;
    color: #000;
}

#text_search {
    float: left;
    position: relative;
    top: 0;
    width: 180px;
}

#select_project {
    width: 180px;
    margin-top: 10px;
    float: left;
    margin-left: 15px;
}

#search {
    float: right;
}

.sheet {
    width: 100%;
    overflow: hidden;
    height: 70vh;
}

.energy-section {
    min-height: calc(100vh - 350px);
}

@media (max-height: 768px) {
    .energy-section {
        min-height: calc(100vh - 275px);
    }
}

.sheet .htSearchResult {
    color: #1E90FF;
}

.sheet .htSearchResult .keyword {
    color: orange;
}

.sheet tbody .searchCurrent {
    border: 1px solid red;
}

.sheet .htCheckboxRendererInput {
    margin-top: 0;
    vertical-align: middle;
}

/*浮动窗口 开始*/
.appWin .modal-dialog {
    margin-top: 200px;
}

.winP {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.winP .title {
    width: 100px;
    float: left;
    margin-right: 10px;
    font-weight: normal;
}

#isDelPointWin .modal-dialog, #editPointWin .modal-dialog {
    margin-top: 200px;
}

#isDelPointWin .modal-dialog, #editPointWin .modal-dialog {
    margin-top: 20px;
}

#isDelPointWin .modal-dialog {
    width: 400px;
}

#editPointWin .modal-dialog {
    width: 740px;
}

#pointSetWin .modal-dialog {
    width: 980px;
}

#editPointWin input[type="text"], #editPointWin select {
    width: 150px;
}

#pointInfoDownWrapper .boxMr {
    margin-right: 109px;
}

#pointInfoDownWrapper {
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px dashed #ccc;
}

#pointRelatedWrapper .reserveParamWrapper {
    width: 33%;
    margin-bottom: 15px;
    float: left;
    overflow: hidden;
}

.editWinbox {
    float: left;
    width: 150px;
}

#systemNameContentWrapper {
    width: 265px;
    margin: 0 auto;
}

#systemNameSheet td, #systemNameSheet th, #pointNameWrapper td, #pointNameWrapper th {
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: #fff;
}

#systemNameSheet .editOk, #pointNameSheet .editOk {
    border: 1px solid #ccc;
    padding: 2px 10px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 4px;
    display: block;
}

/*浮动窗口 结束*/

#point_import {
    position: relative;
    overflow: hidden;
}

#point_import input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.currentRow {
    background-color: #E7E8EF !important;
}

/*点表配置页面开始*/
#point_setting {
    margin: 0 auto;
    padding: 10px;
    width: 978px;
    background: #fff;
    height: 590px;
}

.point_setting h1 {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    margin: 0;
}

#point_set_source {
    width: 180px;
}

#point_setting_up_wrapper, #point_set_source_wrapper {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 50px;
    margin: 30px 0 50px 0;
}

.point_set_title {
    height: 45px;
    line-height: 45px;
    font-size: 20px;
}

#point_setting input {
    width: 180px;
}

#point_setting_down_ul > li, #point_setting_edit_ul li {
    margin: 0 auto 20px auto;
}

#point_setting_down_ul, #point_setting_edit_ul {
    padding-left: 0;
    list-style-type: none;
}

#point_setting_down_ul li, #point_setting_edit_ul li {
    width: 20%;
    float: left;
}

#point_setting_down_ul .title, #point_setting_edit_ul .title {
    display: block;
    width: 150px;
    text-indent: 10px;
}

#point_set_btn_warpper .active {
    color: #d9534f;
}

#pointSetSubmitWrapper {
    bottom: 50px;
    text-align: center;
    width: 952px;
}

.points-wrapper {
    max-height: 400px;
    overflow-y: auto;
}

/*点表配置页面结束*/

/*chosen插件样式改写*/
#pointForm .chosen-search > input {
    width: 100%;
}

.chosen-container {
    width: 200px;
}

/*cxtool样式开始*/
#loginForm {
    width: 300px;
    padding: 20px 40px;
    margin: 300px auto;
    /* background: #fff; */
    border: 1px dashed #c7c7c7;
}

#loginForm h1 {
    font-size: 20px;
    height: 40px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*cxtool样式结束*/
#addPointNameForm .addSystemParamName {
    width: 200px;
}

#addPointNameWin .modal-dialog {
    width: 450px;
    margin-top: 120px;
}

#addPointNameWin .form-group {
    margin-bottom: 15px;
    overflow: hidden;
}

#paramNameInputWrapper, #paramSystemNameInputWrapper {
    padding: 5px 10px;
    list-style-type: none;
    overflow: hidden;
}

#systemNameSelect {
    width: 172px;
}

#paramNameInputWrapper input[type=text], #paramSystemNameInputWrapper input[type=text] {
    display: block;
    float: left;
    width: 172px;
    margin: 5px;
}

/*cxtool样式结束*/
.spinnerMask {
    position: absolute;
    z-index: 1000;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #808080;
}

.form1 input[type='text'], .form1 select {
    width: 150px;
    margin-right: 10px;
}

.form1 table input[type='text'], .form1 table select {
    width: 150px;
    margin: 0 auto;
}

/*cxtool操作记录开始*/
#op_record_error_info {
    display: block;
    float: left;
    color: #a94442;
    text-indent: 30px;
    position: relative;
    left: -2px;
    top: 7px;
}

/*cxtool操作记录结束*/
.pagination a {
    border: 1px solid grey;
    padding: 2px 5px;
}

#page-wrapper {
    overflow: hidden;
}

@media (min-width: 768px) {
    #wrapper #page-wrapper {
        position: inherit;
        min-height: 97vh;
    }
}

#wrapper .pagination {
    margin: 0;
}

#wrapper #cloudPagination, #wrapper #pointPagination, #wrapper #mappingPagination {
    margin-top: 20px;
}

#editPointWin.cloudPointWin .modal-dialog {
    width: 1055px;
    max-height: 95vh;
}

#editPointWin.cloudPointWin input[type="text"], #editPointWin.cloudPointWin select {
    width: 220px;
}

#editPointWin.cloudPointWin #dateTimeStart, #editPointWin.cloudPointWin #dateTimeEnd {
    width: 170px;
}

#search_result {
    margin-top: 11px;
    max-height: 700px;
}

#search_result td, #search_result th {
    border: 1px solid #ccc;
}

#search_result tbody td {
    background: #fff;
}

#search_result .engine_point_mapping {
    padding: 0;
    text-align: center;
}

#mappingFieldsContainer table {
    margin-bottom: 0;
}

#mappingResultContainer table {
    margin-bottom: 10px;
}

#mappingResultContainer label, .engine_point_mapping label {
    width: 100%;
    padding: 8px;
    margin-bottom: 0;
    cursor: pointer;
}

.search_panel_tool {
    position: absolute;
    top: -28px;
    left: 0;
    font-size: 16px;
}

.search_panel_tool .glyphicon {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #FFFFFF;
    padding: 5px;
}

#servers_table tr:hover {
    cursor: pointer;
}

#manualAddPointWin .modal-dialog {
    width: 400px;
}

#pointsContent {
    height: 100px;
}

.searchterm {
    color: blue;
    background-color: yellow;
}

.count {
    margin: 0 2px 0 5px;
}

#point_table_info {
    overflow: hidden;
    height: 41px;
    line-height: 32px;
}

#mappingResultWrapper {
    width: 100%;
    height: 700px;
    background-color: white;
    position: relative;
    top: -56px;
    display: none;
}

#closeMappingResult {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

#divPointsList .panel-heading {
    background-color: #fff;
    border-color: #fff;
}

#dialogContent .modal-header {
    display: none;
}

#dialogContent .modal-body {
    padding: 5px;
}

#tableMonitorBox {
    height: 47%;
    overflow-y: auto;
}

#dialogContentWrapper {
    border-top: 1px dashed #999;
    padding-top: 10px;
    margin-top: 10px;
}

#wrapper .minimalize-styl-2 {
    margin: 5px 5px 5px 5px;
}

#wrapper .navbar-top-links li a {
    padding: 10px 5px;
}

#unitTable td {
    width: 200px;
    word-break: break-word;
}

#unitTable .unit-value {
    position: relative;
}

#unitTable .icons {
    position: absolute;
    display: none;
    cursor: pointer;
    right: 3px;
    top: 35%;
}

#unitTable .unit-text input {
    width: 140px;
    float: left;
}

#serverManageUpdateCoreBtn {
    position: relative;
    cursor: pointer;
}

#serverManageUpdateCoreBtn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
    width: 105px;
    height: 32px;
}

#point_update_all input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
    width: 80px;
    height: 32px;
}

.iconGroup .ml10 {
    margin-left: 10px;
}

/*realtime data 样式开始*/

#wrapper #realTimePagination {
    margin-top: 0;
}

#real-time-data-wrapper .ibox {
    margin-bottom: 10px;
}

#real-time-data-wrapper .ibox-title {
    padding: 5px;
}

#real-time-data-wrapper .ibox-content {
    padding: 2px 20px;
}

#real-time-data-wrapper table {
    margin-bottom: 5px;
}

#real-time-data-wrapper td {
    padding: 4px;
}

.remark {
    font-size: 10px;
    color: #999;
}

#chartZoomIn {
    font-size: 16px;
}

#real-time-data-wrapper .addToCurve, #real-time-data-wrapper .addToMonitor, #real-time-data-wrapper .glyphicon {
    color: #1ab394;
}

#real-time-data-wrapper .addToCurve.selected, #real-time-data-wrapper .addToMonitor.selected {
    color: #ccc;
}

#real-time-data-wrapper {
    font-size: 12px;
}

.pointList > .panel-heading {
    height: 46px;
    padding: 5px 15px;
}

.pointList .panel-body, .pointList .ibox-content {
    padding: 5px 10px;
    overflow-y: auto;
    height: calc(100vh - 175px);
}

.pointList .listTitle {
    display: block;
    float: left;;
    font-size: 14px;
    margin: 5px;
    font-weight: bolder;
}

#real-time-data-wrapper .pointList tr {
    cursor: pointer;
}

#divPointManagerPage .pointList .active td {
    color: #fff;
}

#real-time-data-wrapper .keyword {
    color: orange;
}

#real-time-data-wrapper tr.active .keyword {
    color: #fff;
}

#searchDel {
    color: #5bc0de;
    cursor: pointer;
    right: 5px;
    top: 10px;
    z-index: 5;
}

#isDelPointsBtnWin .modal-dialog, #isDelCurvesBtnWin .modal-dialog {
    width: 400px;
}

#delSelect, #manualAddPoint {
    font-size: 14px;
    margin-top: 5px;
}

#real-time-data-wrapper .iconGroup .glyphicon {
    margin: 0 3px;
}

#dialogContentWrapper h3 {
    font-size: 14px;
}

#divProjectList, #divPointsList {
    height: calc(100vh - 120px);
    overflow: hidden;
}

#dialogContentWrapper .modal-content {
    height: 210px !important;
}

#dialogContentWrapper #tableOperatingRecord {
    height: 200px !important
}

#real-time-data-wrapper .col-md-6 {
    width: 49%;
}

#real-time-data-wrapper .panel {
    margin-bottom: 5px;
}

#zoomInChartWin .modal-dialog {
    width: 1000px;
    height: 550px;
}

/*realtime data 样式结束*/

/*servers 样式开始*/
#ct_op_server_manage_form {
    height: calc(100vh - 175px);
    overflow-y: auto;
    overflow-x: hidden;
}

#formBox .form-group-type {
    width: 33%;
    float: left;
    overflow: hidden;
}

#formBox .tooltip-inner {
    max-width: 810px;
}

#formBox .textColor {
    color: #2d8bca;
}

.text-group-box {
    margin: 0 0 20px 100px;
    overflow: hidden;
}

.text-group-box .form-value {
    color: #2d8bca;
    float: none;
}

.text-group {
    overflow: hidden;
}

.form-txt {
    display: block;
    text-align: right;
    float: left;
    width: 125px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#formBox .txt-longer {
    width: 220px;
}

span.form-value {
    float: right;
    display: block;
    font-weight: normal;
    line-height: 40px;
}

#formBox .unit {
    display: block;
    height: 40px;
    line-height: 40px;
    width: 10px;
    float: left;
    font-weight: normal;
}

#formBox .tooltipTxt {
    cursor: pointer;
}

.checkboxWidth {
    width: 125px;
    margin-right: 5px;
}

.form-value {
    float: right;
}

#formBox .fl {
    float: left;
}

#formBox .fr {
    float: right;
}

#formBox .tl {
    text-align: left;
}

#formBox .ml5 {
    margin-left: 5px;
}

#formBox .ml10 {
    margin-left: 10px;
}

#formBox input[type="checkbox"] {
    margin-top: 2px;
}

#formBox input[type="text"], #formBox select {
    width: 135px;
    font-weight: normal;
    float: left;
    margin-right: 5px;
}

#formBox .txtGroupBox .checkboxWidth {
    width: 20px;
}

@media (min-width: 1650px) {
    .form-txt, .checkboxWidth {
        width: 210px;
    }

    #formBox input[type="text"], #formBox select {
        width: 180px;
    }
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 0;
    }
}

#formBox legend {
    font-size: 15px;
}

#itemRecordsWin .modal-dialog {
    width: 800px;
}

#itemRecordsWin .list-group-item {
    overflow: hidden;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px dashed #ccc;
}

#itemRecordsWin .recordTitle {
    display: block;
    width: 100px;
    float: left;
    text-align: right;
    color: #5cb85c;
}

#itemRecordsWin .recordInfo {
    display: block;
    width: 590px;
    float: right;
    word-break: break-word;
}

#writeRecord {
    border-radius: 5px;
}

#remarksBox {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    min-height: 120px;
    z-index: 8888;
}

#remarksBox .dn {
    display: none;
}

#remarksBox pre {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
}

#remarksIconBox, #remarkTextBox {
    padding: 5px 10px;
}

#remarkText {
    width: 98%;
    height: 110px;
    border-radius: 5px;
}

#remarksIconBox {
    background: #e7e7e7;
}

#remarksBox .editable {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 1px 1px rgba(102, 175, 233, 0.75), 0 0 8px rgba(102, 175, 233, 1)
}

#recordBox time {
    display: block;
    color: #a7a7a7;
}

#serversRecordUl {
    max-height: 400px;
    overflow: auto;
}

#servers_table .remark_text, #servers_table .record_text {
    border: none;
    padding: 0;
    margin: 0;
    height: 20px;
    width: 200px;
    overflow: hidden;
    background-color: transparent;
}

#servers_table .longInfo {
    width: calc(100% - 20px);
}

#recordBox .addItem .recordInfo {
    color: #f0ad4e;
}

/*servers 样式结束*/

#codeMirrorBox .CodeMirror {
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

#statusFlagIcon {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-top: 12px;
}

.status-run {
    background: green;
}

.status-stop {
    background: red;
}

/*svg 字体开始*/
@font-face {
    font-family: 'iconfont';
    src: url('/static/fonts/beopIconFont/iconfont.woff') format('woff'); /* chrome、firefox */
    src: url('/static/fonts/beopIconFont/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.svg-icon {
    font-family: iconfont;
    font-size: 18px;
    margin: 0 2px;
}

.addToMonitor:before {
    content: '\e601';
}

.addToCurve:before {
    content: '\e600';
}

#codeEditor {
    display: none !important;
}

#infoGenerate {
    margin: 8px 25px 0 0;
    color: #d9534f;
}

.insert_result_wrapper {
    max-height: 200px;
    overflow-y: auto;
}

#insert_info_result_box {
    width: 80%;
    margin: 10px auto;
}

#insert_info_result_box th, #insert_info_result_box td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

#editPointWin .modal-backdrop.in {
    opacity: 0.9;
}

#editPointWin .dropdown-menu > li > a {
    margin: 1px;
}

#editPointWin .btn {
    padding: 6px 7px;
}

#editPointWin .btn-group.disabled .dropdown-toggle {
    display: none;
}

#point_progress_box {
    width: 180px;
    margin: 5px 0 0 20px;
}

/*批量历史窗口开始*/
#batchHistoryWin .modal-dialog {
    width: 884px;
}

#cloudPointEditMessage {
    color: #d9534f;
    margin-top: 10px;
    margin-left: 50px;
}

#batchHistoryPointsBox, #batchHistoryProgressBox {
    border: 1px dashed #c7c7c7;
    min-height: 100px;
    padding: 10px;
    margin: 10px 0;
}

#batchHistoryPointsUl li {
    padding: 5px;
    margin: 5px;
}

/*批量历史窗口结束*/

/*svg 字体结束*/

/*响应式样式 开始*/
@media (min-height: 768px) {
    #tableMonitorBox {
        height: 58%;
    }
}

@media (max-height: 768px) {
    body {
        height: 675px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #wrapper #page-wrapper {
        min-height: 650px;
        overflow: hidden;
    }

    #search_result {
        max-height: 470px;
    }
}

@media (min-width: 1800px) {
    #servers_table .remark_text, #servers_table .record_text {
        width: 440px;
    }
}

/*响应式样式 结束*/

#pointManageWrapper {
    margin-top: 5px;
}

.CodeMirror-hints{
    z-index: 20000;
}


