<style>
    .ppm h4 {
        line-height: 40px;
    }

    .ppm img {
        display: inline-block;
    }

    .ppm .table tbody tr {
        background-color: #f5f5f5;
        border-bottom: 10px solid white;
    }

    .ppm .table thead {
        border-top: 2px solid #f5f5f5;
    }

    .ppm .table > thead > tr > th {
        border-bottom: none;
        padding-top: 15px;
        text-align: center;
    }

    .ppm .table > tbody > tr > td {
        border-top: none;
        vertical-align: middle;
        text-align: center;
    }

    .ppm .glyphicon {
        cursor: pointer;
    }

    .ppm td input {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid black;
        text-align: center;
    }

    .ppm .col-md-3 {
        background-color: #f5f5f5;
    }

    .ppm h5 {
        margin: 15px;
    }

    .ppm .btn-warning {
        text-align: center;
        width: 90%;
        margin: 230px 5% 40px;
    }

    .ppm .box {
        margin-top: 30px;
    }

    .ppm ul {
        list-style: none;
        padding-left: 10px;
        border-top: 2px solid #f5f5f5;
        margin-top: 10px;
        overflow: hidden;
    }

        .ppm ul > li {
            padding: 10px 20px 0;
            color: #C5C1C1;
        }

    .ppm .box h4 {
        line-height: 20px;
    }

    .ppm .boxFloat li {
        float: left;
    }

    .ppm .inventory {
        margin-top: 20px;
    }

        .ppm .inventory span {
            float: left;
            margin-right: 10px;
            width: 15px;
        }

    .ppm .panel-body {
        overflow: auto;
    }
</style>

<div class="container ppm" style="height: 100%;">
    <div class="panel panel-default" style="height: 100%;">
        <div class="panel-heading">
            <span>采购清单</span>
        </div>
        <div class="panel-body whitePanel" style="height: calc(100% - 43px);">
            <span style="color: #C5C1C1">根据贵公司的库存，建议采购清单如下</span>
            <div class="row">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>商品图片</th>
                                    <th>商品名</th>
                                    <th>单价(元)</th>
                                    <th>库存(单位)</th>
                                    <th>需采购量(单位)</th>
                                    <th>小计(单位)</th>
                                </tr>
                            </thead>
                            <tbody id="tbody"></tbody>
                        </table>
                        <div style="float: right;font-size: 16px;font-weight: bold;">总计：<span class="text-success" id="totalPrices"></span>RMB</div>
                    </div>
                    <div class="box">
                        <h4>发票信息</h4>
                        <div><span>发票抬头：</span> 公司</div>
                        <div><span>抬头内容：</span> 威迩徕德电力设备（上海）有限公司</div>
                    </div>
                    <div class="box boxFloat">
                        <h4>收货时间</h4>
                        <ul>
                            <li>全部时间</li>
                            <li>工作日9:30-16:00</li>
                            <li>预约上门时间</li>
                        </ul>
                    </div>
                    <div class="box clearfix">
                        <h4>收货地址</h4>
                        <ul>
                            <li>
                                默认地址 <span style="margin-left: 25px;">上海市松江区小昆山镇光华路150号</span> &nbsp;<span>管先生 收</span> &nbsp;<span>电话：13311456980</span> &nbsp;<span>
                                    <a href="javascript:void(0);">修改</a>
                                </span>
                            </li>
                            <li><a href="javascript:void(0);">+添加新地址</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>订单预览</h4>
                    <div><span>收货人：</span>管先生</div>
                    <div><span>收货电话：</span>13311456980</div>
                    <div><span>收货地址：</span>上海市松江区小昆山镇光华路150号</div>
                    <div><span>订单费用：</span>3000</div>
                    <div><span>共计：</span>3000</div>
                    <div><button class="btn btn-warning btn-md" data-toggle="modal" data-target="#modalMakeSure">购买</button></div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalMakeSure" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="margin-top: 100px;">
            <div class="modal-content">
                <!--<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">您已购买成功，请确认收货！</h4>
                </div>-->
                <div class="modal-body">
                    <h4>您已购买成功，请确认收货！</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnMakeSure" class="btn btn-primary" data-dismiss="modal">确认收货</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var componentPurchase = [{
        commodityImg: 'huohuasai',
        commodityName: 'GXC150S火花塞',
        price: 1500.00,
        inventory: 4,
        needToPurchase: 2,
        subtotal: 3000
    }];
    for (var i = 0; i < componentPurchase.length; i++) {
        var order = componentPurchase[i];
        var tpl = '<tr>';
        tpl += '<td><img src="/static/views/observer/equipment/img/' + order.commodityImg + '.jpg" class="img-responsive"/></td>';
        tpl += '<td>' + order.commodityName + '</td>';
        tpl += '<td>' + order.price + '</td>';
        tpl += '<td><div class="inventory"><span>' + order.inventory + '</span><div class="progress"><div class="progress-bar  progress-bar-danger" style="width: ' + order.inventory / 0.06 + '%;"></div></div></div></td>';
        tpl += '<td><span class="glyphicon glyphicon-minus small min"></span> <input type="text" class="text_box" value=' + order.needToPurchase + '> <span class="glyphicon glyphicon-plus small add"></span></td>';
        tpl += '<td class="sTotal">' + order.subtotal + '</td></tr>';
        $('#tbody').append(tpl);
        var total = Number($("#totalPrices").get(0).innerHTML);
        total += order.subtotal;
        $("#totalPrices").get(0).innerHTML = total;
    }
    $(".add").click(function () {
        var t = $(this).parent().find(".text_box");
        t.val(parseInt(t.val()) + 1);
        $(".min").removeAttr("disabled");
        setTotal($(this), t.val());
        all();
    });
    $(".min").click(function () {
        var t = $(this).parent().find(".text_box");
        if (parseInt(t.val()) > 1) {                     //判断数量值大于1时才可以减少
            t.val(parseInt(t.val()) - 1)
        } else {
            $(".min").attr("disabled", "disabled")        //当$(".min")为1时，$(".min")不可读状态
        }
        setTotal($(this), t.val());
        all();
    });
    function setTotal(obj, number) {
        var subtotal = number * $(obj).parent().parent().find("td:eq(2)").text(); //这里算出单价和
        $(obj).parent().parent().find("td:eq(5)").html(subtotal);
    };
    function all() {
        var sTatol = $('.sTotal');
        var otal = Number($("#totalPrices").get(0).innerHTML);
        otal = 0;
        for (var i = 0; i < sTatol.length; i++) {
            otal += Number(sTatol.get(i).innerHTML);//总价
        }
        $("#totalPrices").get(0).innerHTML = otal;
    }

    document.getElementById('btnMakeSure').onclick = function () {
        var data = {
            "title": "【配件更换】请对GXC150S更换火花塞等部件",
            "dueDate": "2015-12-30",
            "groupId": "307",
            "critical": "0",
            "detail": "GXC150S运行时间即将达到1000小时，需要更换火花塞等配件。请及时更换火花塞，油滤，机滤，机油!",
            "collection": "false",
            "executor[]": ["1018"],
            "userId": 1018
        };
        WebAPI.post('/workflow/transaction/new/', data)
            .done(function (result) {
                alert('您有一条新的工单');
                AppConfig.HasBuy = true;
                ScreenManager.show(PartsScreen);
            });
    };
</script>