/*打印样式*/
.A3 { width: 297mm; }
.A4 { width: 210mm; }

/*页面框架样式*/
#indexNav {
    height: 56px;
    font: 20px "Microsoft YaHei";
    line-height: 36px;
    border-bottom: 1px solid #e7e7e7;
}
#divNavWrap {width:90%; margin:0 auto;}
#indexMain {
    position: fixed;
    left: 0;
    right: 0;
    top: 56px;
    bottom: 5px;
    padding: 0 5px 0 15px;
    margin: 0;
}
.left-nav { padding: 9px 0; float: left; font-weight: bold; }
.left-nav>div { display: inline-block; }

/* dashboard 样式定义 */
.rp-ctn .panel-body {
    padding: 0;
}
.rp-ctn-p {
    margin: 0;
    position: relative;
    height: 100%;
}
.rp-ctn {
    float: left;
    padding: 10px 5px 0;
}
.rp-ctn .panel-heading {
    width: 100%;
    height: 38px;
    background-color: #e5f3ff;
    color: #2b7bbf;
}
.rp-ctn-p-b>img {
    /*width: 100%;*/
    position: relative;
}
.rp-ctn-p-b>.note {
    padding: 0 10px 6px 10px;
    position: absolute;
    z-index: 104;
    background-color: rgba(255, 255, 204, 0.9);
    box-shadow: 6px 8px 15px rgba(51, 51, 51, 0.7);
    border-radius: 3px;
    font-weight: bold;
    padding: 8px 10px;
}

/* dock start */
.dock-window-ctn { position:absolute; left:0; top:0; width: 100%; height: 100%; -webkit-user-select: none; }
.dock-layout { position: absolute;}

.dock-layout-top { left:0; right:0; top:0;}
.dock-layout-bottom { left:0; right:0; bottom:0; }
.dock-layout-right { right:0; top:0; bottom: 0; }
.dock-layout-left { left:0; top:0; bottom: 0; }

.dock-layout-wrap { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }

.dock-layout-top > .dock-note, .dock-layout-bottom > .dock-note { width: 100%; }
.dock-layout-left > .dock-note, .dock-layout-right > .dock-note { height: 100%; }

.dock-layout-right > .dock-note { float: right; }
.dock-layout-left > .dock-note { float: left; }

.dock-note { position: relative; background-color: #fff;}
.dock-note .dock-note-ct { overflow-y: auto; padding: 15px; word-break: break-all; width: 100%; height: 100%; color: #333;}

.dock-note-resizer { position: absolute; opacity: 0; background-color: #cdcdcd}
.dock-layout-top .dock-note-resizer, .dock-layout-bottom .dock-note-resizer { width: 100%; height: 8px; cursor: n-resize; }
.dock-layout-left .dock-note-resizer, .dock-layout-right .dock-note-resizer { width: 8px; height: 100%; cursor: e-resize; }
.dock-layout-top .dock-note-resizer { bottom: -4px; }
.dock-layout-bottom .dock-note-resizer { top: -4px; }
.dock-layout-left .dock-note-resizer { right: -4px; }
.dock-layout-right .dock-note-resizer { left: -4px; }

.dock-layout-top > .dock-note { border-bottom: 1px solid #ccc; }
.dock-layout-bottom > .dock-note { border-top: 1px solid #ccc; }
.dock-layout-left > .dock-note { border-right: 1px solid #ccc; }
.dock-layout-right > .dock-note { border-left: 1px solid #ccc; }

.dock-note .close { font-size: 12px; opacity: .7; display: none; position: absolute; top: 5px; right: 8px; }
.dock-note .editor { font-size: 12px; opacity: .7; display: none; position: absolute; top: 5px; right: 90px; }
.dock-note:hover .close, .dock-note:hover .editor{ display: block; }

.dock-note-toolbar {
    position: absolute;
    background-color: #fff;
    box-shadow: 2px 2px 4px #ccc;
    border: 1px solid #bbb;
    padding: 5px 0;
    width: 708px;
    top: 20px;
    right: 0;
    display:none;
    z-index: 99999;
}
.dock-note-toolbar-title {
    position: absolute;
    height: 20px;
    left: 0;
    right: 0;
    top: -10px;
    opacity: 0;
    cursor: move;
}
.dock-wheel, .dock-previewer { z-index: 102; }
.dock-layout { z-index: 101; }
/* dock end */