<div class="echartPlane">
	<div class="btnLegend">
		<ul id="ulLegend" class="">
		</ul>
		<ul id="ulDetailLegend" class="hidden">
			<li><span class="CPRoomCOP active" type="CPRoomCOP"></span><span>机房COP</span></li>
			<li><span class="hostCOP" type="hostCOP"></span><span>主机COP</span></li>
			<li><span class="hostAvrgLoad" type="hostAvrgLoad"></span><span>运行主机平均负载率(%)</span></li>
			<li><span class="chillSupplyTemp" type="chillSupplyTemp"></span><span>冷冻水供水温度</span></li>
			<li><span class="chillReturnTemp" type="chillReturnTemp"></span><span>冷冻水回水温度</span></li>
			<li><span class="chillDiffTemp" type="chillDiffTemp"></span><span>冷冻水供回水温差</span></li>
			<li><span class="coolingSupplyTemp" type="coolingSupplyTemp"></span><span>冷却水供水温度</span></li>
		</ul>
	</div>
	<div id="crosswiseChart" class="gray-scrollbar">
		<div class="crosswiseChart"></div>
	</div>
</div>

<div class="treePane hidden">
	<ul id="tree" class="ztree"></ul>
</div>