.canvasWrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.canvasWrap > .canvas {
  width: 100%;
  height: 100%;
}
.canvasWrap > span {
  position: absolute;
  right: -35px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin-top: -7px;
}
