html,body{
    width: 100%;
    height: 100%;
}
#containerKaide {
    height: 100%;
    width: 100%;
    background-color: #232d4e;
}
#containerKaide>.divPanel {
    display: inline-block;
    height: 100%;
    border-left: 3px solid #191919;
    float: left;
    position: relative;
}
#containerKaide>.divPanel:first-child {
    border-left: none;
}
#containerKaide .panelModules{
    width: 8%;
    background-color: rgba(32,32,32,1);
}
#containerKaide .panelFilter{
    width: 300px ;
    border-left: none;
}
#containerKaide .panelFilter .row input, #containerKaide .panelFilter .row select{
    background-color: rgba(110,110,110,0.5);
    border-radius: 4px;
    color: #ccc;
    border-color: rgba(110,110,110,0.8);
}
#containerKaide .panelBmModule{
    width: calc(92% - 300px) ;
    background-color: rgba(46, 57, 88,0.9);
}

.panelModules .btnBmModule {
    padding: 24px 10px;
    text-align: center;
    cursor: pointer;
    border-right: 2px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.5;
}
.panelModules .btnBmModule:hover {
    background-color: rgba(35,45,78,0.7);
    color: #eee;
    opacity: 1;
}
.panelModules .btnBmModule.selected {
    opacity: 1;
    background-color: rgba(35,45,78,0.9);
}
.panelModules .btnBmModule.selected:hover {
    color: #eee;
}
.panelModules .btnBmModule .moduleName{
    padding-top: 5px;
}
.panelModules .btnBmModule .iconfont{
    font-size: 28px;
    border-radius: 50%;
    padding: 7px;
}

.panelModules .btnBmModule.selected .iconfont{
    background-color: rgba(210,159,11,0.8);
}

@media screen and (max-width: 1368px){
    #containerKaide .panelModules{
        width: 8%;
    }
    #containerKaide .panelBmModule {
        width: calc(92% - 300px);
    }
}
.panelFilter .row .btnSearch{
    position: absolute;
    right: 10px;
    top: 6px;
    color: #ccc;
    cursor: pointer;
}
.panelFilter .row{
    margin: 10px;
    position: relative;
}
.divFilterSel select.form-control{
    display: inline-block;
    width: 32%;
    padding: 6px;
}
.divFilterSel select.form-control:nth-child(2){
     width: 33%;
}
.divFilterSel select.form-control option{
     background-color: rgba(0,0,0,0.5);
}
#ulFilterResult{
    padding: 15px 10px 10px
}
#ulFilterResult .liBranch{
    font-size: 12px;
    padding: 8px 6px;
    border-bottom: 1px solid rgba(136, 136, 136,0.3);
    cursor: pointer;
    opacity: 0.85;
}
#ulFilterResult .liBranch.active{
    opacity: 1;
    color: rgb(224,188,43);
}

/*6个模块的样式*/
.crosswisePlane{
    width: 100%;
    height: 100%;
}
.timeQueryPlane{
    width: 100%;
    height: 75px;
    border-bottom:1px solid #414B5E;
    padding:21px 0px 0px 15px;
}
.timeQueryPlane button{
	display: block;
	float:left;
	background: #C0C2C7;
	color:black;
	border-radius:8px;
}
.echartPlane{
	width:100%;
	height:calc(100% - 75px);
	overflow-y:auto;
	overflow-x:hidden;
}
.timeStyle{
	display:block;
	float:left;
	width:190px;
	height: 34px;
    padding: 6px 12px;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    line-height: 1.42857143;
    color: white;
    background-color:rgba(255,255,255,0);
    border:none;
    border-radius: 4px;
}
	.elec,.gas,.water{
		width:25px;
		height:14px;
		border-radius: 2px;
		background: #CCCCCC;
	}
	.elec.active{
		background:#1C7099;
	}
	.gas.active{
        background:#88B0BB;
	}
	.water.active{
		background:#1790CF;
	}
	.btnLegend{
		width:100%;
		height:55px;
		padding-top:20px;
	}
	.btnLegend ul {
		margin:0 auto;
		width:500px;
		height:50px;
	}
	.btnLegend ul li{
		list-style: none;
		float:left;
		width:150px;
	}
	.btnLegend ul li:hover{
		cursor:pointer;
	}
	.btnLegend ul li span{
		display:block;
		float:left;
		height:15px;
		line-height: 15px;

	}
	.btnLegend ul li span:last-child{
		padding-left:3px;
	}
	#crosswiseChart{
		width:100%;
		height:calc(100% - 55px);
		overflow-y:auto;
		overflow-x:hidden;
	}
	.crosswiseChart{
		width:100%;
		height:820px;

	}
/*#crosswiseChart::-webkit-scrollbar{
	width:8px;
}
#crosswiseChart::-webkit-scrollbar-track {
	border:1px gray solid;
	border-radius:10px;
	-webkit-box-shadow:0 0 6px gray inset;
	}

#crosswiseChart::-webkit-scrollbar-thumb {
	border-radius:10px;
	background-color:rgba(155,155,155,0.2);
	-webkit-box-shadow:0 0 6px gray inset;
	}
#crosswiseChart::-webkit-scrollbar-corner {
		  background-color: black;
	}*/

.topBtnWrap{
    position: absolute;
    top: 20px;
    right: 40px;
}
.btn a{
    color: #fff;
}
.btn a:hover{
    text-decoration: none;
}