<style>
    .tagKeywordTitle {
        padding: 12px 10px 11px;
        font-size: 16px;
        font-weight: normal;
        border-bottom: 1px solid #eae8ea;
        display: inline-block;
        width: 100%;
    }

    #tagKeywordBox {
        height: 100%;
        position: relative;
    }

    #createFolderBox {
        position: absolute;
        top: 8px;
        right: 20px;
    }

    #tagKeywords {
        padding: 10px;
        height: 100%;
    }

    .keywordsCount {
        display: inline-block;
        padding: 0 5px;
        color: #48a8ff;
    }

    #keywordsContent {
        margin-top: 6px;
        height: 100%;
    }

    .refineKeywords {
        height: 100%;
        float: left;
    }

    .showKeywords {
        float: left;
        height: calc(100% - 120px);
        border: 1px solid #cccccc;
        width: calc(100% - 60px);
    }

    .refineKeywords ul {
        list-style: none;
        padding: 0;
        height: calc(100% - 98px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    .refineKeywords ul li {
        width: 45px;
        height: 22px;
        line-height: 22px;
        border: 1px solid #CCCCCC;
        border-right: none;
        margin-bottom: 6px;
        cursor: pointer;
        border-radius: 2px 0 0 2px;
        padding: 1px 5px;
    }

    .refineKeywords ul li.keywordsActive .number {
        color: #ffffff;
    }

    .refineKeywords ul .number {
        font-size: 13px;
        color: #999;
    }

    .showKeywords ul {
        padding-left: 0;
    }

    .keywordsActive {
        background: #0077ee;
        color: #fff;
    }

    .showKeywords ul {
        list-style: none;
        padding: 5px;
        height: 100%;
        overflow: auto;
    }

    .showKeywords ul li {
        float: left;
        width: 100px;
        height: 26px;
        display: block;
        margin: 6px 6px 6px 3px;
        text-align: center;
        line-height: 26px;
        border-radius: 12px;
        cursor: pointer;
    }

    .showKeywords .isTag {
        border: 1px solid #ff9600;
    }

    .showKeywords .keywordHasType {
        border: 1px solid #038fe8;
    }

    .showKeywords ul .keywordHasType.active-create {
        background: #038fe8;
        color: #ffffff;
    }

    .showKeywords .keywordsName {
        display: inline-block;
        width: 84px;
        margin: 0 auto;
        padding: 0;
    }

    #tagKeywordsUl .isTag.active-create {
        background: #ff9600;
        color: #ffffff;
    }

    #tagKeywordsUl .active-create .keyword-count {
        color: #ffffff;
    }

    #createFolderByTag {
        background-color: #29bb4f;
        border-color: #29bb4f;
        opacity: 0.9;
        outline: none;
        height: 30px;
        padding: 4px 12px;
    }

    .showKeywords .keyword-count {
        color: #aaaaaa;
    }

    .active .showKeywords .keyword-count {
        color: #ffffff;
    }

    @media (max-width: 1366px) {
        #createFolderBox .btn {
            padding: 5px 10px;
        }

        .refineKeywords ul {
            margin-bottom: 0;
            height: calc(100% - 70px);
        }

        #tagKeywords {
            padding: 0 10px;
        }

        .refineKeywords ul li {
            font-size: 12px;
            margin-bottom: 0;
            height: 20px;
            line-height: 20px;
            width: 40px;
            border-bottom: none;
            padding: 1px 3px;
        }

        .refineKeywords ul li:first-child {
            border-radius: 2px 0 0 0;
        }

        .showKeywords ul li {
            font-size: 12px;
            width: 83px;
            border-radius: 6px;
            margin: 4px;
        }

        .refineKeywords ul li:last-child {
            border-bottom: 1px solid #CCCCCC;
            border-radius: 0 0 0 2px;
        }

        .showKeywords .keywordsName {
            width: 72px;
        }

        .showKeywords {
            width: calc(100% - 46px);
            height: calc(100% - 72px);
        }
    }
</style>
<div id="tagKeywordBox">
    <span class="tagKeywordTitle" i18n="tag.inspect.KEYWORDS"></span>
    <div class="dn" id="createFolderBox">
        <button type="button" class="btn btn-primary mr10" id="createFolderByTag"
                i18n="tag.inspect.CREATE_CATALOGUE"></button>
    </div>

    <div id="tagKeywords">
        <div>
            <span i18n="tag.inspect.SYSTEM_SEARCH_FOR"></span>
            <span id="keywordsCount" class="keywordsCount">0</span>
            <span i18n="tag.inspect.SYSTEM_SEARCH_FOR_RESULT"></span>
        </div>
        <div id="keywordsContent"></div>
    </div>
</div>
<!--@formatter:off-->
<script type="text/html" id="tpl_tag_option">
    <!for (var m = 0; m < list.length; m++) {!>
        <option value="<!=list[m]!>"><!=list[m]!></option>
    <!}!>
</script>
<script type="text/html" id="tpl_tag_keywords_li">
    <!for (var m = 0; m < list.length; m++) {!>
        <!var item = list[m];!>
        <!if(item.type && item.type == 'Equipment'){!>
            <li class="keywordHasType" data-key="<!=item.key!>" data-count="<!=item.count!>"  title="<!=item.key!>(<!=item.count!>)">
        <!}else{!>
            <li class="isTag" data-key="<!=item.key!>" data-count="<!=item.count!>" title="<!=item.key!>(<!=item.count!>)">
        <!}!>
        <span class="ellipsis keywordsName">
            <!=item.key!><span class="keyword-count">(<!=item.count!>)</span>
        </span>
    </li>
    <!}!>
</script>

<script type="text/html" id="tpl_tag_keywords_content">
    <div class="refineKeywords">
        <ul id="refineKeywordsUl" class="gray-scrollbar">
            <li class="keywordsActive allKeywords" title="All(<!=value!>)">
                <div class="ellipsis" style="width: 48px; margin: 0 auto;">
                    <span>All</span>
                </div>
            </li>
            <!for(var key in result){!>
             <li data-key="<!=key!>" title="<!=key!>(<!=result[key].length!>)">
                 <div class="ellipsis" style="width: 48px; margin: 0 auto;">
                     <span><!=key!></span>
                     <span class="number">(<!=result[key].length!>)</span>
                 </div>
             </li>
            <!}!>
        </ul>
    </div>
    <div class="showKeywords">
        <ul class="clearfix gray-scrollbar" id="tagKeywordsUl"></ul>
    </div>
</script>
<!--@formatter:on-->