<div id="templateWinBox"></div>
<!-- 从模板导入开始 -->
<script type="text/html" id="tpl_import_template">
    <article id="templateImportWin" class="modal fade templateWin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" i18n="debugTools.sitePoint.IMPORTING_FROM_THE_REPOSITORY"></h4>
                </div>
                <div class="templateContainerBox" class="modal-body oh">
                    <article id="templateContainer" class="oh">
                        <section class="templateLeft fl">
                            <input id="templateSearch" type="text" name="templateSearch" class="form-control"
                                   i18n="placeholder=debugTools.sitePoint.SEARCH"
                                   maxlength="20"/>
                            <article id="templateTreeMenu" class="ztree mt10"></article>
                        </section>
                        <section id="templateRight" class="templateRight fr">
                            <article id="templateInfo" class="templateInfo pr"></article>
                            <article id="templateContent">
                                <textarea id="codeEditorTextarea" class="form-control dn"></textarea>
                                <article id="editorBox"></article>
                            </article>
                        </section>
                    </article>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" i18n="debugTools.sitePoint.CANCEL"></button>
                    <button id="templateImportConfirm" type="button" class="btn btn-primary" i18n="debugTools.sitePoint.CONFIRM"></button>
                </div>
            </div>
        </div>
    </article>
</script>
<!-- 从模板导入结束 -->

<!-- 存为模板开始 -->
<script type="text/html" id="tpl_save_as_template">
    <article id="saveAsTemplateWin" class="modal fade templateWin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" i18n="debugTools.sitePoint.SAVE_TO_CODE_LIBRARY"></h4>
                </div>
                <div class="templateContainerBox" class="modal-body oh">
                    <article id="templateContainer" class="oh">
                        <section class="templateLeft fl">
                            <input id="templateSearch" type="text" name="templateSearch" class="form-control"
                                   i18n="placeholder=debugTools.sitePoint.SEARCH"
                                   maxlength="20"/>
                            <div id="addFolderBox" class="oh">
                                <input id="addFolderInput" class="form-control fl" i18n="placeholder=debugTools.sitePoint.ADD_FOLDER_NAME"
                                       maxlength="20"/>
                                <span id="addFolder" class="glyphicon glyphicon-save cp fl"></span>
                            </div>
                            <article id="templateTreeMenu" class="ztree mt10"></article>
                        </section>
                        <section id="templateRight" class="templateRight fr">
                            <article class="templateInfo">
                                <p>
                                    <input type="text" id="templateName" class="form-control templateName" name="templateName"
                                           maxlength="20" i18n="placeholder=debugTools.sitePoint.ENTER_TEMPLATE_NAME"/>
                                </p>
                                <p>
                                    <textarea type="text" id="templateMessage" class="form-control templateMessage" name="templateMessage"
                                            i18n="placeholder=debugTools.sitePoint.ENTER_REMARK"></textarea>
                                </p>
                            </article>
                            <article id="templateContent">
                                <textarea id="codeEditorTextarea" class="form-control dn"></textarea>
                                <article id="editorBox"></article>
                            </article>
                        </section>
                    </article>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" i18n="debugTools.sitePoint.CANCEL"></button>
                    <button id="saveAsTemplateConfirm" type="button" class="btn btn-primary" i18n="debugTools.sitePoint.CONFIRM"></button>
                </div>
            </div>
        </div>
    </article>
</script>
<!-- 存为模板结束 -->


<!-- 从模板导入-信息 开始 -->
<script type="text/html" id="tpl_import_template_info">
    <!if(data && data.creator && data.creator == AppConfig.userId){!>
    <!if(status == 'show'){!>
    <span id="importTemplateEdit" class="glyphicon glyphicon-edit pa cp import-status-icon"></span>
    <!}else{!>
    <span id="importTemplateSave" class="glyphicon glyphicon-save pa cp import-status-icon"></span>
    <!}!>
    <!}!>
    <p>
        <span class="tpl-title"><span i18n="debugTools.sitePoint.TEMPLATE_NAME"></span><span>：</span></span>
        <!if(data){!>
        <!if(status == 'show'){!>
        <span class="templateName"><!=data.name!></span>
        <!}else{!>
        <input type="text" id="import_tpl_name" class="form-control" maxlength="20" value="<!=data.name!>" />
        <!}!>
        <!}!>
    </p>
    <p>
        <span class="tpl-title"><span i18n="common.CREATOR"></span><span>：</span></span>
        <!if(data){!>
        <span class="templateCreator"><!=data.creatorName!></span>
        <!}!>
    </p>
    <p>
        <span class="tpl-title"><span i18n="common.CREATE_TIME"></span><span>：</span></span>
        <!if(data){!>
        <!var createTime = data.createTime ? new Date(data.createTime).format('yyyy-MM-dd HH:mm:ss') : '';!>
        <span class="templateCreateTime"><!=createTime!></span>
        <!}!>
    </p>
    <p>
        <span class="tpl-title"><span i18n="debugTools.sitePoint.TEMPLATE_INFO"></span><span>：</span></span>
        <!if(data){!>
        <!if(status == 'show'){!>
        <span class="templateMessage"><!=data.note!></span>
        <!}else{!>
        <textarea id="import_tpl_note" class="form-control vt"><!=data.note!></textarea>
        <!}!>
        <!}!>
    </p>
</script>
<!-- 从模板导入-信息 结束 -->