<div id="memberManage">
    <div class="oh p20">
        <section class="bg1 p15 mb20" style="height:60px;">
            <div id="searchUserCon" class="pr">
                <input type="text" id="searchUser" class="form-control" placeholder="" maxlength="12"
                       i18n="placeholder=admin.panelManagement.ENTER_A_QUERY;title=admin.panelManagement.ENTER_A_QUERY" />
                <span id="searchUserIc" class="glyphicon glyphicon-search pr"></span>
                <ul id="userListUl" class="dn"></ul>
            </div>
            <div id="addPerson" class="fr cp">
                <em class="ic1">+</em><span class="addPersonTxt" i18n="admin.panelManagement.ADD_STAFF"></span>
            </div>
        </section>
        <section class="bg1 p15 oh mb20">
            <div id="userTreeCon" class="userTree">
                <ul id="treeUl"></ul>
            </div>
        </section>
    </div>
</div>

<!--添加人员浮动窗口开始-->
<div class="modal fade" id="addPersonWin" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" i18n="admin.panelManagement.ADD_STAFF"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer tc">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        i18n="admin.panelManagement.CANCEL"></button>
                <button type="button" class="btn btn-primary ml20" id="addPersonOK" data-loading-text=""
                        i18n="admin.panelManagement.CONFIRM;data-loading-text=admin.panelManagement.INVITATION_TO_SEND;"></button>
            </div>
        </div>
    </div>
</div>
<!--添加人员浮动窗口结束-->

<!--员工管理页面设置浮动窗口开始-->
<article id="userSettingWin" class="modal fade" userId="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        i18n="admin.panelManagement.CANCEL"></button>
                <button type="button" class="btn btn-primary" id="userEditConfrim"
                        i18n="admin.panelManagement.CONFIRM"></button>
            </div>
        </div>
    </div>
</article>
<!--员工管理页面设置浮动窗口结束-->

<!--员工管理页面确认是否删除用户开始-->
<article id="isUserDelWin" class="modal fade confirmWin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" i18n="admin.panelManagement.PROMPT">：</h4>
            </div>
            <div class="modal-body">
                <p class="infoPrompt" i18n="admin.panelManagement.DELETE_IT">?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        i18n="admin.panelManagement.CANCEL"></button>
                <button type="button" class="btn btn-primary" id="deleteUser"
                        i18n="admin.panelManagement.CONFIRM"></button>
            </div>
        </div>
    </div>
</article>
<!--员工管理页面确认是否删除用户结束-->

<!--模版开始-->
<script type="text/html" id="userTreeItemTmpl">
    <li userId="<!=obj.id!>">
        <!if( obj.isManager == 1){!>
            <span style="border:1px solid #f0ad4e;" isManager="<!=obj.isManager!>">
        <!}else{!>
            <span isManager="<!=obj.isManager!>">
        <!}!>
            <dl>
                <dt class="setting">
                    <img src="<!=obj.userpic!>" class="personImg"/>
                </dt>
                <dd>
                    <h4 class="userfullname" title="<!=obj.userfullname || obj.username!>"><!=obj.userfullname ||
                        obj.username!></h4>

                    <div>
                        <!if(obj.sub && obj.sub.length){!>
                        <span class="userInfo bg-info"><i class="icon-minus-sign"></i><em
                                i18n="admin.panelManagement.AT_LOWER_LEVEL"></em></span>
                        <!}!>
                        <!if(obj.userstatus !== 'registered'){!>
                        <span class="userInfo bg-danger" i18n="admin.panelManagement.NOT_ACTIVATED"></span>
                        <!}!>
                    </div>
                </dd>
            </dl>
        </span>
    </li>
</script>
<script type="text/html" id="userSettingTmpl">
    <div class="box1">
        <div class="media pr">
            <div class="media-left">
                <div class="thumbnail">
                    <img class="media-object userPic" src="<!=user.userpic!>"
                         alt="<!=user.userfullname || user.username!>">
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading nameEditor"><span
                        class="userName"><!=user.userfullname || user.username!></span></h4>

                <div class="email userEmail"><!=user.useremail || ''!></div>
                <div class="user mt10">
                    <input type="hidden" value="<!=supervisor.id!>" id="oldSupervisor">
                    <input type="hidden" value="<!=user.isManager!>" id="oldIsManager">
                    <!if(supervisor.username){!>
                        <span class="userSupervisor mr15 pr fl w250">
                            <span i18n="admin.panelManagement.SUPERIOR">：</span>
                            <!if(user.id == AppConfig.userId){!>
                                <span><!=supervisor.userfullname || supervisor.username !></span>
                            <!}else{!>
                                <select id="supervisor" class="form-control w150">
                                    <option value="<!=supervisor.id!>" selected disabled style="display: none;">
                                        <!=supervisor.userfullname || supervisor.username !>
                                    </option>
                                    <!for(var m=0; m < managers.length; m++){!>
                                    <!if(managers[m].id === user.id || managers[m].id === supervisor.id){ continue; }!>
                                    <!if(managers[m].isSub){!>
                                    <option value="<!=managers[m].id!>" disabled><!=managers[m].userfullname ||
                                        managers[m].username !>
                                    </option>
                                    <!}else{!>
                                    <option value="<!=managers[m].id!>"><!=managers[m].userfullname ||
                                        managers[m].username !>
                                    </option>
                                    <!}!>
                                    <!}!>
                                </select>
                            <!}!>
                        </span>
                    <!}!>
                    <span class="userLevel mr15 pr fl w250">
                        <span i18n="admin.panelManagement.MANAGEMENT_AUTHORITY">：</span>
                        <!if(user.id == AppConfig.userId){!>
                            <!if(user.isManager){!>
                                <span i18n="admin.panelManagement.YES"></span>
                            <!}else{!>
                                <span i18n="admin.panelManagement.NO"></span>
                            <!}!>
                        <!}else{!>
                            <select id="isManager" class="form-control w100">
                                <!if(user.isManager){!>
                                <option value="1" selected i18n="admin.panelManagement.YES"></option>
                                <option value="0" i18n="admin.panelManagement.NO"></option>
                                <!}else{!>
                                <option value="1" i18n="admin.panelManagement.YES"></option>
                                <option value="0" selected i18n="admin.panelManagement.NO"></option>
                                <!}!>
                            </select>
                        <!}!>
                    </span>
                </div>
            </div>
            <!if(user.id != AppConfig.userId){!>
            <div class="media-right fr">
                <button type="button" class="btn btn-danger pa" id="userDel"
                        i18n="admin.panelManagement.DELETE"></button>
            </div>
            <!}!>
        </div>
    </div>
    <div id="userOperationRecords">
        <div class="p20">
            <h4 class="ml10 cl2" i18n="admin.panelManagement.ACCOUNT_RECORD_OPERATION"></h4>

            <div class="bg1 p15 oh">
                <select id="userRecord" class="fl form-control w150">
                    <option value="1" i18n="admin.panelManagement.ACCOUNT_LOGIN_RECORD"></option>
                </select>

                <div class="fl ml20">
                    <label for="txtLogDateStart" class="dateTit" i18n="admin.panelManagement.TIME"></label>

                    <div class="input-group date form_datetime fl" data-date=""
                         data-link-field="dtp_inputStart">
                        <input class="form-control" size="16" type="text" value="" id="recordLogDateStart"
                               style="border-radius:5px 0 0 5px;">
                    </div>
                    <div class="dib obj1" i18n="admin.panelManagement.TO"></div>
                    <div class="input-group date form_datetime fl" data-date=""
                         data-link-field="dtp_inputStart">
                        <input class="form-control" size="16" type="text" value="" id="recordLogDateEnd"
                               style="border-radius:0 5px 5px 0;">
                    </div>
                    <button type="button" id="btnRecord" class="btn btn-primary ml30"
                            i18n="admin.panelManagement.DETERMINE"></button>
                    <span id="recordInfoDate" class="infoPrompt dn pr"
                          i18n="admin.panelManagement.DATE_CANNOT_EMPTY"></span>
                </div>
            </div>
            <ul id="userAllRecord" class="bg1 mt10 dn"></ul>
        </div>
    </div>
</script>
<script type="text/html" id="selectInitProjectTmpl">
    <select class="form-control w200 fl" id="selectInitProject">
        <option value="0" disabled selected style="display:none;"
                i18n="admin.panelManagement.SET_INITIAL_PROJECT"></option>
        <!for(var projectId in obj){!>
        <option value="<!=projectId!>" class="projects"><!=obj[projectId].projectName!></option>
        <!}!>
    </select>
</script>
<script type="text/html" id="selectInitRoleTmpl">
    <select class="form-control w200 fl" id="selectInitRole">
        <option value="0" disabled selected style="display:none;"
                i18n="admin.panelManagement.SET_INITIAL_GROUP"></option>
        <!for(var m =0; m < obj.length; m++){!>
        <option value="<!=obj[m].roleId!>" class="roles"><!=obj[m].roleName!></option>
        <!}!>
    </select>
</script>
<script type="text/html" id="addUserTmpl">
    <div class="winCon">
        <div id="selectInfos">
            <select class="form-control w200 fl" id="selectSupervisor">
                <option value="0" disabled selected style="display:none;"
                        i18n="admin.panelManagement.SET_SUPERVISOR"></option>
                <!for(var m=0; m < managers.length; m++){!>
                <option value="<!=managers[m].id!>"><!=managers[m].userfullname || managers[m].username!></option>
                <!}!>
            </select>
            <select class="form-control w200 fl" id="selectInitProject">
                <option value="0" disabled selected style="display:none;"
                        i18n="admin.panelManagement.SET_INITIAL_PROJECT"></option>
            </select>
            <select class="form-control w200 fl" id="selectInitRole">
                <option value="0" disabled selected style="display:none;"
                        i18n="admin.panelManagement.SET_INITIAL_GROUP"></option>
            </select>

            <label style="margin:5px 0 0 1px;"><input type="checkbox" id="givenMR"/><span
                    i18n="admin.panelManagement.GIVEN_AUTHORITY"></span></label>
        </div>
        <ul id="userInfos">
            <!for(var n=0; n < addCount; n++){!>
            <li>
                <input type="text" class="form-control mr20 fl userName" placeholder="" maxlength="12"
                       i18n="placeholder=admin.panelManagement.USER_NAME"/>
                <input type="text" class="form-control userEmail" placeholder="" maxlength="35"
                       i18n="placeholder=admin.panelManagement.MAILBOX"/>
            </li>
            <!}!>
        </ul>
        <div id="addPersonErr" class="infoPrompt ml20 dn" style="text-indent: 32px;"
             i18n="admin.panelManagement.MAILBOX_FORMAT_WRONG">！
        </div>
        <ul id="inviteMsg"></ul>
    </div>
</script>
<script type="text/html" id="inviteMsgTmpl">
    <! for(var prop in failed){!>
    <! for(var i=0; i < failed[prop].length; i++){!>
    <li class="<!=prop!>"><!=failed[prop][i].useremail!> <!=info[prop]!></li>
    <!}!>
    <!}!>
    <! for(var i=0; i < succeed.length; i++){!>
    <li class="succeed"><!=succeed[i].useremail!> <!=info.succeed!></li>
    <!}!>
</script>
<!--模版结束-->