<style>
    ul{
        padding: 0;
        margin: 0;
    }
    ul li{list-style: none;}
    #panelCenter .row{margin:0;}
    #modalTemplate .col-sm-2,#modalTemplate .col-sm-10{padding:0;}
    #modalTemplate, #templateLeft, #templateRight, #templateTabs{height: 100%;}
    #templateTitle{
        line-height: 50px;
    background-color: #383e41;
    border-right: 1px solid #313639;
    padding-left: 15px;
    font-size: 16px;
    color: #98a3aa;
    }
    #templateTabs li{
        line-height: 50px;
    border-top: 1px solid #4f5457;
    font-size: 16px;
    color: #98a3aa;
        padding-left: 30px;
    }
    #templateRight{background-color: #34393c}
    #tabName{
        background-color: #383e41;
    height: 50px;
    }
    #tabContent{
        clear: both;
    padding: 20px 0 0 20px;
    background-color: #34393c;
    height: calc(100% - 45px);
    overflow: auto;
    }
    #tabContent .divBox {
        padding: 0;
        margin: 0 8px 15px;
    }
    #tabContent .thumbnail{
    position: relative;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    border: 0;
    border-radius: 2px;
    margin-bottom: 0;
    }
     @media (min-width: 1500px) {
        #tabContent .thumbnail {
            height:130px;
            line-height:130px;
        }
    }
    @media (max-width: 1500px) and (min-width: 1200px) {
        #tabContent .thumbnail {
            height:100px;
            line-height:100px;
        }
    }
    @media (max-width: 1200px) {
       #tabContent .thumbnail {
            height:60px;
            line-height:60px;
        }
    }
    #tabContent .thumbnail img{
        max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin-top: -11px;
    }
    #tabContent .caption{
        display: block;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
    padding: 0;
    }
    #tabContent .caption h3{
        color: #484848;
        font-size: 14px;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 25px;
        line-height: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #tabName span{
        display: inline-block;
        height: 100%;
        line-height: 50px;
        font-size: 16px;
        color: #98a3aa;
        margin-left: 10px;
    }
</style>
<div id="modalTemplate" class="row">
    <div id="templateLeft" class="col-sm-2">
        <div class="row" id="templateTitle">分类</div>
        <div class="row" id="templateTabs"></div>
    </div>
    <div id="templateRight" class="col-sm-10">
        <div class="row" id="tabName"></div>
        <div class="row gray-scrollbar" id="tabContent"></div>
    </div>
</div>