<div class="col-md-4 pull-right" style="margin: 10px 0;">
    <button id="saveFields" class="btn btn-primary">Save</button>
    <button id="autoMapping" class="btn btn-primary">Auto Mapping</button>
</div>

<div id="mappingFieldsContainer" class="col-md-8 col-md-offset-2">

</div>

<div id="mappingResultWrapper">
    <span class="glyphicon glyphicon-remove" aria-hidden="true" id="closeMappingResult"></span>

    <div id="mappingResult">

    </div>
</div>
<script type="text/html" id="tpl_fields_table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Field<span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                           style="margin-left: 3px;" data-toggle="tooltip" data-placement="right" title="The Fields is extracted from all engine points, the basic components"></span></th>
            <th>Example<span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                             style="margin-left: 3px;" data-toggle="tooltip" data-placement="right" title="One of engine points contains this field."></span></th>
            <th>Frequency<span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                               style="margin-left: 3px;" data-toggle="tooltip" data-placement="right" title="Total number of the field in all engine points."></span></th>
            <th>Value<span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                           style="margin-left: 3px;" data-toggle="tooltip" data-placement="right" title="what is the meaning of this field in engine points, used for matching the cloud points."></span></th>
        </tr>
        </thead>
        <tbody>
        <!for(var m=0;m < fields.length; m++ ){!>
        <tr>
            <td><!=fields[m].word!></td>
            <td><!=fields[m].example!></td>
            <td><!=fields[m].frequency!></td>
            <td><input class="fields" value="<!=fields[m].value!>" data-field="<!=fields[m].word!>"
                       data-example="<!=fields[m].example!>" data-frequency="<!=fields[m].frequency!>"/></td>
        </tr>
        <!}!>
        </tbody>
    </table>
</script>