<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>今日运营小结</title>
    <script type="text/javascript" scr="/static/scripts/lib/bootstrap/css/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" scr="/static/scripts/lib/bootstrap/css/bootstrap.min.js"></script>

    <link href="/static/scripts/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">

    .item-onoff
    {
        //background-color:#acd373;
        color:#FFFFFF;
        font-size:22
    }
    .item-yes
    {
        //background-color:#acd373;
        color:#FFFFFF;
        font-size:22
    }
    .item-bs
    {
        color:#FFFFFF;
        font-size:22
    }
    .item-nxb
    {
        color:#FFFFFF;
        font-size:22;
        font-family:"微软雅黑";
    }


    </style>

</head>
<body>
<div style="position: absolute; width: 100%; height: 100%;"><img src="http://beop.rnbtech.com.hk/static/images/wx/wxbg.jpg" style="width: 100%; height: 100%;"></div>
<div style="position: relative; left: 20px; top: 120px; right:20px;">
        <div class="row">
        <div class="col-xs-8">
            <div class="col-xs-2">2</div>
            <div class="col-xs-2">2</div>
            <div class="col-xs-2">2</div>
            <div class="col-xs-2">2</div>
        </div>
    </div>
<div class="row">
    <div class = "col-xs-1">aaa</div>
    <div class="col-xs-10">
                       <div class="list-group-item day-item">
                    <p class="item-onoff">今日冷水机组累计发生4次启停.冷冻水泵累计发生2次启停.冷却水泵累计发生2次启停.冷却塔累计发生8次启停.</p>
                </div>
                <div class="list-group-item day-item">
                    <p class="item-yes">今日机房总耗电量为116445度电，相比昨日:能耗-1%.外温+13%.湿度+49%.负荷+1%.</p>
                </div>
    </div>
    <div class = "col-xs-1">aaa</div>
</div>
</div>

</body>
</html>
