.slider-container {
    float: left;
    width: 200px;
    height: 538px;
    background-image: linear-gradient(to bottom, #282f48, #171d34)
}
.slider-header-text {
    width: 100%;
    height: 42px;
    background-image: linear-gradient(93deg, #5b88f7, #5bb7f7);
}
.slider-header-text h3 {
    height: 100%;
    line-height: 42px;
    margin-left: 14px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.slider-list-header {
    height: 54px;
    padding-top: 12px;
    color: #10b8f9;
}
.slider-list-header .header-text-container {
    width: 172px;
    height: 30px;
    line-height: 30px;
    margin-left: 14px;
    opacity: 0.4;
    border-radius: 4px;
    text-align: center;
    /* background-color: #6c95ff; */
    box-shadow: 0 0 8px 0 #6c95ff;
    border: 1px solid;
    color: #f4f4f4;
}
.details-content {
    width: calc(100% - 200px);
    height: 498px;
    float: left;
}
.details-left {
    width: 100%;
    height: 100%;
    float: left;
}

.data-args {
    width: 100%;
    height: 298px;
    background-color: #bdbcca94;
    padding: 40px;
    overflow: auto;
}

.args-item {
    padding-bottom: 15px;
    width: 100%;
    text-align: right;
    display: flex;
 }
 .args-item> label {
    flex:1;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.args-item> label >span {
    position: relative;
    height: 32px;    
    padding-left: 10px;
}
 .args-item> label > span::after {
    content: '*';
    font-size: 20px;
    position: absolute;
    top: 2px;
    left: 0;
    color: #ee4946;
}
.args-item> .args-input {
    flex: 2;
    text-align: left;
    margin-left: 15px;
}
.args-item> .args-input> input {
    width: 230px;
    height: 27px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #a6a6a6;
    color: #6385c4;
    font-size: 12px; 
}




.data-time {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #fbfcfc;
}

/* data time table */

table.operation {
    width: 100%;
    margin-left: 15px;
    padding-top: 19px;
    border-collapse: collapse;
    background-color: #fbfcfc;   
    padding-bottom: 46px;
}

.operation-header {
    height: 43px;
    line-height: 43px;
    border-bottom: 1px solid #eceff4;
}
.operation-header th {
    font-weight: 400;    
    color: #5b8af7;
}
.operation-row {
    height: 33px;
    line-height: 33px;
}
.operation-row:nth-child(odd),
.operation-row:hover{
    background-color: #f4f7fc;
}






