<style>
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    #navBottom{
        height:3.5rem!important;
    }
    ul{
        margin:0;
        padding:0;
    }
    ul li{
        list-style: none;
    }
    #divAllEquipment li.zepto-ev{
        border-bottom: 1px solid black;
        padding-left:1rem;
        color: black;
        position: relative;
    }
    #divAllEquipment li .equipmentName{
        padding: 1rem;
        display: inline-block;
        width: 77%;
    }
    #divAllEquipment li button{
    }
    .spanSticked{
        position: absolute;
        width: 5rem;
        height: 2.5rem;
        background-color: #35B935;
        border-radius: 2rem;
        right: 1.5rem;
        top: .5rem;
    }
    .spanSticked a{
        width: 2.2rem;
        display: inline-block;
        height: 2.2rem;
        background-color: white;
        border-radius: 2.2rem;
        position: absolute;
        right: 1px;
        top: 2px;
    }
    .parameterList{margin-left: -1rem;}
    .parameterList li{
        padding: .6rem;
        border-top: 1px solid #ccc;
        width: 100%;
        padding-left: 2rem;
    }
    .parameterList li .parameterName{
        width: 30%;
        display: inline-block;
    }
    .parameterList li input{
        width: 60%;
        text-align: right;
    }
    #btnConfig{
        color:#ccc;
    }
    #btnConfig ul{
        position: absolute;
        top: 43px;
        z-index: 5;
        width: 9rem;
        right: -2rem;
        display: none;
    }
    #btnConfig li{
        width: 100%;
        padding: .4rem 2rem;
        background-color: #eee;
        text-align: center;
    }
</style>
<div id="divAllEquipment" class="row">
    <ul></ul>
</div>