<style>
    #MFPointContainer {
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        height: 100%;
        padding: 0px 5px 10px 5px;
        overflow: hidden;
        background: rgba(10, 44, 68, 0.79);
    }

 
    #MFPointContainer .MFtempTrends,
    #MFPointContainer .MFqualifiedTrends {
        position: relative;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        height: 290px;
        color: #fefefe;
        background: rgba(13, 33, 49, 0.74);
        border: 1px solid #397ac9;
    }
    #MFPointContainer .MFparameters{
        position: relative;
        overflow: hidden;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        height: calc(100% - 600px);
        color: #fefefe;
        background: rgba(13, 33, 49, 0.74);
        border: 1px solid #397ac9;
    }
    .paramTitle,
    .tempTitle,
    .qualityTitle {
        display: flex;
    }
    .paramList{
        height: calc(100% - 30px);
        overflow: auto;
    }
    .spTitle {
        height: 30px;
        width: 270px;
        line-height: 30px;
    }
    
    .tempChart,
    .qualityChart {
        height: calc(100% - 35px);
    }
    .unfold {
        margin-left: 5px;
        white-space: nowrap;
        background: #144382;
        border: 1px solid #3f93e6;
    }
    
    .paramList {
        padding-top: 10px;
    }
    
    .param {
        display: flex;
        padding:5px 0;
        border-bottom: 1px solid #313e49;
    }
    .lstParam{
        border-bottom: none;
    }
    .param span {
        padding-left: 10px;
    }
    .param span:first-child {
        width: 40%;
    }
    .param span:nth-child(2) {
        width: 60%;
    }    
    .queryTrack{
        cursor: pointer;
        margin-left: 5px;
        padding: 0px 3px !important;
        background: #147739;
        border: 1px solid #25bb55;
    }
    .spTitleComen {
        padding-left: 15px;
        border: 1px solid #637079;
        position: relative;
        height: 30px;
        line-height: 30px;
        color: #999;
        cursor: pointer;
    }
    
    .lTriangle {
        position: absolute;
        top: 21px;
        left: -5px;
        transform: rotate(-45deg);
        color: rgb(25, 34, 52);
    }
    .rTriangle{
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 30px;
        width: 20px;
        height: 20px;
        transform: rotate(-135deg) scale(4,4);
        color: rgb(25, 34, 52);
    }
    .slash {
        width: 11px;
        position: absolute;
        height: 1.4px;
        background: #637079;
        transform: rotate(-135deg);
        top: 24px;
        left: -2px;
        z-index: 1;
    }
    .spTtlWidth{
        width: 100%;
    }
    .spTitleSelect {
        border: 1px solid #3477be;
        background: #144685;
        color: #fff;
    }
    
    .spTitleSelect .slash {
        background: #3477be;
    }
    @media screen and (max-width: 1366px){
        #MFPointContainer .MFtempTrends,
        #MFPointContainer .MFqualifiedTrends {
            height: 250px;
        }
        #MFPointContainer .MFparameters{
            height: calc(100% - 520px);
        }        
    }
</style>
<div id="MFPointContainer">
    <div class="MFparameters">
<!--        <span class="slash"></span>
        <span class="glyphicon glyphicon-triangle-left rTriangle"></span>-->
        <div class="paramTitle">
            <span class="spTitle spTtlWidth">
                 <div class="spTitleComen spTitleSelect">
                    <span class="slash"></span>
                    <span class="glyphicon glyphicon-triangle-left lTriangle"></span> 
                    <span class="paramIst"> 朝阳块参数实例 </span>
                </div>
            </span>
            
        </div>
        <div class="paramList">
        </div>
    </div>
    <div class="MFtempTrends">
        <div class="tempTitle">
            <span class="spTitle">
                <div class="spTitleComen spTitleSelect">
                    <span class="slash"></span>
                    <span class="glyphicon glyphicon-triangle-left lTriangle"></span> 温度趋势
                </div>
            </span>
        <button type="" id="showFMDetail" class="unfold">展开</button></div>
    <div class="tempChart"></div>
</div>
<div class="MFqualifiedTrends">
    <div class="qualityTitle">
        <span class="spTitle spTtlWidth">
            <div class="spTitleComen spTitleSelect">
                <span class="slash"></span>
                <span class="glyphicon glyphicon-triangle-left lTriangle"></span> 合格率趋势
            </div>       
        </span>
        <!--<button type="" id="btnFMDetail1" class="unfold">展开</button>-->
        </div>
    <div class="qualityChart"></div>
</div>
</div>