<style class="FMdetailCnt">
    .FMdetailCnt {
        position: absolute;
        width: 100%;
        height: 100%;
        color: #eaf0f9;
        background: #192435;
    }
    
    .FMdetailNav {
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #3f4a5b;
    }
    
    .FMContent {
        display: flex;
        height: calc(100% - 70px);
        justify-content:space-between;
        padding: 20px;
    }
    
    #divTimeQuery {
        display: flex;
        position: absolute;
        z-index: 161;
        top: 10px;
        left: 10px;
        padding: 10px;
        width: 100%;
    }
    
    #divTimeQuery .divTimeRange {
        display: flex;
        float: left;
        width: 36%;
    }
    
    #divTimeQuery label {
        font-weight: normal;
    }

    .iptDateTime {
        border: none;
        background: transparent;
    }
    
    .FMContent .FMechart {
        width: 50%;
        height: 100%;
    }
    
    .FMContent .FMtable {
        margin-left: 15px;
        width: calc(50% - 50px);
        height: 100%;
        overflow: auto;
    }
    .FMtable {
        margin-top: 10px;
        margin-right: 10px;
        font-size: 16px!important;
    }
    .tableDetail {
        width: 100%;
    }
    
    .tableDetail tr {
        border-top: 1px solid #192435;
        border-bottom: 1px solid #192435;
    }
    
    .tableDetail tr td, .tableDetail tr th {
        padding: 0px 15px;
        height: 33px;
        text-align: center;
    }
    
    .tableDetail tr:nth-child(odd) {
        background: #384a69;
    }
    
    .tableDetail tr:nth-child(even) {
        background: #28374f;
    }
    .btnCom {
        padding: 0 5px;
    }
    .btnCom:active, .btnCom:visited {
        border: none;
    }
    .divTimeStart, .divTimeEnd,.btnCom {
        position: relative;
        margin-right: 10px;
        padding: 0 10px;
        font-size: 14px;
        border:1px solid #666;
        height:30px;
        line-height:25px;
        cursor:pointer;
        background: rgba(255,255,255,0.1);
        color: #ccc;
    }
    
    .btnCom.btnQuery,.btnCom.btnExport{
        width: 90px;
    }
    .btnCom.btnBackMap{
        width: 120px;
        position: absolute;
        right: 10px;
    }
    .hideHorn{
        position:absolute;
        top: 20px;
        left: -6px;
        transform: rotate(-45deg);
        color: rgb(25, 34, 52);
    }
    .showLine{
        width: 11px;
        position: absolute;
        height: 1.4px;
        background: #ccc;
        transform: rotate(-135deg);
        top: 24px;
        left: -2px;
        z-index: 1;
    }
    .btnCom.btnQuery{
        border:1px solid #26b159;
        background:#279e4a;
        color:#fff;
    }
    .btnCom.btnQuery .showLine{
        background: #26b159;
    }    
</style>
<div class="FMdetailCnt">
    <div class="FMdetailNav">
        <div id="divTimeQuery">
            <div class="divTimeRange">
                <div class="divTimeStart">
                    <label for="iptTimeStart">开始时间</label>
                    <input class="iptDateTime" id="iptTimeStart" size="16" type="datetime-local" value="2016-10-24 00:00"
                        datetimepicker="">
                    <span class="showLine"></span>
                    <span class="glyphicon glyphicon-triangle-left hideHorn"></span>   
                </div>
                <div class="divTimeEnd">
                    <label for="iptTimeEnd">结束时间</label>
                    <input class="iptDateTime" id="iptTimeEnd" size="16" type="datetime-local" value="2016-10-25 00:00"
                        datetimepicker="">
                    <span class="showLine"></span>
                    <span class="glyphicon glyphicon-triangle-left hideHorn"></span>                         
                </div>
            </div>
            <button class="btnCom btnQuery">查询
                <span class="showLine"></span>
                <span class="glyphicon glyphicon-triangle-left hideHorn"></span>    
            </button>
            <button class=" btnCom btnExport">导出
                <span class="showLine"></span>
                <span class="glyphicon glyphicon-triangle-left hideHorn"></span>                 
            </button>
            <button class=" btnCom btnBackMap">回到地图
                <span class="showLine"></span>
                <span class="glyphicon glyphicon-triangle-left hideHorn"></span>                 
            </button>
        </div>
    </div>
    <div class="FMContent">
        <div class="FMechart"></div>
        <div class="FMtable">
            <table class="tableDetail">
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>温度</th>
                        <th>湿度</th>
                        <th>报警状态</th>
                        <th>联机状态</th>
                        <th>库门状态</th>
                        <th>合格率</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>