
.buttonWrap {
  display: inline-block;
  position: relative;
}
.buttonWrap .spinner {
  position: absolute;
  left: 21px;
  top: 50%;
  margin-top: -8px;
  height: 16px;
  z-index: 1;
}
.buttonWrap.loading :global(.ms-Button-label) {
  text-indent: 24px;
}
