.OutlierDetectionWrap {
  width: 100%;
  height: 100%;
  background: #f5f8f9;
}
.slider {
  width: 200px;
  height: calc(100% - 20px);
  float: left;
  font-size: 10px;
  color: #666;
  margin-top: 24px;
  border-right: 1px solid rgba(153, 153, 153, 0.3);
}
.rightCtn {
  width: calc(100% - 200px);
  height: 100%;
  float: right;
}
.panelTitle {
  text-align: left;
  color: #1d1d1d;
  padding-left: 16px;
}
.panelTitle span {
  font-size: 20px;
  font-weight: 500;
}
.optionWrap {
  height: 80px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.15);
  padding: 16px;
}
.optionWrap > div {
  display: flex;
  align-items: center;
}
.datasetWrap {
  height: 200px;
  padding: 16px;
}
.methodWrap {
  height: calc(100% - 306px);
  padding: 16px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.15);
  padding-right: 0;
}
.methodWrap input:disabled,
.methodWrap [aria-disabled='true'] {
  cursor: no-drop;
  background-color: rgba(204, 204, 204, 0.3);
  border: none;
}
.methodWrap > h3,
.optionWrap > h3 {
  margin-bottom: 8px;
  width: 100%;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  color: #1d1d1d;
  padding: 0 0 0 8px;
  border-left: 4px solid #1d1d1d;
  font-weight: 600;
}
.methodWrap > div {
  width: 100%;
  height: calc(100% - 24px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 6px;
}
.methodWrap > div > div {
  width: 100%;
  margin-bottom: 12px;
}
.labelInputWrap {
  padding-left: 22px;
}
.labelInput {
  width: 100%;
  margin-bottom: 6px;
}
.labelInput > label {
  display: block;
  margin-bottom: 6px;
  color: #999999;
}
.labelInput > input {
  width: 100%;
  height: 24px;
  line-height: 22px;
  padding-left: 4px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid rgba(204, 204, 204, 0.3);
}
.labelInput > div > div span {
  line-height: 24px;
}
.labelInput > div > div > span:first-child {
  height: 24px;
  background: #ffffff;
  border: 1px solid rgba(204, 204, 204, 0.3);
  border-radius: 4px;
}
/* checkbox start */
.checkboxWrap .checkbox {
  height: 24px;
}
.checkbox > label > div {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border-color: #ccc;
}
.checkbox:focus > label > div:global(.ms-Checkbox-checkbox),
.checkbox > label > div:global(.ms-Checkbox-checkbox),
.checkbox:hover > label > div:global(.ms-Checkbox-checkbox) {
  border-color: #ccc;
}

.checkbox:global(.is-checked:hover) > label > div,
.checkbox:global(.is-checked) > label > div,
.checkbox:global(.is-checked:focus) > label > div {
  background-color: #4c84ff;
  border: none;
}

.checkbox:focus > label > span:global(.ms-Checkbox-text),
.checkbox:global(.is-checked:hover) > label > span:global(.ms-Checkbox-text),
.checkbox:hover > label > span:global(.ms-Checkbox-text),
.checkbox > label > span:global(.ms-Checkbox-text) {
  font-size: 10px;
  color: #666;
  line-height: 14px;
}
.checkbox > label > div > i {
  font-size: 12px;
}

.checkboxWrap {
  position: relative;
}
.checkboxWrap > div {
  position: absolute;
  top: 6px;
}
.labelInput label > div > div,
.checkboxWrap > div > div {
  margin-top: 1px;
}
.checkboxWrap > button {
  float: left;
}
