<style>
    /* 待移入dataManager.css */
    #alarmInfoTableBox {
        max-height: 600px;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #alarmInfoTableBox .widget-sdt-footer-header-right, #alarmInfoTableBox .widget-sdt-footer {
        display: none;
    }
</style>

<!--报警信息列表-->
<article id="alarmInfoModal" class="modal fade">
    <div class="modal-dialog mt100" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span i18n="dataManage.WATCH_LIST"></span></h4>
            </div>
            <div class="modal-body">
                <div id="alarmInfoTableBox">
                    <table id="alarmInfoTable" class="table table-striped">
                        <thead>
                        <tr>
                            <th>报警点名</th>
                            <th>报警状态</th>
                            <th>报警时间</th>
                            <th>报警类型</th>
                        </tr>
                        </thead>
                        <tbody id="alarmInfoTBody"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</article>
<!--设置end-->
<div id="dataAlarmBox" class="dm-box1"></div>
<!--@formatter:off-->
<script type="text/html" id="tpl_data_alarm_name_list">
    <!for(var m=0; m < nameList.length; m++){!>
    <li class="alarm-point-li">
        <span class="alarm-point-name"><!=nameList[m]!></span>
        <span class="glyphicon glyphicon-remove alarm-point-remove"></span>
    </li>
    <!}!>
</script>
<script type="text/html" id="tpl_data_alarm_list">
    <div id="data_alarm_list_box" style="padding-left:10px">
        <div class="clearfix">
            <div class="btn-group btn-group-sm btnGroup fl" role="group" id="buttonGroup">
                <span class="dmPointStyle ml20 cp">
                    <span id="point_edit" class="dmPointHover">
                        <span class="icon iconfont icon_position" aria-hidden="true"
                              i18n="title=debugTools.btnNav.EDIT_POINT;">&#xe710;</span>
                        <span class="mediaHide" i18n="debugTools.btnNav.EDIT_POINT"></span>
                    </span>
                </span>
                <span class="dmPointStyle cp">
                    <span id="point_add" class="dmPointHover">
                        <span class="icon iconfont icon_position" aria-hidden="true"
                              i18n="title=common.ADD;">&#xe711;</span>
                        <span class="mediaHide" i18n="common.ADD"></span>
                    </span>
                </span>
                <span class="dmPointStyle cp">
                    <span id="point_delete" class="dmPointHover">
                        <span class="icon iconfont icon_position" aria-hidden="true"
                              i18n="title=debugTools.btnNav.DELETE_POINT;">&#xe712;</span>
                        <span class="mediaHide" i18n="debugTools.btnNav.DELETE_POINT"></span>
                    </span>
                </span>
            </div>
            <div class="fl mt15 mr30 p10">
                <label class="cp" style="font-weight: normal;">
                    <input type="checkbox" id="isShowAlarm"/>
                    <span>显示报警</span>
                </label>
            </div>
            <div class="text_search_box ml10">
                <span class="icon iconfont icon_position searchIcon cp dmPointHover">&#xe713;</span>
                <input type="text" id="text_search" class="form-control mr10 fl" value=""
                       i18n="placeholder=debugTools.sitePoint.SEARCH"/>
                <div id="cloudPointEditMessage" class="fr dn" i18n="debugTools.sitePoint.SAVING"></div>
            </div>

            <div class="btn-group fr ml10 right-tools point_group" role="group">
                <span id="showInfoTable" class="glyphicon glyphicon-th-list cp" i18n="title=dataManage.WATCH_LIST"></span>
            </div>
        </div>
        <div id="data_alarm_list_table"></div>
    </div>
</script>
<script type="text/html" id="tpl_data_alarm_modify">
    <div id="data_alarm_modify_box">
        <div id="data_alarm_content" class="dm-box1-left"></div>
        <div id="dmSysTree" class="dm-box1-right fl">
            <div id="dmSysTreeInner">
                <div class="dm-box1-header dmSysTreeHeader">
                <span class="dmSysTreeSearch">
                    <span class="icon iconfont search_icon">&#xe713;</span>
                    <input type="text" id="treeSearch" class="" placeholder="搜索">
                </span>
                </div>
                <div class="dm-box1-content dmSysTreeContent">
                    <div id="apiTreeBox" class="gray-scrollbar">
                        <ul id="apiTreeUl" class="ul ztree"></ul>
                        <ul id="apiTreeSearchUl" class="ul ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="tpl_data_alarm_new">
    <div id="data_alarm_new">
        <header class="dm-box1-header">新建</header>
        <div class="dm-box1-content container col-md-12">
            <form id="dataAlarmForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-1 control-label">报警类型</label>

                    <div class="col-md-11 pl0">
                        <div class="col-md-12">
                            <label class="mr20">
                                <input type="radio" class="alarm-type" name="alarm_type" value="1" checked="checked">
                                <span i18n="">布尔量报警</span>
                            </label>
                            <label>
                                <input type="radio" class="alarm-type" name="alarm_type" value="2">
                                <span i18n="">高低限报警</span>
                            </label>
                        </div>
                        <div class="col-md-12 dn" id="alarm_new_limit_box">
                            <label class="mr20 vt">
                                <span i18n="" class="fl mt5 mr10">上限</span>
                                <input type="text" id="alarm_limit_high" name="alarm_num_max" class="form-control fl"
                                       value="">
                            </label>
                            <label class="vt">
                                <span i18n="" class="fl mt5 mr10">下限</span>
                                <input type="text" id="alarm_limit_low" name="alarm_num_min" class="form-control fl"
                                       value="">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label">报警级别</label>

                    <div class="col-md-11">
                        <select class="form-control" id="alarm_grade" name="alarm_grade">
                            <option value="1">1</option>
                            <option value="2" selected="selected">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">推送列表</label>

                    <div class="col-md-11">
                        <div class="col-md-12 pl0">
                            <span class="glyphicon glyphicon-edit wf-people-add"></span>
                            <div id="pushList"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1 control-label-position">点位列表</label>

                    <div class="col-md-11">
                        <div>请从tree中拖入点</div>
                        <ul id="alarmPointListUl" class="ul"></ul>
                    </div>
                </div>
                <div class="tc">
                    <button id="dataAlarmCancel" type="button" class="btn btn-default mr10"
                            i18n="common.CANCEL"></button>
                    <button id="dataAlarmConfirm" type="button" class="btn btn-primary"
                            i18n="common.CONFIRM"></button>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/html" id="tpl_data_alarm_edit_bool">
    <div id="data_alarm_bool">
        <header class="dm-box1-header">编辑布尔量报警</header>
        <div class="dm-box1-content container col-md-12">
            <form id="dataAlarmForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-md-1 control-label-position ">报警点位</label>

                    <div class="col-md-11">
                        <input type="text" id="alarmPointName" class="form-control" name="alarm_point_name" value=""
                               readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label control-label-position">报警级别</label>

                    <div class="col-md-11">
                        <select class="form-control" id="alarm_grade" name="alarm_grade">
                            <option value="1">1</option>
                            <option value="2" selected="selected">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1 control-label-position">报警信息</label>

                    <div class="col-md-11">
                        <input type="text" class="form-control wr100" id="alarm_msg" name="alarm_msg" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">处理建议</label>

                    <div class="col-md-11">
                        <textarea class="form-control h100" id="alarm_advice" name="alarm_advice"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label control-label-position">报警间隔</label>

                    <div class="col-md-11">
                        <select class="form-control" id="alarm_interval" name="alarm_interval">
                            <option value="1">1小时</option>
                            <option value="2" selected="selected">8小时</option>
                            <option value="3">1天</option>
                            <option value="4">1个月</option>
                            <option value="5">每天</option>
                            <option value="6">每周</option>
                            <option value="7">每月</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">免打扰时间</label>

                    <div class="col-md-11">
                        <label>
                            <input type="checkbox" id="freeTime" name="free_time">
                            <span>启用</span>
                        </label>

                        <div>
                            <input type="text" id="freeTimeStart" class="form-control fl" value="" disabled>
                            <span class="fl fb m5">-</span>
                            <input type="text" id="freeTimeEnd" class="form-control fl" value="" disabled>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">推送列表</label>

                    <div class="col-md-11">
                        <div class="col-md-12 pl0">
                            <span class="glyphicon glyphicon-edit wf-people-add"></span>
                            <div id="pushList" class="showPushList"></div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="tc">
                <button id="dataAlarmCancel" type="button" class="btn btn-default mr10"
                        i18n="common.CANCEL"></button>
                <button id="dataAlarmConfirm" type="button" class="btn btn-primary" i18n="common.CONFIRM"></button>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="tpl_data_alarm_edit_limit">
    <div id="data_alarm_limit">
        <header class="dm-box1-header">编辑高低限报警</header>
        <div class="dm-box1-content container  col-md-12">
            <form id="dataAlarmForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-md-1 control-label-position">报警点位</label>

                    <div class="col-md-11">
                        <input type="text" id="alarmPointName" class="form-control" name="alarm_point_name" value=""
                               readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1 control-label-position">报警设置</label>

                    <div class="col-md-11">
                        <!for(var m=0; m < 4; m++){!>
                        <div class="form-group alarm-set-box">
                            <div class="col-md-12 mb5">
                                <!var value ;!>
                                <!if(m == 0){!>
                                <! value = '高高报限值';!>
                                <!}else if(m == 1){!>
                                <! value = '高报限值';!>
                                <!}else if(m == 2){!>
                                <! value = '低报限值';!>
                                <!}else if(m == 3){!>
                                <! value = '低低报限值';!>
                                <!}!>
                                <label class="control-label col-md-1 control-label-position"><!=value!></label>

                                <div class="col-md-3">
                                    <input type="text" class="form-control alarm-value" name="alarm_limit_value"/>
                                </div>
                                <label class="control-label col-lg-1 control-label-position">级别</label>

                                <div class="col-md-3">
                                    <select class="form-control alarm-grade" name="alarm_grade">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 mb5">
                                <label class="control-label col-md-1 control-label-position">报警信息</label>

                                <div class="col-md-11">
                                    <input type="text" class="form-control wr100 alarm-msg" name="alarm_msg">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="control-label col-md-1 control-label-position">处理建议</label>

                                <div class="col-md-11">
                                    <input type="text" class="form-control wr100 alarm-advice"
                                           name="alarm_advice">
                                </div>
                            </div>
                        </div>
                        <!}!>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1 control-label-position">持续时间</label>

                    <div class="col-md-11">
                        <input type="number" class="form-control mr10 fl" name="alarm_duration" value="">
                        <span class="fl mt5">min</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label control-label-position">报警间隔</label>

                    <div class="col-md-11">
                        <select class="form-control" id="alarm_interval" name="alarm_interval">
                            <option value="1">1小时</option>
                            <option value="2" selected="selected">8小时</option>
                            <option value="3">1天</option>
                            <option value="4">1个月</option>
                            <option value="5">每天</option>
                            <option value="6">每周</option>
                            <option value="7">每月</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">免打扰时间</label>

                    <div class="col-md-11">
                        <label>
                            <input type="checkbox" id="freeTime" name="free_time">
                            <span>启用</span>
                        </label>

                        <div>
                            <input type="text" id="freeTimeStart" class="form-control fl" value="" disabled>
                            <span class="fl fb m5">-</span>
                            <input type="text" id="freeTimeEnd" class="form-control fl" value="" disabled>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-1">推送列表</label>
                    <div class="col-md-11">
                        <div class="col-md-12 pl0">
                            <span class="glyphicon glyphicon-edit wf-people-add"></span>
                            <div id="pushList" class="showPushList"></div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="tc">
                <button id="dataAlarmCancel" type="button" class="btn btn-default mr10"
                        i18n="common.CANCEL"></button>
                <button id="dataAlarmConfirm" type="button" class="btn btn-primary" i18n="common.CONFIRM"></button>
            </div>
        </div>
    </div>
</script>
//推送列表
<script type="text/html" id="tpl_data_alarm_pushList">
    <!if(members.length){!>
    <table class="table mt10">
        <thead>
        <tr>
            <th>用户帐号</th>
            <th>网站推送</th>
            <th>APP推送</th>
            <th>邮件推送</th>
            <th>短信推送</th>
        </tr>
        </thead>
        <!for(var m=0; m < members.length; m++){!>
        <!var member = members[m];!>
        <tbody>
        <tr>
            <td>
                <!=member.userfullname!> + <!=member.useremail!>
            </td>
            <td>
                <!if(notifyData){!>
                <!if(member.isWebSite){!>
                <input type="checkbox" class="isWebSite" name="" checked/>
                <!} else{!>
                <input type="checkbox" class="isWebSite" name=""/>
                <!}!>
                <!} else{!>
                <input type="checkbox" class="isWebSite" name="" checked/>
                <!}!>
            </td>
            <td>
                <!if(notifyData){!>
                <!if(member.isApp){!>
                <input type="checkbox" class="isApp" name="" checked/>
                <!} else{!>
                <input type="checkbox" class="isApp" name=""/>
                <!}!>
                <!} else{!>
                <input type="checkbox" class="isApp" name=""/>
                <!}!>
            </td>
            <td>
                <!if(notifyData){!>
                <!if(member.isEmail){!>
                <input type="checkbox" class="isEmail" name="" checked/>
                <!} else{!>
                <input type="checkbox" class="isEmail" name=""/>
                <!}!>
                <!} else{!>
                <input type="checkbox" class="isEmail" name="" checked/>
                <!}!>
            </td>
            <td>
                <!if(notifyData){!>
                <!if(member.isSMS){!>
                <input type="checkbox" class="isSMS" name="" checked/>
                <!} else{!>
                <input type="checkbox" class="isSMS" name=""/>
                <!}!>
                <!} else{!>
                <input type="checkbox" class="isSMS" name=""/>
                <!}!>
            </td>
        </tr>
        </tbody>
        <!}!>
    </table>
    <!}!>
</script>
<script type="text/html" id="tpl_alarm_info_list">
    <!for(var m=0; m < infoList.length; m++){!>
        <!var info = infoList[m];!>
        <tr>
            <td><!=info.pointName!></td>
            <td><!=PointManagerDataAlarm.prototype.converterAlarmStatus(info.alarm_type, info.alarm_result)!></td>
            <td><!=info.alarm_time!></td>
            <td><!=PointManagerDataAlarm.prototype.converterAlarmType(info.alarm_type)!></td>
        </tr>
    <!}!>
</script>
<!--@formatter:on-->