@media print {
    .page-header, h3, .summary {
        page-break-after: avoid;
    }

    .step-item-container, .pageHeaderWrapper, h1, h3, .report-unit, .well {
        page-break-inside: avoid;
    }

    .report-table {
        width: 90%;
    }

    body {
        font-family: "微软雅黑", "Microsoft YaHei", simsun;
        font-size: 12px;
        font-weight: normal;
        color: #333;
        line-height: 1.42857143;
    }

    table {
        font-size: 12px;
    }
}