<style>
.echartPlane.part{
	width: calc(100% - 280px);
    float: left;
}
.treePane{
    width: 280px;
    float: left;
    height: calc(100% - 75px);
	border-left: 1px solid #414B5E;
}
#ulDetailLegend > li{
	display: none;
}
#ulDetailLegend > li.active{
	display: block;
}

#ulDetailLegend li span:first-of-type{
    width: 25px;
    height: 14px;
    border-radius: 2px;
    background: #CCCCCC;
}
#ulDetailLegend li{
	width: auto;
}

.CPRoomCOP.active{
	background-color: #1790CF !important;
}
.hostCOP.active{
	background-color: #1C7099 !important;
}
.hostAvrgLoad.active{
	background-color: #88B0BB !important;
}
.chillSupplyTemp.active{
	background-color: #AD61A4 !important;
}
.chillReturnTemp.active{
	background-color: lightseagreen !important;
}
.chillDiffTemp.active{
	background-color: #65B1CA  !important;
}
.coolingSupplyTemp.active{
	background-color: #CA9A49 !important;
}


/*tree*/
.ztree li {
    padding: 2px 4px;
}
.ztree li a{
	padding-left: 6px;
}
.ztree li a:hover{
	background-color: rgba(0, 0, 0, 0.3);
}
.ztree li a.curSelectedNode{
	color: #E0BC2B;
	background-color: rgba(0, 0, 0, 0.1);
}
.ztree li span.button.ico_docu{
	display: none;
}


</style>
<div class="crosswisePlane">
	<div class="timeQueryPlane">
		<button class="btn" id="choiceTime" datetimepicker=""><span class="glyphicon glyphicon-time" ></span><span>Time</span></button>
		<input class="timeStyle" id="iptTime" size="16" type="text" data-format="yyyy-mm-dd" value="2016-11-7" > 
	</div>
	<div class="topBtnWrap">
		<button class="btn btn-info" id="btnDownload"><a href="https://beopweb.oss-cn-hangzhou.aliyuncs.com/custom/beop_sales/Energy_Report_2017-01.pdf" target="_blank">下载报表</a></button> 
		<button class="btn btn-default hidden" id="btnBack">返回</button> 
	</div>
	
	<div class="echartPlane">
		<div class="btnLegend">
			<ul id="ulLegend" class="">
				<li><span class="water active" type="water"></span><span> 水</span></li>
				<li><span class="elec active" type="elec"></span><span>电</span></li>
				<li><span class="gas active" type="gas"></span><span> 气</span></li>
			</ul>

			<ul id="ulDetailLegend" class="hidden">
				<li><span class="CPRoomCOP active" type="CPRoomCOP"></span><span>机房COP</span></li>
				<li><span class="hostCOP" type="hostCOP"></span><span>主机COP</span></li>
				<li><span class="hostAvrgLoad" type="hostAvrgLoad"></span><span>运行主机平均负载率(%)</span></li>
				<li><span class="chillSupplyTemp" type="chillSupplyTemp"></span><span>冷冻水供水温度</span></li>
				<li><span class="chillReturnTemp" type="chillReturnTemp"></span><span>冷冻水回水温度</span></li>
				<li><span class="chillDiffTemp" type="chillDiffTemp"></span><span>冷冻水供回水温差</span></li>
				<li><span class="coolingSupplyTemp" type="coolingSupplyTemp"></span><span>冷却水供水温度</span></li>
			</ul>
		</div>
		<div id="crosswiseChart" class="gray-scrollbar">
			<div class="crosswiseChart"></div>
		</div>
	</div>

    <div class="treePane hidden">
        <ul id="tree" class="ztree"></ul>
    </div>
</div>