<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8" />

<style>
    body,html{
         padding:0;
         margin:0;  
         width:100%;
         height:100%;
         font-size:14px;
    }
    li {
        list-style:none;
    }
    #equipBox {
        height:100%;
    }
    #equipBox .panel-default {
        height:100%;
    }
    .equipTitle {
        width:100%;
        height:40px;
        line-height:40px;
        padding-left:10px;
        font-size:16px;
        background:#f5f5f5;
        border-bottom:1px solid #ddd;
    }
    .equipInfo {
        width:100%;
        height:calc(100% - 45px);
        overflow-y:auto;
    }
    .equipTable {
        width:100%;
    }
    .equipTable tr {
        height:36px;
        line-height:36px;
        cursor:pointer;
    }
    .equipTable .equipRow:hover td .operate {
        display:block;
    }
    .equipTable td,.equipTable th {
       text-align:center;
    }
    #equipBox .operate {
        display:none;
    }
    #equipBox .operate .glyphicon {
        color:#76bceb;
    }
    #equipBox .panel-heading-span{
        margin-right: 10px;
        font-size: 20px;
    }
    #maintenance .dropdown-menu,#alarm .dropdown-menu{
        min-width:94px;
    }
    #maintenance .modal-dialog,#alarm .modal-dialog {
        width:800px;
    }
    #maintenance .dropdown-menu > li > a,#alarm .dropdown-menu > li > a {
        padding:3px 14px;
    }
    #maintenance .dataTime,#alarm .dataTime {
        float:right;
    }
    #maintenance .dropdown,#alarm .dropdown {
        width:100px;float:left;
    }
    #maintenance .mainTable,#alarm .mainTable {
        width:100%;
        border:1px solid #eee;
        border-collapse:collapse;
        margin-top:10px;
    }
    #maintenance .mainTable tr, #alarm .mainTable tr {
        height:30px;
        line-height:30px;
        border-top:1px solid #eee;
        border-bottom:1px solid #eee;
    }
    #maintenance .mainTable thead tr, #alarm .mainTable thead tr , #maintenance .mainTable tbody tr:nth-child(2n),#alarm .mainTable tbody tr:nth-child(2n){
        background:#f5f5f5;
    }
    #alarm .modal-dialog, #maintenance .modal-dialog{
        margin-top: 150px;
    }
</style>
<script type="text/javascript">
    $(function () {
        function EquipManage() {
            this.startTime = undefined;
            this.endTime = undefined;
            this.equipmentAlarm = [];
            this.equipmentMaintenance = [];
            this.startTime = undefined;
            this.endTime = undefined;
        }
        EquipManage.prototype.show = function () {
            var equipment = [{
                quipmentId: 'PL4000/1',
                runningTime: 6275,
                loadfactor: 89,
                powerGeneration: 150,
                heatingPower: 188,
                efficiency: 0.78,
                powerFactor: 0.9,
                status: '开启'
            }];
            this.equipmentAlarm = [{
                quipmentId: 'gen01',
                time: '2015-11-09 11:30',
                quipmentId: '1',
                alarmCode: 'A1',
                totalCount: 1,
                alarmDes: '油温过高'
            }, {
                quipmentId: 'gen01',
                time: '2015-11-08 10:30',
                quipmentId: '1',
                alarmCode: 'A2',
                totalCount: 1,
                alarmDes: '异常启动'
            }, {
                quipmentId: 'gen01',
                time: '2015-11-09 22:00',
                quipmentId: '2',
                alarmCode: 'A3',
                totalCount: 1,
                alarmDes: '负载过高'
            }]

            this.equipmentMaintenance = [{
                quipmentId: 'gen01',
                time: '2015-11-09',
                quipmentId: '1',
                maintenanceDetail: 'M1保养包',
                maintenanceInterval: '30d',
                nextMaintenanceTime: '2015-12-09'
            }, {
                quipmentId: 'gen01',
                time: '2015-11-09',
                quipmentId: '1',
                maintenanceDetail: 'M2保养包',
                maintenanceInterval: '30d',
                nextMaintenanceTime: '2015-12-09'
            }, {
                quipmentId: 'gen01',
                time: '2015-11-09',
                quipmentId: '1',
                maintenanceDetail: 'M3保养包',
                maintenanceInterval: '30d',
                nextMaintenanceTime: '2015-12-09'
            }, {
                quipmentId: 'gen01',
                time: '2015-11-09',
                quipmentId: '1',
                maintenanceDetail: 'M4保养包',
                maintenanceInterval: '30d',
                nextMaintenanceTime: '2015-12-09'
            }, {
                quipmentId: 'gen01',
                time: '2015-11-09',
                quipmentId: '1',
                maintenanceDetail: 'M5保养包',
                maintenanceInterval: '30d',
                nextMaintenanceTime: '2015-12-09'
            }, {
                quipmentId: 'gen01',
                time: '2015-11-09',
                quipmentId: '1',
                maintenanceDetail: 'M6保养包',
                maintenanceInterval: '30d',
                nextMaintenanceTime: '2015-12-09'
            }]
            this.initData(equipment);
            $('.selectItem li').off('click').click(function () {
                var $current = $(this);
                $current.parent('ul').siblings('#dropdownMenu1').html($current.find('a').html());
            });
            $('.selectItem1 li').off('click').click(function () {
                var $current = $(this);
                $current.parent('ul').siblings('#dropdownMenu2').html($current.find('a').html());
            });
            var now = new Date();
            this.startTime = new Date(now - 86400000);
            this.endTime = now;
        };
        EquipManage.prototype.equipCellTpl = '<td>{index}</td><td>{id}</td><td>{time}</td><td>{loadfactor}</td><td>{powerGeneration}</td>\
                <td>{heatingPower}</td><td>{efficiency}</td><td>{powerFactor}</td><td>{status}</td>\
                <td style="width:160px;"><div class="operate">\
                <span class="glyphicon glyphicon-list-alt panel-heading-span grow" id="maintenanceBtn_{i}"></span>\
                <span class="glyphicon glyphicon-info-sign panel-heading-span grow" id="alam_{i}"></span>\
                <span class="glyphicon glyphicon-stats panel-heading-span grow" id="dashboard_{i}"></span>\
                <span class="glyphicon glyphicon-tasks panel-heading-span grow" id="detail_{i}"></span>\
                </div></td>';
        EquipManage.prototype.equipCell = function (result,i,$current) {
            var tempHtml = [];
            tempHtml.push(this.equipCellTpl.formatEL({
                i: i,
                index: i+1,
                id: result.quipmentId,
                time: result.runningTime,
                loadfactor: result.loadfactor,
                powerGeneration: result.powerGeneration,
                heatingPower: result.heatingPower,
                efficiency: result.efficiency,
                powerFactor: result.powerFactor,
                status: result.status
            }));
            $current.html(tempHtml.join(''));
        };
        EquipManage.prototype.initData = function (data) {
            var $tbody = $('#equipBox').find('.equipTable').find('tbody');
            var $tableTBody = undefined;
            var $alamTableTB = undefined;
            var _this = this;
            var $equipRow, $equipCell, dataArr, $tableRow, mainData, $tableCell;
            var alamData, $alamTableRow, $alamTableCell;
            for (var i = 0; i < data.length; i++) {
                (function (i) {
                    $equipRow = $('<tr class="equipRow" index= '+i+'></tr>');
                    $tbody.append($equipRow);
                    _this.equipCell(data[i], i, $equipRow);
                    $equipRow.hover(function () {
                        $(this).find('.operate').show();
                    }, function () {
                        $(this).find('.operate').hide();
                    });
                    $('#maintenanceBtn_' + i).off('click').click(function () {
                        $('#maintenance').modal('show');
                        $tableTBody = $('#maintenance').find('.mainTable').find('tbody');
                        $tableTBody.children().remove();
                        if (!_this.equipmentMaintenance) return;
                        mainData = _this.equipmentMaintenance;
                        $("#timeStart").val('2015-11-01 00:00');
                        $("#timeEnd").val(_this.endTime.format("yyyy-MM-dd HH:mm"));
                        $("#timeStart").datetimepicker({ format: 'yyyy-mm-dd hh:ii', autoclose: true });
                        $("#timeEnd").datetimepicker({ format: 'yyyy-mm-dd hh:ii', autoclose: true });
                        $('#timeStart').datetimepicker('hide');

                        for (var j = 0; j < mainData.length; j++) {
                            $tableRow = $('<tr></tr>');
                            $tableTBody.append($tableRow);
                            $tableCell = $('<td>' + mainData[j].time + '</td><td>' + mainData[j].quipmentId + '</td><td>' + mainData[j].maintenanceDetail + '</td>\
                                        <td>' + mainData[j].maintenanceInterval + '</td><td>' + mainData[j].nextMaintenanceTime + '</td>');
                            $tableRow.append($tableCell);
                        }
                    });
                    $('#alam_' + i).off('click').click(function () {
                        $('#alarm').modal('show');
                        $alamTableTB = $('#alarm').find('.mainTable').find('tbody');
                        $alamTableTB.children().remove();
                        if (!_this.equipmentAlarm) return;
                        alamData = _this.equipmentAlarm;
                        $("#timeStart1").val('2015-11-01 00:00');
                        $("#timeEnd1").val(_this.endTime.format("yyyy-MM-dd HH:mm"));
                        $("#timeStart1").datetimepicker({ format: 'yyyy-mm-dd hh:ii', autoclose: true });
                        $("#timeEnd1").datetimepicker({ format: 'yyyy-mm-dd hh:ii', autoclose: true });

                        for (var k = 0; k < alamData.length; k++) {
                            $alamTableRow = $('<tr></tr>');
                            $alamTableTB.append($alamTableRow);
                            $alamTableCell = $('<td>' + alamData[k].time + '</td><td>' + alamData[k].quipmentId + '</td><td>' + alamData[k].alarmCode + '</td>\
                                        <td>' + alamData[k].totalCount + '</td><td>' + alamData[k].alarmDes + '</td>');
                            $alamTableRow.append($alamTableCell);
                        }
                    });

                    $('#dashboard_' + i).off('click').click(function () {
                        ScreenManager.show(EnergyScreen, '56663581833c97211236891c');
                    });

                    $('#detail_' + i).off('click').click(function () {
                        ScreenManager.show(ObserverScreen, '0');
                    });
                })(i);
                
            }
        };
        EquipManage.prototype.close = function () {
            this.startTime = null;
            this.endTime = null;
        }
        new EquipManage().show();
    });
</script>
</head>
<body>
    <div id="equipBox" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">设备管理</div><!--equipTitle-->
            <div class="panel-body equipInfo whitePanel">
                <!--equipInfo-->
                <table class="equipTable">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>设备编号</th>
                            <th>运行时间(h)</th>
                            <th>负载率(%)</th>
                            <th>发电功率(kw)</th>
                            <th>发热功率(kw)</th>
                            <th>能效</th>
                            <th>功率因数</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="modal fade" id="maintenance">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">保养记录</h4>
                            </div>
                            <div class="modal-body">
                                <div class="mainTitle clearfix">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            设备编号
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu selectItem" aria-labelledby="dropdownMenu1">
                                            <li><a>设备编号</a></li>
                                            <li><a>List Item2</a></li>
                                            <li><a>List Item3</a></li>
                                            <li><a>List Item4</a></li>
                                            <li><a>List Item5</a></li>
                                        </ul>
                                    </div>
                                    <div class="dataTime clearfix">
                                        <div class="input-group" style="width: 400px;float:left">
                                            <input class="form-control form_datetime form_datetime1" id="timeStart" size="16" type="text"><!--把类form-control删掉-->
                                            <span class="input-group-addon input-group-addon1">到</span>
                                            <input class="form-control form_datetime form_datetime2" id="timeEnd" size="16" type="text"><!--把类form-control删掉-->
                                        </div>
                                        <button type="button" class="btn btn-info" id="equipOK" style="float:left;margin-left: 10px;">确定</button>
                                    </div>
                                </div>
                                <div>
                                <table class="mainTable">
                                    <thead>
                                        <tr>
                                            <th>时间</th>
                                            <th>设备编号</th>
                                            <th>保养详情(h)</th>
                                            <th>保养间隔</th>
                                            <th>下次保养时间</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="alarm">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">报警管理</h4>
                            </div>
                            <div class="modal-body">
                                <div class="mainTitle clearfix">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            设备编号
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu selectItem1" aria-labelledby="dropdownMenu2">
                                            <li><a>设备编号</a></li>
                                            <li><a>List Item2</a></li>
                                            <li><a>List Item3</a></li>
                                            <li><a>List Item4</a></li>
                                            <li><a>List Item5</a></li>
                                        </ul>
                                    </div>
                                    <div class="dataTime clearfix">
                                        <div class="input-group" style="width: 400px;float:left">
                                            <input class="form-control form_datetime form_datetime1" id="timeStart1" size="16" type="text"><!--把类form-control删掉-->
                                            <span class="input-group-addon input-group-addon1">到</span>
                                            <input class="form-control form_datetime form_datetime2" id="timeEnd1" size="16" type="text"><!--把类form-control删掉-->
                                        </div>
                                        <button type="button" class="btn btn-info" id="equipOK1" style="float:left;margin-left: 10px;">确定</button>
                                    </div>
                                </div>
                                <div style="width:100%;height:cal(100% - 60px);overflow-y:auto;">
                                    <table class="mainTable">
                                        <thead>
                                            <tr>
                                                <th>时间</th>
                                                <th>设备编号</th>
                                                <th>报警代码</th>
                                                <th>累计次数</th>
                                                <th>报警详情</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>