:focus {
    outline: none;
}
.strategy-builder .panel-titlebar-button-close {
    display: none;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -ms-content-zooming: none;
    font-family: 'Microsoft YaHei','Helvetica';
    font-size: 12px;
    /*line-height: 20px;*/
    vertical-align: middle;
    overflow: hidden;
    color: #c7c7c7;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.scrollable {
    overflow: auto;
}
.scrollable-y {
    overflow-y: auto;
}
.scrollable-x {
    overflow-x: auto;
}

/* main frame */
#mainframe {
    width: 100%;
    height: 100%;
    font: 12px 'Microsoft YaHei',sans-serif;
    color: #c7c7c7;
}
/*自定义hover样式end*/
.ztree li a {
    width: 100%;
    height: 24px !important;
    text-decoration: none!important;
    color: #333 !important;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ztree li span {
    vertical-align: middle;
    margin-left: 3px;
}
/*策略概览页 左侧导航*/
#equipTree, #strategyTable, #propPanel, #strategyTplTree, #sketchpad {
    background: rgb(243,243,243);
    color: #666666;
}
/*策略 概览页 table表格的*/
#strategyTable .btn{
    color: #666666;
}
#strategyTable > div:nth-child(1){
    position: relative;
    height: 60px;
    line-height: 60px;
}
#strategyTable .navLeftBtn{
    position: absolute;
    left: 15px;
}
#strategyTable .navSearch{
    position: absolute;
    right: 16%;
}
#strategyTable .navSearch input{
    line-height: initial;
}
#strategyTable .navRightBtn{
    position: absolute;
    right: 15px;
}
#strategyTable table{
    table-layout: fixed;
    width: 100%;
}
#strategyTable table thead{
    background: #dfdfe0;
}
#strategyTable tbody tr{
    border-bottom: 1px solid #dedede;
}
#strategyTable tbody tr.selected{
    background: #88AFF1;
    color: #222222;
}
#strategyTable table td,#strategyTable table th{
    padding: 16px 4px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
#strategyTable .modal-dialog{
    z-index: 1050;
}