<style>
    .color-pan {
        width: 20px;
        height: 18px;
        display: inline-block;
    }

    .color-setting-list li {
        margin: 20px 0;
    }

    .color-setting-list input {
        width: 65px;
        text-align: center;
    }

    #dialogContent {
        width: 598px;
    }

    #dialogContent .modal-body {
        height: 150px;;
    }

    #rangeWrapper {
        width: 90%;
        margin: 20px auto;
    }

    .irs-line-left, .irs-line-mid, .irs-line-right, .irs-diapason {
        background: none;
    }

    #rangeWrapper .irs-line {
        border-radius: 10px;
        background: -moz-linear-gradient(left, #ff6347 , red);
        background: -webkit-linear-gradient(left, #ff6347 , red);
    }

    #rangeWrapper .irs-line-left {
        background: -moz-linear-gradient(left, blue , cyan);
        background: -webkit-linear-gradient(left, blue , cyan);
    }

    #rangeWrapper .irs-diapason {
        background: -moz-linear-gradient(left, cyan , yellow);
        background: -webkit-linear-gradient(left, cyan , yellow);
    }

    #rangeWrapper .irs-line-right {
        background: -moz-linear-gradient(left, yellow , red);
        background: -webkit-linear-gradient(left, yellow , red);
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only" i18n="observer.widgets.CLOSE">close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel" i18n="observer.menu.TITLE_TEMPERATURE_CONFIGURE"></h4>
    </div>
    <div class="modal-body" style="text-align: center;">
        <div class="row">
            <div class="list-unstyled color-setting-list">
                <div id="rangeWrapper">
                    <input type="text" id="slider-range" class="dn" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" i18n="admin.panelManagement.CANCEL"></button>
        <button type="button" class="btn btn-primary" id="btnSaveSetting" i18n="admin.panelManagement.CONFIRM"></button>
    </div>
</div>