#historyOperation .modal-content {
    height: 78vh;
    width: 60%;
    margin: 100px auto;
}

#historyLog .modal-content {
    width: 60%;
    margin: 60px auto;
}

#historyOperation .modal-body {
    height: calc(100% - 60px);
}

#historyOperation .history-table-list {
    height: 100%;
}

#historyOperation .table-body {
    height: 54vh;
}

#historyOperation .pagination .active a {
    color: orange !important;
}

#historyLog .history-log-content {
    height: 60vh;
    border: 1px solid #dcdcdc;
    overflow-y: auto;
    padding: 10px;
}

#historyLog .modal-body, #historyOperation .modal-body {
    padding-bottom: 60px;
}

#historyLog .modal-header {
    height: 40px;
}

#historyLogContent .history-log-ul {
    padding: 0;
    list-style: none;
}

#historyLogContent li {
    padding: 3px 0;
}

#operationBox {
    overflow: hidden;
    min-height: 18px;
    padding: 3px 5px;
    margin-bottom: 10px;
}

#operationBox .time-box {
    float: right;
}

#operationBox span.to {
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    position: relative;
    top: 2px;
}

#operationBox .time-group {
    display: inline-block;
}

#operationBox .time {
    width: 160px;
}