#mbPointsTableBox {
    height: 100%;
    background: #F2F2F2;
    color: #333;
    font-size: 12px;
    padding: 0 10px;
}

#mbPointAddWin .modal-content {
    width: 760px;
    margin: 100px auto;
    overflow: hidden;
}

#mbPointAddWin .modal-body label {
    height: 35px;
    line-height: 35px;
}

#mbPointAddWin .modal-body .form-control {
    width: 220px;
}

#modbusContainer .nodeOnline #debugger-page {
    display: block;
}

#modbusContainer #debugger-page {
    display: none;
}


/*modbus_tree样式start*/
#copyFromOtherTpl .modal-content {
    width: 35%;
    margin: 60px auto;
    padding: 20px 30px;
}

#copyFromOtherTpl .copy_content_title {
    padding: 8px 12px;
}

#copyFromOtherTpl .copy-point-table {
    width: 90%;
    margin: 10px auto;
}

#copyFromOtherTpl .copy-point-table tr th,
#copyFromOtherTpl .copy-point-table tr td {
    min-width: 150px;
    padding: 5px 8px;
}