<style>
    #paneCenter {
         background-color: #3b3b3b; 
    }
    /*configure modal start*/
    .divResize {
        position: absolute;
        margin-left: 10px;
    }
    .divResize label {
        min-width: 50px;
    }
    .divHeightResize {
        top: 0px;
    }
    .divWidthResize {
        top: 17px;
    }
    input[type=range].inputResize {
        -webkit-appearance: none;
        /*-webkit-box-shadow: 0 -1px 1px 0px #428bca,
            0 -1px 1px #428bca inset,
            0 -1px 1px #428bca inset,
            0 -1px 1px #428bca inset,
            0 -1px 1px #428bca inset;*/
        margin-top: 2px;
        background-color: #428bca;
        border-radius: 50px;
        width: 100px;
        display: inline-block;
        margin-left: 5px;
    }
    .inputResize::-webkit-slider-thumb{
        -webkit-appearance: none;
        cursor: default;
        top: 1px;
        height: 9px;
        width: 20px;
        background: none repeat scroll 0 0 #428bca;
        border-radius: 50px;
        -webkit-box-shadow: 0 -1px 1px #428bca inset;
    }
    .inputResize::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        border-radius: 35px;
        background: #f0f3f9;
    }
    .rangeVal{
        display: inline-block;
        margin: 0 0 0 5px;
    }
    .rangeVal :hover{
        cursor: pointer;
    }
    .rangeChange{
        display: none;
        position: absolute;
        top: 0;
        width: 14px;
        height: 18px;
        left: 160px;
        font-size: 12px;
    }
    .divTitleAndType {
        position: relative;
        top: 45px;
    }
    .chartTitleShow {
        display: inline;
        position: relative;
        top: 0;
        left: 5px;
        min-width: 30%;
        min-height: 14px;
        line-height: 21px;
        margin-right: 30px;
    }
    .chartTitle{
        position: relative;
        width: auto;
        font-size: 14px;
        height: 24px;
        display: inline-block;
    }
    .chartTitle input, .chartId input{
        width: calc(100% - 55px);
        padding: 0 3px;
        display: inline-block;
        height: 100%;
        margin-left: 5px;
        max-width: 220px;
    }
    .chartTitle label {
        line-height: 21px;
    }
    .chartDescShow {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        top: 0;
        left: 50px;
        min-width: 30%;
        min-height: 14px;
        margin-left: 5px;
        overflow-wrap: break-word;
        cursor: pointer;
    }
    .chartDesc{
        position: relative;
        top: 50px;
        width: 75%;
        font-size: 14px;
        height: calc(100% - 165px);
    }
    .chartDesc label{
        position: absolute;
    }
    .chartDesc textarea{
        padding: 0 3px;
        margin-left: 5px;
        display: inline;
        position: absolute;
        left: 50px;
        height: 100%;
    }
    .chartType {
        position: relative;
        display: inline-block;
        margin-top: 5px;
    }
    .chartType span{
        margin-left: 5px;
        margin-top: 5px;
    }
    .chartLink{
        position: relative;
        top: 45px;
        height: 24px;
        width: 60%;
        margin-top: 5px;
    }
    .chartLink select{
        width: calc(100% - 55px);
        padding: 0 3px;
        margin-left: 5px;
        max-width: 220px;
        display: inline;
        height: auto;
    }
    .chartWiki{
        position: relative;
        top: 56px;
    }
    .chartPop{
        position: relative;
        top: 56px;
    }
    .springConfigMask .springConfigMask .chartTitle {
        width: 190px;
    }
    #resizeAlert{
        position: fixed;
        top: 40px;
        left: 30%;
        z-index: 12;
        width: 400px;
    }
    .resizeOnRight {
        cursor:e-resize;
        position: absolute;
        height: calc(100% - 20px);
        right: 5px;
        top: 10px;
        width: 10px;
        z-index: 3;
    }
    .resizeOnBottom {
        cursor:n-resize;
        position: absolute;
        bottom: 0;
        left: 5px;
        height: 10px;
        width: calc(100% - 20px);
        z-index: 3;
    }
    .resizeOnCorner {
        cursor:nw-resize;
        position: absolute;
        bottom: 0;
        right: 5px;
        height: 10px;
        width: 10px;
        z-index: 3;
    }
    .springLinkBtnCtn{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
    .springLinkBtn{
        display: none;
        cursor: pointer;
        font-size: 16px;
        padding: 2px 7px;
        background-color: rgba(83, 155, 218,0.7);
        color: #fff;
        z-index:1;
        float: left;
        margin-left: 5px;
    }
    .springLinkBtnCtn > .springLinkBtn:first-of-type{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .springLinkBtnCtn > .springLinkBtn:last-of-type{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .springLinkBtn:hover {
        background-color: rgba(83, 155, 218,1);
    }
    .springContainer:hover .springLinkBtn{
        display: block;
    }
    .modal-dialog .springContainer:hover .springLinkBtn{
        display: none;
    }
    .panePop {
        height: 30px;
        overflow: hidden;
        position: absolute;
        background-color: rgba(0,0,0,0.35);
        padding: 5px 0px;
        color: #fff;
        bottom: 0;
        width: 100%;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .divMove{
        position: absolute;
        width: 100%;
        padding: 0 10px;
    }

    .panePop .btnClosePop{
        position: absolute;
        right: 5px;
        top: 8px;
        font-size: 16px;
        cursor: pointer;
    }

    #timePeriodValue {
        width: 50%;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    #timePeriodUnit {
        width: 50%;
    }
    .rowPara {
        background-color: cornsilk;
        margin: 0;
        border-radius: 4px;
    }
    .rowPara h5 {
        padding-top: 3px;
        padding-bottom: 3px
    }
    .anlysAlert {
        position: absolute;
        bottom: -15px;
        width: calc(90% - 120px);
        text-align: center;
    }
    .springContainer .springHead{ 
        cursor: move;
        position: relative;
        z-index: 1;
    }
    .dragTarget{
        border: 2px solid #87cefa;
    }
    .dropTarget{
        border: 2px solid #6495ed;
    }
    .chartsCt{
        top: 80px;
        width: calc(100% - 18px);
        background: rgba(255,255,255,0.6);
        height: calc(100% - 90px);
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 2px;
        cursor: initial;
    }
    .chartItem{
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        background: #fff;
        margin: 5px;
    }
    .chartItem .configBtn{
        top: 50%;
        left: 50%;
        font-size: 28px;
        margin-left: -14px;
        margin-top: -14px;
    }
    /*configure modal end*/
    .indexContent > div {
      padding-left: 5px;
      padding-right: 5px;
      padding: 0px;
    }
    #divEnergyAnlsPane{
        height: 100%;position: relative;z-index:1041;
    }
    #divEnergyAnlsPane .panel {
        height: 100%;
    }
    .indexContent .col-sm-2 > .panel, .indexContent .col-sm-3 > .panel{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .springContainer .panel {
        overflow: hidden;
        z-index: 1;
    }
    .springContainer .springContent .springContainer .panel {
        border-color: transparent;
        box-shadow: none;
    }
    .scrollY{
        overflow-y: auto !important;
    }
    /*toolbox start*/
    #toolBox .panel-body{
        padding: 10px 3px;
    }
    #toolBox .rows{
        background-color: #fafafa;
    }
    #toolBox .icon-white{
        margin-right: 5px;
        margin-left: 5px;
    }
    /*toolbox end*/

    /*tree struct start*/
    .wsTools{
        font-size: 20px;
        color: #777;
    }
    .panel-footer .btn-group .btn{
        width: 32%;
        padding: 3px 5px 1px;
    }
    #editor span{
        cursor: pointer;
    }
    /*tree struct end*/

/*datasource start*/
    .dsItem {
        position: relative;
        float: left;
        width: 33%;
        height: 34px;
        cursor: pointer;
        border-radius: 3px;
        border-bottom: 1px solid #ddd;
        user-select: none;
    }
    .dsItem:hover {
        background-color: #60aedb;
    }
        .dsItem:hover .dsValue {
            color: #eee !important;
        }

.dsSelected {
    background-color: #337ab7;
}
    .dsSelected .dsValue {
        color: #eee;
    }

    .dsSelected .dsBtnRemove {
        display: inline;
        padding: 4px;
    }
        .dsSelected .dsBtnRemove:hover {
            color: #ff942e;
        }

.dsSelected .dsBtnRename {
    display: inline;
    padding: 4px;
}

.dsSelected .dsBtnRename:hover {
    color: #ff942e;
}

.dsBtnRemove {
    display: none;
    position: absolute;
    top: 3px;
    right: 4px;
    color: #ffab5b;
    background-color: transparent;
    font-size: 18px;
}

.dsBtnRename {
    display: none;
    position: absolute;
    top: 3px;
    right: 25px;
    color: #ffab5b;
    background-color: transparent;
    font-size: 18px;
}

.dsDivChange {
    padding-top: 10px;
    display: none;
}

.dsDivChange .show{
    display: inline;
}

.dsMark {
    float: left;
    width: 3px;
    height: 22px;
    margin-top: 0px;
}

.dsValue {
    float: left;
    color: #666;
    width: calc(100% - 3px);
    height: 100%;
    font-size: 16px;
    padding: 8px 6px 0 8px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
/*datasource end*/

.read-mode>.divHover {
    display: none;
}

.read-mode>.divPaneChart {
    height: 100%!important;
}

/* warn and pre-warn animations */
@-webkit-keyframes shineOrange {
    from { box-shadow: 0 0 5px #bbb; }
    50% { box-shadow: 0 0 20px orange; }
    to { box-shadow: 0 0 5px #bbb; }
}
@-webkit-keyframes shineRed {
    from { box-shadow: 0 0 5px #bbb; }
    50% { box-shadow: 0 0 20px #ff4500; }
    to { box-shadow: 0 0 5px #bbb; }
}
.warn-anim {
    border: 2px solid #ff4500;
    -webkit-animation-name: shineRed; 
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite; 
}
.pre-warn-anim {
    border: 2px solid orange;
    -webkit-animation-name: shineOrange; 
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite; 
}

/* custom anchor "show history data" */
.lk-show-history {position: absolute; right: 10px; top: 5px; z-index: 1; font-size: 20px;}
/* custom anchor "show history data" */
.lk-update-time {position: absolute; left: 11px; top: 44px; z-index: 1; font-size: 18px; line-height: 25px; color: #428bca; cursor:default;}
.lk-update-time>span:last-child {font-size: 14px; padding: 0 5px; vertical-align: text-bottom;}

/* pointKPI start */
#pointKPI .drop-area {
    border: 1px dashed #ccc;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 15px;
    cursor: default;
}
#pointKPI .drop-area.on {border-color: #46b8da; border-width: 2px;}
#pointKPI .drop-area.on>* {display:none;}
.glyphicon{
    cursor: pointer;
}

.domTree ul,.domTree ol{margin:0;}
li{list-style:none;}
body{background:#eef1f5;}
a{text-decoration:none;}
.clear{clear:both;}
.domTree{width:100%;text-align:center;min-width:1140px;}
.domTree .totalLevel{width:260px;line-height:100px;margin:0 auto;margin-top:40px;}
.domTree .itemWrap{cursor: pointer;}
.domTree .totalLevel .itemWrap{display:inline-block;width: 100%;height:90px;line-height:90px;vertical-align:middle;background: #4b637b;text-align:center;border-radius:8px;color:#fff;position:relative;border: 5px solid #fff;  box-shadow: 0 0 2px 2px #ddd;}
.level_3 .thirdCon .itemWrap, .level_3 .thirdCon1 .itemWrap{box-shadow: 0 0 2px 2px #ddd;display:inline-block;width: 100%;height:100px;line-height:100px;vertical-align:middle;background: #47b9ee;text-align:center;border-radius:8px;color:#fff;position:relative;border: 5px solid #fff;}
.domTree .totalLevel span img,.level_3 .thirdCon .itemWrap img,.level_3 .thirdCon1 .itemWrap img{margin-right:5px;vertical-align:middle;}
.domTree .totalLevel .itemWrap .circle{margin-top: 10px;}
.level_3 .thirdCon .itemWrap .circle, .level_3 .thirdCon1 .itemWrap .circle{margin-top: 20px;}
.domTree .totalLevel .itemWrap .circle span{position: absolute;width: 100%;height: 100%;left: -1px;top: -12px;text-align: center;}
.level_3 .thirdCon .itemWrap .circle span, .level_3 .thirdCon1 .itemWrap .circle span{position: absolute;width: 100%;height: 100%;left: -1px;top: -18px;text-align: center;}
/*辅助线*/
.domTree .totalLevel div .hrLine{position:absolute;bottom:-38px;right:50%;width:3px;background:#c9cbce;height:25px;}
.domTree .level_2 .hrLine1{position:absolute;width:calc(100% - 337px);background:#c9cbce;height:3px;top:-30px;margin:0 170px;}
.hrLine2{position:absolute;width:3px;background:#c9cbce;height:25px;top:-33px;left:50%;}
.hrLine3{position:absolute;width:3px;background:#c9cbce;height:calc(100% + 22px);top:-8px;left:-36px;}
.hrLine4{position:absolute;width:30px;background:#c9cbce;height:3px;margin:0;top:19px;left:-36px;}
/*辅助线end*/
.level_2{display:inline-block;margin:0 auto;position:relative;margin-top:60px;}
.level_3{width:260px;margin-right:40px;float:left;position:relative;}
.level_3 .thirdCon,.level_3 .thirdCon1{width:260px;height:100px;line-height:100px;position:relative;}
.level_3 .thirdCon .itemWrap{background:#fff;color:#000;}
.childLevel{position:relative;padding-left: 28px;}
.childLevel li{line-height:55px;border:1px solid transparent;position:relative;margin-left:10px;margin-top:15px;}
.childLevel li .itemWrap{display:inline-block;width: 100%;height:60px;line-height:60px;vertical-align:middle;background-color:#4b637b;text-align:left;padding-left:5px;border-radius: 5px;color:#fff;position:relative;box-shadow: 0 0 2px 2px #ddd;border: 3px solid #fff;}
.itemWrap .pointName{position: relative;  top: 0px;}
.childLevel li .itemWrap .pointName{left: 30px;}
.childLevel li .itemWrap .glyphicon-pencil{position: relative;left: 28px;}
.chartsCt .itemWrap .pointName{position: relative;  top: 5px;}
.childLevel>li:last-of-type>.hrLine3{height: 33px;}
.childLevel>li:last-of-type>.childLevel>li:last-of-type>.hrLine3{height: 33px;}
/*圆环*/
.circle{
    width: 60px;
    height: 60px;
    float:left;
    margin-left: 25px;
    margin-right: -25px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    background-color: #a3dcf6;
}
.smCircle{
    width: 46px;
    height: 46px;
    margin-top:6px;
    float: left;
    margin-left: 2px;
    margin-right: -25px;
    border-radius: 22px;
    text-align: center;
    position: relative;
    font-size: 12px;
    background-color: #a6b1bd;
}
.smCircle span{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: -7px;
}
.pass{
    color: #457546;
}
.unpass{
    color: #D09B29;
}
.circle .active-border{
    position: relative;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.circle .active-border:after{
    content: attr(data-value);
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    color:#b9b9b9;
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.smCircle .active-border{
    position: relative;
    text-align: center;
    width: 46px;
    height: 46px;
    border-radius: 100%;
}

.smCircle .active-border:after{
    content: attr(data-value);
    position: absolute;
    top: 2.5px;
    left: 3px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFF;
    color: #b9b9b9;
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.active-border_unpass{
    background-color:#e8e8e8;
    background-image:linear-gradient(90deg, #fcb46d 50%, #fcb46d 50%);
    box-shadow: 0px 0px 5px 0px #fcb46d;
}
.active-border_pass{
    background-color:#fcb46d;
    background-image: linear-gradient(-90deg, #49A557 50%, #49A557 50%);
    box-shadow: 0px 0px 5px 0px #49A557;
}
.itemWrap .btnGroup{
    position: absolute;
    top: 0;
    right: 0;
    height: 26px;
    padding: 5px 8px 0px;
}
.itemWrap .btnGroup > .glyphicon{
    display: none;
}
.itemWrap .btnGroup > .glyphicon.showWiki{
    display: block;
}
.chartsCt .itemWrap .btnGroup > .glyphicon{
    display: block;
}
.chartsCt .itemWrap .btnGroup > .glyphicon.btnViewWiki{
    display: none;
}
.itemWrap .btnGroup span{
    float: left;
    margin-left: 5px;
    font-size: 18px;
    cursor: pointer;
}

.itemWrap > .glyphicon.glyphicon-pencil{
    margin-left: 5px;
    top: 8px;
    display: none;
}
.chartsCt .itemWrap{
    border: 1px dashed #fff!important;
}
.chartsCt .itemWrap:hover > .glyphicon.glyphicon-pencil{
    display: inline-block;
}
.chartsCt .itemWrap:hover > .glyphicon.glyphicon-pencil:hover{
    opacity: 1;
    box-shadow: 0 0 5px #eee;
}
.chartsCt .itemWrap .pointNameInput {
    display: inline-block;
    height: 22px;
    width: 90px;
    position: relative;
    top: 3px;
}
.itemWrap .glyphicon-ok-circle{

}
.itemWrap > .glyphicon-remove-circle{
    color: red;
}
.btnDisabled{
    cursor: not-allowed;
    color: #888 !important;
}
/* pointKPI end */

/* wiki modal start */
.searchResultCtn{
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 360px;
}
.searchResultCtn ul li{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    cursor: pointer;
    position: relative;
    min-height: 24px;
}
.searchResultCtn ul li:hover{
    background-color: #eee;
}
.searchResultCtn ul li .glyphicon-link{
    position: absolute;
    right: 20px;
    padding: 4px 6px;
    border-radius: 4px;
}
.searchResultCtn ul li .glyphicon-link:hover{
    background-color: #ccc;
}
.tagCtn{
    position: relative;
    left: 10px;
    top: 5px;
}
.tagCtn .tagItem{
    background-color: #eee;
    border-radius: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
}
.tagCtn .glyphicon.add{
    transform: rotateZ(45deg);
    font-size: 18px;
    color: #666;
    position: relative;
    top: 3px
}
.tagCtn .glyphicon.remove{
    margin-left: 3px;
    top: -1px;
    padding: 0 3px 3px;
}
.tagCtn .glyphicon.remove:hover{
    text-shadow: 0px 0px 2px;
    border-radius: 8px;
}
.tagCtn ul{
    margin-top: 4px;
    margin-left: 0px;
    margin-bottom: 3px;
    display: inline-block;
}
.tagCtn>span{
    width: 55px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
}
#modalWikiConfig #configAlert{
    display: inline-block;
    position: relative;
    width: calc(100% - 100px);
    text-align: center;
    top: 0;
    color: red;
}
.bodyMiddle{
    position: relative;
}
#searchResultList li .title{
    width: 20%;
    display: inline-block;
}
#searchResultList li .keywordTags, #searchResultList li .projectTags{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
#searchResultList li .keywordTags{
    width: 20%;
}
#searchResultList li .projectTags{
    width: 25%;
}
#searchResultList li .keywordTags .wikiTag, #searchResultList li .projectTags .wikiTag{
    margin-left: 2px;
    margin-right: 2px;
}
#searchResultList li .wikiTag:after{
    content: ',';
}
#searchResultList li .wikiTag:last-of-type:after{
    content: '';
}
/* wiki modal end */

#paneCenter .springSeHead {
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    padding:5px 8px;
    color:#333;
    font-size:16px;
}

/* factory 兼容性样式 */
#paneContent .springConfigMask .form-control {
    background-color: #fff;
}
#paneContent .btn, #paneContent .modal, #paneContent .form-control, #paneContent .form-textarea {
    color: #333;
}
/* modal dialog start */
.modal-content {
    background-color: #eee;
}

.modal-header {
    color: #0b0b0b;
    border-bottom: 1px solid #dcdcdc;
}

.modal-body {
    color: #646464;
}

.modal-body :input {
    color: #0b0b0b;
}

.modal-body label {
    font-weight: 500;
}

.divConfigData {
    border: 1px solid #dcdcdc !important;
}

.dataDragTip {
    color: #cacaca !important;
}

.dataTypeName {
    background-color: #eee !important;
}

.divDSConfigure {
    background-color: #fff !important;
    border: 1px solid #dcdcdc !important;
}

#dataConfig {
    border-top: 1px solid #dcdcdc !important;
}

/* modal dialog end */
/*html模块 start*/
.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
    background-color: transparent;
}

.table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr.danger:hover > th {
    background-color: rgb(37, 48, 70) !important;
}

.springContent .table > thead > tr > th, .springContent .table > tbody > tr > th, .springContent .table > tfoot > tr > th, .springContent .table > thead > tr > td, .springContent .table > tbody > tr > td, .springContent .table > tfoot > tr > td {
    border-top-color: rgba(245, 245, 245, 0.1);
}

.springContent .table > thead > tr > td.active, .springContent .table > tbody > tr > td.active, .springContent .table > tfoot > tr > td.active, .springContent .table > thead > tr > th.active, .springContent .table > tbody > tr > th.active, .springContent .table > tfoot > tr > th.active, .springContent .table > thead > tr.active > td, .springContent .table > tbody > tr.active > td, .springContent .table > tfoot > tr.active > td, .springContent .table > thead > tr.active > th, .springContent .table > tbody > tr.active > th, .springContent .table > tfoot > tr.active > th {
    background-color: rgba(245, 245, 245, 0.1);
}

/*html模块 end*/

.popover.bottom > .arrow {
    border-bottom-color: rgba(238, 238, 238, .24);
}

.popover.bottom > .arrow:after {
    border-bottom-color: rgba(47, 55, 71, .8);
}

#indexMain {
    background-color: #3b3b3b;
}

#iconList .dropdown-menu li.iconWrap .glyphicon, #iconList .dropdown-menu li > span.dropdownNav, #labelChangeSkin {
    color: #eee !important;
}

#iconList .dropdown-menu li.iconWrap:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}
/* pane start */
.panel-default {
    border-color: #2A3E52 !important;
}
.indexContent .panel, .panel-default > .panel-heading, .panel-default > .panel-footer,
.sliders > div {
    background-color: rgb(25, 34, 52) !important;
}

.panel-default > .panel-heading {
    color: #eee !important;
    border-color: #2A3E50 !important;
}

.config-footer {
    border-color: #2A3E50 !important;
}

.panel-body.whitePanel {
    color: #666 !important;
}
/* pane start */
/* dashboard start */
.pointValue {
    color: rgb(234, 193, 36) !important;
    font-weight: 500 !important;
}

.sliderIner .springContainer .panel-default {
    border-color: transparent !important;
}

.panePop {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

#toolBox .rows {
    background-color: #253046 !important
}

.lyrow:hover {
    border-color: transparent;
    background-color: rgb(56, 73, 106) !important;
    box-shadow: none;
}

.springContent .well {
    background-color: transparent;
}

.springContent .table-striped > tbody > tr:nth-child(odd) {
    background-color: #233344;
}

#modalCt li.nav-header {
    color: #a7a8a9;
}

#modalCt li.rows {
    color: rgba(238, 238, 238, 0.68);
}

.panel-title {
    font-weight: 500 !important;
}

/* dashboard end */
</style>

<div class="col-sm-12 st-content gray-scrollbar" id="paneContent" style="overflow-y: auto;">
    <div id="energyModal"></div>
    <div id="paneCenter" style="width: 100%; height: 100%;"></div>
</div>