    #leftCtn{
        position: absolute;
    }
    #leftCtn ul{
        height:auto;
    }
    #beopReport .report_file_img{
        right:0 !important;
        top:0 !important;
    }
    #beopReport .input-group-addon .glyphicon-calendar {
        top: 0 !important;
        left: 0 !important;
    }
    #floorCt .panelBodyColor{
        max-height: calc(100vh - 100px) !important;
        top: initial !important;
        left: initial !important;
        position: absolute !important; 
    }