<style type="text/css">
    #versionHistory {
        padding: 10px 5px;
        background: #eee;
        height: 100%;
        color: #333 !important;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #versionHistory #user-name {
        color: #333;
    }

    #versionHistory-container {
        width: 80%;
        margin: 0 auto;
    }

    #versionHistory .version-history-list {
        padding-left: 20px;
        list-style: inside;
    }

    #versionHistory .version-history-list li {
        list-style-type: decimal;
        display: list-item;
        margin: 5px auto;
        font-size: 12px;
    }

    #versionHistory-modal-title {
        cursor: pointer;
        min-height: 25px;
        width: 50%;
    }

    .versionHistory-add-container {
        width: 80%;
        height: 40px;
        position: relative;
        display: block;
        margin: 10px auto
    }

    #versionHistory .panel-heading:hover .glyphicon {
        display: block;
    }

    #versionHistory .panel-heading span {
        display: none;
        transition: .3s 0s all ease-in-out;
        cursor: pointer;
        margin: 0 5px;
    }
</style>
<div class="container scrollbar" id="versionHistory">
    <div class="versionHistory-add-container"></div>
    <!-- <div class="row">
         <div class="col-md-8">
              <div class="media">
                  <div class="media-left">
                      <div class="thumbnail">
                          <img class="userPic" src="/static/images/avatar/user/16307108.Jpg"/>
                      </div>
                  </div>
                  <div class="media-body">
                      <h4 id="user-name" class="media-heading">ADMIN</h4>
                  </div>
              </div>
         </div>
     </div>-->
    <div id="versionHistory-container"></div>
    <div class="modal fade" id="versionHistory-modal" tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog modal-lg" role="" style="margin-top: 60px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-close="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="versionHistory-modal-title"></h4>
                </div>
                <div class="modal-body" style="min-height: 200px;">
                    <script id="versionHistory-UEditor" name="content" type="text/plain"></script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-close="modal"
                            i18n="admin.versionHistory.CLOSE"></button>
                    <button type="button" class="btn btn-primary" id="versionHistory-commit"
                            i18n="admin.versionHistory.SAVE;title=admin.versionHistory.SAVE;value=admin.versionHistory.SAVE"></button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/template" id="versionHistoryPlate_init">
        <!for(var i=0;i < versionList.length;i++){!>
        <div class="panel panel-default" data-version-history-id="<!=versionList[i].id!>"
             data-version-history-userID="<!=versionList[i].userId!>">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left"><!=versionList[i].version!></h3>
                <!if(isPermission){!>
                <span class="glyphicon glyphicon-remove pull-right version-history-delete" title=""></span>
                <span class="glyphicon glyphicon-edit pull-right version-history-edit" title=""></span>
                <!}!>
            </div>
            <div class="panel-body">
                <!=versionList[i].log!>
            </div>
        </div>
        <!}!>
    </script>
</div>

