<style>
    .gray{
        color: rgb(130, 130, 130);
    }
    .blueIcon{
        color: rgb(13,122,255);
    }
    #ImgLogin {
        text-align: center;
        position: relative;
        top: 10%;
    }
    #ImgLogin img {
        width: 40%;
    }
    #ImgLogin div {
        font-weight: bold;
        font-size: 2rem;
    }
    #divLoginInfo {
        width: 80%;
        height: 30%;
        position: relative;
        left: 10%;
        top: 15%;
    }
    #btnLogin {
        position: relative;
        top: 25%;
    }
    #btnLogin button{
        border-radius: 2.5rem;
        background-color: #2486FC;
        padding: 0.5rem;
        font-size: 2.5rem;
        font-family: "Microsoft YaHei";
    }
    #btnLogin button, #btnLogin button:focus, #btnLogin button:active{
        border-color: transparent;
        outline-color: transparent;
    }
    #rememberPwd {
        display: inline-block;
        position: relative;
    }
    #forgetPwd {
        position: relative;
        left: 5rem;
        font-size: 1.4rem;
        border-bottom: 1px solid #D8DADD;
        display: inline-block;
    }
    #divSignUp {
        position: relative;
        top: 24%;
        text-align: center;
        font-size: 1.5rem;
        color: #aaa;
    }
    #btnSignUp {
        color: #D16462;
        border-bottom: 1px solid #E8D5EB;
    }
    #divCopyRight {
        position: absolute;
        bottom: 1%;
        width: 100%;
        text-align: center;
        color: #aaa;
    }
    #pwdManage{
        margin-top: -10px;
    }
    @media (max-device-height:667px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
        #ImgLogin {
            top: 8%;
        }
        #divLoginInfo {
            top: 11%;
        }
        #forgetPwd{
            font-size: 1.2rem;
            left: 1rem;
        }
        #btnLogin{
            top: 12%;
        }
        #btnLogin button{
            font-size: 2rem;
        }
        #divSignUp {
            top: 12%;
            font-size: 1.3rem;
        }
    }
    @media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 */
        #forgetPwd{
            font-size: 1.3rem;
            left: 4rem;
        }
    }
    @media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4 */
        #divSignUp {
            top: 8%;
        }
    }
</style>
<div id="ImgLogin">
    <img src="static/app/dashboard/img/login.jpg"/>
    <div>BeOP</div>
</div>
<div id="divLoginInfo">
    <div id="divUserId" class="form-group has-feedback">
        <label class="sr-only" for="userName"></label>
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-user blueIcon" aria-hidden="true"></span></div>
            <input id="userName" type="text" class="form-control gray" placeholder="User">
        </div>
        <span class="glyphicon glyphicon-chevron-down form-control-feedback blueIcon" aria-hidden="true" style="transform: scale(0.9);"></span>
    </div>
    <div id="divUserPwd" class="form-group">
        <label class="sr-only" for="password"></label>
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-lock blueIcon" aria-hidden="true"></span></div>
            <input id="password" type="password" class="form-control gray" placeholder="Password">
        </div>
    </div>
    <div id="pwdManage">
        <div class="checkbox gray" id="rememberPwd">
            <label>
              <input type="checkbox" id="#inputRememberPwd"> Remember me
            </label>
        </div>
        <div id="forgetPwd" class="gray">
            Forget your password?
        </div>
    </div>
    <div class="form-group" id="btnLogin">
        <button type="button" class="btn btn-primary btn-lg btn-block">登 录</button>
    </div>
    <div id="divSignUp" class="gray">
        Don't have an account? <span id="btnSignUp">Sign Up</span>
    </div>
</div>
<div id="divCopyRight" class="gray">
    <small>R&amp;B TECHNOLOGY CO.LTD</small>
</div>