<style type="text/css">
    #all_messages_box {
        height: 90vh;
        font-size: 14px;
        background: #fff;
        color: #3f3f3f;
        margin-top: 2vh;
        padding-bottom: 10px;
    }

    #all_messages_ul {
        overflow: auto;
        padding-left: 0;
        max-height: 77vh;
    }

    #all_messages_ul li {
        overflow: hidden;
        padding: 10px;
    }

    #all_messages_ul .user-pic {
        width: 60px;
        height: 60px;
        padding: 2px;
        border: 1px solid #eee;
        border-radius: 5px;
    }

    .mes-info-box {
        background: #fbfbfb;
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 8px 15px;
    }

    .mes-user-name {
        color: #9e7b67;
    }

    .mes-time {
        color: #b8b8b8;
    }

    .mes-text {
        color: #3f3f3f;
    }

    #message_more {
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        background: #f6f6f6;
        border: 1px solid #eee;
    }
</style>
<div id="all_messages_box" class="container scrollbar all-messages-box">
    <h4 class="tc mt30">全部消息</h4>
    <ul id="all_messages_ul"></ul>
    <div id="message_more" class="tc cp">更多</div>
</div>

<script type="text/html" id="tpl_message_show_all">
    <!for(var i=0;i < messageList.length;i++){!>
    <!var mes = messageList[i]; !>
    <!if (i< messageNum) {!>
        <li>
            <div class="col-sm-1">
                <img class="user-pic" src="<!=mes.userPic!>"/>
            </div>
            <div class="col-sm-11 mes-info-box">
                <div>
                    <span class="mes-user-name mr10"><!=mes.user!></span>
                    <span class="mes-time"><!=mes.time!></span>
                </div>
                <div class="mes-text"><!=mes.message!></div>
            </div>
        </li>
    <!}!>
    <!}!>
</script>