<!--确认窗口开始-->
<article id="filterDefineWin" class="modal fade">
    <div class="modal-dialog mt150">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <span i18n="dataManage.ENTER_SEARCH_CODE"></span>
                    <span>：</span>
                </h4>
            </div>
            <div class="modal-body">
                <textarea id="filterContent" class="form-control"
                          i18n="placeholder=dataManage.ENTER_SEARCH_CODE_BELOW"></textarea>

                <p class="mt10">
                    <span>
                        <span i18n="dataManage.SEARCH_BY_POINT_NAME"></span>
                        <span>：</span>
                    </span>
                    <span>pointname like '%Fre'</span>
                </p>

                <p>
                    <span>
                       <span i18n="dataManage.SEARCH_BY_POINT_VALUE"></span>
                       <span>：</span>
                    </span>
                    <span>pointvalue <50 and pointvalue> 30</span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" i18n="common.CANCEL"></button>
                <button type="button" class="btn btn-primary" id="filterDefineConfirm" i18n="common.CONFIRM"></button>
            </div>
        </div>
    </div>
</article>
<!--确认窗口结束-->
<div id="realTimeDataBox">
    <div id="dataManagePage">
        <div id="divPointsList" class="pointList">
            <div class="panel-heading" id="realTimeBtnBox" style="padding-left:20px">
                <div class="btn-group fr mr10 mt5 right-tools" role="group">
                    <button type="button" id="deleteExpiredData" class="btn btn-default btn-sm"
                            i18n="title=dataManage.DELETE_EXPIRED_DATA" permission="DataManagementAdmin;" permission-style="inline-block">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button type="button" id="joinCurve" class="btn btn-default btn-sm"
                            i18n="title=dataManage.JOIN_CURVE" i18n="placeholder=dataManage.ENTER_POINT_VALUE" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block">
                        <span class="iconfont icon-nav-106"></span>
                    </button>
                    <button type="button" id="isMonitoring" class="btn btn-default btn-sm"
                            i18n="title=dataManage.COLLECT" i18n="placeholder=dataManage.ENTER_POINT_VALUE" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block">
                        <span class="glyphicon glyphicon-star-empty" i18n="title=dataManage.COLLECT"></span>
                    </button>
                    <button type="button" id="pointRefresh" class="btn btn-default btn-sm"
                            i18n="title=dataManage.REFRESH" i18n="placeholder=dataManage.ENTER_POINT_VALUE" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
                <div class="pr fl mr5 f14 mt5">
                    <select id="filterType" class="form-control fl w150 mr10">
                        <option value="0" i18n="dataManage.SEARCH_BY_POINT_NAME"></option>
                        <option value="1" i18n="dataManage.SEARCH_BY_POINT_VALUE"></option>
                        <option value="2" i18n="dataManage.SEARCH_BY_POINT_RANGE"></option>
                        <option value="3" i18n="dataManage.SEARCH_BY_UPDATED_TIME"></option>
                        <option value="4" i18n="dataManage.SEARCH_BY_DEFINITION"></option>
                        <option value="5" i18n="dataManage.SEARCH_BY_CUSTOM"></option>
                    </select>

                    <div id="filterBox" class="fl"></div>
                </div>
            </div>
            <div class="panel-body gray-scrollbar" style="height:50px;overflow:hidden">

                <table class="table table-condensed" overflow="auto" style="width:calc(100% - 8px)">
                    <thead>
                    <tr class="table-head">
                        <th width="25%">
                            <div i18n="dataManage.POINT_NAME"></div>
                        </th>
                        <th width="25%">
                            <div i18n="dataManage.POINT_VALUE"></div>
                        </th>
                        <th width="200">
                            <div i18n="dataManage.UPDATE_TIME"></div>
                        </th>
                        <th width="25%">
                            <div i18n="dataManage.REMARK"></div>
                        </th>
                        <th>
                            <div i18n="dataManage.COLLECT"></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="panel-body gray-scrollbar">
                <table class="table table-condensed" id="tableWatch" overflow="auto" style="margin-top:-50px">
                    <thead>
                    <tr class="table-head">
                        <th width="25%">
                            <div i18n="dataManage.POINT_NAME"></div>
                        </th>
                        <th width="25%">
                            <div i18n="dataManage.POINT_VALUE"></div>
                        </th>
                        <th width="200">
                            <div i18n="dataManage.UPDATE_TIME"></div>
                        </th>
                        <th width="25%">
                            <div i18n="dataManage.REMARK"></div>
                        </th>
                        <th>
                            <div i18n="dataManage.COLLECT"></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div id="dataManagePaginationWrapper" class="oh mt20" style="padding-left: 15px;">
            <div class="fl">
                <span id="totalPointsNum" style="padding-left: 5px;" class="keyword"></span>
                <span i18n="dataManage.POINT_TOTAL"></span>
            </div>
            <div class="fl" style="padding-left: 20px;">
                <select id="pageSizeSelector">
                    <option value="25">25</option>
                    <option value="50" selected>50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>

                <span i18n="dataManage.PAGE_SIZE"></span>
            </div>
            <ul class="pagination fr" id="dataManagePagination"></ul>
        </div>
    </div>
</div>
<!--@formatter:off-->
<script type="text/html" id="tpl_real_time_popover">
    <div class="popover m5 p10 realTimePopover" role="tooltip">
        <div class="input-group">
            <input class="form-control" type="text" value="" id="expiredDataStartTime" data-format="yyyy-mm-dd hh:ii"
                   i18n="placeholder=workflow.calendar.TIME_START">
            <br/>
            <input class="form-control" style="margin-top:5px" type="text" value="" id="expiredDataEndTime" data-format="yyyy-mm-dd hh:ii"
                   i18n="placeholder=workflow.calendar.TIME_END">
        </div>
        <button type="button" class="btn btn-success mt5" style="width:100%" id="expiredDataConfirm" i18n="common.CONFIRM"></button>
    </div>
</script>

<script type="text/html" id="tpl_data_manage_filter">
    <!if (type == '0'){!>
        <input type="text" class="form-control fl mr10" id="searchPoint" i18n="placeholder=dataManage.ENTER_POINT_NAME" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block" />
        <button type="button" class="btn btn-success mr10" id="filterConfirm" i18n="common.CONFIRM"></button>
        <span class="ml10 mr10 mt5 fl" i18n="common.SORT"></span>
        <select id="filterSort" class="form-control fl w150 mr10" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block">
            <option value="0" i18n="dataManage.SORT_BY_A_Z"></option>
            <option value="1" i18n="dataManage.SORT_BY_Z_A"></option>
            <option value="2" i18n="dataManage.SORT_VALUE_ASCENDING"></option>
            <option value="3" i18n="dataManage.SORT_VALUE_DESCENDING"></option>
            <option value="4" i18n="dataManage.SORT_TIME_NOW_PAST"></option>
            <option value="5" i18n="dataManage.SORT_TIME_PAST_NOW"></option>
        </select>
    <!}else if (type == '1'){!>
        <input type="text" class="form-control fl mr10" id="searchPoint" i18n="placeholder=dataManage.ENTER_POINT_VALUE" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block" />
        <button type="button" class="btn btn-success mr10" id="filterConfirm" i18n="common.CONFIRM"></button>
        <span class="ml10 mr10 mt5 fl" i18n="common.SORT"></span>
        <select id="filterSort" class="form-control fl w150 mr10" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block">
            <option value="0" i18n="dataManage.SORT_BY_A_Z"></option>
            <option value="1" i18n="dataManage.SORT_BY_Z_A"></option>
            <option value="2" i18n="dataManage.SORT_VALUE_ASCENDING"></option>
            <option value="3" i18n="dataManage.SORT_VALUE_DESCENDING"></option>
            <option value="4" i18n="dataManage.SORT_TIME_NOW_PAST"></option>
            <option value="5" i18n="dataManage.SORT_TIME_PAST_NOW"></option>
        </select>
    <!}else if (type == '2'){!>
        <input id="filterMin" type="number" class="form-control w100 mr5 fl" i18n="placeholder=common.MIN"/>
        <span class="mr5 mt5 fl" i18n="common.TO"></span>
        <input id="filterMax" type="number" class="form-control w100 mr10 fl" i18n="placeholder=common.MAX"/>
        <button type="button" class="btn btn-success mr10" id="filterConfirm" i18n="common.CONFIRM"></button>
        <span class="ml10 mr10 mt5 fl" i18n="common.SORT"></span>
        <select id="filterSort" class="form-control fl w150 mr10" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block">
            <option value="0" i18n="dataManage.SORT_BY_A_Z"></option>
            <option value="1" i18n="dataManage.SORT_BY_Z_A"></option>
            <option value="2" i18n="dataManage.SORT_VALUE_ASCENDING"></option>
            <option value="3" i18n="dataManage.SORT_VALUE_DESCENDING"></option>
            <option value="4" i18n="dataManage.SORT_TIME_NOW_PAST"></option>
            <option value="5" i18n="dataManage.SORT_TIME_PAST_NOW"></option>
        </select>
    <!}else if (type == '3'){!>
        <input class="form-control mr5 fl w170" size="16" type="text" value="" id="pointDateStart"
               style="border-radius:5px 0 0 5px;" i18n="placeholder=dataManage.SELECT_START_TIME"
               data-format="yyyy-mm-dd hh:ii" datetimepicker/>
        <span class="mr5 mt5 fl" i18n="common.TO"></span>
        <input class="form-control mr10 fl w170" size="16" type="text" value="" id="pointDateEnd"
               style="border-radius:0 5px 5px 0;" i18n="placeholder=dataManage.SELECT_CLOSING_TIME"
               data-format="yyyy-mm-dd hh:ii" datetimepicker/>
        <button type="button" class="btn btn-success mr10" id="filterConfirm" i18n="common.CONFIRM"></button>
        <span class="ml10 mr10 mt5 fl" i18n="common.SORT"></span>
        <select id="filterSort" class="form-control fl w150 mr10" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block">
            <option value="0" i18n="dataManage.SORT_BY_A_Z"></option>
            <option value="1" i18n="dataManage.SORT_BY_Z_A"></option>
            <option value="2" i18n="dataManage.SORT_VALUE_ASCENDING"></option>
            <option value="3" i18n="dataManage.SORT_VALUE_DESCENDING"></option>
            <option value="4" i18n="dataManage.SORT_TIME_NOW_PAST"></option>
            <option value="5" i18n="dataManage.SORT_TIME_PAST_NOW"></option>
        </select>
    <!}else if (type == '4'){!>
        <input type="text" class="form-control fl mr10" id="searchPoint" i18n="placeholder=dataManage.ENTER_DEFINITION" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block" />
        <button type="button" class="btn btn-success mr10" id="filterConfirm" i18n="common.CONFIRM"></button>
        <span class="ml10 mr10 mt5 fl" i18n="common.SORT"></span>
        <select id="filterSort" class="form-control fl w150 mr10" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block">
            <option value="0" i18n="dataManage.SORT_BY_A_Z"></option>
            <option value="1" i18n="dataManage.SORT_BY_Z_A"></option>
            <option value="2" i18n="dataManage.SORT_VALUE_ASCENDING"></option>
            <option value="3" i18n="dataManage.SORT_VALUE_DESCENDING"></option>
            <option value="4" i18n="dataManage.SORT_TIME_NOW_PAST"></option>
            <option value="5" i18n="dataManage.SORT_TIME_PAST_NOW"></option>
        </select>
    <!}else if (type == '5'){!>
        <span id="defineFilterEdit" class="glyphicon glyphicon-edit cp mr10 mt8 fl"></span>
        <span class="ml10 mr10 mt5 fl" i18n="common.SORT"></span>
        <select id="filterSort" class="form-control fl w150 mr10" permission="DataReadUser;DataManagementEngineer;DataManagementManager;DataManagementAdmin" permission-style="inline-block">
            <option value="0" i18n="dataManage.SORT_BY_A_Z"></option>
            <option value="1" i18n="dataManage.SORT_BY_Z_A"></option>
            <option value="2" i18n="dataManage.SORT_VALUE_ASCENDING"></option>
            <option value="3" i18n="dataManage.SORT_VALUE_DESCENDING"></option>
            <option value="4" i18n="dataManage.SORT_TIME_NOW_PAST"></option>
            <option value="5" i18n="dataManage.SORT_TIME_PAST_NOW"></option>
        </select>
    <!}!>
</script>
<!--@formatter:on-->