<style>
    #registerPage {
        padding:30% 10%;
    }
    #registerPage .form-control {
        height:3.5rem;
    }
    #registerPage a {
        text-decoration:none;
    }
    .veriCodeBox {
        margin-top:40px;
    }
    .userAgree {
        color:red;
        margin-left:8px;
    }
    #passwordPage {
        display:none;
    }
    .registerBox {
    text-align:right;
    }
    .loginPerson {
        padding:5px 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    #isAgree {
        margin-bottom: 5px;
        vertical-align: middle;
    }
    .btnRespons {
        display:none;
    }
    .repeatGet label {
        color:#FF3A3A;
    }
    #repeatGetVeri {
        border: 0;
        background: transparent;
        color: #D9534F;
    }
</style>
<div id="registerPage">
    <div class="form-container" id="vericodePage">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">手机号</div>
                <input type="text" class="form-control" id="userNum" placeholder="请输入手机号">
            </div>
        </div>
        <div class="form-group" id="wrongInfo">
            
        </div>
        <div class="form-group veriCodeBox">
            <button id="veriCode" class="btn btn-danger btn-lg btn-block" disabled>下一步</button>
        </div>
        <div class="form-group text-center">
            <input type="checkbox" id="isAgree"/><a href="#" class="userAgree">同意用户协议</a>
        </div>
        <div class="form-group registerBox">
            <span class="loginPerson">登录</span>
        </div>
    </div>
    <div id="passwordPage">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">验证码</div>
                <input type="text" class="form-control" id="userVeriCode" placeholder="请输入验证码">
                <div class="input-group-addon"><div class="repeatGet"><!--<label>60</label>s后重新发送--></div><!--<button class="btn btnRespons"></button>--></div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">&nbsp;密  码&nbsp;</div>
                <input type="password" class="form-control" id="userPassword" placeholder="请输入密码">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">&nbsp;性  别&nbsp;</div>
                <select id="sexSelect" class="form-control">
                    <option value="0">女</option>
                    <option value="1">男</option>
                </select>
            </div>
        </div>
        <div class="form-group" id="wrongInfot">
            
        </div>
        <div class="form-group veriCodeBox">
            <button id="submitRegister" class="btn btn-danger btn-lg btn-block">提交</button>
        </div>
        <div class="form-group registerBox">
            <span class="loginPerson">登录</span>
        </div>
    </div>
</div>