<div id="terminalPointsTableBox" class="terminal-table-box">
    <div class="ml10">
        <div class="clearfix">
            <div class="btn-group btn-group-sm fl btn-groups" role="group">
                <span class="navBtnStyle cp ml10">
                    <span id="mbPointAdd">
                        <span class="icon iconfont icon_position" i18n="title=common.ADD;">&#xe711;</span>
                        <span class="mediaHide" i18n="common.ADD"></span>
                    </span>
                </span>
                <span class="navBtnStyle cp">
                    <span id="mbPointDelete">
                        <span class="icon iconfont icon_position" i18n="title=common.DELETE;">&#xe712;</span>
                        <span class="mediaHide" i18n="common.DELETE"></span>
                    </span>
                </span>
                 <span class="navBtnStyle cp">
                    <span id="mbAllPointsDelete">
                        <span class="icon iconfont icon_position" i18n="title=common.DELETE_ALL;">&#xe7f9;</span>
                        <span class="mediaHide" i18n="common.DELETE_ALL"></span>
                    </span>
                </span>
                <span class="navBtnStyle">
                    <a id="point_export" target="_blank" nothash style="color: #000;">
                        <span class="glyphicon glyphicon-export" i18n="title=debugTools.btnNav.EXPORT_POINT_LIST;"></span>
                        <span class="mediaHide" i18n="debugTools.btnNav.EXPORT_POINT_LIST"></span>
                    </a>
                </span>
                <span class="navBtnStyle pr">
                    <span id="point_import" class="cp">
                        <span class="glyphicon glyphicon-import"
                              i18n="title=debugTools.btnNav.IMPORT_POINT_LIST;"></span>
                        <span class="mediaHide" i18n="debugTools.btnNav.IMPORT_POINT_LIST"></span>
                    </span>
                </span>
                <span class="navBtnStyle cp">
                    <span id="mbPointHistory">
                        <span class="icon iconfont icon_position" i18n="title=debugTools.btnNav.HISTORY;">&#xe70f;</span>
                        <span class="mediaHide" i18n="debugTools.btnNav.HISTORY"></span>
                    </span>
                </span>
                <span class="navBtnStyle cp">
                    <span id="mbPointLog">
                        <span class="icon iconfont icon_position" i18n="title=common.LOG;">&#xe70e;</span>
                        <span class="mediaHide" i18n="common.LOG"></span>
                    </span>
                </span>
            </div>
            <div class="text_search_box ml10">
                <span class="icon iconfont icon_position searchIcon cp">&#xe713;</span>
                <input type="text" id="text_search" class="form-control mr10 fl text-search" value=""
                       i18n="placeholder=common.SEARCH"/>
            </div>
        </div>
        <div id="mbTable" class="table-plugin"></div>
    </div>
</div>
<!--@formatter:off-->

<!--@formatter:on-->