<style>
    #messageCenter{
        width:100%;
        height:100%;
        overflow:hidden;
    }
    #messageCenter .messageNav,#messageCenter .messageFooter{
        width:100%;
    }
    #messageCenter .messageNav{
        display: flex;
        border-bottom: 1px solid #7b7474;
        height:2.4rem;
    }
    #messageCenter .messageInfoBox{
        width:96%;
        height:100%;
        overflow-y: auto;
        margin: 0 auto;

    }
    #wrapMessageList{
        height:calc(100% - 2.4rem);
        -webkit-transition: height 0.2s;
        transition: height 0.2s;
    }
    .editMode #wrapMessageList {
        height:calc(100% - 5.4rem);
    }
    .messageInfos{
        width:100%;
        position:relative;
    }
    .readTip {
        display:none;
    }
    .editMode .messageInfos[data-status="0"] .readTip,
    .editMode .messageInfos[data-status="1"] .readTip{
        display: none;
    }
    .messageInfos[data-status="0"] .readTip,
    .messageInfos[data-status="1"] .readTip{
        display: inline-block;
        position: absolute;
        top: 8px;
        left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: #ffcd69;
        z-index: 2;
    }
    #messageCenter  .messageInfo{
        width:100%;
        display:flex;
        align-items:center;
        position:relative;
        z-index:1;
        background: #846871;
        box-shadow: 5px 5px 20px rgba(19, 16, 27, 0.4);
        margin: 0.2rem 0;
        border-radius: 3px;
    }
    #messageCenter .messageContentBox{
        width:90%;
        display:flex;
        align-items:center;
        margin: 0 auto;
        border-bottom: 1px solid #7b7474;
    }
    #messageCenter .checkbox{
        width:10%;
        text-align:center;
        color: white;
        opacity: 0.3;
        display: none;
    }
    #messageCenter .selected .checkbox {
        opacity: 1;
    }
    #messageCenter.editMode .checkbox{
        display: block;
    }
    #messageCenter .messageContent{
        width:92%;
        padding: 0.5rem 0;
    }
    #messageCenter .typeImg{
        width:8%;
        color: #fff;
    }
    #messageCenter .typeImg .glyphicon{
    }
    #messageCenter .messageTitle{
        width:100%;
        color:#fff;
        height:20px;
    }
    #messageCenter .icon{
        font-size:16px;
    }
    #messageCenter .content{
        width:100%;
        color: #e9e5e9;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #messageCenter .messageTitle .title{
        display: inline-block;
        width:calc(100% - 100px);
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    #messageCenter .messageTitle .messageTime{
        display: inline-block;
        width:100px;
        text-align:right;
        padding-right: 0.2rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    #messageCenter .btnBoxMessage{
        position:absolute;
        top:0;
        right:0;
        display: flex;
        color: #fff;
        flex-direction: row-reverse;
    }
    #messageCenter .btnBoxMessage .messageBtn{
        padding: 0 1rem;
        white-space: nowrap;
        height: 51px;
        line-height: 51px;
        background: #cc4d4d;
        border: 1px solid #da5a5a;
        margin-top:4px;
    }
    .downUpdate {
        display:none;
        position: relative;
        width: 100%;
        transform: translateY(0px);
        transition: transform 2s;
    }
    .downUpdate.cur{
        display: block;
        transform: translateY(0px);
        transition: transform 2s linear 0.3s;
    }
    .downUpdate .updateText {
        position: absolute;
        left:50%;
        top:50%;
        display: flex;
        text-align: center;
        color:#efefef;
        transform: translateX(-50%);
    }
    .messageNavTool{
        display: flex;
        width: 100%;
        color:#efefef;
    }
    .messageNavTool .navItem {
        width:33.33%;
        text-align: center;
        line-height:2.4rem;
    }
    .messageFooter {
        display: block;
        color: #efefef;
        padding: 0 2%;
        height:3rem;
        -webkit-transform:translateY(3rem);
        transform:translateY(3rem);

        -webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
    }
    .editMode .messageFooter{
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    .messageBottomTool {
        height: 100%;
        line-height: 3rem;
        font-size: 16px;
    }
    .messageBottomTool.left {
        float: left;
        margin-right: 15px;
    }
    .messageBottomTool.right {
        float: right;
        margin-left: 15px;
    }
    .subItemList {
        position: absolute;
        top: 2rem;
        left:0;
        width: 100%;
        background: white;
        z-index: 10;
    }
    .rowType{
        height: 30px;
        padding-left: 15px;
        line-height: 30px;
        margin: 0 5%;
        border-bottom: 1px solid #eee;
    }
    .rowType.selected::before{
        position: relative;
        top: 2px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e258";
        margin-right: 15px;
    }
    .rowType .icon{
        position: relative;
        margin-right: 5px;
    }
    .rowType .icon.iconfont{
        top:1px;
    }
    .rowType .icon.glyphicon{
        top:2px;
    }
    .subItemList[data-target="sort"] .rowType::before{
        position: relative;
        top: 2px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e156";
        margin-right: 15px;
    }
    .subItemList[data-target="sort"] .rowType.asc::before{
        content: "\e155";
    }
    .wrapDropdownBg {
        width: 100%;
        height: calc(100% - 2.4rem);
        position: absolute;
        background: rgba(0,0,0,0.35);
        z-index: 2;
    }
    .messageSelectAll,#btnSelectNode{
        width:30%;
    }
    .updateText .down{
        display: block;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        
    }
    .updateText .up{
        display: block;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
    }    
    .updateTitile{
        display: block;
    }
    #panelMsgDetail{
        position: absolute;
        top: 10%;
        max-height: 80%;
        left: 10%;
        width: 80%;
        z-index: 3;
        background: white;
        padding: 5px 15px;
        box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
        border-radius: 5px;
    }
    #panelMsgDetail .icon{
        display: inline-block;
        width: 30px;
        height: 37px;
        line-height: 37px;
        font-size: 36px;
        margin-right: 10px;
        position: absolute;
        top: 14px;
    }
    #panelMsgDetail .icon.glyphicon{
        top: 11px;
    }
    #panelMsgDetail .title{
        display: inline-block;
        line-height: 30px;
        font-size: 18px;
        vertical-align: top;
        width: calc(100% - 45px);
        left: 45px;
        position: relative;
    }
    #panelMsgDetail .createTime{
        color: #aaa;
        font-size: 12px;
        padding-left: 45px;
    }
    #panelMsgDetail .description{
        text-indent: 2em;
        color: #646464;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    #panelMsgDetail .btnGrp{
        position: absolute;
        text-align: center;
        width: 100%;
        left: 0;
        bottom: -19px;
    }
    #panelMsgDetail .btnTool{
        background: #F5CC58;
        padding: 10px;
        font-size: 18px;
        border-radius: 30px;
        color: white;
        box-shadow: 0 0 5px 1px #F5CC58;
        margin: 0 10px;
    }
</style>

<div id="messageCenter">
    <div class="messageNav">
        <div class="messageNavTool">
            <span id="messageTemplate" class="navItem" data-target="template" i18n="appDashboard.message.TOP_TOOL_TEMPLATE"></span>
            <span id="messageFilter" class="navItem" data-target="filter" i18n="appDashboard.message.TOP_TOOL_FILTER"></span>
            <span id="messageSort" class="navItem" data-target="sort" i18n="appDashboard.message.TOP_TOOL_SORT"></span>
        </div>
        <div class="subItemList hide" data-target="template">
            <div class="rowType selected" data-type=""><span class="icon glyphicon glyphicon-th-list"></span><span i18n="appDashboard.message.TEMPLATE_ALL"></span></div>
            <div class="rowType" data-type="default"><span class="icon glyphicon glyphicon-envelope"></span><span i18n="appDashboard.message.TEMPLATE_DEFAULT"></span></div>
            <div class="rowType" data-type="workflow"><span class="icon iconfont icon-gongdan"></span><span i18n="appDashboard.message.TEMPLATE_WORKFLOW"></span></div>
            <div class="rowType" data-type="report"><span class="icon iconfont icon-baobiao1"></span><span i18n="appDashboard.message.TEMPLATE_REPORT"></span></div>
            <div class="rowType" data-type="dashboard"><span class="icon glyphicon glyphicon-stats"></span><span i18n="appDashboard.message.TEMPLATE_DASHBOARD"></span></div>
        </div>
        <div class="subItemList hide" data-target="filter">
            <div class="rowType" data-type="1" i18n="appDashboard.message.STATUS_1"></div>
            <div class="rowType" data-type="2" i18n="appDashboard.message.STATUS_2"></div>
        </div>
        <div class="subItemList hide" data-target="sort">
            <div class="rowType" data-type="createTime" i18n="appDashboard.message.SORT_CREATE_TIME"></div>
        </div>
    </div>
    <div class="wrapDropdownBg hide zepto-ev"></div>
    <div id="wrapMessageList">
        <div id="downUpdate" class="downUpdate">
            <p class="updateText"><span class="iconfont icon-jiantou1 down" id="icon"></span><span class="updateTitile">下拉刷新</span></p>
        </div>
        <div class="messageInfoBox gray-scrollbar"></div>
    </div>
    <div id="panelMsgDetail" class="hide"></div>
    <div class="messageFooter">
        <div class="messageBottomTool left zepto-ev" id="btnMsgSelectAll" i18n="appDashboard.message.BOTTOM_TOOL_SELECT_ALL"></div>
        <div class="messageBottomTool left zepto-ev" id="btnMsgSelectReverse" i18n="appDashboard.message.BOTTOM_TOOL_SELECT_REVERSE"></div>
        <div class="messageBottomTool right zepto-ev" id="btnMsgDelete" i18n="appDashboard.message.BOTTOM_TOOL_DELETE"></div>
        <div class="messageBottomTool right zepto-ev" id="btnMsgRead" i18n="appDashboard.message.BOTTOM_TOOL_READ"></div>
    </div>
</div>