html, body{
    height: 100%;
    overflow: hidden;
    font-family:'Arial Black', Gadget, sans-serif;
    color:#fff;
}
a {
    text-decoration:none;
}
#dotState,#dotDetail {
    width:100%;
    height:100%;
    background:#2c3a54;
}
.dotStateList {
    width:40%;
    margin:0 auto;
    padding-top:10%;
    font-size: 16px;
    min-width:400px;
}
.dotTitle, .dotStateBox {
    font-size:16px;  
    height:50px;
    line-height:50px;
    text-align:center; 
}
.dotSingle {
    height:30px;
    cursor:pointer;
}
.dotSingle:hover {
    /*background: rgba(238, 238, 238, 0.32);
    color: #333;*/
     background:#ddd;
    color:#333;
}
.dot-name {
    text-align:center;
    height: 30px;
    line-height: 30px;
}
input.dotBtn {
    margin-left:3px;
}
input.dot-open {
    margin-right:10px;
}
.dot-open-close {
    text-align:center;
}
.dotBtnBox {
    display:inline-block;
}
.dotBtn {
    margin-left:3px;
    display:inline-block;
    padding:3px 10px;
    margin-top: 1px;
}
/*dotDetail*/
.dotBanner {
    width:96%;
    height:40px;
    padding:0 2%;
    position:relative;
}
.dotBannerL {
    width:30%;
    margin-top:7px
}
.dotBannerR {
    position:absolute;
    width:80px;
    height:25px;
    line-height:25px;
    top:7.5px;
    right:0;
    background:#548135;
    text-align:center;
    cursor:pointer;
}
.dotLeft {
    border-right:1px solid #ccc;
}
.dotDetailS {
    cursor:pointer;
    padding:3px 5px;
}
#datetimepicker {
    display:inline-block;
}
#datetimepicker,.datetimepicker {
color:#333;
}
.datetimepicker {
   top:35px!important;
}
#getDataBtn {
    display:inline-block;
    width:80px;
    height:25px;
    line-height:25px;
    background:#548135;
    text-align:center;
    cursor:pointer;
}
.dotTitleList,.dotDataList,.dotDataListOpen {
    /*float:left;*/
    padding: 5px 10px;
    border: 1px solid #fff;
    width:8%;
    text-align:center;
}
.dotDataList {
    cursor:pointer;
}
.dotDetailS.active,.dotDetailS:hover {
    background:#ddd;
    color:#333;
}
.changeData {
    display:none;
    background:transparent;
    border:1px solid #ddd;
    width: 100%;
}
.runState,.runStateOption {
    background:transparent;
}
.runStateOption {
    color:#333;
}
