/* 测定样式修改！！*/
.glyphicon-edit, .glyphicon-remove {
    cursor: pointer;
}

.wr80 {
    width: 80%;
}

.result_left {
    margin-top: 0;
    padding: 0;
    width: 92px;
}

.result_right {
    padding: 0 0 0 6px;
}

#test_process {
    padding: 0 !important;
    overflow: hidden;
    position: relative;
}

#test_process .text-danger {
    color: #fe3131;
}

.text_header_prompt {
    font-size: 16px;
    color: #333333;
}

#test_process .tpl_text_box {
    border-bottom: 1px solid #eae9ea;
    padding: 10px 0 10px 22px;
}

#diagnosisTestProgress .tpl_text_box {
    border-bottom: 1px solid #eae9ea;
    padding: 10px 0 10px 22px;
}

.text_header {
    display: flex;
    margin-bottom: 12px;
}

.text_header_underline {
    width: 20px;
    height: 1px;
    background-color: #eae9ea;
    margin: 19px 0 0 12px;
}

#diagnosisConfirm {
    color: #fff;
    border: 1px solid #1e79e7;
    background-color: #2084fd;
}

/*
**高级诊断中不显示是否有设置时间
*/
#diagnosisTestProgress .text_left {
    display: none;
}

.left_position {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

input[type=checkbox] {
    cursor: pointer;
}

.ul {
    padding-left: 0;
    list-style-type: none;
}

.fixedHead {
    margin: 0 15px;
    line-height: 30px;
    background: #e7e7e7;
    font-weight: bolder;
}

#cloudPointWrapper td, #cloudPointWrapper th, #cloudPointWrapper .fixedHead > div {
    background: #fff;
    border-bottom-width: 1px;
}

#pointManageWrapper thead th {
    background: #dfdfe0;

}

#pointManageWrapper thead > tr > th:not(:last-child) {
    border-right: 1px solid #d0d0d0;
}

#divUploadWrap {
    background: #F0F0F0;
    padding: 0 20px;
    height: 100vh;
    color: #333;
    overflow: hidden;
}

.div-actions {
    text-align: center;
}

.upload-wrap {
    position: relative;
    padding: 5px;
}

.drop-handler {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    color: #92AAB0;
    background: #000;
    opacity: .6;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    width: 100%;
    height: 100%;
}

.drop-handler > p {
    opacity: 1;
    color: #fff;
    height: 100%;
    margin: 0;
    line-height: 100px;
}

.div-actions {
    text-align: center;
}

#uploadMask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: transparent;
}

.pointList {
    padding-bottom: 10px;
}

.pointList > .panel-heading {
    height: 46px;
    padding: 5px;
}

.pointList .panel-body {
    overflow-y: auto;
    height: 67vh;
}

.pointList tr {
    cursor: pointer;
}

.keyword {
    color: orange;
}

tr.active .keyword {
    color: #fff;
}

#tableWatch {
    margin-bottom: 10px;
}

.glyphicon-star {
    color: #449d44;
}

#tableWatch tr th span {
    position: absolute;
    background-color: #192234;
    top: 46px;
    padding: 10px 0 0 6px;
    z-index: 1;
    border-bottom: 2px solid #ddd;
    height: 40px;
    margin-left: -8px;
}

#dataManagePagination {
    margin: 0 15px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: transparent;
}

#dataManagePagination li.active a {
    color: #EBC124 !important
}

#divPointsList .iconfont {
    font-size: 14px;
}

#divPointsList #joinCurve {
    padding: 4px 10px 5px 10px;
}

#cloudPointWrapper #joinCurve, #cloudPointWrapper #pointRefresh, #dataTypeStatusBox .btn {
    margin-top: 15px;
}

#cloudPointWrapper #pointRefresh, #dataTypeStatusBox .btn {
    padding: 5px 8px;
}

#cloudPointWrapper #joinCurve {
    padding: 4px 8px 5px 8px;
}

#cloudPointBtnBox.real-time .realTimeBox {
    display: none;
}

#cloudPointBtnBox.history .realTimeBox {
    visibility: inherit;
}

#realTimeStatus {
    padding: 7px 5px;
    color: #909090;
    background: #ffffff;
    font-size: 10px;
}

#realTimeStatusTime {
    width: 150px;
    height: 28px;
    background: #ffffff;
    padding: 3px 6px 3px 28px;
    border-left-radius: 5px;
    font-size: 13px;
}

#cloudPointWrapper .icon-nav-106, #cloudPointWrapper .glyphicon-refresh {
    font-size: 10px;
}
#divPointsList #joinCurve .iconfont {
    font-size: 12px;
}

#pageSizeSelector {
    color: #333;
}

#filterType {
    width: 133px;
}

#filterContent {
    height: 200px;
}

#searchPoint {
    width: 370px;
}

#divPointsList #tableWatch .icon-yingshedian, #divPointsList #tableWatch .icon-suanfadian, #divPointsList #tableWatch .icon-jisuandian {
    font-size: 16px;
}

.icon-yingshedian {
    color: #337ab7;
}

.icon-suanfadian {
    color: #449d44;
}

.icon-jisuandian {
    color: #d9534f;
}

#tableWatch td {
    word-break: break-all;
}

.dataManagerBox {
    width: 100%;
    height: 100%;
}

.dataManagerBox.dark #dataManagerCloudMenu li a {
    color: #fff;
}

.dataManagerContent {
    color: #333;
}

.dataManagerNav, .dataManagerContent {
    height: 100%;
    top: 0;
    left: 240px;
    width: calc(100% - 240px);

}

.dataManagerNav {
    left: 0;
    width: 240px;
}

.dataManagerNavTitle {
    height: 41px;
    line-height: 38px;
    font-weight: bolder;
    font-size: 15px;
    text-indent: 30px;
}

#dataManagerCloudMenu {
    padding-left: 0;
    list-style: none;
}

#dataManagerCloudMenu > li a {
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 15px;
}

.pointManagerCloudPointUl {
    list-style: none;
    margin: 15px 0;
    padding: 0 10px;
}

.pointManagerCloudPoint {
    position: relative;
    padding-left: 30px;
    color: #b2b2b2;
    height: 20px;
}

.pointManagerCloudPoint .nav-label {
    background-color: #F3F3F3;
    padding-right: 10px;
    z-index: 200;
    display: inline-block;
    position: relative;
}

.pointManagerCloudPoint .nav-line {
    width: 203px;
    height: 1px;
    margin-top: -1px;
    background-color: #e6e6e6;
    position: relative;
    top: -23px;
    display: inline-block;
}

#dataManagerCloudMenu .pointManagerCloudPointUl > li a {
    text-indent: 12px;
    height: 45px;
    line-height: 45px;
    width: 220px;
    border-radius: 6px;
    color: #7b7a7b;
}

#dataManagerCloudMenu .pointManagerCloudPointUl > li a .iconfont {
    font-size: 20px;
    margin-left: 8px;
}

#dataManagerCloudMenu .pointManagerCloudPointUl > li a .nav-label {
    user-select: none;
    -webkit-user-select: none;
    margin-left: 20px;
    position: relative;
    left: 0;
    top: -1.5px;
}

#dataManagerCloudMenu > li > a .glyphicon {
    margin-right: 4px;
}

#divPointsList {
    border: none;
}

#history_generate_info {
    margin: 13px 10px 0 10px;
}

.point_group {
    padding: 3px 5px;
    background: #fafafa;
    margin-top: 20px
}

.right-tools, #cloudPagination {
    margin-right: 15px;
}

/* ------------ 数据管理 - 云点管理 begin  ------------ */
.spinner {
    z-index: 10000 !important;;
}

#page-wrapper {
    min-height: 100vh;
}

.btnGroup {
    margin: 10px 20px 10px 0;
    color: #333;
}

#point_clear {
    display: none;
}

#buttonGroup {
    padding: 8px 0 8px 0;
    margin: 16px 0 10px;
    background: #fafafa;
    border: 1px solid #eae9ea;
}

#buttonGroup .dmPointStyle:not(:last-child):after {
    content: '';
    background: #eae9ea;
    width: 1px;
    height: 13px;
    display: inline-block;
    position: relative;
    right: 0;
    margin: 0 15px;
    top: 2px;
}

#buttonGroup .dmPointStyle:last-child:after {
    content: '';
    display: inline-block;
    margin-left: 20px;
}

#buttonGroup.pointType #point_clear {
    display: block;
}

.btnGroup button {
    border: 1px solid #e3e3e3;
    background: #fff;
    color: #000;
}

.cloudPointBtnBox .btn-sm, .cloudPointBtnBox .btn-group-sm > .btn {
    padding: 10px;
}

#cloudPointBtnBox .dmPointHover:hover {
    cursor: pointer;
    color: #222;
}

.dmPointStyle {
    display: inline-block;
    color: #666;
    font-size: 12px;
}

#point_export, #point_template_export {
    color: #666666;
}

#point_export:hover {
    text-decoration: none;
}

#point_template_export:hover {
    text-decoration: none;
    color: #222;
}

.cloudPoint_splitLine {
    display: inline-block;
    width: 1px;
    height: 15px;
    background: #eae9ea;
    margin: 0 26px;
    position: relative;
    top: 3px;
    left: 0;

}

#cloudPointfilterSort {
    height: 30px;
    font-size: 12px;
    width: 115px;
    padding: 0 0 0 10px;
    border: 1px solid #eae9ea;
    background-color: #fafafa;
    -webkit-appearance: none;
}

#cloudPoint_SetUp {
    min-width: 60px;
    padding: 0 6px;
    height: 30px;
    margin-top: 20px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #eae9ea;
    border-radius: 4px;
    background: #fff;
    color: #666;
}

.setUp {
    font-size: 12px;
    position: relative;
    top: -.8px;
}

#cloudPoint_SetUp:hover {
    color: #333;
}

.orderBox {
    float: left;
    margin-top: 20px;
    position: relative;
}

.group_splitLine {
    display: inline-block;
    width: 1px;
    height: 15px;
    background: #eae9ea;
    margin: 0 6px;
    position: relative;
    top: 3px;
    left: 0;
}

.text_search_box {
    float: left;
    margin-top: 20px;
    position: relative;
}

.icon_position {
    position: relative;
    left: -1px;
    top: 1px;
}

.dropdownIcon {
    position: absolute;
    left: 97px;
    top: 5px;
    font-size: 12px;
    color: #666;
}

.searchIcon {
    position: absolute;
    left: 165px;
    top: 6px;
    font-size: 13px;
}

#text_search {
    width: 190px;
    height: 30px;
    font-size: 12px;
    border: 1px solid #eae9ea;
    padding-left: 11px;
    outline: none;
    background-color: #fafafa;
}

#cloudPointSourceSetBox {
    color: #333;
}

#cloudPointSourceSet .dropdown-menu li {
    text-indent: 8px;
}

#cloudPointSourceSet {
    display: inline-block;
    width: 115px;
    height: 30px;
    border: 1px solid #eae9ea;
    padding: 6px 6px 6px 8px;
    font-size: 12px;
    background-color: #fafafa;
    -webkit-appearance: none;
    color: #666;
}

#md-source-config li {
    padding-left: 10px;
    cursor: pointer;
}

#md-source-config li:hover {
    background-color: #d0d0d0;
}

#search {
    float: right;
}

.sheet {
    width: 100%;
    overflow: hidden;
}

.energy-section {
    min-height: calc(100vh - 350px);
}

/*导出数据 start*/
#exportDataBox {
    height: 100%;
    padding-left: 10px;
}

#exportDataContent {
    height: 100%;
    background: #F3F3F3;
    border-left: 1px solid #eae8ea;
    padding: 0 15px;
}

#exportDataBox .exportDataHeader {
    padding: 26px 0 14px;
}

#allPoints {
    margin: 0 20px 0 12px;
    padding-top: 8px;
    color: #666666;
}

#allPoints label {
    font-weight: 100;
}

.exportDataTextSearchBox {
    position: relative;
}

#exportData_Search {
    width: 188px;
}

.exportDataSearchIcon {
    position: absolute;
    left: 163px;
    top: 7px;
    font-size: 14px;
    color: #666666;
}

#exportData {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 16px;
    font-size: 14px;
    color: #666666;
    background: #ffffff;
}

#allPoints:hover {
    color: #333333;
}

#exportData:hover {
    color: #333333;
}

#point_format {
    width: 180px;
}

#batchHistoryTimeStart {
    border-radius: 5px 0 0 5px;
}

#batchHistoryTimeTo {
    color: #666666;
    margin: 8px 8px 8px 0;
}

#batchHistoryTimeEnd {
    border-radius: 0 5px 5px 0;
}

#exportDataBox .modal-dialog {
    width: 1120px;
}

#exportDataBox .modal-content {
    top: 50px;
}

#exportDataBox #DataList th, #exportDataBox #DataList td {
    border: 1px solid #ffd696;
    text-align: center;
}

#exportDataBox #DataList th {
    background: #f2b658;
    color: #fff;
}

#exportDataBox #DataList td {
    color: #666;
}

#exportDataBox #exportDataList tbody tr:nth-of-type(even) {
    background-color: #ffffff !important;
}

/*导出数据 end*/

/*浮动窗口 开始*/
#batchHistoryWin .modal-dialog, #cloudPointSetUp .modal-dialog {
    margin-top: 80px;
}

#isAllPointCalcWin .modal-dialog {
    width: 800px;
}

#pointCalcTableBox {
    max-height: 600px;
    overflow-y: auto;
}

.basicParameterName {
    width: 100px;
    margin-right: 5px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

.calcItem, .batchItem, .batchValItem {
    display: none;
}

.calc .calcItem {
    display: block;
}

.newPoint.calc .batchItem {
    display: block;
}

.newPoint.batch .batchValItem {
    display: block;
}

.newPoint.batch #statusBox {
    display: none;
}

/*浮动窗口 结束*/

#point_import input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 67px;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.currentRow {
    background-color: #E7E8EF !important;
}

.points-wrapper {
    max-height: 400px;
    overflow-y: auto;
}

#search_result {
    margin-top: 11px;
    max-height: 700px;
}

.count {
    margin: 0 2px 0 5px;
}

#dialogContentWrapper {
    border-top: 1px dashed #999;
    padding-top: 10px;
    margin-top: 10px;
}

.iconGroup .ml10 {
    margin-left: 10px;
}

#codeMirrorBox {
    padding: 0;
}

#codeMirrorBox .CodeMirror {
    margin-bottom: 10px;
    border: 1px solid #eae9ea;
    height: 380px;
    border-top: none;
}

#codeMirrorBox .default {
    border-top: none;
}

#statusFlagIcon {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-top: 12px;
}

.status-run {
    background: green;
}

.status-stop {
    background: red;
}

/*svg 字体开始*/
.svg-icon {
    font-family: iconfont;
    font-size: 18px;
    margin: 0 2px;
}

#codeEditor {
    display: none !important;
}

.insert_result_wrapper {
    max-height: 200px;
    overflow-y: auto;
}

#insert_info_result_box {
    width: 85%;
    margin: 10px auto;
}

#insert_info_result_box th, #insert_info_result_box td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

/*批量历史窗口开始*/

#repairTasks {
    height: 500px;
}

#batchHistoryWin #repairTasks {
    display: none;
}

#batchHistoryWin.repairing #repairTasks {
    display: block;
    width: 1450px;
}

#batchHistoryWin #repairTasks th, #batchHistoryWin #repairTasks td {
    border: 1px solid #ffd696;
    text-align: center;
}

#batchHistoryWin #repairTasks th {
    background: #f2b658;
    color: #fff;
}

#batchHistoryWin #repairTasks td {
    color: #666;
}

#batchHistoryWin .modal-dialog {
    width: 1084px;
}

#cloudPointEditMessage {
    color: #d9534f;
    margin-top: 10px;
    margin-left: 50px;
}

#batchHistoryPointsBox {
    border: 1px dashed #c7c7c7;
    min-height: 100px;
    padding: 10px;
    margin: 10px 0;
}

#batchHistoryProgressBox {
    min-height: 100px;
    margin: 10px 0;
    overflow-x: scroll;
}

#batchHistoryPointsBox {
    max-height: 278px;
    overflow: auto;
}

#batchHistoryPoints {
    padding-left: 0;
}

#batchHistoryPoints .batchHistoryPoint {
    margin: 5px;
    width: 192px;
}

#batchHistoryProgressInfo {
    color: #d9534f;
    text-align: center;
}

/*批量历史窗口结束*/

#pointManageWrapper {
    margin-top: 5px;
    padding: 0 10px 10px 0;
}

#pointManageWrapper .fixed-header {
    margin-bottom: 0;
    border-bottom: none;
}

#pointManageWrapper .sheet-body {
    color: #666666;
    border-top: none;
}

#pointManageWrapper .sheet-body tr.active td {
    background: #ebeaec;
    color: #222222;
}

#pointManageWrapper .sheet-body tr:hover {
    background-color: #ddd;
}

#pointManageWrapper .sheet-body-wrapper {
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
}

.CodeMirror-hints {
    z-index: 20000;
}

#batchHistoryProgress {
    border-radius: 50px;
}

#batchHistoryProgress {
    border-radius: 50px;
}

#online_test_result.pre {
    border: none;
    background: #F0F0F0;
    color: #a94442;
    margin-top: -8px;
}

#test_process {
    background: #ffffff;
    border: 1px solid #eae7ea;
    color: #7a7a7a;
    padding: 5px;
    width: 100%
}

#cloudPagination .active {
    color: #f0ad4e;
}

#cloudPointWrapper {
    height: 100vh;
    border-left: 1px solid #eae8ea;
    margin-left: 8px;
    background: #F3F3F3;
}

#cloudPointBox {
    height: 100%;
    padding-left: 10px;
    background: #F3F3F3;
    width: 100%;
}

#realTimeDataBox {
    height: 100%;
    background: #F3F3F3;
}

#cloudPointWrapper .header {
    padding: 8px;
    background: #F3F3F3;
}

.point_translate {
    margin: -14px 0 5px 15px;
    font-size: 16px;
    color: #333333;
}

.coloudPoint_translate {
    margin: 6px 0 6px 15px;
    font-size: 16px;
    color: #333333;
}

#cloudPointWrapper .cloudEdit {
    width: calc(100% - 354px);
    height: 100vh;
    background: #F3F3F3;
    border-right: 1px solid #eae8ea;
}

#logReport tr:hover {
    background-color: #fff;
}

#pointManageWrapper {
    border: none;
}

#diagnosisBox .errorPoint, #cloudPointBtnBox .errorPoint, .table-striped .errorPoint {
    cursor: pointer;
    color: #ff524e;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #ff524e;
    font-size: 12px;
}

#diagnosisBox .errorPoint {
    padding: 0 5px;
}

#dmSysTree {
    width: 346px;
    margin-left: 8px;
    height: 100vh;
    border-left: 1px solid #eae8ea;
    background-color: #F3F3F3;
}

.dmSysTreeHeader {
    height: 50px;
    font-size: 16px;
    border-bottom: 1px solid #e3e3e3;
    line-height: 50px;
}

.systemTex {
    font-weight: bolder;
    color: #000;
}

.dmSysTreeSearch {
    float: right;
    margin-right: 10px;
    position: relative;
}

.search_icon {
    font-size: 13px;
    position: absolute;
    left: 7px;
    top: 2px;
    color: #ccc;
}

#treeSearch {
    height: 30px;
    width: 150px;
    padding-left: 26px;
    font-size: 12px;
    color: #666;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.ztree li span.search-tree-text {
    margin-right: 0;
    color: orange;
}

/* ------------ 数据管理 - 云点管理 end  ------------ */

/* ------------ 数据管理 - 模板 start  ------------ */
.templateWin {
    z-index: 8888 !important;
}

.templateWin .modal-dialog {
    width: 1200px;
    margin-top: 80px;
}

.templateWin .modal-backdrop.in {
    opacity: 0.9;
}

.templateLeft, .templateRight {
    padding: 10px;
}

.templateLeft {
    width: 20%;
}

.templateRight {
    width: 78%;
}

#editorBox {
    border: 1px solid #ccc;
}

#addFolderBox {
    font-size: 14px;
    margin-top: 10px;
}

#addFolder {
    margin: 8px 0 0 5px;
}

#addFolderInput {
    width: 140px;
}

#templateImportWin #addFolder {
    display: none !important;
}

#templateImportWin .CodeMirror {
    background: #f7f7f7;
}

#templateTreeMenu {
    height: 430px;
    overflow-y: auto;
    overflow-x: hidden;
}

.templateContainerBox .ztree a, .templateContainerBox span {
    color: #333;
}

#templateWinBox .CodeMirror {
    height: 400px;
}

/* ------------ 数据管理 - 模板 end  ------------ */

/* ------------ 数据管理 - 诊断 start  ------------ */
#diagnosisFilesContent {
    height: calc(100% - 102px);
}

#diagnosisFilesUl li a {
    padding: 1px 22px 0 0;
}

#diagnosisFilesUl {
    height: 100%;
    padding-left: 0;
    list-style: none;
    overflow-y: auto;
}

#diagnosisFilesUl .curSelectedNode {
    padding: 1px 3px 0 0;
}

#diagnosisFilesUl li:hover {
    background: #ebeaec;
}

#diagnosisFilesUl li.active {
    color: #222222 !important;
    background: #ededec;
}

#diagnosisFilesUl .glyphicon-remove {
    margin-top: 8px;
    font-size: 12px;
}

#diagnosisCodeBox {
    width: calc(100% - 298px);
    height: 100vh;
}

.diagnosisCodeTitle {
    margin: 15px 0 13px 15px;
    font-size: 16px;
    color: #333333;
}

.diagnosisCodeLeft {
    width: calc(100% - 362px);
    height: 100vh;
    background: #F0F0F0;
    margin-left: 8px;
    border-left: 1px solid #eae8ea;
    border-right: 1px solid #eae8ea;
}

.diagnosisConfirm {
    text-align: center;
}

.diagnosisCodeInfo {
    width: 100%;
    border-top: 1px solid #e3e3e3;
    margin: 0 0 20px 0;
    padding: 30px 0 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 80vh;
}

.diagnosisCodeInfo table {
    width: 100%;
}

.diagnosisCodeInfo table td {
    padding: 10px 0;
}

.diagnosisCodeInfo .diagnosisParameterName {
    width: 86px;
    text-align: center;
    line-height: 40px;
    float: left;
    color: #7a7a7a;
    font-size: 12px;
    margin-left: 16px;
}

#diagnosisModuleName, #diagnosisFaultDescription {
    height: 40px;
    border-radius: 0;

}

.diagnosisCodeInfo table input, .diagnosisCodeInfo table select {
    width: 330px;
    margin-left: 10px;
    display: inline-block;
}

.diagnosisCodeInfo p {
    margin: 0 0 10px;
}

.diagnosisCodeInfo input, .diagnosisCodeInfo select {
    width: 41%;
}

.diagnosisCodeMain {
    margin: 0 20px 20px;
    background: #ffffff;
}

#diagnosisTestProgress {
    color: #ccc;
    width: 100%;
}

#diagnosisTestProgress .text-danger {
    color: #fe3131;
}

#diagnosisTestProgress .tpl_text_box {
    min-height: 93px;;
}

.diagnosisCodeInfo .diagnosisCodeMirrorBox {
    width: 100%;
}

#diagnosisCodeMirrorBox .CodeMirror {
    height: 361px;
}

#diagnosisFileAdd {
    color: #909090;
}

.diagnosisFileTitle {
    height: 31px;
    border-bottom: 1px solid #e7e7e7;
}

#diagnosisFilesUl li span {
    margin-right: 5px;
}

.diagnosisTestResult {
    background: #ffffff;
    border: 1px solid #eae7ea;
    margin: 0 20px;
}

#indentIcon {
    color: #666;
    display: none;
}

.isShowSubItem {
    display: block;
    height: 50px;
    line-height: 50px;
    width: 30px;
    text-align: center;
}

.dataManagerBox {
    background: #ffffff;
}

.dataManagerBox .dataManagerNav {
    background: #F3F3F3;
}

.dataManagerBox #dataManagerCloudMenu > li > a {
    color: #7b7a7b;
}

.dataManagerBox #dataManagerCloudMenu a:hover {
    background: #ededec;
}

.dataManagerBox #dataManagerCloudMenu > li a.active {
    color: #222222 !important;
    background: #e1e1e2;
}

#dataManagerContainer .dataManagerNav {
    background: #F3F3F3;
    border-right: 1px solid #eae8ea;
    padding-top: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dataManagerContainer #wf-add-person {
    top: 40px;
}

/* ------------fixed-header-table start  ------------ */
.fixed-header-table {
    display: flex;
    flex-direction: column;
}

.fixed-header-table .table-header {
    flex: 0 100% auto;
    margin: auto;
}

.fixed-header-table .table-body {
    flex: 1;
    overflow-y: auto;
}

.fixed-header-table .table-footer {
    flex: 1 100% auto;
}

/* Support Bootstrap's table class */
.fixed-header-table table,
.fixed-header-table .table {
    table-layout: fixed; /* Prevents columns from adjusting to content */
    margin: 0;
}

.fixed-header-table table td {
    overflow: hidden;
}

.fixed-header-table table th {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.fixed-header-table .resize-handle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 6px;
    cursor: ew-resize;
}

.fixed-header-table .resize-handle.dragging,
.fixed-header-table .resize-handle:hover {
    background-color: RGBA(75, 128, 255, .5);
}

/* ------------fixed-header-table end  ------------ */

#diagnosisFileBox {
    color: #666666;
    background: #F3F3F3;
    width: 289px;
    height: 100vh;
    margin-left: 8px;
    border-left: 1px solid #eae8ea;
    border-right: 1px solid #eae8ea;
}

.diagnosisFileTitle {
    border-bottom: 1px solid #ededed;
    padding: 6px 10px 0;
}

#paginationContainer .pagination > .active > a {
    border-color: grey;
}

#paginationContainer .pagination > li > a {
    border: 1px solid #ddd !important;
}

.fault-type-code {
    color: #5cb85c;
}

.fault-type-code0 {
    color: #337ab7;
}

.fault-type-code1 {
    color: #f0ad4e;
}

/* ------------ 数据报警 start  ------------ */
.dm-box1 .pl0 {
    padding-left: 0;
}

.dm-box1 .h100 {
    height: 100px;
}

.dm-box1 form input[type="text"].wr100 {
    width: 100%;
}

#dataAlarmBox {
    margin-left: 10px;
    background: #f3f3f3;
    overflow: hidden;
    height: 100vh;
}

#dataAlarmBox .col-md-1 {
    width: 11%;
}

#dataAlarmBox .col-md-11 {
    width: 89%;
}

.dm-box1 table {
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
}

.dm-box1 table th, .dm-box1 table td {
    text-align: center;
}

.dm-box1 table thead tr th {
    border: none;
}

.dm-box1 input[type="radio"], .dm-box1 input[type="checkbox"] {
    vertical-align: middle;
    margin-top: 0;
}

.dm-box1 select, .dm-box1 input[type="text"], .dm-box1 input[type="number"] {
    width: 200px;
}

.dm-box1-left, .dm-box1-right {
    background: #F3F3F3;
    height: 100vh;
    float: left;
}

.dm-box1-left {
    width: calc(100% - 362px);
    background: #F0F0F0;
    padding-left: 8px;
    border-left: 1px solid #eae8ea;
    border-right: 1px solid #eae8ea;
}

.dm-box1-right {
    width: 346px;
    margin-left: 8px;
    height: 100vh;
    border-left: 1px solid #eae8ea;
    background-color: #F3F3F3;
}

.dm-box1-header {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border-bottom: 1px solid #e3e3e3;
}

.dm-box1-content {
    padding-top: 10px;
    height: calc(100vh - 160px);
    overflow-y: auto;
    overflow-x: hidden;
}

#dataAlarmForm {
    padding-top: 10px;
}

#dataAlarmForm .dataAlarmForm {
    position: relative;
    top: 6px;
    left: 0;
}

#diagnosisAlarmForm .form-group {
    margin: 0px;
    margin-bottom: 10px;
}

#diagnosisAlarmForm .diagnosisAlarm-label {
    color: #222222;
    padding: 0;
    text-align: right;
}

#alarmPointListUl {
    border: 1px solid #ccc;
    background: #e7e7e7;
    padding: 10px;
    min-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

#alarmPointListUl .alarm-point-li {
    float: left;
    padding: 2px 5px;
    margin: 2px 5px;
    border: 1px solid orange;
    border-radius: 5px;
}

/* ------------ 数据报警  end  ------------ */

/* ------------ 数据管理 - 诊断 end  ------------ */

.pointList tr:hover {
    background-color: #ddd;
}

#dataManagePagination a {
    border: 1px solid #ccc !important;
}

.dataManagerBox .pagination .active a {
    color: orange !important;
}

.dataManagerBox .pointList .active td {
    background: #f0ad4e;
    color: #fff;
}

#cloudPagination.pagination > li > a, #cloudPagination.pagination > li > span, #allPointPagination > li > a {
    border: 1px solid #ccc !important;
}

#allPointPagination {
    margin: 10px;
}

#pointCalcTbody td {
    text-align: left;
}

.point-form-body {
    margin: 0 0 10px 0;
    border-top: 1px solid #e3e3e3;
    padding: 10px 0;
    border-bottom: 1px solid #e3e3e3;
    height: 76vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#pointForm .point_from_content {
    margin: 0 0 10px 0;
    padding: 30px 15px 0 10px;
    border-bottom: none;
    height: 80vh;
    background: #F3F3F3;
}

.pointSection {
    padding: 6px;
}

.point_form_main {
    border: 1px solid #eae9ea;
    margin-left: 5px;
}

.point_form_main .icon {
    margin-top: 8px;
}

.inputBox {
    width: 150px;
    position: relative;
    margin: 4px 0 0 21px;
}

.partingine:after {
    content: "";
    background: #eae9ea;
    width: 1px;
    height: 18px;
    display: inline-block;
    position: relative;
    right: 0;
    top: 3px;
    margin-left: 20px;
}

#input-group-calendar {
    position: absolute;
    left: 6px;
    top: -4px;
    z-index: 100;
}

#historyTestTimePicker {
    width: 150px;
    height: 28px;
    background: #ffffff;
    padding: 3px 6px 3px 28px;
    border-left-radius: 5px;
    font-size: 13px;
}

#clearInputTime {
    padding: 7px 5px;
    color: #909090;
    background: #ffffff;
    font-size: 10px;
}

#pointInfoUpWrapper .control-label {
    text-align: right;
    color: #666;
}

#dataAlarmForm .control-label-position {
    position: relative;
    top: 7px;
    left: 0;
}

#pointInfoUpWrapper .point_lableWidth {
    width: 6%;
    padding: 0;
    text-align: center;
    font-size: 12px;
    color: #7a7a7a;
    margin-top: 14px;
}

#point_name, #point_notes, #point_mapping {
    border-radius: 0;
    height: 40px;
    margin-top: -3px;
}

.lable_paddingTop {
    padding-top: 6px;
}

.fileNumber {
    padding: 12px 0 0 8px;
}

#pointForm {
    background: #F3F3F3;
}

#pointForm .form-group {
    margin-bottom: 12px;
}

#pointForm .main_group {
    background: #fafafa;
    height: 47px;
    margin: 0;
    font-size: 16px;
    color: #909090;
}

#pointForm .point_from_group {
    margin-bottom: 30px;
}

.point-form-footer {
    text-align: center;
}

.point_from_footer_content {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
}

#calcPointConfirm {
    color: #999999;
    border: 1px solid #c3c3c4;
    background-color: #fff;

}

#calcPointCancel {
    color: #999999;
    border: 1px solid #c3c3c4;
    background-color: #fff;
}

#calcPointSave {
    color: #fff;
    border: 1px solid #1e79e7;
    background-color: #2084fd;
}

#multiplePointForm tr {
    height: 30px;
}

#multiplePointForm input.error {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
    outline: thin auto red;
}

#batch_history .tooltip {
    width: 200px;
}

#batch_history[disabled] {
    background: #ccc;
}

#batch_history[disabled] #batchHistoryTooltip {
    display: inline-block;
}

#batch_history #batchHistoryTooltip {
    display: none;
}

/*editableTableWidget start*/
.editableTableWidget th {
    -webkit-user-select: none;
}

#multiplePointTable td {
    padding: 0;
}

#multiplePointTable td .autoComplete {
    border: none;
}

#cloudPointWrapper .editableTableWidget .selected {
    background: #f2fbff;
}

.autoHidden {
    width: 260px;
    border: 1px solid #333;
    position: absolute;
    display: none;
}

.autoShow {
    width: 260px;
    border-radius: 4px;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 9999; /* 设置对象的层叠顺序 */
    display: block;
    max-height: 200px;
    overflow: auto;
}

.autoOnmouseover {
    color: #ffffff;
    background-color: #52b0ff;
    width: 100%;
}

.autoOnmouseout {
    color: #000000;
    width: 100%;
    background-color: #ffffff;
}

#historyPointsSearchConfirm {
    width: 100%;
}

.pointFunBox .glyphicon {
    margin-top: 11px;
    margin-left: 6px;
}

#hcPointTree li a {
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#hcPointTree li a:hover {
    cursor: default;
    text-decoration: none;
}

#hcPointTree li a {
    background: transparent;
    border: none;
}

#batchHistoryFilterBox.batchHistoryTimePoint #batchHistoryTimeTo,
#batchHistoryFilterBox.batchHistoryTimePoint #batchHistoryTimeEndBox,
#batchHistoryFilterBox.batchHistoryTimePoint #batchHistoryQuickGenerateBox {
    display: none;
}

#batchHistoryFilterBox #batchHistoryTimeTo,
#batchHistoryFilterBox #batchHistoryTimeEndBox,
#batchHistoryFilterBox #batchHistoryQuickGenerateBox {
    display: inline-block;
}

#diagnosisTreeWrapper {
    width: 100%;
}

#diagnosisTreeBox, #apiTreeBox {
    width: 100%;
    height: 83vh;
    overflow: auto;
}

#diagnosisTreeBox .ztree li a, #apiTreeBox .ztree li a, #diagnosisFilesContent .ztree li a {
    color: #333;
}

#diagnosisTreeUL_1_a #diagnosisTreeUL_1_span {
    color: #999;
}
#diagnosisTreeUL_1 a{
    background-color: transparent;
    border: none;
}

.import-status-icon {
    right: 5px;
    top: 0;
}

/*editableTableWidget end*/

.logContainer {
    height: 700px;
    overflow: auto;
    margin: 0 15px 15px 15px;
}

.tpl-title {
    width: 100px;
    text-align: right;
    display: inline-block;
}

#templateInfo input, #templateInfo textarea {
    width: 80%;
    display: inline-block;
}

/*alarm info*/

/*响应式设置 start*/
@media (max-height: 680px) {
    .diagnosisCodeInfo {
        height: 500px;
        overflow: auto;
    }
}

@media (max-height: 768px) {
    body {
        height: 675px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #wrapper #page-wrapper {
        min-height: 650px;
        overflow: hidden;
    }

    #search_result {
        max-height: 470px;
    }

    #data_alarm_list_table, .sheet {
        font-size: 12px;
    }

    .energy-section {
        min-height: calc(100vh - 275px);
    }

    .text_search_box, .orderBox {
        margin-left: 18px;
    }

    #cloudPointSourceSetBox span {
        font-size: 12px;
    }

    .btnGroup {
        margin-right: 5px;
    }

    #text_search {
        width: 142px;
    }

    #pointCalcTableBox {
        max-height: 370px;
    }
}

@media (min-height: 768px) {
    #tableMonitorBox {
        height: 58%;
    }
}

@media (min-width: 1800px) {
    #servers_table .remark_text, #servers_table .record_text {
        width: 440px;
    }
}

@media (max-width: 1366px) {
    .mediaHide {
        display: none !important;
    }

    .result_right {
        max-width: 320px;
    }

    #pointManageWrapper .sheet-body-wrapper {
        height: 67vh;
    }

    #dataManagerCloudMenu .pointManagerCloudPointUl > li a {
        height: 42px;
        line-height: 42px;
    }

    .pointManagerCloudPointUl {
        margin: 10px 0;
    }

    #buttonGroup {
        padding: 3px 0 3px 0;
        margin: 20px 0 10px;
    }

    .diagnosisCodeInfo {
        margin: 0 0 20px 0;
        padding: 18px 0 0 0;
    }

    #pointForm .point_from_group {
        margin-bottom: 18px;
    }

    #pointForm .point_from_content {
        height: 77vh;
        padding: 18px 15px 0 10px;
    }

    #codeMirrorBox .CodeMirror {
        height: 360px;
    }

    #pointInfoUpWrapper .point_lableWidth {
        width: 10%;
    }

    #cloudPointSourceSet {
        margin-right: -10px;
    }

    #text_search {
        width: 162px;
    }

    .searchIcon {
        left: 138px;
    }

    .widget-sdt-container .table-body {
        height: 67vh !important;
    }

    #dataAlarmForm {
        font-size: 12px;
    }

    .dm-box1 select, .dm-box1 input[type="text"], .dm-box1 input[type="number"] {
        width: 150px;
    }

    #dataAlarmForm .control-label {
        padding: 0;
    }

    #diagnosisTreeBox, #apiTreeBox {
        width: 100%;
        height: 81vh;
        overflow: auto;
    }

    #templateContainer {
        height: 472px;
    }

    #templateTreeMenu {
        height: 380px;
    }
}

/*响应式设置 end*/

/*tag 识别*/
.identifyItem:hover {
    background: #ccc;
}

/*tag 图标*/
.ztree li span.button.iconfont {
    background-image: url('');
    height: 0 !important;
}

/*@formatter:off*/
.icon-shujutubiao01_ico_open:before,
.icon-shujutubiao01_ico_close:before,
.icon-shujutubiao01_ico_docu:before { content: "\e671"; }
.icon-shujutubiao02_ico_open:before,
.icon-shujutubiao02_ico_close:before,
.icon-shujutubiao02_ico_docu:before { content: "\e672"; }
.icon-shujutubiao03_ico_open:before,
.icon-shujutubiao03_ico_close:before,
.icon-shujutubiao03_ico_docu:before { content: "\e673"; }
.icon-shujutubiao04_ico_open:before,
.icon-shujutubiao04_ico_close:before,
.icon-shujutubiao04_ico_docu:before { content: "\e674"; }
.icon-shujutubiao05_ico_open:before,
.icon-shujutubiao05_ico_close:before,
.icon-shujutubiao05_ico_docu:before { content: "\e675"; }
.icon-shujutubiao06_ico_open:before,
.icon-shujutubiao06_ico_close:before,
.icon-shujutubiao06_ico_docu:before { content: "\e676"; }
.icon-shujutubiao07_ico_open:before,
.icon-shujutubiao07_ico_close:before,
.icon-shujutubiao07_ico_docu:before { content: "\e677"; }
.icon-shujutubiao08_ico_open:before,
.icon-shujutubiao08_ico_close:before,
.icon-shujutubiao08_ico_docu:before { content: "\e678"; }
.icon-shujutubiao09_ico_open:before,
.icon-shujutubiao09_ico_close:before,
.icon-shujutubiao09_ico_docu:before { content: "\e679"; }
.icon-shujutubiao10_ico_open:before,
.icon-shujutubiao10_ico_close:before,
.icon-shujutubiao10_ico_docu:before { content: "\e67a"; }
.icon-shujutubiao11_ico_docu:before { content: "\e67b"; }
.icon-shujutubiao12_ico_docu:before { content: "\e67c"; }
.icon-shujutubiao13_ico_docu:before { content: "\e67d"; }
.icon-shujutubiao14_ico_docu:before { content: "\e67e"; }
.icon-shujutubiao15_ico_docu:before { content: "\e67f"; }
.icon-shujutubiao16_ico_docu:before { content: "\e680"; }
.icon-shujutubiao17_ico_docu:before { content: "\e681"; }
.icon-shujutubiao18_ico_docu:before { content: "\e682"; }
.icon-shujutubiao19_ico_docu:before { content: "\e683"; }
.icon-shujutubiao20_ico_docu:before { content: "\e684"; }
.icon-shujutubiao21_ico_docu:before { content: "\e685"; }
.icon-shujutubiao22_ico_docu:before { content: "\e686"; }
.icon-shujutubiao23_ico_docu:before { content: "\e687"; }
.icon-shujutubiao24_ico_docu:before { content: "\e688"; }
.icon-shujutubiao25_ico_docu:before { content: "\e689"; }
.icon-shujutubiao26_ico_docu:before { content: "\e68a"; }
.icon-shujutubiao27_ico_docu:before { content: "\e68b"; }
.icon-shujuguanlisvg28_ico_docu:before { content: "\e68d"; }
.icon-shujuguanlisvg29_ico_docu:before { content: "\e68e"; }
.icon-shujuguanlisvg31_ico_docu:before { content: "\e68f"; }
.icon-shujuguanlisvg32_ico_docu:before { content: "\e690"; }
.icon-shujuguanlisvg33_ico_docu:before { content: "\e691"; }
.icon-shujuguanlisvg34_ico_docu:before { content: "\e692"; }
.icon-shujuguanlisvg35_ico_docu:before { content: "\e693"; }
.icon-shujuguanlisvg38_ico_docu:before { content: "\e694"; }
.icon-shujuguanlisvg39_ico_docu:before { content: "\e695"; }
.icon-shujuguanlisvg40_ico_docu:before { content: "\e696"; }
.icon-shujuguanlisvg41_ico_docu:before { content: "\e697"; }
.icon-shujuguanlisvg43_ico_docu:before { content: "\e698"; }
.icon-shujuguanlisvg44_ico_docu:before { content: "\e699"; }
.icon-shujuguanlisvg45_ico_docu:before { content: "\e69a"; }
.icon-shujuguanlisvg46_ico_open:before,
.icon-shujuguanlisvg46_ico_close:before,
.icon-shujuguanlisvg46_ico_docu:before { content: "\e69b"; }
.icon-shujuguanlisvg47_ico_docu:before { content: "\e69c"; }
.icon-shujuguanlisvg48_ico_docu:before { content: "\e69d"; }
.icon-shujuguanlisvg49_ico_docu:before { content: "\e69e"; }
.icon-shujuguanlisvg50_ico_docu:before { content: "\e69f"; }
.icon-shujuguanlisvg51_ico_docu:before { content: "\e6a0"; }
.icon-shujuguanlisvg52_ico_docu:before { content: "\e6a1"; }
.icon-shujuguanlisvg53_ico_docu:before { content: "\e6a2"; }
.icon-shujuguanlisvg54_ico_docu:before { content: "\e6a3"; }
.icon-shujuguanlisvg55_ico_docu:before { content: "\e6a4"; }
.icon-shujuguanlisvg56_ico_docu:before { content: "\e6a5"; }
.icon-shujuguanlisvg57_ico_docu:before { content: "\e6a6"; }
.icon-shujuguanlisvg58_ico_docu:before { content: "\e6a7"; }
.icon-shujuguanlisvg59_ico_docu:before { content: "\e6a8"; }
.icon-shujuguanlisvg30_ico_docu:before { content: "\e6a9"; }
.icon-shujuguanlisvg36_ico_docu:before { content: "\e6aa"; }
.icon-shujuguanlisvg37_ico_docu:before { content: "\e6ab"; }
.icon-shujuguanlisvg42_ico_docu:before { content: "\e6ac"; }
.icon-shujuguanlisvg60_ico_docu:before { content: "\e6ad"; }
.icon-shujuguanlisvg61_ico_docu:before { content: "\e6ae"; }
.icon-shujuguanlisvg62_ico_docu:before { content: "\e6af"; }
.icon-shujuguanlisvg63_ico_docu:before { content: "\e6b0"; }
.icon-shujuguanlisvg64_ico_docu:before { content: "\e6b1"; }
.icon-shujuguanlisvg65_ico_docu:before { content: "\e6b2"; }
.icon-shujuguanlisvg66_ico_docu:before { content: "\e6b3"; }
.icon-shujuguanlisvg67_ico_docu:before { content: "\e6b4"; }
.icon-shujuguanlisvg68_ico_docu:before { content: "\e6b5"; }
.icon-shujuguanlisvg69_ico_docu:before { content: "\e6b6"; }
.icon-shujuguanlisvg70_ico_docu:before { content: "\e6b7"; }
.icon-shujuguanlisvg71_ico_docu:before { content: "\e6b8"; }
.icon-shujuguanlisvg72_ico_docu:before { content: "\e6b9"; }
.icon-shujuguanlisvg73_ico_docu:before { content: "\e6ba"; }
.icon-shujuguanlisvg74_ico_docu:before { content: "\e6bb"; }
.icon-shujuguanlisvg75_ico_docu:before { content: "\e6bc"; }
.icon-shujuguanlisvg76_ico_docu:before { content: "\e6bd"; }
.icon-shujuguanlisvg77_ico_docu:before { content: "\e6be"; }
.icon-shujuguanlisvg78_ico_docu:before { content: "\e6bf"; }
.icon-shujuguanlisvg79_ico_docu:before { content: "\e6c0"; }
.icon-shujuguanlisvg80_ico_docu:before { content: "\e6c1"; }
.icon-shujuguanlisvg81_ico_docu:before { content: "\e6c2"; }
.icon-shujuguanlisvg82_ico_docu:before { content: "\e6c3"; }
.icon-shujuguanlisvg83_ico_docu:before { content: "\e6c4"; }
.icon-shujuguanlisvg84_ico_docu:before { content: "\e6c5"; }
.icon-shujuguanlisvg85_ico_docu:before { content: "\e6c6"; }
.icon-shujuguanlisvg86_ico_docu:before { content: "\e6c7"; }
.icon-shujuguanlisvg87_ico_docu:before { content: "\e6c8"; }
.icon-shujuguanlisvg88_ico_docu:before { content: "\e6c9"; }
.icon-shujuguanlisvg89_ico_docu:before { content: "\e6ca"; }
.icon-shujuguanlisvg90_ico_docu:before { content: "\e6cb"; }
.icon-shujuguanlisvg91_ico_docu:before { content: "\e6cc"; }
.icon-shujuguanlisvg92_ico_docu:before { content: "\e6cd"; }
.icon-shujuguanlisvg93_ico_docu:before { content: "\e6ce"; }
.icon-shujuguanlisvg94_ico_docu:before { content: "\e6cf"; }
.icon-shujuguanlisvg95_ico_docu:before { content: "\e6d0"; }
.icon-shujuguanlisvg97_ico_docu:before { content: "\e6d1"; }
.icon-shujuguanlisvg98_ico_docu:before { content: "\e6d2"; }
.icon-shujuguanlisvg100_ico_docu:before { content: "\e6d3"; }
.icon-shujuguanlisvg721_ico_docu:before { content: "\e6d4"; }
.icon-shujuguanlisvg731_ico_docu:before { content: "\e6d5"; }
.icon-shujuguanlisvg741_ico_docu:before { content: "\e6d6"; }
.icon-shujuguanlisvg751_ico_docu:before { content: "\e6d7"; }
.icon-shujuguanlisvg761_ico_docu:before { content: "\e6d8"; }
.icon-shujuguanlisvg771_ico_docu:before { content: "\e6d9"; }
.icon-shujuguanlisvg781_ico_docu:before { content: "\e6da"; }
.icon-shujuguanlisvg791_ico_docu:before { content: "\e6db"; }
.icon-shujuguanlisvg801_ico_docu:before { content: "\e6dc"; }
.icon-shujuguanlisvg811_ico_docu:before { content: "\e6dd"; }
.icon-shujuguanlisvg661_ico_docu:before { content: "\e6de"; }
.icon-shujuguanlisvg671_ico_docu:before { content: "\e6df"; }
.icon-shujuguanlisvg681_ico_docu:before { content: "\e6e0"; }
.icon-shujuguanlisvg691_ico_docu:before { content: "\e6e1"; }
.icon-shujuguanlisvg701_ico_docu:before { content: "\e6e2"; }
.icon-shujuguanlisvg711_ico_docu:before { content: "\e6e3"; }
.icon-shujuguanlisvg631_ico_docu:before { content: "\e6e4"; }
/*@formatter:on*/