<!DOCTYPE html>
<html>
<head>
    <meta name="pdfkit-page-width" content="{pageWidth}"/>
    <meta name="pdfkit-page-height" content="{pageHeight}"/>
    <meta name="pdfkit-encoding" content="{encoding}"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <style type="text/css">
        .panel {
            border-radius: 0 !important;
        }
    </style>
</head>
<body class="container-fluid" style="">
    <div class="row">
        <nav class="col-xs-12 navbar-default" id="indexNav">
            <div id="divNavWrap">
                <div class="left-nav">
                    <div>本报告由 Beop 数据分析生成</div>
                </div>
            </div>
        </nav>
        <div class="col-xs-12" id="reportContainer">{entitiesHtml}</div>
    </div>
</body>
</html>