<style>
    .list-unstyled .listBorder{
        padding: 15px 1.8rem;
    }
    .list-unstyled .listBorder > span{
        position: relative;
        top: -.5rem;
        left: 1rem;
    }
    .list-unstyled .listBorder .opt-btn{
        float: right;
        position: relative;
        top: .8rem;
    }
    #modeCtrlCtn{
        background-color: rgb(60,66,80);
        position: relative;
        overflow: hidden;
    }
    #divBtnCtn{
        text-align: center;
        padding: 2rem;
    }
    #divBtnCtn .btn{
        margin-left: 10%;
        margin-right: 10%;
    }
    #divBtnCtn .btn:first-of-type{

    }
    #divBtnCtn .btn:nth-of-type(2){

    }
</style>

<!-- 日程列表 -->
<div id="listModePane">
    <ul class="list-unstyled" id="ulMode">
        <li class="listBorder itemMode" data-mode="0">
            <i class="iconfont">&#xe64b;</i>
            <span i18n="admin.schedule.MS_FIRST">女士优先</span>
            <!-- <span class="glyphicon glyphicon-ok"></span> -->
            <div class="opt-btn btn-switch-off"><div class="btn-switch-slider"></div></div><!--  ontouchend="if ($(this).hasClass('btn-switch-off')) { router.ctrlSet.hide() }" -->
        </li>
        <li class="listBorder itemMode" data-mode="1">
            <i class="iconfont">&#xe668;</i>
            <span i18n="admin.pattern.ENERGY_SAVING_MODE">节能模式</span>
            <!-- <span class="glyphicon glyphicon-ok"></span> -->
            <div class="opt-btn btn-switch-off"><div class="btn-switch-slider"></div></div><!--  ontouchend="if ($(this).hasClass('btn-switch-off')) { router.ctrlSet.hide() }" -->
        </li>
        <li class="listBorder itemMode" data-mode="2">
            <i class="iconfont">&#xe667;</i>
            <span i18n="admin.pattern.COMFORTABLE_MODE">舒适模式</span>
            <!-- <span class="glyphicon glyphicon-ok"></span> -->
            <div class="opt-btn btn-switch-off"><div class="btn-switch-slider"></div></div><!--  ontouchend="if ($(this).hasClass('btn-switch-off')) { router.ctrlSet.hide() }" -->
        </li>
        <li class="listBorder itemMode" data-mode="10">
            <i class="iconfont">&#xe666;</i>
            <span i18n="admin.pattern.MANUAL_MODE">手动模式</span>
            <!-- <span class="glyphicon glyphicon-ok"></span> -->
            <div class="opt-btn btn-switch-off"><div class="btn-switch-slider"></div></div><!--   ontouchend="if($(this).hasClass('btn-switch-off')){router.ctrlSet.show($('#modeCtrlCtn')[0], 'mode')}" -->
        </li>
    </ul>
    <div id="modeCtrlCtn"></div>
</div>
