<!--确认是否删除点浮动窗口开始-->
<article id="isDelPointWin" class="modal fade confirmWin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提示：</h4>
            </div>
            <div class="modal-body">
                <p class="infoPrompt">是否确认删除这些点：</p>

                <p class="delete-points">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button id="deleteRowConfirm" type="button" class="btn btn-primary">确认
                </button>
            </div>
        </div>
    </div>
</article>
<!--确认是否删除点浮动窗口结束-->
<!--确认是否下装点浮动窗口开始-->
<article id="isUpdatePointWin" class="modal fade confirmWin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提示：</h4>
            </div>
            <div class="modal-body">
                <p class="infoPrompt">是否确认下装这些点：</p>

                <p class="update-points">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button id="updateRowConfirm" type="button" class="btn btn-primary">确认
                </button>
            </div>
        </div>
    </div>
</article>
<!--确认是否下装点浮动窗口结束-->
<!--编辑点浮动窗口开始-->
<article id="editPointWin" class="modal fade confirmWin">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="pointForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 id="editTitle" class="modal-title">编辑点</h4>
                </div>
                <div class="modal-body oh">

                    <section id="pointInfoUpWrapper" class="oh">
                        <section class="fl mr25" id="pointBasicWrapper">
                            <p>
                                <span class="basicParameterName">变量ID：</span>
                                <input type="text" id="point_id" class="form-control" name="value" value="" required/>
                            </p>

                            <p>
                                <span class="basicParameterName">点来源/类型：</span>
                                <select id="point_source" class="form-control" name="source" required>
                                    <option value="phoenix370">phoenix370</option>
                                    <option value="simense1200">simense1200</option>
                                    <option value="simense300">simense300</option>
                                    <option value="simense1200TCP">simense1200TCP</option>
                                    <option value="simense300TCP">simense300TCP</option>
                                    <option value="ab500">ab500</option>
                                    <option value="honeywellebi">honeywellebi</option>
                                    <option value="modbus">modbus</option>
                                    <option value="vpoint">vpoint</option>
                                    <option value="bacnet">bacnet</option>
                                    <option value="protocol104">protocol104</option>
                                    <option value="lonworks">lonworks</option>
                                    <option value="DB-Access">DB-Access</option>
                                    <option value="DB-SQLServer">DB-SQLServer</option>
                                    <option value="DB-Oracle">DB-Oracle</option>
                                    <option value="DB-MySQL">DB-MySQL</option>
                                    <option value="custom1">custom1</option>
                                    <option value="custom2">custom2</option>
                                    <option value="custom3">custom3</option>
                                    <option value="custom4">custom4</option>
                                    <option value="custom5">custom5</option>
                                    <option value="DanfossFCProtocol">DanfossFCProtocol</option>
                                    <option value="Insight">Insight</option>
                                    <option value="WinCC1">WinCC1</option>
                                    <option value="KinCC1">KinCC1</option>
                                    <option value="KingView1">KingView1</option>
                                    <option value="ArchestrA3">ArchestrA3</option>
                                    <option value="KEPware4">KEPware4</option>
                                </select>
                            </p>
                            <p>
                                <span class="basicParameterName">释义/注释：</span>
                                <input type="text" id="point_notes" class="form-control" name="note" value=""/>
                            </p>

                            <p>
                                <span class="basicParameterName">单位：</span>
                                <select id="point_unit" class="form-control" name="Unit">
                                    <option value=""></option>
                                    <option value="0">%</option>
                                    <option value="1">kPa</option>
                                    <option value="2">℃</option>
                                    <option value="3">h</option>
                                    <option value="4">Hz</option>
                                    <option value="5">V</option>
                                    <option value="6">Kw</option>
                                    <option value="7">ls</option>
                                    <option value="8">KWh</option>
                                    <option value="9">m3/h</option>
                                </select>
                            </p>

                            <p>
                                <span class="basicParameterName">读写属性：</span>
                                <select id="point_rw_attr" class="form-control" name="RWProperty">
                                    <option value=""></option>
                                    <option value="0">读</option>
                                    <option value="1">写</option>
                                </select>
                            </p>
                        </section>
                        <section class="fl mr25" id="pointFixedWrapper">
                            <section>
                                <div class="mb15 w200">
                                    <div>最大值</div>
                                    <select class="point_bind_set form-control"></select>
                                </div>
                                <div class="mb15 w200">
                                    <div>最小值</div>
                                    <select class="point_bind_set form-control"></select>
                                </div>
                                <div class="mb15 oh">
                                    <input id="point_jurisdiction" type="checkbox" name="param14" class="mr5"
                                           value=""/>
                                    <span>第三方访问权限</span>
                                </div>
                                <div class="mb15 oh">
                                    <div>存储周期</div>
                                    <div>
                                        <select id="point_storage_period" name="storecycle"
                                                class="form-control">
                                            <option value="-1" disabled="disabled">请选择存储周期</option>
                                            <option value="1">不存储</option>
                                            <option value="2">5秒钟</option>
                                            <option value="3">1分钟</option>
                                            <option value="4">5分钟</option>
                                            <option value="5">半小时</option>
                                            <option value="6">1小时</option>
                                            <option value="7">1天</option>
                                            <option value="8">1周（7天）</option>
                                            <option value="9">1个月</option>
                                            <option value="10">1年</option>
                                        </select>
                                    </div>
                                </div>
                            </section>
                        </section>

                        <section class="fl" id="pointOtherWrapper">
                            <section class="fl">
                                <div class="mb15 oh">
                                    <div>自定义</div>
                                    <input id="point_custom" type="text" value="" class="form-control"
                                           name="customName">
                                </div>
                                <div class="mb15 oh">
                                    <div>系统</div>
                                    <select id="point_system" name="system" class="form-control">
                                        <option value="-1" disabled="disabled">请选择系统</option>
                                        <option value="0">无</option>
                                        <option value="1">暖通</option>
                                        <option value="2">动力</option>
                                        <option value="3">照明插座</option>
                                        <option value="4">精密空调</option>
                                    </select>
                                </div>
                                <div class="mb15 oh">
                                    <div>设备</div>
                                    <select id="point_equipment" name="device" class="form-control">
                                        <option value="-1" disabled="disabled">请选择设备</option>
                                        <option value="0">无</option>
                                        <option value="1">冷机</option>
                                        <option value="2">水泵</option>
                                        <option value="3">冷却塔</option>
                                        <option value="4">AHU</option>
                                        <option value="5">VAV</option>
                                        <option value="6">系统</option>
                                    </select>
                                </div>
                                <div class="mb15 oh">
                                    <div>类型</div>
                                    <select id="point_type" name="type" class="form-control">
                                        <option value="-1" disabled="disabled">请选择类型</option>
                                        <option value="0">无</option>
                                        <option value="1">电量表</option>
                                        <option value="2">冷量表</option>
                                        <option value="3">温度</option>
                                        <option value="4">流量</option>
                                        <option value="5">压力</option>
                                        <option value="6">电流</option>
                                        <option value="7">功率</option>
                                        <option value="8">频率</option>
                                        <option value="9">启停</option>
                                        <option value="10">报警</option>
                                    </select>
                                </div>
                            </section>
                        </section>
                    </section>
                    <section id="pointInfoDownWrapper" class="oh">
                        <section class="pr10" id="pointRelatedWrapper"></section>
                    </section>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" id="editPointConfirm" class="btn btn-primary">确认</button>
                </div>
            </form>
        </div>
    </div>
</article>
<!--编辑点浮动窗口结束-->
<div id="buttonGroup" class="oh">
    <div class="fl">
        <select id="select_project" class="form-control" name="select_project">
            <option disabled selected>请选择项目</option>
        </select>

        <div class="btn-group" role="group">
            <div id="point_set" class="btn">
                <span class="glyphicon glyphicon-cog db" aria-hidden="true"></span>
                <span>点来源</span>
            </div>
            <div id="standard_set" class="btn">
                <span class="glyphicon glyphicon-cog db" aria-hidden="true"></span>
                <span>标准点名</span>
            </div>
        </div>

        <div class="btn-group" role="group">
            <div id="point_add" class="btn">
                <span class="glyphicon glyphicon-plus db" aria-hidden="true"></span>
                <span>add</span>
            </div>
            <div id="point_edit" class="btn">
                <span class="glyphicon glyphicon-edit db" aria-hidden="true"></span>
                <span>edit</span>
            </div>
            <div id="point_delete" class="btn">
                <span class="glyphicon glyphicon-remove db" aria-hidden="true"></span>
                <span>delete</span>
            </div>
            <div id="point_save" class="btn">
                <span class="glyphicon glyphicon-save db" aria-hidden="true"></span>
                <span>save</span>
            </div>
        </div>
    </div>
    <div class="btn-group" role="group">
        <div id="point_import" class="btn">
            <span class="glyphicon glyphicon-import db" aria-hidden="true"></span>
            <span>import</span>
            <input type="file" id="uploadInput"
                   accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </div>
        <a id="point_export" class="btn" target="_blank">
            <span class="glyphicon glyphicon-export db" aria-hidden="true"></span>
            <span>export</span>
        </a>
    </div>
    <div class="btn-group" role="group">
        <div id="point_check" class="btn">
            <span class="glyphicon glyphicon-check db" aria-hidden="true"></span>
            <span>check</span>
        </div>
        <div id="point_update" class="btn">
            <span class="glyphicon glyphicon-refresh db" aria-hidden="true"></span>
            <span>下装</span>
        </div>
    </div>
    <div class="btn-group" role="group">
        <div id="point_undo" class="btn">
            <span class="glyphicon glyphicon-arrow-left db" aria-hidden="true"></span>
            <span>undo</span>
        </div>
        <div id="point_redo" class="btn">
            <span class="glyphicon glyphicon-arrow-right db" aria-hidden="true"></span>
            <span>redo</span>
        </div>
    </div>
    <input type="text" id="text_search" class="form-control mr10 fl" value="" placeholder="查找"/>
</div>
<div id="pointManageWrapper">
    <p><span class="count"></span> results</p>

    <div id="sheet"></div>
</div>

<script type="text/html" id="tpl_source_type_options_table">
    <option value="-1" disabled="disabled">请选择点来源/类型</option>
    <!for(var sourceName in sourceTypes){!>
        <option value="<!=sourceName!>"><!=sourceName!></option>
    <!}!>
</script>

<script type="text/html" id="tpl_source_type_name">
    <!for(var i=0; i < 10; i++){!>
    <!var name = typeData["param" + (i + 1)] ? typeData["param" + (i + 1)] : '预约参数' + (i + 1);!>
    <div class="reserveParamWrapper">
        <div class="w150 ellipsis m_auto" title="<!=name!>"><!=name!></div>
        <input type="text" value="" class="form-control m_auto reserveParamObj" name="param<!=(i + 1)!>"/>
    </div>
    <!}!>
</script>

<script type="text/html" id="tpl_delete_point_list">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!for(var m=0; m < list.length; m++){!>
        <!var data=list[m].data;!>
        <tr>
            <th scope="row"><!=m+1!></th>
            <td><!=data.value!></td>
            <td><!=data.params.source!></td>
        </tr>
        <!}!>
        </tbody>
    </table>
</script>