<style>
    #indexMain {
        overflow: hidden;
    }
    
    #btnProjectMap {
        display: none;
    }
    
    #iconMap {
        background-position: -14.5rem 0;
    }
    /*.noBtnBack #btnBack {
        display: inline-flex;
        display: -webkit-inline-flex;
    }*/
    
    .noBtnBack #btnBack.enable {
        display: inline-flex;
        display: -webkit-inline-flex;
    }
    
    #ulProjectList {
        height: calc(100% - 48px);
        width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .liProject {
        border-bottom: 1px solid rgba(200, 199, 204, 0.13);
        height: 6rem;
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }
    
    .liProject:last-child {
        border-bottom: none;
    }
    
    .liProject.selected {
        background: rgba(97, 85, 107, 0.36);
    }
    
    .projectIcon {
        width: 5rem;
        padding: 0.5rem;
        height: 5rem;
        align-items: center;
    }
    
    .projectIcon img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
    
    .projectName {
        font-size: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 5rem);
        color: #eee;
        padding-left: .5rem;
    }
    
    .offline .projectName {
        color: rgb(183, 181, 191);
    }
    
    .projectInfo {
        display: flex;
        align-items: center;
        width: calc(100% - 5rem);
        width: -webkit-calc(100% - 5rem);
        padding: 1rem 0.5rem;
    }
    
    .projectStatus {
        width: 7rem;
        text-align: right;
    }
    
    .projectStatus.online {
        color: rgb(245, 205, 73);
        font-size: 1rem;
    }
    /*@media (max-device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
    /*    .projectIcon{
            width: 11rem;
        }
        .projectName{
            font-size: 1.8rem;
        }
        .projectInfo{
            width: calc(100% - 11rem);
        }
    }*/
    
    .iconSelect {
        font-size: 1.6rem;
        color: darkorange;
    }
    
    .btnProjPriority {
        padding: 0.4rem;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    
    #ctnPrioritySet.on {
        z-index: 1001;
        height: 6rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
    }
    
    #ctnPrioritySet.off {
        display: none;
    }
    
    #dropdownBack {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        background-color: rgba(10, 10, 10, 0.15);
    }
    
    #divCurPriority {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 40%;
    }
    
    #divPrioritySet {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    
    #divPrioritySet .btnPriorityMode {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 24%;
        text-align: center;
    }
    
    #divPrioritySet .btnIcon {
        display: block;
        font-size: 3rem;
        top: 1rem;
    }
    
    #divPrioritySet .btnTitle {
        display: block;
        font-size: 1rem;
        position: relative;
        top: 1rem;
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
    
    .grayFillter {
        -webkit-filter: grayscale(90%);
        -moz-filter: grayscale(90%);
        -ms-filter: grayscale(90%);
        -o-filter: grayscale(90%);
        filter: grayscale(90%);
        filter: gray;
    }
    
    .offlineStatus {
        color: rgb(180, 180, 180);
    }
    
    .offlineStatus .iconfont {
        font-size: 2.4rem;
    }
    
    #projSearch .spSearch {
        position: relative;
    }
</style>
<div id="projSearch"><span class="navTopItem input spSearch"><i class="iconfont">&#xe713;</i><input class="iptSearch" placeholder="搜索"></span></div>
<div id="ulProjectList">
</div>
<div id="ctnPrioritySet" class="off">

    <div id="divPrioritySet">
        <div id="btnPriorityTop" class="btnPriorityMode zepto-ev">
            <span class="btnIcon glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span>
            <span class="btnTitle">置顶</span>
        </div>
        <div id="btnPriorityUp" class="btnPriorityMode zepto-ev">
            <span class="btnIcon glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            <span class="btnTitle">向上一级</span>
        </div>
        <div id="btnPriorityBottom" class="btnPriorityMode zepto-ev">
            <span class="btnIcon glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
            <span class="btnTitle">置底</span>
        </div>
        <div id="btnPriorityDown" class="btnPriorityMode zepto-ev">
            <span class="btnIcon glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <span class="btnTitle">向下一级</span>
        </div>
    </div>
</div>