<div class="full-box" id="diagnosisConfigScreenWrap">
    <style>
        #diagnosisConfigScreenWrap {
            position: relative;
        }

        #diagnosisConfigScreen {
            width: 100%;
            height: 100%;
            padding: 20px;
        }

        #diagnosisConfigScreen .stage-top {
            height: 70%;
            position: relative;
        }

        #diagnosisConfigScreen .stage-bottom {
            height: 30%;
            position: relative;
            padding: 10px;
            display: none;
        }

        #equipLayerWrap {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border-radius: 15px;
            background-color: #576781;
            padding: 32px;
            border: 2px solid #1b2839;
        }

        #equipLayer {
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 15px;
        }

        #equipLayer > .konvajs-content {
            border-radius: 15px;
            border: 2px solid #313f53;
        }

        #topLayer {
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        #animLayer, #decorateLayer {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #decorateLayer {
            z-index: 1;
        }

        .full-box {
            width: 100%;
            height: 100%;
        }

        .stage-bottom > div {
            background-color: #1D2A3A;
            height: calc(100% - 25px);
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #1D2A3A;
            overflow-y: auto;
        }

        .stage-bottom .media {
            background-color: #203040;
            padding: 10px 20px;
            border-radius: 20px;
            border: 1px solid #203040;
            cursor: pointer;
        }

        .stage-bottom .media-body {
            color: #4B5A6D;
        }

        .stage-bottom .media-body h4 {
            font-size: 14px;
            color: #5C6C83;
        }

        .stage-bottom .media .close {
            float: none;
            position: absolute;
            right: 25px;
            top: 5px;
            color: #B5B5B7;
            opacity: 1;
        }

        .stage-bottom .row > div {
            margin-bottom: 15px;
        }

    </style>
    <div id="diagnosisConfigScreen">
        <div class="stage-top">
            <!-- 动画层 -->
            <div id="topLayer">
                <div id="decorateLayer"></div>
                <div id="animLayer"></div>
            </div>
            <!-- 设备层 -->
            <div id="equipLayerWrap">
                <div id="equipLayer"></div>
            </div>
        </div>
    </div>
    <div style="display:none;">
        <img id="imgBall" src="/static/images/diagnosisEngine/ball.png"/>
    </div>
</div>