<style>
    #containerWorkFlowList{
        height: calc(100% - 3.5rem);
        height: -webkit-calc(100% - 3.5rem);
        overflow: auto;
        position: relative;
        -webkit-overflow-scrolling: touch;
    }
    #btnworkflowSelect {
        font-size: 2rem;
        top: 0.6rem;
    }
    #btnWorkFlowSort {
        font-size: 2rem;
        top: 0.6rem;
        right: calc(6% + 2.4rem);
        right: -webkit-calc(6% + 2.4rem);
    }
    #iconWorkFlowAdd {
        background-position: -19.2rem 0;
    }
    .liWkRecord {
        position: relative;
        border-bottom: 1px solid #ccc;
    }
    .liWkRecord:last-child {
        border-bottom: none;
    }
    .divHead{
        position: relative;
        height: 3rem;
        width: calc(100% - 1rem);
        width: -webkit-calc(100% - 1rem);
        margin-left: 1rem;
        display: flex;
        display: -webkit-inline-flex;
        align-items: center;
        -webkit-align-items: center;
        border-bottom: 1px solid rgba(100,100,100,0.1);
        padding: 0 1rem 0 0;
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }
    .divDetail {
        padding: 0.5rem 1rem;
        position: relative;
        height: 4.2rem;
    }
    .wkEmergency {
        display: inline-flex;
        display: -webkit-inline-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        height: 2.4rem;
        width: 2.4rem;
        border-radius: 1.2rem;
        position: relative;
        top: 0.3rem;
        margin-right: 1rem;
        background-color: red;
    }
    .wkEmergency svg{
        height: 1.5rem;
        width: 1.5rem;
    }
    .wkEmergency path{
        fill: white;
        stroke: white;
    }
    .wkEmergency_0{
        background-color: #63b962;
    }
    .wkEmergency_1{
        background-color: #fead21;
    }
    .wkEmergency_2{
        background-color: red;
    }
    .wkTitle {
        position: static;
        left: 2.5rem;
        font-size: 1.7rem;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 10rem);
        width: -webkit-calc(100% - 10rem);
        display: inline-block;
    }
    .wkInfo {
        width: calc(100% - 12rem);
        width: -webkit-calc(100% - 12rem);
        position:relative;
        top: -0.4rem;
        height: 1.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: inline-block;
    }
    .wkCreator {
        display: inline-block;
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        font-size: 1rem;
        width: 8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .wkExecutor {
        display: inline-block;
        position: absolute;
        right: 1rem;
        top: 2.3rem;
        font-size: 1rem;
        width: 8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .spAssignArrow {
        font-size: 1rem;
        color: #949494;
        position: absolute;
        right: 2.5rem;
        top: 1.7rem;
    }
    .wkDate {
        font-size: 1rem;
        font-family: Helvetica;
    }
    #divWorkflowTool {
        height: 3rem;
        width: 100%;
        position: relative;
        z-index: 3;
        font-size: 1.4rem;
        background: -webkit-gradient(linear, 0% 100%, 100% 100%,from(rgba(116, 97, 111, 0.5)), to(rgba(118, 109, 136, 0.5)));
    }
    #divWorkflowTool .caret{
        margin-left: 5px;
    }
    #divWorkflowTool .ulWkDropDown {
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: left;
        list-style-type: none;
        display: none;
        background-color: white;
        border-top: 1px solid #eee;
    }
    .ulWkDropDown li{
        font-size: 1.4rem;
        padding: 0.8rem 2.2rem;
        border-bottom: 1px solid #eee;
    }
    #workflowSelect {
    }
    #workflowSelect .dropdown-menu, #workflowSort .dropdown-menu{
        min-width: 96px;
        background-color: rgba(53,126,236,0.92);
        color: #fff;
    }
    #workflowSort .dropdown-menu {
        left: initial;
        right: 0;
    }
    #workflowSort{
    }
    #workflowSelect .dropdown-menu li, #workflowSort .dropdown-menu li{
        padding: 1px 12px;
    }
    #divWorkflowTool .dropdown .dropdown-toggle{
        color: rgb(53,126,236);
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        font-weight: 500;
    }
    #divWorkflowTool .dropdown.open .dropdown-toggle{
        background-color: rgba(53,126,236,0.92);
        color: #fff;
    }
    .wkGetStatus {
        display: inline-block;
        position: absolute;
        left: 4.5rem;
        bottom: 0.4rem;
        font-size: 1rem;
        color: #969696;
    }
    .true {
        background-color: white;
    }
    .wkTool {
        width: 32%;
        height: 100%;
        display: inline-flex;
        display: -webkit-inline-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        color: #F3C952;
        opacity: 0.8;
    }
    .wkTool.on{
        opacity: 1;
    }
    .wkTool>div {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
    }
    .wkTool:last-of-type>div {
        border: none;
    }
    .ulWkDropDown .glyphicon{
        position: relative;
        top: 0.1rem;
        height: 1.4rem;
        display: inline-flex;
        display: -webkit-inline-flex;
        align-items: center;
    }
    .liVal {
        margin-left: 0.6rem;
    }
    .backDrop {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.25);
        display: none;
    }
    .btnWkDivide.btnSubWkSel{
        padding: 0.8rem 4rem;
    }
    .divWkItem{
        width:100%;
        /* height:13rem; */
        padding-top:1.5rem;
        border-bottom:1px solid rgba(200,199,204,0.13);
    }

    .spUserFrom{
        width:10%;
        height:100px;
        margin-left:20px;
        margin-right:12px;
    }
    .spUserFrom img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: block;
        box-shadow: 0 0 2px 0px #eee;
    }
    .spUserFrom,.divWkItem .spTitle,.divWkItem .spContent,.divWkItem  .spUserGrp{
        display: block;
        float:left;
    }
    .divWkItem .spTitle{
        width:60%;
        height:25px;
        font-size:16px;
        color:#ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .divWkItem .spContent{
        width:78%;
        max-height:60px;
        color:#e9e5e9;
        font-size:1.4rem;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
    .divWkItem .spUserGrp{
        width:80%;
        height:46px;
        padding-top:8px;
    }
    .divWkItem .spUserGrp>span{
        padding-right:8px;
    }
    .spUserGrp .spUserCreate img,.spUserGrp .spUserRelate img{
        width:30px;
        height:30px;
        border-radius: 50%;
    }
    .spUserGrp .spUserRelate img{
        margin-right:5px;
    }
    .divInfo{
        display:block;
        clear:both;
        margin:0 auto;
        padding:0.3rem 0 0 0;
        height:3rem;
        width:100%;
        color:#c8bac9;
        line-height: 2.5rem;
        border-top: 1px solid rgba(99, 88, 114,0.2);
    }
    .divInfo .spDueDate{
        position:absolute;
        right: 1.6rem;
    }
    .divInfo .spReplyNum{
        padding-left:6px;
        position: relative;
        top: -1px;
    }
    .divInfo .spStatus:not(:empty){
        padding-left:0px;
        position: relative;
        top: -1px;
        margin-right: 10px;
    }

    .divInfo .spCritical{
        padding:2px 10px;
        color:#363341;
        border-radius: 10px;
        position: relative;
        top: -2px;
    }
    .divInfo .spReply{
        width: 10%;
        display: inline-block;
        margin-left: 20px;
        margin-right: 12px;
    }
    .spCritical.critical-0{
        background: rgba(48, 157, 226, 0.8);
        color: #fff;
        font-size: 12px;
    }
    .spCritical.critical-1{
        background: rgba(255, 0, 0, 0.7);
        color: #fff;
        font-size: 12px;
    }
    .spCritical.critical-2{
        background: #f7cd4a;
        box-shadow: 0px 2px 10px rgba(247,205,74,0.3);
    }
    .divInfo.spCritical{
        position: absolute;
        transform: translateX(50%);
    }
</style>
<div id="divWorkflowTool">
    <div id="workflowDivide" class="wkTool zepto-ev">
        <div id="btnWkDivide">
            <span id="wkType" i18n="appDashboard.workflow.DIVIDE"></span>
            <span class="caret"></span>
        </div>
    </div>
    <ul id="ulWkDivide" class="ulWkDropDown">
        <li id="btnProgress" class="btnWkDivide selected zepto-ev">
            <span class="glyphicon glyphicon-play" aria-hidden="true" style="color:black"></span>
            <span class="liVal" i18n="appDashboard.workflow.IN_PROGRESS"></span>
        </li>
        <li id="btnCreatedByMe" class="btnWkDivide zepto-ev">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:cornflowerblue"></span>
            <span class="liVal" i18n="appDashboard.workflow.CREATED_BY_ME"></span>
        </li>
        <li id="btnFinishedByMe" class="btnWkDivide zepto-ev">
            <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:mediumseagreen"></span>
            <span class="liVal" i18n="appDashboard.workflow.COMPLETE_BY_ME"></span>
        </li>
        <li id="btnInvolvedByMe" class="btnWkDivide zepto-ev">
            <span class="glyphicon glyphicon-random" aria-hidden="true" style="color:tomato"></span>
            <span class="liVal" i18n="appDashboard.workflow.INVOLVED_BY_ME"></span>
        </li>
    </ul>
    <div id="workflowSort" class="wkTool zepto-ev">
        <div id="btnWkSort">
            <span id="wkType" i18n="appDashboard.workflow.SORT"></span>
            <span class="caret"></span>
        </div>
    </div>
    <ul id="ulWkSort" class="ulWkDropDown">
        <li id="idSort" class="btnSort zepto-ev">
            <span class="glyphicon glyphicon-sort" aria-hidden="true" style="color:darkorange"></span>
            <span class="liVal" i18n="appDashboard.workflow.PROJECT_NUM">Project Num</span>
        </li>
        <li id="createTimeSort" class="btnSort zepto-ev">
            <span class="glyphicon glyphicon-time" aria-hidden="true" style="color:turquoise"></span>
            <span class="liVal" i18n="appDashboard.workflow.CREATE_TIME">Create Time</span>
        </li>
        <li id="deadlineSort" class="btnSort zepto-ev">
            <span class="glyphicon glyphicon-flag" aria-hidden="true" style="color:lightgreen"></span>
            <span class="liVal" i18n="appDashboard.workflow.DEADLINE">Deadline</span>
        </li>
        <li id="emergencySort" class="btnSort zepto-ev">
            <span class="glyphicon glyphicon-fire" aria-hidden="true" style="color:darkred"></span>
            <span class="liVal" i18n="appDashboard.workflow.EMERGENCY">Emergency</span>
        </li>
        <li id="executorSort" class="btnSort zepto-ev">
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:deepskyblue"></span>
            <span class="liVal" i18n="appDashboard.workflow.EXECUTOR">Executor</span>
        </li>
        <li id="teamSort" class="btnSort zepto-ev">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true" style="color:darkblue"></span>
            <span class="liVal" i18n="appDashboard.workflow.TASK_GROUP">Task Group</span>
        </li>
        <li id="collectSort" class="btnSort zepto-ev">
            <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:orangered"></span>
            <span class="liVal" i18n="appDashboard.workflow.FAVORITES">Favorites</span>
        </li>
    </ul>
    <div id="workflowFilter" class="wkTool zepto-ev">
        <div id="btnWkFilter" style="border-right: none;">
            <span id="wkType" i18n="appDashboard.workflow.FILTER"></span>
            <span class="caret"></span>
        </div>
    </div>
    <div id="ulWkFilter" class="ulWkDropDown form-group">
        <label class="sr-only" for="iptSearById">工单号：</label>
        <div class="input-group">
          <input type="text" class="form-control" id="iptSearById" i18n="placeholder=appDashboard.workflow.IPT_WK_CODE">
          <div id="btnSearById" class="input-group-addon zepto-ev"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></div>
        </div>
    </div>
</div>
<div id="containerWorkFlowList">
    <div id="divWkList"></div>
    <div class="backDrop zepto-ev"></div>
</div>