<style>
    #ctnUserSel {
        display: none;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2000;
        background-color: white;
    }
    #indexMain{
        padding:0 1rem 3rem;
    }
    #containerMain{
        width:100%;
        margin: 2rem auto 0rem auto;
        padding: .6rem;
        background: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        min-height: calc(100% - 110px);
    }
    #containerMain .ctnInfo{
        background-color: rgb(248,248,250);
        border-radius: 4px;
        padding: .5rem;
    }
    #containerOperate{
        width:100%;
        padding: 1.6rem 1rem 3rem;
        background: #f6f9f9;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top:1px solid #eaeded;
        position: relative;
    }
    .divTitle{
        margin: 0.5rem auto;
        width:100%;
        font-size:16px;
        text-align: center;
    }
    .divContent{
        width:100%;
        margin-bottom: 0.5rem;
        padding-left: 4rem;
    }
    .ctnInfo .spCritical{
        position: absolute;
        right: 2.6rem;
        padding: 2px 10px 1px;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        font-size: 12px;
    }
    .spCritical.critical-0{
        background: rgba(48, 157, 226,0.8);
    }
    .spCritical.critical-1{
        background: #ef3d4a;
    }
    .spCritical.critical-2{
        background: #f7cd4a;
    }
    .spStatus{
        padding: 3px 10px 1px;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        display: inline-block;
        font-size: 12px;
    }
    .spStatus.status-0{
       background-color: #5bc0de;
    }
    .spStatus.status-1{
        background-color: #f0ad4e;
    }
    .spStatus.status-1{
        background-color: #5cb85c;
    }
    .divDetail{
        margin-top:0.5rem;
        padding-top: 1rem;
        border-top:1px solid #eee;
    }
    /*.divDetail .divDueTime,.divDetail .divCreateTime,
    .divDetail .divExecutor,.divDetail .divCreator,.divDetail .divStatus{
        display: inline-block;
        width:50%;
        float: left;
    }*/
    /*.divDetail .divCreateTime,.divDetail .divCreator{
        text-align: right;
    }*/
    /*.divDueTime .labelDetail,.divCreateTime .labelDetail{
        color:#969696;
        font-weight: normal;
    }*/
    .divDueTime .spDetail,.divCreateTime .spDetail, .divStatus .spStatus, .divTaskTag .spDetail, .divTaskGrp .spDetail{
        color:#969696;
    }
    .divStatus .spStatus{
        padding: 0;
        padding-left: 3px;
        font-size: 14px;
        background-color: transparent;
    }
    .divWatcher .labelDetail .spDetail:not(:first-child){
        padding-left: 5px;
    }
    .spDetail{
        padding-left:3px;
        color:#3A97DD;
        display: inline-block;
        margin-right: 10px;
    }
    .spDetail:last-child{
        margin-right: 0;
    }
    .labelDetail {
        font-weight: normal;
        margin-bottom: 0;
        color:#969696;
        width: 70px;
        text-align: right;
    }
    #iptCommentTrans{
        display: inline-block;
        width:90%;
        height:2.5rem;
    }
    #btnCommentTrans{
        display: inline-block;
        position: relative;
        top: 5px;
        width:5%;
        height:2rem;
        padding-left:0.25rem;
        color:#bbb;
        font-size:26px;
        text-align: center;
        line-height: 2rem;
    }
    #btnWkOperateGrp{
        display: block;
        height: 4rem;
        color: #ffffff;
        text-align: center;
        border-radius: 50%;
        font-size: 3rem;
        transform: translateY(70%);
        width: 100%;
        position: absolute;
        bottom: 1rem;
        left: 0;
    }
    .btnOperate{
        position: relative;
        display: inline-block;
        width: 4rem;
        height: 4rem;
        line-height: 4.4rem;
        color: #ffffff;
        text-align: center;
        border-radius: 50%;
        font-size: 3rem;
        background: #F5CC58;
        margin-left: 2rem;
        vertical-align: middle;
    }
    .btnOperate:first-child{
        margin-left: 0;
    }
    .divDetailContent {
        display: inline;
        margin-bottom: 5px;
        margin-left: -3px;
    }
    .divDetail>div {
        margin-bottom: 2px;
    }

    .divUserInfo{
        display: flex;
        margin-bottom: 8px;
    }
    .ctnComment{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .divComment.divUserInfo{
        flex-wrap: wrap;
        margin-top: 16px;
        margin-bottom: 0;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#fff), to(#fafafa));
        background: -ms-linear-gradient(top, #fff,  #fafafa); /* IE 10 */
        background:-moz-linear-gradient(top,#fff,#fafafa); /*火狐*/
        background: -o-linear-gradient(top, #fff, #fafafa);   /*Opera 11.10+*/
    }
    .divUserInfo > span{
        margin:0 2px;
    }
    .divUserInfo > span:nth-of-type(2){
        width: calc(100% - 9rem);
    }
    .divUserInfo .userPic{
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 8px;
    }
    .divUserInfo .userPic img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .divUserInfo .userName{
        color: #0897FB;
    }
    .divUserInfo .time{
        color: #888;
        font-size: 12px;
    }
    .divUserInfo .status{
        color: rgb(243, 173, 3);
    }
    .divComment .spComment{
        width: 100%;
        margin-top: 4px;
        padding-left: 4rem;
    }
    .divComment .spComment p{
        margin-bottom: 6px;
    }
</style>
<div id="containerMain">
    <div class="divTitle"></div>
    <div class="ctnInfo">
        <div class="divUserInfo" id="createrInfo">
            <span class="userPic"><img src=""/></span>
            <span><div class="userName"></div><div class="time createTime"></div></span>
            <span class="spCritical"></span>
        </div>
        <div class="divContent"></div>
        <!--<span class="spCritical"></span>-->
        <!--<span class="spStatus"></span>-->
        <div class="divDetail">
            <div class="divDueTime">
                <label class="labelDetail">截止时间：</label><span class="spDetail"></span>
            </div>
            <!--<div class="divCreateTime">
                <label class="labelDetail">创建时间：</label><span class="spDetail"></span>
            </div>-->
            <div class="divExecutor">
                <label class="labelDetail">执行者：</label><span class="spDetail"></span>
            </div>
            <!--<div class="divStatus">
                <label class="labelDetail">当前操作：</label><span class="spDetail"></span>
            </div>-->
            <!--<div class="divCreator">
                <label class="labelDetail">创建人：</label><span class="spDetail"></span>
            </div>-->
            <div class="divWatcher">
                <label class="labelDetail">相关人：</label>
                <div class="divDetailContent"></div>
            </div>
            <div class="divTaskGrp">
                <label class="labelDetail">任务组：</label><span class="spDetail"></span>
            </div>
            <div class="divTaskTag">
                <label class="labelDetail">标签：</label>
                <div class="divDetailContent"></div>
            </div>
            <div class="divStatus">
                <label class="labelDetail">状态：</label><span class="spStatus"></span>
            </div>
        </div>
    </div>
</div>
<div id="containerOperate">
    <div id="divCommentTrans">
        <input type="input" id="iptCommentTrans" class="form-control" placeholder='说点什么……'>
        <span id="btnCommentTrans" class="iconfont iconfont icon-yuanjiantou"></span>
    </div>
    <span id="btnWkOperateGrp"></span>
</div>
<div id="ctnUserSel">

</div>
