<style>
    #wf-task-tableWrapper {
        height: auto;
        margin-top: 5px;
    }

    #wf-task-table tr {
        border: 1px solid #ccc;
    }

    #wf-task-table tbody tr:nth-of-type(even) {
        background: -moz-linear-gradient(top, rgba(240, 248, 255, 0.2) 0%, rgba(240, 248, 255, 0.8) 50%, rgba(168, 164, 164, 0.2) 100%);
        background: -webkit-linear-gradient(top, rgba(240, 248, 255, 0.2) 0%, rgba(240, 248, 255, 0.8) 50%, rgba(240, 248, 255, 0.2) 100%);
    }

    #wf-task-table th, #wf-task-table td {
        text-align: center;
        padding: 2px;
        border: none;
    }

    #wf-task-table th > a:hover, #wf-task-table td > a:hover {
        text-decoration: none;
    }

    #wf-task-table td a {
        color: inherit !important;
        display: block;
    }

    #wf-task-table td a:hover {
        text-decoration: none !important;
    }

    #wf-task-table tr:hover td a {
        color: #ffffff;
    }

    #wf-task-table thead tr th {
        background: #e5f3ff;
        cursor: pointer;
        font-weight: normal;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #wf-task-table tbody tr:hover {
        background: #e5f3ff;
        color: #333;
    }

    #task-pagination {
        margin-right: 0
    }

    .ellipsis_wf_title_name {
        display: inline-block;
        width: 320px;
        vertical-align: middle;
    }

    .ellipsis_wf_name {
        display: inline-block;
        width: 150px;
        vertical-align: middle;
    }

    .wf-task-filter {
        margin: 5px 0;
        overflow: hidden;
    }

    #wf-task-filter > button {
        vertical-align: top;
        min-width: 46px;
        height: 34px;
        background: #0077ee;
        border-color: rgb(51, 122, 183);
    }

    #wf-task-filter > button:last-child {
        background-color: #29bc4f;
        border-color: #29bc4f;
    }

    #wf-taskMine-content .pagination {
        margin: 15px 0 0 0;
    }
</style>
<div id="wf-taskMine-content">
    <div id="wf-task-filter"></div>
    <form class="clearfix">
        <div class="wf-task-filter dn">
            <label class="fl mr20 wf-lable">
                <span class="fl"><em i18n="workflow.task.FILTER"></em><i>：</i></span>
                <select class="form-control fl w150">
                    <option i18n="workflow.task.IN_PROGRESS"></option>
                    <option i18n="workflow.task.COMPLETED"></option>
                    <option i18n="workflow.task.STARING"></option>
                </select>
            </label>
        </div>
        <div id="wf-task-tableWrapper">
            <table id="wf-task-table" class="wf-table wf-record"></table>
        </div>
        <div>
            <div class="page-info fl"></div>
            <ul id="task-pagination" class="pagination fr"></ul>
        </div>
    </form>
</div>
<script type="text/html" id="tpl_TaskFilterDateTimePicker">
    <div class="wf-filter-custom-date-select" style="display: inline-flex;">
        <input type="text" name="startTIME" class="form-control" style="width: 150px !important;margin-right: 10px;"
               readonly
               i18n="placeholder=workflow.task.SELECTED_DUE_DATE_START_INFO"/>
        <input type="text" name="endTIME" class="form-control" style="width: 150px !important;margin-right: 10px;"
               readonly
               i18n="placeholder=workflow.task.SELECTED_DUE_DATE_INFO"/>
        <button type="button" class="btn btn-sm btn-success TaskFilterDateTimePickerBtn"
                i18n="workflow.main.CONFIRM"></button>
    </div>
</script>
<!--@formatter:off-->
<script type="text/html" id="tpl_task_filter">
    <!if(type != "taskProject" ){!>
        <label data-filter-type="group" class="dn">
            <select class="form-control w200">
                <option value="-1" selected i18n="workflow.task.TASK_GROUP"></option>
                <!groupList.forEach(function(item){!>
                <option value="<!=item.id!>" data-creator-id="<!=item.creatorId!>" data-creat-time="<!=item.createTime!>">
                    <!=item.name!>
                </option>
                <!});!>
            </select>
        </label>
    <!}!>
    <label data-filter-type="creator">
        <select id="taskCreatorSelect" class="form-control" >
            <option value="-1" selected i18n="workflow.task.CREATED_PERSON"></option>
            <option value="1" i18n="workflow.filter.CREATE_BY_ME"></option>
            <option value="2" i18n="workflow.filter.CREATE_BY_OTHERS"></option>
        </select>
    </label>
    <label data-filter-type="fields.critical">
        <select class="form-control">
            <option value="-1" selected i18n="workflow.urgencyLevel.URGENCY_LEVEL"></option>
            <option value="0" i18n="workflow.urgencyLevel.0"></option>
            <option value="1" i18n="workflow.urgencyLevel.1"></option>
            <option value="2" i18n="workflow.urgencyLevel.2"></option>
        </select>
    </label>
    <label data-filter-type="status">
        <select class="form-control">
            <option value="-1" selected i18n="workflow.task.STATUS"></option>
            <option value="0" i18n="workflow.taskStatus.0"></option>
            <option value="1" i18n="workflow.taskStatus.1"></option>
            <option value="2" i18n="workflow.taskStatus.2"></option>
            <option value="3" i18n="workflow.taskStatus.3"></option>
        </select>
    </label>
    <label data-filter-type="tags" class="dn">
        <select class="form-control">
            <option value="-1" selected i18n="workflow.task.TAGS"></option>
            <!tagList && tagList.tags && tagList.tags.forEach(function(item){!>
                <option value="<!=item.name!>" data-creat-teamId="<!=tagList.teamId!>">
                    <!=item.name!>
                </option>
            <!});!>
        </select>
    </label>
    <label data-filter-type="fields.dueDate" class="dn">
        <select class="form-control">
            <option value="-1" selected i18n="workflow.common.DEADLINE"></option>
            <option value="today" i18n="workflow.calendar.TODAY"></option>
            <option value="tomorrow" i18n="workflow.calendar.TOMORROW"></option>
            <option value="week" i18n="workflow.calendar.THIS_WEEK"></option>
            <option value="moth" i18n="workflow.calendar.THIS_MONTH"></option>
            <option value="custom" i18n="workflow.calendar.CUSTOM"></option>
        </select>
    </label>
    <button type="button" id="wf-task-filter-reset" class="btn btn-success btn-sm wf-task-filter-btn" i18n="workflow.task.RESET_OPTIONS"></button>
    <button type="button" class="btn btn-success btn-sm wf-task-filter-btn fr mr30" id="wf-task-filter-new-task" i18n="workflow.task.NEW_WORK_ORDER"></button>
</script>
<script type="text/html" id="tpl_wf_taskList_max">
    <thead>
    <tr>
        <th width="8%" data-order-property="_id" class="order ellipsis">
            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            <span i18n="workflow.task.PROCESS"></span>
        </th>
        <th data-order-property="fields.title" class="order ellipsis"><span
                i18n="workflow.notice.ORDER"></span>
        </th>
        <th width="10%" data-order-property="executor" class="order ellipsis">
            <span i18n="workflow.mine.HANDLE_MAN"></span>
        </th>
        <th width="8%" data-order-property="creator" class="order ellipsis">
            <span i18n="workflow.task.CREATED_PERSON"></span>
        </th>
        <th width="12%" data-order-property="fields.dueDate" class="order ellipsis" style="text-align:center;">
            <span i18n="workflow.common.DEADLINE"></span>
        </th>
        <th width="12%" data-order-property="fields.critical" class="order ellipsis" style="max-width: 100px;">
            <span i18n="workflow.urgencyLevel.URGENCY_LEVEL"></span>
        </th>
        <th width="9%" data-order-property="status" class="order ellipsis">
            <span i18n="workflow.mine.STATUS"></span>
        </th>
    </tr>
    </thead>
    <tbody>
    <!if(transactions.length === 0){!>
        <tr style="background-color: #FFFFFF;">
            <td colspan="9"><img class="noActivities" src="/static/images/workflow/emptyActivitys.gif" style="height: 100%;">
            </td>
        </tr>
    <!}!>
    <!var i,listTodayTaskLength=listTodayTasks.length,taskList=[];!>
    <!for(i=0;i< listTodayTaskLength;i++){!>
        <!taskList.push(listTodayTasks[i].id);!>
    <!}!>
    <!for(var m=0; m < transactions.length; m++){!>
        <!var transaction = transactions[m];!>
        <!if(!transaction.process){continue;}!>
        <!if(taskList.indexOf(transaction._id) !== -1){!>
            <tr class="wf-today-task">
        <!}else{!>
             <tr>
        <!}!>
        <td width="8%" class="ellipsis">
            <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                <!=transaction.process.type == beop.constants.fieldType.DEFAULT ? I18n.resource.workflow.process.DEFAULT_PROCESS : transaction.process.name!>
            </a>
        </td>
        <td class="ellipsis"
            title="<!=transaction.title!>"
            style="text-align: center;">
            <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                <div class="ellipsis ellipsis_wf_title_name"><!=transaction.title || (transaction.fields && transaction.fields.title)!></div>
            </a>
        </td>
        <td width="10%" class="ellipsis"
            style="text-align: center">
            <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                <!=transaction.executor!>
            </a>
        </td>
        <!if(transaction.creator){!>
            <td width="8%" class="ellipsis">
                <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                    <!=transaction.creator!>
                </a>
            </td>
        <!}else{!>
            <td width="8%"><span></span></td>
        <!}!>
            <td width="12%" class="ellipsis" style="text-align:center;">
                <!if(!transaction.dueDate && (!transaction.fields || !transaction.fields.dueDate)){!>
                    <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>"><!="N/A"!></a>
                <!}else{!>
                    <!var dueDate = new Date(transaction.dueDate || (transaction.fields && transaction.fields.dueDate)).format('yyyy-MM-dd');!>
                    <!if(parseInt(transaction.status) === 2){!>
                        <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                            <div class="ellipsis" style="width: 150px;margin: 0 auto;"><!=dueDate!></div>
                        </a>
                    <!}else if(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days') < 0){!>
                        <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                            <label class="label label-danger" title="<!=dueDate!>"><span i18n="workflow.task.OVERDUE"></span>
                                <!=Math.abs(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days'))!>
                                <span i18n="workflow.task.DAY"></span>
                            </label>
                        </a>
                    <!}else if(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days') == 0){!>
                        <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                            <label class="label label-danger" title="<!=dueDate!>" i18n="workflow.calendar.TODAY"></label>
                        </a>
                    <!}else if(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days') == 1){!>
                        <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                            <label class="label label-warning" title="<!=dueDate!>" i18n="workflow.calendar.TOMORROW"></label>
                        </a>
                    <!}else{!>
                        <div class="ellipsis" style="width: 150px;margin: 0 auto;">
                            <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                                <!=dueDate!>
                            </a>
                        </div>
                    <!}!>
                <!}!>
            </td>

            <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                <td width="12%" class="ellipsis" i18n="workflow.urgencyLevel.<!=Number(transaction.critical || (transaction.fields && transaction.fields.critical))!>"></td>
            </a>
            <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                <!if(transaction && typeof transaction.status != undefined){!>
                    <td width="9%" i18n="title=workflow.taskStatus.<!=String(transaction.status)!>">
                        <div class="ellipsis" i18n="workflow.taskStatus.<!=String(transaction.status)!>"></div>
                    </td>
                <!}else{!>
                    <td width="9%">
                        <div class="ellipsis"></div>
                    </td>
                <!}!>
            </a>
        <!}!>
    </tbody>
</script>
<script type="text/html" id="tpl_wf_taskList_min">
    <thead>
    <tr>
        <th data-order-property="_id" class="order"><span
                class="glyphicon glyphicon-sort-by-attributes-alt"></span><span
                i18n="workflow.task.PROCESS"></span></th>
        <th data-order-property="fields.title" class="order"><span
                i18n="workflow.notice.ORDER"></span>
        </th>
        <th data-order-property="executor" class="order ellipsis"><span
                i18n="workflow.mine.EXECUTOR"></span></th>
        <th data-order-property="creator" class="order ellipsis"><span
                i18n="workflow.task.CREATED_PERSON"></span></th>
        <th data-order-property="fields.dueDate" class="order"
            style="text-align:center;"><span i18n="workflow.common.DEADLINE"></span></th>
        <th data-order-property="fields.critical" class="order"><span
                i18n="workflow.urgencyLevel.URGENCY_LEVEL"></span></th>
        <th data-order-property="status" class="order"><span
                i18n="workflow.mine.STATUS"></span></th>
    </tr>
    </thead>
    <tbody>
    <!if(transactions.length === 0){!>
        <tr style="background-color: #FFFFFF;">
            <td colspan="9"><img class="noActivities" src="/static/images/workflow/emptyActivitys.gif" style="height: 100%;"></td>
        </tr>
    <!}!>
    <! var i,listTodayTaskLength=listTodayTasks.length,taskList=[];!>
    <! for(i=0;i< listTodayTaskLength;i++){!>
        <!taskList.push(listTodayTasks[i].id);!>
    <!}!>
    <! for(var m=0; m < transactions.length; m++){ !>
        <! var transaction = transactions[m]; !>
        <!if(!transaction.process){continue;}!>
        <! if(taskList.indexOf(transaction._id) !== -1){!>
            <tr class="wf-today-task">
        <!}else{!>
            <tr>
        <!}!>
                <td class="ellipsis">
                    <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                        <!=transaction.process.type == beop.constants.fieldType.DEFAULT ? I18n.resource.workflow.process.DEFAULT_PROCESS : transaction.process.name!>
                    </a>
                </td>
                <td class="ellipsis"
                    title="<!=transaction.title!>"
                    style="text-align: center;">
                    <div class="ellipsis ellipsis_wf_title_name">
                        <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>"><!=transaction.title || transaction.fields.title!></a>
                    </div>
                </td>
                <td class="ellipsis" style="text-align: center">
                    <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>"><!=transaction.executor!></a>
                </td>
                <!if(transaction.creator){!>
                    <td class="ellipsis">
                        <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>"><!=transaction.creator!></a>
                    </td>
                <!}else{!>
                    <td><span></span></td>
                <!}!>
                <td class="ellipsis" style="text-align:center;">
                    <!if(!transaction.dueDate && (!transaction.fields || !transaction.fields.dueDate)){!>
                        <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>"><!="N/A"!></a>
                    <!}else{!>
                        <!var dueDate = new Date(transaction.dueDate || (transaction.fields && transaction.fields.dueDate)).format('yyyy-MM-dd');!>
                        <!if(parseInt(transaction.statusId) === 2){!>
                            <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                                <div class="ellipsis" style="width: 150px;margin: 0 auto;"><!=dueDate!></div>
                            </a>
                        <!}else if(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days') < 0){!>
                            <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                                <label class="label label-danger" title="<!=dueDate!>"><span i18n="workflow.task.OVERDUE"></span>
                                    <!=Math.abs(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days'))!>
                                    <span i18n="workflow.task.DAY"></span>
                                </label>
                            </a>
                        <!}else if(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days') == 0){!>
                            <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                                <label class="label label-danger" title="<!=dueDate!>" i18n="workflow.calendar.TODAY"></label>
                            </a>
                        <!}else if(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days') == 1){!>
                            <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                                <label class="label label-warning" title="<!=dueDate!>" i18n="workflow.calendar.TOMORROW"></label>
                            </a>
                        <!}else{!>
                            <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                                <div class="ellipsis ellipsis_wf_name"><!=dueDate!></div>
                            </a>
                        <!}!>
                    <!}!>
                </td>
                <!if(transaction.critical || (transaction.fields && transaction.fields.critical)){!>
                    <td class="ellipsis">
                        <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>" i18n="workflow.urgencyLevel.<!=Number(transaction.critical || (transaction.fields && transaction.fields.critical))!>"></a>
                    </td>
                <!}else {!>
                    <td class="ellipsis"></td>
                <!}!>
                <td i18n="title=workflow.taskStatus.<!=transaction.status!>">
                    <a href="#page=workflow&type=transaction&transactionId=<!=transaction._id!>">
                        <div i18n="workflow.taskStatus.<!=transaction.status!>"></div>
                    </a>
                </td>
            </tr>
    <!}!>
    </tbody>
</script>

<!--@formatter:on-->
