<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/scripts/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/app/Benz/dotInput/themes/default/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/scripts/lib/beopNotification/infoBox.css" />
    <script src="/static/scripts/lib/jquery-2.1.4.min.js"></script>
    <script src="/static/scripts/core/webAPI.js"></script>
    <script src="/static/scripts/core/common.js"></script>
    <script src="/static/scripts/lib/beopNotification/infoBox.js"></script>
    <script type="text/javascript" src="/static/app/Benz/dotInput/scripts/dotState.js"></script>
</head>
<body>
    <div id="dotState">
        <div class="dotStateList">
            <div class=" clearfix">
                <div class="col-sm-4">
                    <div class="dotTitle">选项</div>
                </div>
                <div class="col-sm-4">
                    <div class="dotStateBox">当前状态</div>
                </div>
                <div class="col-sm-4">
                    <div class="dotStateBox">状态</div>
                </div>
            </div>
            <div id="dotStateListBox">
                <!--<div class="dotSingle clearfix">
                    <div class="col-sm-6">
                        <div class="dot-name" data-name="GSHP1">1号地源热泵</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dot-open-close"><span class="dotBtnBox">开启<input type="radio" class="dot-open dotBtn" disabled />关闭<input type="radio" class="dotBtn" disabled /></span></div>
                    </div>
                </div>
                <div class="dotSingle clearfix">
                    <div class="col-sm-6">
                        <div class="dot-name" data-name="GSHP2">2号地源热泵</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dot-open-close"><span class="dotBtnBox">开启<input type="radio" class="dot-open dotBtn" disabled />关闭<input type="radio" class="dotBtn" disabled /></span></div>
                    </div>
                </div>
                <div class="dotSingle clearfix">
                    <div class="col-sm-6">
                        <div class="dot-name" data-name="GSHP3">3号地源热泵</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dot-open-close"><span class="dotBtnBox">开启<input type="radio" class="dot-open dotBtn" disabled />关闭<input type="radio" class="dotBtn" disabled /></span></div>
                    </div>
                </div>
                <div class="dotSingle clearfix">
                    <div class="col-sm-6">
                        <div class="dot-name" data-name="GSHP4">1号水泵</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dot-open-close"><span class="dotBtnBox">开启<input type="radio" class="dot-open dotBtn" disabled />关闭<input type="radio" class="dotBtn" disabled /></span></div>
                    </div>
                </div>
                <div class="dotSingle clearfix">
                    <div class="col-sm-6">
                        <div class="dot-name" data-name="GSHP4">2号水泵</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dot-open-close"><span class="dotBtnBox">开启<input type="radio" class="dot-open dotBtn" disabled />关闭<input type="radio" class="dotBtn" disabled /></span></div>
                    </div>
                </div>
                <div class="dotSingle clearfix">
                    <div class="col-sm-6">
                        <div class="dot-name" data-name="GSHP4">3号水泵</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dot-open-close"><span class="dotBtnBox">开启<input type="radio" class="dot-open dotBtn" disabled />关闭<input type="radio" class="dotBtn" disabled /></span></div>
                    </div>
                </div>
                <div class="dotSingle clearfix">
                    <div class="col-sm-6">
                        <div class="dot-name" data-name="GSHP4">4号水泵</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dot-open-close"><span class="dotBtnBox">开启<input type="radio" class="dot-open dotBtn" disabled />关闭<input type="radio" class="dotBtn" disabled /></span></div>
                    </div>
                </div>
                <div class="dotSingle clearfix">
                    <div class="col-sm-6">
                        <div class="dot-name" data-name="GSHP4">5号水泵</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dot-open-close"><span class="dotBtnBox">开启<input type="radio" class="dot-open dotBtn" disabled />关闭<input type="radio" class="dotBtn" disabled /></span></div>
                    </div>
                </div>
                <div class="dotSingle clearfix">
                    <div class="col-sm-6">
                        <div class="dot-name" data-name="GSHP4">6号水泵</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dot-open-close"><span class="dotBtnBox">开启<input type="radio" class="dot-open dotBtn" disabled />关闭<input type="radio" class="dotBtn" disabled /></span></div>
                    </div>
                </div>
                <div class="dotSingle clearfix">
                    <div class="col-sm-6">
                        <div class="dot-name" data-name="GSHP4">7号水泵</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dot-open-close"><span class="dotBtnBox">开启<input type="radio" class="dot-open dotBtn" disabled />关闭<input type="radio" class="dotBtn" disabled /></span></div>
                    </div>
                </div>
                <div class="dotSingle clearfix">
                    <div class="col-sm-6">
                        <div class="dot-name" data-name="GSHP4">8号水泵</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dot-open-close"><span class="dotBtnBox">开启<input type="radio" class="dot-open dotBtn" disabled />关闭<input type="radio" class="dotBtn" disabled /></span></div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</body>
</html>