<style>
    /* ---主菜单样式 --- */
    #wf-outline {
        height: 100%;
        position: relative;
    }

    #wf-outline > section {
        height: 100%;
        float: left;
    }

    #wf-menu {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    #wf-menu > section {
        float: left;
    }

    #wf-img-zoom {
        -webkit-user-select: none;
        cursor: -webkit-zoom-out;
        background: #fff;
        overflow: scroll;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 1000
    }

    #wf-img-zoom img {
        position: absolute;
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .wf-activity-person-box .media-body img {
        max-width: 100%;
        display: block;
    }

    .alert[role="alert"] {
        z-index: 10000000;
    }

    #wf-reply-table .wf-reply-info img {
        max-width: 100%;
    }

    #wf-main-menu li, #wf-level-menu {
        cursor: pointer;
    }

    #wf-main-menu {
        left: 0;
        height: 100%;
        width: 80px;
        font-size: 12px;
        background-color: #123454;
        color: #A7B1C2;
    }

    #wf-main-logo .glyphicon-fire {
        text-align: center;
        font-size: 34px;
        height: 80px;
        width: 100%;
        display: block;
        line-height: 80px;
        color: #fff;
    }

    #wf-main-menuWrapper {
        width: 100%;
        height: 100%;
    }

    #wf-add-person {
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
    }

    #wf-add-person .modal-dialog {
        margin: 60px auto;
    }

    .wf-search-box-select li {
        width: auto;
        margin-right: 25px;
        cursor: pointer;
        padding: 5px 0;
        vertical-align: middle;
    }

    .wf-search-box-select .active {
        color: #3071a9;
        border-bottom: 1px solid #3071a9;
    }

    .wf-search-result-container {
        min-height: 430px;
        padding: 10px;
        padding-bottom: 0;
    }

    .wf-search-all {

    }

    .wf-search-all ul {
        border: none;
    }

    .wf-search-all ul .active {
        color: #1543fa;
    }

    .wf-search-all li {
        display: inline-block;
        padding: 0 5px;
        text-transform: capitalize;
        font-size: 12px;
        cursor: pointer;
        transition: .2s all linear 0s;
    }

    .wf-search-result-title ul li:hover {
        color: #fff;
        background: #000;
        border-radius: 5px;
    }

    .wf-search-result {
        position: relative;
        padding: 10px 38px;
        height: 434px;
        border: 1px solid #cccccc;
        -webkit-user-select: none;
        -webkit-font-smoothing: antialiased;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .wf-search-result > div {
        margin: 5px 0;
    }

    .wf-search-result .wf-member-selected {
        background: #F1EDED;
    }

    .wf-search-result .wf-member {
        border-radius: 5px;
        transition: .3s background 0s linear;
        border: 1px solid #ccd;
        position: relative;
        cursor: pointer;
        width: 60px;
        height: 60px;
        padding: 0;
        margin: 10px 15px;
        float: left;
    }

    .wf-search-result .wf-member:hover {
        background: #F1EDED;
    }

    .wf-search-result-title {
        margin: 5px 0;
    }

    .wf-search-result-title .nav-tabs li.active {
        background: #000000;
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .wf-member .wf-team-avatar-name {
        width: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        font-size: 12px;
        margin: 0;
    }

    .wf-member-avatar {
        text-align: center;
        /*padding: 5px ;*/
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .wf-member-avatar .avatar-icon {
        width: 100%;
        height: 100%;
        transition: .3s opacity 0s linear;
        border-radius: 5px;
    }

    .wf-member .wf-member-content {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 10;
        text-align: center;
        border-radius: 5px;
        bottom: 0;
    }

    .wf-member-selected .wf-member-check {
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        z-index: 11;
        text-align: right;
        font-size: 12px;
        border-color: #A1CF64;
        color: #fff;
        display: none;
    }

    #calendar-time {
        width: 241px;
        height: auto;
        margin: 10px 0;
    }

    .wf-member-selected .wf-member-check {
        display: block;
    }

    .wf-member-selected .wf-member-check:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        z-index: -1;
        width: 0;
        height: 0;
        border-top: 0 solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 0 solid transparent;
        border-right-color: inherit;
        -webkit-transition: border-color .2s ease;
        -moz-transition: border-color .2s ease;
        transition: border-color .2s ease;
    }

    .wf-check-result-container {
        padding: 5px 10px;
        min-height: 60px;
    }

    .wf-check-result-container > span {
        display: inline-block;
        height: 35px;
        width: auto;
        line-height: 35px;
        text-align: center;
        margin-right: 10px;
        margin-top: 5px;
    }

    .wf-check-result {
        list-style: none;
        padding: 5px 0 0 80px;
    }

    #labelName {
        width: auto !important;
    }

    .wf-check-result li {
        width: 76px;
        height: 25px;
        max-width: 80px;
        background: #A1CF64;
        padding: 5px;
        border-radius: 13%;
        font-size: 12px;
        float: left;
        text-align: center;
        text-transform: none;
        margin: 5px;
        -webkit-user-select: none;
        cursor: default;
        transition: .3s opacity 0s linear;

    }

    .wf-check-result li:hover {
        opacity: .8;
    }

    .wf-check-result li span {
        display: inline-block;
        width: 50px;
    }

    .wf-check-result li .glyphicon {
        vertical-align: top;
        line-height: 16px;
        cursor: pointer;
        color: #fff;
        transform: scale(.87);
    }

    .wf-search-by-name ul .active {
        color: #fff;
        background: #000;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .wf-search-by-name ul li:hover {
        color: #fff;
        background: #000;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        transform: scale(1.1, 1.1);
    }

    .wf-search-by-name ul {
        border: none;
    }

    .wf-search-by-name ul li {
        display: inline-block;
        margin: 0 5px;
        text-transform: capitalize;
        font-size: 12px;
        cursor: pointer;
        padding: 0 5px;
        transition: .1s all 0s linear;
    }

    .wf-ul {
        padding-left: 0;
        list-style-type: none;
    }

    #wf-main-ul {
        width: 100%;

    }

    #wf-main-ul li {
        height: 60px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #2f4050;
    }

    #wf-main-ul li:hover, #wf-main-ul li.active {
        border: 1px solid #e5f3ff;
        background-color: #e5f3ff;
        color: #337ab7;
        box-shadow: 2px 2px 5px #e5f3ff;
        text-shadow: 0 0 5px #e5f3ff;
        font-size: 14px;
    }

    #wf-main-ul li .icon {
        display: block;
        height: 30px;
        line-height: 40px;
    }

    #level-menu-activity {
        width: 179px;
    }

    /* ---二级单样式 --- */
    #wf-level-menu {
        left: 80px;
        height: 100%;
        /*width: 200px;*/
        padding: 10px;
        background-color: #e5f3ff;
        color: #676a6c;
        border-right: 1px solid #CCC;
        /*background: linear-gradient(top , rgb(131, 140, 133) 1% , rgb(168, 164, 164) 100%);
        background: -o-linear-gradient(top , rgb(131, 140, 133) 1% , rgb(168, 164, 164) 100%);
        background: -ms-linear-gradient(top , rgb(131, 140, 133) 1% , rgb(168, 164, 164) 100%);
        background: -moz-linear-gradient(top , rgb(131, 140, 133) 1% , rgb(168, 164, 164) 100%);
        background: -webkit-linear-gradient(top , rgb(131, 140, 133) 1% , rgb(168, 164, 164) 100%);*/
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #wf-task-mine {
        border-bottom: 1px dashed #ccc;
    }

    #wf-task-group {
        position: relative;
        margin-top: 10px;
    }

    #wf-level-menu > .active {
        display: block;
    }

    #wf-level-menu > section {
        display: none;
    }

    .wf-close-Wrapper {
        height: 30px;
        line-height: 30px;
    }

    #wf-new-task {
        width: 100%;
    }

    #wf-add-taskGroup {
        width: 100%;
    }

    #wf-levelMenu-close {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ccc;
        border-radius: 50px;
        background: #333;
        color: #fff;
        text-align: center;
        font-style: normal;
        cursor: pointer;
    }

    #wf-level-search {
        margin-bottom: 10px;
    }

    #wf-task-search {
        position: absolute;
        top: 10px;
        right: 7px;
    }

    .wf-level-ul {
        color: #777777;
    }

    .wf-level-ul li {
        height: 28px;
        line-height: 28px;
    }

    .wf-search-result .wf-member-selected .wf-member-check {
        display: block !important;
    }

    .wf-search-result .wf-member .wf-member-check {
        display: none;
    }

    #wf-level-menu li.active, #wf-level-menu span.active {
        color: #337ab7;
        font-weight: bolder;
    }
    #wf-task-mine div.active {
        color: #337ab7;
        font-weight: bolder;
    }

    #wf-label-header .wf-tags-ul-show {
        color: #337ab7;
        font-weight: bolder;
    }

    #wf-task-groups .glyphicon-edit {
        margin: 2px 10px 0 0;
    }

    .wf-my-lable, .wf-task-label-wrapper {
        padding: 5px 15px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        color: #666;
        position: relative;
    }

    #wf-add-taskGroup, #wf-new-task {
        width: 170px;
    }

    /* ---主体内容样式 --- */

    #crumbs {
        height: 50px;
        line-height: 50px;
        background: #fff;
        color: #000;
        text-indent: 20px;
    }

    #wf-task-return-activities {
        margin-bottom: 20px;
    }

    #wf-add-label {
        font-size: 20px;
    }

    #wf-my-labelTitle {
        /*color: #d9534f;
        cursor: default;*/
    }

    #wf-calendar-input {
        border: none;
        top: 0;
        left: 28px;
        height: 30px;
        width: 136px;
        line-height: 34px;
        text-indent: 5px;
    }
    #wf-content{
        background: #fff;
    }
    #wf-content-box {
        padding: 20px;
        height: 100%;
        /*height: calc(100% - 50px);*/
        background: #fff;
        overflow-y: auto;
    }

    #wf-content-box > div {
    }

    #wf-content #calendar {
        float: left;
        width: calc(96% - 300px);
    }

    #wf-content #events {
        float: right;
        margin: 0;
        position: relative;
    }

    #wf-content .datetimepicker-container {
        position: relative;
        float: left;
    }

    #crumbs {
        display: none;
    }

    .level-menuTask-wrapper {
        display: none;
        margin-top: 20px;
    }

    .level-menuTask-wrapper.active {
        display: block;
    }

    #wf-task-groups {
        color: #777777;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 150px;
    }

    .group-item.active {
        color: #337ab7;
        font-weight: bolder;
    }

    .wf-get-task-group {
        width: 129px;
        display: inline-block;
    }

    .wf-get-task-group i {
        margin-right: 5px;
    }

    #wf-del-win .modal-dialog {
        margin-top: 300px;
    }

    /* ---标签样式 --- */
    #wf-label-header {
        height: 30px;
        line-height: 30px;
    }

    #wf-label-header .glyphicon-tags {
        margin: 6px 20px 0 0;
    }

    #wf-label-ul li {
        padding-bottmo: 5px;
        color: #555;
        text-indent: 7px;
        position: relative;
    }

    #wf-label-ul li .wf-label-delete {
        position: absolute;
        right: 25px;
        top: 10px;
    }

    #wf-label-ul li .wf-label-name {
        margin-bottom: 5px;
    }

    #wf-label-edit, #wf-label-plus {
        margin-top: 7px;
    }

    #wf-label-form {
        max-height: 151px;
        overflow: auto;
        overflow-x: hidden;
    }

</style>
<script src="/static/scripts/lib/jquery-ui.min.js"></script>
<script src="/static/scripts/lib/fullcalendar/moment.min.js"></script>
<script src="/static/scripts/lib/fullcalendar/moment.locale.zh-cn.js"></script>
<script src="/static/scripts/workflow/jquery.twbsPagination.min.js"></script>
<div id="wf-outline" class="clearfix">
    <section id="wf-menu" class="clearfix">
        <section id="wf-main-menu">
            <div id="wf-main-menuWrapper">
                <article id="wf-main-logo">
                    <span class="glyphicon glyphicon-fire"></span>
                </article>
                <ul id="wf-main-ul" class="wf-ul">
                    <li id="wf-main-activity" class="active main-menu" data-topic="wf-activities-change"
                        data-param="today">
                        <span class="glyphicon glyphicon-bullhorn icon"></span>
                        <span i18n="workflow.activities.ACTIVITIES"></span>
                    </li>
                    <li id="wf-main-task" class="main-menu" data-topic="wf-task-list" data-param="workingTask">
                        <span class="glyphicon glyphicon-tasks icon"></span>
                        <span i18n="workflow.mine.TASK"></span>
                    </li>
                    <li id="wf-main-calender" class="main-menu" data-topic="wf-firstMenu-change"
                        data-param="schedulers">
                        <span class="glyphicon glyphicon-calendar icon"></span>
                        <span i18n="workflow.pageInfo.TITLE_SCHEDULER"></span>
                    </li>
                </ul>
            </div>
        </section>
        <section id="wf-level-menu">
            <section id="level-menu-activity" class="active level-menuTask-wrapper">
                <ul id="wf-activity-time" class="wf-ul wf-level-ul mb30">
                    <li class="secondMenuItem active" data-type="default" data-topic="wf-activities-change"
                        data-param="today">
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        <span class="wf-get-crumbs" i18n="workflow.activities.TODAY"></span>
                    </li>
                    <li class="secondMenuItem" data-topic="wf-activities-change" data-param="yesterday">
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        <span class="wf-get-crumbs" i18n="workflow.calendar.YESTERDAY"></span>
                    </li>
                    <li class="secondMenuItem" data-topic="wf-activities-change" data-param="thisWeek">
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        <span class="wf-get-crumbs" i18n="workflow.calendar.THIS_WEEK"></span>
                    </li>
                    <li class="secondMenuItem" data-topic="wf-activities-change" data-param="thisMonth">
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        <span class="wf-get-crumbs" i18n="workflow.calendar.THIS_MONTH"></span>
                    </li>
                </ul>
                <ul id="wf-activity-time" class="wf-ul wf-level-ul">
                    <li class="secondMenuItem" data-topic="wf-activities-change" data-param="latestCompleted">
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        <span class="wf-get-crumbs" i18n="workflow.activities.RECENTLY_COMPLETE"></span>
                    </li>
                    <li class="secondMenuItem" data-topic="wf-activities-change" data-param="latestCreated">
                        <span class="glyphicon glyphicon-tree-conifer"></span>
                        <span class="wf-get-crumbs" i18n="workflow.activities.RECENTLY_CREATED"></span>
                    </li>
                </ul>
            </section>
            <section id="level-menu-task" class="level-menuTask-wrapper">
                <div id="wf-task-mine">
                    <div class="pr">
                        <input type="search" id="wf-level-search" data-topic="wf-search-list" data-param="search"
                               class="form-control" i18n="placeholder=workflow.task.SEARCH" maxlength="12"/>
                        <span id="wf-task-search" data-topic="wf-task-list" data-param="search"
                              class="glyphicon glyphicon-search pr"></span>
                    </div>
                    <ul id="wf-task-type" class="wf-ul wf-level-ul mb10">
                        <li id="wf-mine-create" data-type="default" data-topic="wf-task-list" data-param="workingTask">
                            <span class="glyphicon glyphicon-tree-conifer"></span>
                            <span class="wf-get-crumbs" i18n="workflow.task.WORKFLOW_IN_PROGRESS"></span>
                        </li>
                        <li id="wf-mine-create" data-topic="wf-task-list" data-param="createdBy">
                            <span class="glyphicon glyphicon-tree-conifer"></span>
                            <span class="wf-get-crumbs" i18n="workflow.task.WORKFLOW_CREATED_BY_ME"></span>
                        </li>
                        <li data-topic="wf-task-list" data-param="finishedBy">
                            <span class="glyphicon glyphicon-tree-conifer"></span>
                            <span class="wf-get-crumbs" i18n="workflow.task.WORKFLOW_COMPLETE_BY_ME"></span>
                        </li>
                        <li data-topic="wf-task-list" data-param="joinedBy">
                            <span class="glyphicon glyphicon-tree-conifer"></span>
                            <span class="wf-get-crumbs" i18n="workflow.task.WORKFLOW_INVOLVED_BY_ME"></span>
                        </li>
                    </ul>
                    <button type="button" id="wf-new-task" class="btn btn-primary mb10" data-topic="wf-task-add"
                            i18n="workflow.task.ADD_NEW_TASK;value=workflow.task.ADD_NEW_TASK;title=workflow.task.ADD_NEW_TASK">
                    </button>
                    <div class="mb10 clearfix">
                        <div id="wf-collection-header" data-topic="wf-task-list" data-param="myCollection">
                            <span class="glyphicon glyphicon-star fl mr20" style="font-size:18px"></span>
                            <span id="wf-my-collection" i18n="workflow.task.MY_COLLECT"></span>
                        </div>
                        <div id="wf-label-header" class="clearfix">
                            <span class="fl cp wf-tags-ul-hide" id="wf-label-toggle">
                                <span class="glyphicon glyphicon-tags mr20 fl" style="font-size: 18px;"></span>
                                <span id="wf-my-labelTitle" i18n="workflow.task.MY_TAGS"></span>
                            </span>
                            <span id="wf-label-icon-wrapper" class="dn">
                                <span id="wf-label-edit" class="glyphicon glyphicon-edit fr"></span>
                                <span id="wf-label-plus" class="glyphicon glyphicon-plus fr dn mr5"></span>
                            </span>
                        </div>
                        <form id="wf-label-form" action="javascript:void(0);" method="post" class="scrollbar">
                            <ul id="wf-label-ul" class="dn" style="padding-left: 0;"></ul>
                        </form>
                    </div>
                </div>
                <div id="wf-task-group">
                    <select id="wf-group-type" class="form-control mb10">
                        <option value="0" selected="selected" i18n="workflow.task.ALL_TASK_GROUP"></option>
                        <option value="1" i18n="workflow.task.TASK_GROUP_CREATED_BY_ME"></option>
                        <option value="2" i18n="workflow.task.TASK_GROUP_INVOLVED_BY_ME"></option>
                    </select>
                    <ul id="wf-task-groups" class="wf-ul mb20 scrollbar"></ul>
                    <button type="button" id="wf-add-taskGroup" class="btn btn-success wf-get-crumbs"
                            data-topic="wf-group-add"
                            i18n="workflow.task.ADD_NEW_TASK_GROUP;value=workflow.task.ADD_NEW_TASK_GROUP;title=workflow.task.ADD_NEW_TASK_GROUP">
                    </button>
                </div>
            </section>
            <section id="levelMeunCalendar" class="level-menuTask-wrapper">
                <div class="mb100">
                    <input type="search" id="wf-calendar-search" class="form-control mb50 dn"
                           i18n="placeholder=workflow.task.SEARCH"
                           maxlength="12">
                    <select class="form-control mb10 dn">
                        <option value="0" disabled="disabled" selected="selected"
                                i18n="workflow.task.TASK_GROUP_INVOLVED_BY_ME"></option>
                    </select>

                    <div id="calendar-time" class="date form-control pr"></div>
                    <ul class="wf-ul mb20" style="color: #777777;">
                        <li class="group-item" data-param="216">
                            <div class="oh">
                                <span class="fl group-name active" data-topic="wf-task-list-calendar" data-param="user">
                                    <span class="wf-get-crumbs ellipsis">
                                        <i class="icon-calendar"></i><span
                                            i18n="workflow.task.MY_SCHEDULER;title=workflow.task.MY_SCHEDULER"></span></span>
                                </span>
                            </div>
                        </li>
                    </ul>

                    <select id="wf-group-type" class="form-control mb20">
                        <option value="0" selected="selected" i18n="workflow.task.ALL_TASK_GROUP"></option>
                        <option value="1" i18n="workflow.task.TASK_GROUP_CREATED_BY_ME"></option>
                        <option value="2" i18n="workflow.task.TASK_GROUP_INVOLVED_BY_ME"></option>
                    </select>
                    <ul id="wf-task-groups" class="wf-ul mb20 scrollbar"></ul>
                </div>
            </section>
            <section id="levelMenuGroup" class="level-menuTask-wrapper mb30">
                <select class="form-control mb20">
                    <option value="0" disabled="disabled" selected="selected" i18n="workflow.task.GROUP_TYPE"></option>
                    <option value="1" i18n="workflow.mine.ASSIGN_ORDER"></option>
                    <option value="2" i18n="workflow.task.JOINED"></option>
                    <option value="3" i18n="workflow.task.MANAGED"></option>
                </select>
                <span class="wf-get-crumbs" i18n="workflow.task.NEW_GROUP"></span>
            </section>
        </section>
    </section>
    <section id="wf-content" class="scrollbar" style="width: calc(100% - 300px)">
        <article id="wf-content-wrapper">
            <nav id="crumbs"><span i18n="workflow.mine.TASK"></span></nav>
        </article>    </section>
    <!--添加人员 start-->
    <div class="modal fade dn" id="wf-add-person" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h5 class="modal-title" i18n="workflow.memberSelected.TITLE"></h5>
                </div>
                <div class="modal-body" style="padding-bottom: 0">
                    <div class="form-group" style="margin-bottom: 0">
                        <input type="text" class="form-control" id="input-search-name"
                               i18n="placeholder=workflow.memberSelected.INPUT_INFO">
                    </div>
                    <div class="wf-search-box">
                        <div class="wf-search-content">
                            <!--筛选所有人-->
                            <section class="wf-search-result-container wf-search-all">
                                <div class="wf-search-result-title">
                                    <ul class="nav nav-tabs">
                                        <li i18n="workflow.memberSelected.ALL"></li>
                                        <li>a</li>
                                        <li>b</li>
                                        <li>c</li>
                                        <li>d</li>
                                        <li>e</li>
                                        <li>f</li>
                                        <li>g</li>
                                        <li>h</li>
                                        <li>i</li>
                                        <li>j</li>
                                        <li>k</li>
                                        <li>l</li>
                                        <li>m</li>
                                        <li>n</li>
                                        <li>o</li>
                                        <li>p</li>
                                        <li>q</li>
                                        <li>r</li>
                                        <li>s</li>
                                        <li>t</li>
                                        <li>u</li>
                                        <li>v</li>
                                        <li>w</li>
                                        <li>x</li>
                                        <li>y</li>
                                        <li>z</li>
                                    </ul>
                                </div>
                                <div class="wf-search-result scrollbar"></div>
                                <div class="wf-check-result-container clearfix">
                                    <span class="fl"><span
                                            i18n="workflow.memberSelected.MEMBER_SELECTED"></span>:</span>
                                    <ul class="clearfix wf-check-result">
                                    </ul>
                                    <button type="button" id="wf-member-comfirm-btn" class="btn btn-success fr"
                                            i18n="workflow.common.CONFIRM"></button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--添加人员 end-->
</div>
<!--确认是否删除任务组浮动窗口开始-->
<article id="wf-del-win" class="modal fade confirmWin" data-param="" data-type="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" i18n="workflow.task.DEL_TASK_GROUP_TIPS"></h4>
            </div>
            <div class="modal-body">
                <p class="infoPrompt" i18n="workflow.task.DEL_TASK_GROUP_COMMIT"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        i18n="workflow.main.CANCEL">
                </button>
                <button id="wf-event-confirm" type="button" class="btn btn-primary"
                        i18n="workflow.common.CONFIRM"></button>
            </div>
        </div>
    </div>
</article>
<!--日历表里面的任务列表开始-->
<script type="text/html" id="tpl_wf_group_list_calendar">
    <!for(var m=0; m < created.length; m++){!>
    <li groupType="1" class="group-item">
        <div class="oh">
                <span class="fl group-name" data-topic="wf-task-list-calendar" data-param="group;<!=created[m].id!>">
                    <span class="wf-get-crumbs wf-get-task-group ellipsis" title="<!=created[m].name!>"><i
                            class="icon-group"></i><!=created[m].name!></span>
                </span>
        </div>
    </li>
    <!}!>
    <!for(var n=0; n < joined.length; n++){!>
    <li groupType="2" class="group-item">
        <div class="oh">
                <span class="fl group-name" data-topic="wf-task-list-calendar" data-param="group;<!=joined[n].id!>">
                    <span class="wf-get-crumbs wf-get-task-group ellipsis" title="<!=joined[n].name!>"><i
                            class="icon-group"></i><!=joined[n].name!></span>
                </span>
        </div>
    </li>
    <!}!>
</script>
<!--日历表里面的任务列表结束-->
<!--任务里面的任务列表开始-->
<script type="text/html" id="tpl_wf_group_list">
    <!for(var m=0; m < created.length; m++){!>
    <li groupType="1" class="group-item">
        <div class="oh">
                <span class="fl group-name" data-topic="wf-task-list" data-param="group;<!=created[m].id!>">
                    <span class="wf-get-crumbs wf-get-task-group ellipsis" title="<!=created[m].name!>"><i
                            class="icon-group"></i><!=created[m].name!></span>
                </span>
            <span class="edit-group glyphicon glyphicon-edit fr"></span>
        </div>
        <ul class="wf-group-edit dn">
            <li class="wf-task-edit wf-get-crumbs" data-topic="wf-group-edit" data-param="group;<!=created[m].id!>"
                i18n="workflow.task.EDIT_TASK_GROUP"></li>
            <li class="wf-task-delete wf-get-crumbs" data-topic="wf-group-delete" data-param="<!=created[m].id!>"
                i18n="workflow.task.DELETE_TASK_GROUP">
            </li>
        </ul>
    </li>
    <!}!>
    <!for(var n=0; n < joined.length; n++){!>
    <li groupType="2" class="group-item">
        <div class="oh">
                <span class="fl group-name" data-topic="wf-task-list" data-param="group;<!=joined[n].id!>">
                    <span class="wf-get-crumbs wf-get-task-group ellipsis" title="<!=joined[n].name!>"><i
                            class="icon-group"></i><!=joined[n].name!></span>
                </span>
            <span class="edit-group glyphicon glyphicon-edit fr"></span>
        </div>
        <ul class="wf-group-edit dn">
            <li class="wf-task-edit wf-get-crumbs" data-topic="wf-group-see" data-param="group;<!=joined[n].id!>"
                i18n="workflow.task.SEE_TASK_GROUP_INFO"></li>
        </ul>
    </li>
    <!}!>
</script>
<script type="text/html" id="tpl_wf_member">
    <!for(var m=0; m < members.length; m++){!>
    <!var member = members[m];!>
    <!if(addUserMap[''+member.id]){!>
    <div class="wf-member wf-member-selected"
         data-user-id="<!=member.id!>" title="<!=member.userfullname!>">
        <div class="wf-member-avatar">
            <img class="avatar-icon" src="<!=member.userpic!>">
        </div>
        <div class="wf-member-content">
            <p class=" wf-team-avatar-name ellipsis"><!=member.userfullname!></p>
        </div>
        <div class="wf-member-check">
            <span class="glyphicon glyphicon-ok"></span>
        </div>
    </div>
    <!}else{!>
    <div class="wf-member" data-user-id="<!=member.id!>" title="<!=member.userfullname!>">
        <div class="wf-member-avatar">
            <img class="avatar-icon" src="<!=member.userpic!>">
        </div>
        <div class="wf-member-content">
            <p class=" wf-team-avatar-name ellipsis"><!=member.userfullname!></p>
        </div>
        <div class="wf-member-check">
            <span class="glyphicon glyphicon-ok"></span>
        </div>
    </div>
    <!}!>
    <!}!>
</script>
<!--选择人员模板开始-->
<!--选择人员-task-edit 选择人员后显示出来的人物模板-->
<script type="text/html" id="tpl_wf_added_member_personal">
    <!for(var m=0; m < members.length; m++){!>
    <!var member = members[m];!>
    <dl class="pr wf-detail-userInfo">
        <dt class="wf-detail-userPic"><img src="<!=member.userpic!>" class="wf-person-pic"></dt>
        <dd class="pa wf-detail-userName ellipsis" title="<!=member.userfullname!>"><!=member.userfullname!></dd>
        <input type="hidden" name="<!=userListName!>[]" value="<!=member.id!>">
    </dl>
    <!}!>
</script>
<!--选择人员状态栏模板-->
<script type="text/html" id="tpl_wf_dialog_added_member">
    <!for(var m=0; m < members.length; m++){!>
    <!var member = members[m];!>
    <li>
        <span class="ellipsis" title="<!=member.userfullname!>"><!=member.userfullname!></span>
        <i class="glyphicon glyphicon-remove"
           i18n="workflow.main.DELETE" data-user-id="<!=member.id!>"></i>
    </li>
    <!}!>
</script>
<!--选择人员模板结束-->
<!--菜单标签列表文字开始-->
<script type="text/html" id="tpl_wf_tags_list_text">
    <!for(var m=0; m < labels.length; m++){!>
    <!var label = labels[m];!>
    <li class="wf-label-li" id="trans-<!=label.id!>" userid="<!=label.userId!>" labelId="<!=label.id!>"
        labeltype="<!=label.type!>" data-topic="wf-task-list" data-param="tag;<!=label.id!>">
        <span class="glyphicon glyphicon-tag"></span>
        <span><!=label.name!></span>
    </li>
    <!}!>
</script>
<!--菜单标签列表文字结束-->
<!--菜单标签列表文本框开始-->
<script type="text/html" id="tpl_wf_tags_list_input">
    <!for(var m=0; m < labels.length; m++){!>
    <!var label = labels[m];!>
    <li class="wf-label-li" id="trans-<!=label.id!>" userid="<!=label.userId!>" labelid="<!=label.id!>"
        labeltype="<!=label.type!>">
        <input type="text" class="wf-label-name form-control w150" name="labelItemName" maxlength="12"
               labelid="<!=label.id!>" labeltype="<!=label.type!>" value="<!=label.name!>"
               i18n="title=workflow.task.ENTER_TAG_NAME_INFO;placeholder=workflow.task.ENTER_TAG_NAME_INFO"/>
        <span class="glyphicon glyphicon-remove wf-label-delete"></span>
    </li>
    <!}!>
</script>
<!--菜单标签列表文本框结束-->
<!--菜单标签列表增加空文本框开始-->
<script type="text/html" id="tpl_wf_tags_list_input_empty">
    <li class="wf-label-li" labeltype="new">
        <input type="text" class="wf-label-name form-control w150" name="labelItemName"
               i18n="title=workflow.task.EDIT_TAG_NAME_INFO;placeholder=workflow.task.EDIT_TAG_NAME_INFO"
               maxlength="12" value=""/>
        <span class="glyphicon glyphicon-remove wf-label-delete"></span>
    </li>
</script>
<!--菜单标签列表增加空文本框结束-->