<style>
    #wf-task-tableWrapper {
        height: auto;
    }

    #wf-task-table tr {
        border: 1px solid #ccc;
    }

    #wf-task-table tbody tr:nth-of-type(even) {
        background: -moz-linear-gradient(top, rgba(240, 248, 255, 0.2) 0%, rgba(240, 248, 255, 0.8) 50%, rgba(168, 164, 164, 0.2) 100%);
        background: -webkit-linear-gradient(top, rgba(240, 248, 255, 0.2) 0%, rgba(240, 248, 255, 0.8) 50%, rgba(240, 248, 255, 0.2) 100%);
    }

    #wf-task-table th, #wf-task-table td {
        text-align: center;
        padding: 3px;
        border: none;
    }

    #wf-task-table thead tr th {
        background: #e5f3ff;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #wf-task-table tbody tr:hover {
        background: #e5f3ff;
        color: #333;
    }

    #task-pagination {
        margin-right: 0
    }

    .ellipsis_wf_name {
        display: inline-block;
        width: 150px;
        vertical-align: middle;
    }

    .wf-task-filter {
        margin: 5px 0;
        overflow: hidden;
    }

    #wf-taskMine-content .pagination {
        margin: 15px 0 0 0;
    }
</style>
<div id="wf-taskMine-content">
    <form class="clearfix">
        <div class="wf-task-filter dn">
            <label class="fl mr20 wf-lable">
                <span class="fl"><em i18n="workflow.task.FILTER"></em><i>：</i></span>
                <select class="form-control fl w150">
                    <option i18n="workflow.task.IN_PROGRESS"></option>
                    <option i18n="workflow.task.COMPLETED"></option>
                    <option i18n="workflow.task.STARING"></option>
                </select>
            </label>
        </div>
        <div id="wf-task-tableWrapper">
            <table id="wf-task-table" class="wf-table wf-record">
                <thead>
                <tr>
                    <th width="7%" data-order-property="id" class="order"><span
                            class="glyphicon glyphicon-sort-by-attributes-alt"></span><span
                            i18n="workflow.task.SERIAL_NUMBER"></span></th>
                    <th width="23%" data-order-property="title" class="order"><span i18n="workflow.notice.ORDER"></span>
                    </th>
                    <th width="10%" data-order-property="executorID" class="order"><span
                            i18n="workflow.mine.EXECUTOR"></span></th>
                    <th width="13%" data-order-property="dueDate" class="order"
                        style="text-align:center;"><span i18n="workflow.common.DEADLINE"></span></th>
                    <th width="12%" data-order-property="groupID" class="order"
                        style="text-align:center;"><span i18n="workflow.task.TASK_GROUP"></span></th>
                    <th width="12%" data-order-property="critical" class="order ellipsis"
                        style="max-width: 100px;"><span
                            i18n="workflow.urgencyLevel.URGENCY_LEVEL"></span></th>
                    <th width="9%" data-order-property="statusId" class="order"><span
                            i18n="workflow.mine.STATUS"></span></th>
                    <th width="7%"><span i18n="workflow.task.COLLECT"></span></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div>
            <div class="page-info fl"></div>
            <ul id="task-pagination" class="pagination fr"></ul>
        </div>
    </form>
</div>
<script type="text/html" id="tpl_wf_taskList">
    <!if(transactions.length === 0){!>
    <tr style="background-color: #FFFFFF;">
        <td colspan="9"><img src="static/images/workflow/emptyActivitys.gif" style="height: 100%;"></td>
    </tr>
    <!}!>
    <! for(var m=0; m < transactions.length; m++){ !>
    <! var transaction = transactions[m]; !>
    <tr>
        <td width="7%" data-topic="wf-load-detail" data-param="show;<!=transaction.id!>"><!=transaction.id!></td>
        <td width="23%" data-topic="wf-load-detail" data-param="show;<!=transaction.id!>" title="<!=transaction.title!>"
            style="text-align: center;"><span class="ellipsis ellipsis_wf_name" style="width: 350px"><!=transaction.title!></span>
        </td>
        <td width="10%" data-topic="wf-load-detail" data-param="show;<!=transaction.id!>" style="text-align: center">
            <!=transaction.executorName!>
        </td>
        <td width="13%" data-topic="wf-load-detail" data-param="show;<!=transaction.id!>" style="text-align:center;">
            <!var dueDate = transaction.dueDate.toDate().format('yyyy-MM-dd');!>
            <!if(!transaction.dueDate){!>
            <!=''!>
            <!}else if(parseInt(transaction.statusId) > 3){!>
            <!=dueDate!>
            <!}else if(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days') < 0){!>
            <label class="label label-danger" title="<!=dueDate!>"><span i18n="workflow.task.OVERDUE"></span>
                <!=Math.abs(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days'))!> <span
                        i18n="workflow.task.DAY"></span> </label>
            <!}else if(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days') == 0){!>
            <label class="label label-danger" title="<!=dueDate!>" i18n="workflow.calendar.TODAY"></label>
            <!}else if(moment(dueDate).diff(new Date().format('yyyy-MM-dd'), 'days') == 1){!>
            <label class="label label-warning" title="<!=dueDate!>" i18n="workflow.calendar.TOMORROW"></label>
            <!}else{!>
            <!=dueDate!>
            <!}!>
        </td>
        <td width="12%" data-topic="wf-load-detail" data-param="show;<!=transaction.id!>"
            title="<!=transaction.groupName!>" style="text-align:center;">
            <span class="ellipsis ellipsis_wf_name"><!=transaction.groupName!></span>
        </td>
        <td width="12%" data-topic="wf-load-detail" data-param="show;<!=transaction.id!>" class="ellipsis"
            i18n="workflow.urgencyLevel.<!=transaction.critical!>"></td>
        <td width="9%" data-topic="wf-load-detail" data-param="show;<!=transaction.id!>" class="ellipsis"
            i18n="workflow.taskStatus.<!=transaction.statusId!>"></td>
        <td width="7%" data-topic="wf-star-select" data-param="">
            <!if(transaction.star){!>
            <span class="glyphicon glyphicon-star wf-task-star cp hasEvents" trans_id="<!=transaction.id!>"
                  userId=""></span>
            <!}else{!>
            <span class="glyphicon glyphicon-star-empty wf-task-star cp hasEvents" trans_id="<!=transaction.id!>"
                  userId=""></span>
            <!}!>
        </td>
    </tr>
    <! } !>
</script>



