<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Asset Management</title>
    {% assets "asset_app_css_bundle" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <div class="back" style="display:none"><span class="glyphicon glyphicon-chevron-left" style="z-index:5;color:#000;margin-bottom:2rem"></span></div>
    
    <div id="containerBox">
    </div>
{% assets "asset_app_js_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</body>
</html>
