<div id="wf_team_wrapper" class="wf wf_team_wrapper" style="position: relative;"></div>
<style>
    .ui-tooltip {
        z-index: 2;
    }

    #wf_team_edit_form {
        padding: 10px;
    }

    #wf_team_edit_form .fixTop {
        position: relative;
        left: 0;
        right: 0;
        padding: 10px 0;
        background-color: #f6f6f6;
        border-bottom: 2px solid #DCDCDC;
        z-index: 102;
    }

    #wf_team_edit_form #wf-team-content {
        overflow-y: auto;
        height: 800px;
    }

    @media (max-width: 1366px) {
        #wf_team_edit_form #wf-team-content,
        #wf_team_wrapper .team-content {
            height: 560px !important;
        }
    }

    #wf_team_wrapper {
        overflow-y: hidden;
    }

    #wf_team_wrapper .team-content {
        height: 800px;
        overflow-y: auto;
    }

    #wf_show_page_fun {
        position: relative;
        right: 0;
        left: 0;
        border-bottom: 2px solid #DCDCDC;
        z-index: 102;
        background-color: #f6f6f6;
        padding: 10px;
        text-align: right;
    }


</style>
<!--@formatter:off-->
<!--无团队模板开始-->
<script type="text/html" id="tpl_wf_team_none">
    <div id="wf_team_no_join" class="no-join-box">
        <div><span i18n="workflow.team.NO_TEAM_MESSAGE"></span></div>
        <span id="wf_add_team" class="glyphicon glyphicon-plus-sign mt30"></span>
    </div>
</script>

<script type="text/html" id="tpl_wf_team_none_without_permission">
    <div id="wf_team_no_join" class="no-join-box">
        <div><span i18n="workflow.team.NO_TEAM_MESSAGE_WITHOUT_PERMISSION"></span></div>
    </div>
</script>
<!--无团队模板结束-->

<!--创建团队模板开始-->
<script type="text/html" id="tpl_wf_team_create">
    <div id="wf_team_create_box" class="wf_team_create_page gray-scrollbar" style="height: 100%;overflow-y: auto; padding-top: 10px;">
        <article class="tr">
            <button type="button" class="btn btn-default mr10" id="wf_team_create_cancel" i18n="workflow.main.CANCEL"></button>
            <button type="button" class="btn btn-primary mr30" id="wf_team_create_confirm" i18n="workflow.main.CONFIRM"></button>
        </article>
        <form id="wf_team_create_form" method="post" action="javascript:void(0)">
            <div id="wf_team_create_content" class="gray-scrollbar">
                <div class="form-team">
                    <div class="col-sm-1 tr"><span i18n="workflow.team.TEAM_NAME"></span></div>
                    <div class="col-sm-11">
                        <input type="text" value="" name="name" class="form-control" maxlength="20" i18n="placeholder=workflow.team.ENTER_TEAM_NAME"/>
                    </div>
                </div>
                <div class="form-team">
                    <div class="col-sm-1 tr"><span i18n="workflow.team.TEAM_DESCRIPTION"></span></div>
                    <div class="col-sm-11">
                        <textarea value="" name="desc" class="form-control" maxlength="50" i18n="placeholder=workflow.team.ENTER_TEAM_DESCRIPTION"></textarea>
                    </div>
                </div>
                <div class="form-team">
                    <div class="col-sm-1 tr"><span i18n="workflow.team.LABEL_NAME"></span></div>
                    <div class="col-sm-11">
                        <div id="wf_team_tags_wrapper_box" class="clearfix">
                            <div id="wf_team_tags_wrapper" class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="form-team teamFramework">
                    <div class="col-sm-1 tr"><span i18n="workflow.team.TEAM_FRAMEWORK"></span></div>
                    <div class="col-sm-11 toggle-is-show-box">
                        <span class="cp toggle-is-show toggle-show iconfont icon-xiazhankai"></span>
                        <div class="wf-added-user-list toggle-is-show-target" id="team_structure_box"></div>
                    </div>
                </div>
                <div class="form-team teamProcess">
                    <div class="col-sm-1 tr"><span i18n="workflow.team.TEAM_PROCESS"></span></div>
                    <div class="col-sm-11 toggle-is-show-box">
                        <span class="cp toggle-is-show toggle-show iconfont icon-xiazhankai"></span>
                        <div class="toggle-is-show-target">
                            <div id="wf_team_process" class="wf_team_process oh dn"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>
<!--创建团队模板结束-->

<!--团队编辑模板开始-->
<script type="text/html" id="tpl_wf_team_edit">
    <form class="form-horizontal oh wf_team_box wf_team_edit_page wf_member_type_<!=user_type!>" id="wf_team_edit_form" team_id="<!=team._id!>">
        <article class="tr fixTop">
            <button type="button" class="btn btn-default mr10" id="wf_team_edit_cancel" i18n="workflow.main.CANCEL"></button>
            <button type="button" class="btn btn-primary mr10" id="wf_team_edit_confirm" i18n="workflow.main.CONFIRM"></button>
            <button type="button" id="delete_team" class="btn btn-danger mr10 dn fr">
                <i class="glyphicon glyphicon-alert"></i><span i18n="workflow.team.TEAM_DISBANDED" style="margin-left: 5px;"></span>
            </button>
        </article>
        <div id="wf-team-content" class="gray-scrollbar">
            <div class="form-team">
                <div class="col-sm-1"><span i18n="workflow.team.TEAM_NAME"></span></div>
                <div class="col-sm-11">
                    <input type="text" value="<!=team.name!>" name="name" class="form-control" maxlength="20" i18n="placeholder=workflow.team.ENTER_TEAM_NAME"/>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1"><span i18n="workflow.team.TEAM_DESCRIPTION"></span></div>
                <div class="col-sm-11">
                    <textarea value="<!=team.desc!>" name="desc" class="form-control" maxlength="50" i18n="placeholder=workflow.team.ENTER_TEAM_DESCRIPTION"><!=team.desc!></textarea>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1"><span i18n="workflow.team.LABEL_NAME"></span></div>
                <div class="col-sm-11">
                    <div id="wf_team_tags_wrapper_box" class="clearfix">
                        <div id="wf_team_tags_wrapper" class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="form-team teamFramework">
                <div class="col-sm-1"><span i18n="workflow.team.TEAM_FRAMEWORK"></span></div>
                <div class="col-sm-11 toggle-is-show-box">
                    <span class="cp toggle-is-show toggle-show iconfont icon-xiazhankai"></span>
                    <div id="team_structure_box" class="mr10 toggle-is-show-target"></div>
                </div>
            </div>
            <div class="form-team teamProcess">
                <div class="col-sm-1 tr"><span i18n="workflow.team.TEAM_PROCESS"></span></div>
                <div class="col-sm-11 toggle-is-show-box">
                    <span class="cp toggle-is-show toggle-show iconfont icon-xiazhankai"></span>
                    <div class="toggle-is-show-target">
                        <div id="wf_team_process" class="wf_team_process oh dn"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>
<!--团队编辑模板结束-->

<!--团队显示模板开始-->
<script type="text/html" id="tpl_wf_team_show">
    <section class="form-horizontal oh wf_team_box wf_team_show_page wf_member_type_<!=user_type!>" id="wf_team_box">
        <article id="wf_show_page_fun" class="oh">
            <button class="btn btn-sm btn-info tr cp mr5" type="button" id="wf_team_edit">
                <i class="glyphicon glyphicon-pencil"></i> <span i18n="workflow.main.EDIT"></span>
            </button>
            <button class="btn btn-sm btn-danger tr cp mr5" type="button" id="wf_team_quite">
                <i class="glyphicon glyphicon-alert"></i> <span i18n="workflow.main.EXIT"></span>
            </button>
        </article>
        <div class="gray-scrollbar team-content">
            <div class="form-team">
                <div class="col-sm-1"><span i18n="workflow.team.TEAM_NAME"></span></div>
                <div class="col-sm-11">
                    <p><!=team.name!></p>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1"><span i18n="workflow.team.TEAM_DESCRIPTION"></span></div>
                <div class="col-sm-11">
                    <p><!=team.desc!></p>
                </div>
            </div>
            <div class="form-team">
                <div class="col-sm-1"><span i18n="workflow.team.LABEL_NAME"></span></div>
                <div class="col-sm-11">
                    <div class="mr10 fl">
                        <div id="wf_team_tags_wrapper_box" class="clearfix">
                            <div id="wf_team_tags_wrapper" class="clearfix" style="margin-left: -5px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-team teamFramework">
                <div class="col-sm-1"><span i18n="workflow.team.TEAM_FRAMEWORK"></span></div>
                <div class="col-sm-11 toggle-is-show-box">
                    <span class="cp toggle-is-show toggle-show iconfont icon-xiazhankai"></span>
                    <div id="team_structure_box" class="mr10 toggle-is-show-target"></div>
                </div>
            </div>
            <div class="form-team teamProcess">
                <div class="col-sm-1"><span i18n="workflow.team.TEAM_PROCESS"></span></div>
                <div class="col-sm-11 toggle-is-show-box">
                    <span class="cp toggle-is-show toggle-show iconfont icon-xiazhankai"></span>
                    <div class="toggle-is-show-target">
                        <div id="wf_team_process" class="wf_team_process oh dn"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>
<!--团队显示模板结束-->

<!--------------------------------------------------团队架构相关开始-------------------------------------------------->
<!--团队架构模板开始-->
<script type="text/html" id="tpl_wf_team_structure">
    <div class="team-<!=viewType!> dn">
        <div class="wf-added-user-list" id="team_structure">
            <!if(structure.length){!>
                <!for(var l=0; l < structure.length; l++){!>
                    <!var group = structure[l];!>
                    <div class="form-team" wf-team-id="<!=group.id!>">
                        <div class="col-sm-12 wf-user-name-box team-group-name-title">
                            <!if(l == 0){!>
                                <span class="wf-group-name team-group-name-text ellipsis mr10 wf-manager" contenteditable="false" group_type="member"><!=I18n.resource.workflow.main.SUPER_ADMINISTRATOR!></span>
                            <!} else if (l == 1) {!>
                                <span class="wf-group-name team-group-name-text ellipsis mr10 wf-manager" contenteditable="false" group_type="member"><!=I18n.resource.workflow.main.ADMINISTRATOR!></span>
                            <!}else{!>
                                <span class="wf-group-name team-group-name-text ellipsis mr10" contenteditable="false" group_type="member"><!=group.name!></span>
                                <span class="glyphicon glyphicon-edit cp wf-group-name-edit"></span>
                                <span class="glyphicon glyphicon-floppy-save cp dn wf-group-name-save"></span>
                            <!}!>
                        </div>
                            <div class="col-sm-12 pull-right wf-manager-people">
                                <div class="wf-group-people-box">
                                    <!for(var m=0; m < group.members.length; m++){!>
                                        <!var member=group.members[m];!>
                                        <div class="people" title="<!=member.userfullname!>">
                                            <img src="<!=member.userpic!>" class="user"/>
                                            <div class="people-name ellipsis"><!=member.userfullname!></div>
                                        </div>
                                    <!}!>
                                </div>
                                <!if(l==0){!>
                                    <span id="wfTeamAddSuperAdmin" class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add"></span>
                                <!}else if(l==1){!>
                                    <span id="wfTeamAddAdmin" class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add"></span>
                                <!}else{!>
                                    <span class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add"></span>
                                <!}!>
                            </div>
                    </div>
                <!}!>
            <!}else{!>
                <div class="form-team">
                    <div class="col-sm-12 team-group-name-title" group_type="1" member_id="<!=ObjectId()!>">
                        <span class="team-group-name-text" group_type="1">Super administrator</span>
                    </div>
                    <div class="col-sm-12 pull-right wf-manager-people" group_type="1">
                        <div class="wf-group-people-box"></div>
                        <span class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add" group_type="1"></span>
                    </div>
                </div>
                <div class="form-team">
                    <div class="col-sm-12 team-group-name-title" group_type="2" member_id="<!=ObjectId()!>">
                        <span class="team-group-name-text" group_type="2">Administrator</span>
                    </div>
                    <div class="col-sm-12 pull-right wf-manager-people" group_type="2">
                        <div class="wf-group-people-box"></div>
                        <span class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add" group_type="2"></span>
                    </div>
                </div>
            <!}!>
        </div>
        <div id="addTeamGroupInput" class="form-team">
            <div class="col-sm-12"></div>
            <div class="col-sm-12 cp wf-delete-parent">
            <span id="wf_team_groups_box" class="dn">
                <input type="text" id="wf_add_team_group" class="form-control mb10 group_name"
                       placeholder="<!=I18n.resource.workflow.main.ENTER_ADD_GROUP!>" name="group_name" value=""/>
            </span>
            </div>
        </div>
        <div id="addTeamGroupText" class="form-team">
            <div class="col-sm-12 cp">
            <span id="wf_team_group_add_input">
                <span class="glyphicon glyphicon-plus"></span>
                <span><!=I18n.resource.workflow.main.ADD_GROUP!></span>
            </span>
            </div>
        </div>
    </div>
</script>
<!--团队架构模板结束-->

<!--添加成员box模板开始-->
<script type="text/html" id="tpl_wf_add_group">
    <div class="form-team" wf-team-id="<!=id!>">
        <div class="col-sm-12 wf-user-name-box team-group-name-title">
            <span class="glyphicon glyphicon-edit cp wf-group-name-edit"></span>
            <span class="glyphicon glyphicon-floppy-save cp dn wf-group-name-save"></span>
            <span class="wf-group-name team-group-name-text" contenteditable="false"
                  group_type="member"><!=name!></span>
        </div>
        <div class="col-sm-12 wf-manager-people wf-team-memberList">
            <div class="wf-group-people-box"></div>
            <span class="glyphicon glyphicon-plus-sign fl cp wf-team-people-add" group_type="member"></span>
        </div>
    </div>
</script>
<!--添加成员box模板结束-->

<!--------------------------------------------------团队架构相关结束-------------------------------------------------->


<!--------------------------------------------------标签相关开始-------------------------------------------------->
<!--团队标签新添加模板开始-->
<script type="text/html" id="tpl_team_add_tags">
<!for(var l=0; l < tags.length; l++){!>
    <!var tag=tags[l];!>
    <span class="pr wf-tag-wrapper">
        <!if(opType !== 'show'){!>
            <!if(tag.type === 2){!>
                <i class="pa wf-tag-delete glyphicon glyphicon-remove"></i>
                <i class="pa wf-tag-edit glyphicon glyphicon-edit"></i>
                <i class="pa wf-tag-save glyphicon glyphicon-floppy-save"></i>
            <!}!>
        <!}!>
        <span class="glyphicon glyphicon-tag"></span>
        <span class="wf-tag-name"><!=tag.name!></span>
        <input type="hidden" value="<!=tag.name!>" name="tags[]" class="wf-tag-val">
    </span>
<!}!>
</script>
<!--团队标签新添加模板结束-->

<!--添加标签开始-->
<script type="text/html" id="tpl_wf_add_tag">
    <span class="pr wf-tag-wrapper">
        <!if(opType !== 'show'){!>
            <i class="pa wf-tag-delete wf-tag-remove glyphicon glyphicon-remove"></i>
            <i class="pa wf-tag-edit glyphicon glyphicon-edit"></i>
            <i class="pa wf-tag-save glyphicon glyphicon-floppy-save"></i>
        <!}!>
        <span class="glyphicon glyphicon-tag"></span>
        <span class="wf-tag-name"><!=name!></span>
        <input type="hidden" value="<!=name!>" name="tags[]" class="wf-tag-val">
    </span>
</script>
<!--添加标签结束-->
<!--------------------------------------------------标签相关结束-------------------------------------------------->
<!--@formatter:on-->

