<style>
    .documentScreenToolBar {
        margin-left: 15px;
        height: 45px;
        margin-top: 8px;
        width: 100%;
    }
    
    .documentScreenToolBarleft {
        height: 45px;
        white-space: nowrap;
        position: relative;
        display: block;
        /*margin-right: 200px;*/
        overflow: hidden;
        z-index: 11;
    }
    /*暂时中屏隐藏search 待优化 tool显示*/
    
    @media screen and (max-width: 1150px) {
        .documentScreenToolBarRight {
            display: none;
        }
    }
    
    .documentScreenToolBarRight {
        float: right;
        height: 45px;
        width: 200px;
    }
    
    .documentToolBtn {
        margin-right: 8px;
        margin-bottom: 8px;
        white-space: nowrap;
    }
    
    .backBtn {
        margin-left: 10px;
        padding-right: 10px;
        border-right: 1px solid;
        vertical-align: middle;
    }
    
    .documentScreenBreadcrumbs {
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 8px;
        display: flex;
        position: relative;
        min-width: 800px;
    }
    
    .documentScreenBreadNavUl li {
        list-style: none;
    }
    
    .documentScreenBreadNavUl {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row
    }
    
    .documentScreenBreadNav {
        display: flex;
        padding-left: 10px
    }
    
    .documentScreenMain {
        position: absolute;
        height: calc(100% - 100px);
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        min-width: 800px;
    }
    
    .documentScreenMainFiles {
        overflow-y: auto;
        width: 100%;
        min-width: 800px;
        height: calc(100% - 50px);
    }
    
    .documentScreenRowHead {
        border-top: 1px solid #ddd;
    }
    
    .documentScreenRow,
    .documentScreenRowHead {
        display: flex;
        width: 100%;
        height: 42px;
        padding-left: 10px;
        background-color: rgb(242, 242, 242);
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    
    .documentScreenRow:hover {
        background: rgba(62, 191, 229, 0.33) !important;
    }
    
    .documentScreenRow:nth-child(odd) {
        background-color: white
    }
    .documentScreenRow.active{
        background: rgba(62, 191, 229, 0.33) !important;
    }
    .fileCheckbox {
        margin-top: 12px;
        margin-bottom: 8px;
    }
    
    .fileText {
        display: flex;
        padding-left: 10px;
        margin-top: 11px;
        margin-bottom: 9px;
        width: 46%;
        position: relative'
    }
    
    .fileEditor {
        margin-top: 12px;
        margin-bottom: 8px;
        width: 16%;
    }
    
    .fileSize {
        margin-top: 12px;
        margin-bottom: 8px;
        width: 16%;
    }
    
    .fileUpdated {
        margin-top: 12px;
        margin-bottom: 8px;
        width: 16%;
    }
    
    .modal {
        display: block;
        background: rgba(75, 75, 75, 0.37);
    }
    
    .modal-dialog {
        width: 600px;
    }
    
    .modal-footer {
        text-align: start;
        height: 70px;
        padding: 10px 15px;
    }
    
    .ipChangeName {
        display: inline-block;
        margin-left: 5px;
        width: 50%;
        height: 30px;
        padding: 6px 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        transform: translateY(-5px);
    }
    
    .selectCheck,#CheckboxAll {
        width: 15px;
        height: 15px;
        transform: translateY(-1px);
    }
    
    .backBtn,
    #allFiles {
        cursor: pointer;
    }
    
    .documentSearch {
        margin-right: 70px !important;
    }
    #btnFilter {
        height: 34px;
        border-top-left-radius:0;
        border-bottom-left-radius:0;
    }
    .spanFileName{
        margin-left: 4px;
        /*width: 80%;*/
    }
    #formWrap {
        min-height: 300px;
    }

    .preImg {
        position: absolute;
        padding: 5px;
        width: 150px;
        background: #efefef;
        border: 1px solid #CCC;
        border-radius: 5px;
        transform: translateY(-50%);
    }
    .preImg img{
        display: block;
        width: 100%;
    }
</style>
<div class="documentScreenContainer">
    <div class="documentScreenToolBar ">
        <div class="documentScreenToolBarRight">
            <div class="documentSearch input-group documentToolBtn">
                <input type="text" class="form-control " maxlength="15" placeholder="Search" id="inputFilter">
                <button class="btn btn-default" id="btnFilter">
                    <span class="iconfont icon-sousuo"></span>
                </button>
            </div>
        </div>
        <div class="documentScreenToolBarleft">
            <div class="btn btn-success documentToolBtn" id="btnUpload">
                <span class="iconfont icon-xiazai1" aria-hidden="true"></span> Upload
            </div>
            <div class="btn btn-default documentToolBtn" id="createFolder">
                <span class="iconfont icon-wenjianjia-1" aria-hidden="true"></span> New folder
            </div>
            <div class="btn btn-default documentToolBtn" id="btnDownload">
                <span class="iconfont icon-xiazai" aria-hidden="true"></span> Download
            </div>
            <div class="btn btn-default documentToolBtn" id="btnDelte">
                <span class="iconfont icon-cuowu1" aria-hidden="true"></span> Delete
            </div>
            <div class="btn btn-default documentToolBtn" id="btnRename">
                <span class="iconfont icon-wenjianjia-" aria-hidden="true"></span> Rename
            </div>
            <div class="btn btn-default documentToolBtn" id="btnMoveto">
                <span class="glyphicon glyphicon-move" aria-hidden="true"></span> Move to
            </div>
            <input type="file" value="Select image" class="fileUpload" id="fileUpload" multiple="multiple" style="display:none;">
        </div>
    </div>
    <div class="documentScreenBreadcrumbs">
        <div class="backBtn">Back</div>
        <div class="documentScreenBreadNav">
            <ul class="documentScreenBreadNavUl text-primary">
                <li class="" id="allFiles" backId="0">All files</li>
            </ul>
        </div>
    </div>
    <div class="documentScreenMain">
        <div class="documentScreenMainTop">
            <div class="documentScreenRowHead">
                <div class="fileCheckbox">
                    <label>
                <input type="checkbox" id="CheckboxAll" value="option1" aria-label="...">
                </label>
                </div>
                <div class="fileText">
                    <span>File</span>
                </div>
                <div class="fileEditor">
                    <span>Editor</span>
                </div>
                <div class="fileSize">
                    <span>Size</span>
                </div>
                <div class="fileUpdated">
                    <span>Updated</span>
                </div>
            </div>
        </div>
        <div class="documentScreenMainFiles gray-scrollbar">
        </div>
    </div>
</div>