<style>
    .gray {
        color: rgb(130, 130, 130);
    }
    
    .blueIcon {
        color: rgb(13, 122, 255);
    }
    
    #indexMain {
        height: 100%!important;
    }
    
    #bottomBlank {
        display: none!important;
    }
    
    #topBlank {
        display: none!important;
    }
    
    #imgloginBg {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    
    #ImgLogin {
        width: 40%;
        margin-left: 30%;
        border-radius: 8rem;
        overflow: hidden;
        position: relative;
        top: 15%;
        margin-bottom: 10%;
        /*box-shadow: 0 0 2rem 1rem #0F2A43;*/
    }
    
    #ImgLogin img {
        width: 100%;
        position: relative;
    }
    
    #ImgLogin div {}
    
    #divLoginInfo {
        width: 80%;
        height: 30%;
        position: relative;
        left: 10%;
        top: 15%;
    }
    
    #divLoginInfo label {
        display: none;
    }
    
    #divLoginInfo>.form-group {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        height: 4rem;
    }
    
    #divLoginInfo .form-control {
        float: none;
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        color: #eee;
        background-color: transparent;
    }
    
    #divLoginInfo .form-control::-webkit-input-placeholder {
        color: #fff;
    }
    
    #divLoginInfo .form-control:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    
    #divLoginInfo .input-group {
        width: 70%;
        display: inline-block;
    }
    
    #divUserId {
        border-bottom: 1px solid #eee;
    }
    
    #divUserPwd {
        border-bottom: 1px solid #eee;
    }
    
    .infoIcon {
        display: inline-flex;
        display: -webkit-inline-flex;
        width: 10%;
        height: 100%;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
    }
    
    .infoIcon svg {
        height: 2rem;
        width: 1.4rem;
    }
    
    .infoIcon.addIcon {
        width: 20%;
        padding-left: 20px;
    }
    
    .infoIcon.addIcon svg {
        height: 1.2rem;
    }
    
    .infoIcon path {
        fill: white;
        stroke: white;
    }
    
    #btnLogin {
        position: relative;
        top: 30%;
    }
    
    #btnLogin button {
        border-radius: .5rem;
        background-color: #112250;
        padding: 0.5rem;
        font-size: 1.6rem;
    }
    
    #btnLogin button,
    #btnLogin button:focus,
    #btnLogin button:active {
        border-color: transparent;
        outline-color: transparent;
    }
    
    #rememberPwd {
        display: inline-block;
        position: relative;
    }
    
    #forgetPwd {
        position: relative;
        left: 5rem;
        font-size: 1.4rem;
        border-bottom: 1px solid #D8DADD;
        display: inline-block;
    }
    
    #divSignUp {
        position: relative;
        top: 24%;
        text-align: center;
        font-size: 1.5rem;
        color: #aaa;
    }
    
    #btnSignUp {
        color: #D16462;
        border-bottom: 1px solid #E8D5EB;
    }
    
    #divCopyRight {
        position: relative;
        top: 43%;
        width: 100%;
        text-align: center;
        color: #eee;
    }
    
    #pwdManage {
        margin-top: -10px;
    }
    
    @media (max-device-height:667px) and (-webkit-min-device-pixel-ratio:2) {
        /* 兼容iphone4/4s */
        #ImgLogin {
            top: 15%;
        }
        #divLoginInfo {
            top: 22%;
        }
        #forgetPwd {
            font-size: 1.2rem;
            left: 1rem;
        }
        #btnLogin {
            top: 30%;
        }
        #btnLogin button {
            font-size: 2rem;
        }
        #divSignUp {
            top: 12%;
            font-size: 1.3rem;
        }
    }
    
    @media (device-height:667px) and (-webkit-min-device-pixel-ratio:2) {
        /* 兼容iphone6 */
        #forgetPwd {
            font-size: 1.3rem;
            left: 4rem;
        }
    }
    
    @media (device-height:480px) and (-webkit-min-device-pixel-ratio:2) {
        /* 兼容iphone4 */
        #divSignUp {
            top: 8%;
        }
    }
    
    .divLanguage {
        position: absolute;
        padding: 3px 10px 3px 10px;
        top: 10px;
        right: 20px;
        border: 1px solid #eee;
        border-radius: 4px;
        opacity: 0.7;
        display: block;
        z-index: 10;
        cursor: pointer;
        font-size: 13px;
    }
    
    .divLanguage span {
        color: #eee;
    }
    
    .divLanguage:hover #selectLanguage {
        display: block;
    }
    
    #selectLanguage {
        margin-left: -10px;
        background-color: transparent;
        min-width: 1rem;
        max-width: 8rem;
    }
    
    #selectLanguage .vMiddle {
        text-align: right;
    }
    
    #selectLanguage li {
        border-radius: 3px;
    }
    
    #selectLanguage li:hover span {
        color: #16599C;
    }
    
    #divHostSet {
        position: absolute;
        padding: 3px 10px 3px 10px;
        top: 10px;
        left: 10px;
        border: 1px solid #eee;
        border-radius: 4px;
        opacity: 0.7;
        display: block;
        z-index: 10;
        cursor: pointer;
        font-size: 13px;
    }
    
    #divHostSet:hover #selHost {
        display: block;
    }
    
    #selHost {
        background-color: transparent;
    }
    
    #divHostSet span {
        color: #eee;
    }
    
    #divHostSet .liHost {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        color: #eee;
    }
    
    .iptHost {
        background-color: transparent;
        border: none;
    }
    
    .divHostShow {
        position: absolute;
        left: 80px;
        color: white;
    }
</style>
<img id="imgloginBg" src="static/app/dashboard/img/loginBg.jpg" />
<div id="divAppDashboardLanguage" class="divLanguage">
    <a>
        <span i18n="admin.navIndex.LINK_LANGUAGE"></span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" id="selectLanguage">
        <li><a value="zh"><span class="vMiddle">中文</span></a></li>
        <li><a value="en"><span class="vMiddle">English</span></a></li>
    </ul>
</div>

<div id="divHostSet" class="divHost" style="display: none">
    <div class="divHostShow"></div>
    <a>
        <span>节点</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" id="selHost">
        <li class="liHost zepto-ev" value="http://beop.rnbtech.com.hk">国服</li>
        <li class="liHost zepto-ev" value="http://beopdemo.rnbtech.com.hk">国服demo</li>
        <li class="liHost zepto-ev" value="http://192.168.1.208">208</li>
        <li class="liHost liHostIpt">
            <input class="iptHost" value="192.168.1." type="text">
        </li>
    </ul>
</div>

<div id="ImgLogin">
    <img class='zepto-ev' src="static/app/dashboard/img/login.png" />
</div>
<div id="divLoginInfo">
    <div id="divUserId" class="form-group">
        <label class="sr-only" for="userName"></label>
        <div class="infoIcon userIcon">
            <svg x="0px" y="0px" width="1024px" height="1024px" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve">
                <path class="svgpath" data-index="path_0" fill="#272636" d="M790.528 308.544c0-161.6-130.368-292.544-291.2-292.544-160.96 0-291.264 130.944-291.264 292.544 0 161.536 130.304 292.544 291.264 292.544C660.16 601.088 790.528 470.08 790.528 308.544L790.528 308.544zM258.688 308.544c0-133.44 107.648-241.664 240.64-241.664 132.864 0 240.512 108.16 240.512 241.664 0 133.376-107.648 241.664-240.512 241.664C366.336 550.208 258.688 441.92 258.688 308.544L258.688 308.544zM5.44 982.592l0 25.408L30.72 1008l455.872 0 506.624 0 25.344 0 0-25.408c0-228.352-234.432-432.384-506.624-432.384-16.384 0-32.64 0.64-48.832 1.984-14.016 1.088 22.4 13.44 23.488 27.392 14.848-1.216 10.368 21.504 25.28 21.504 245.696 0 455.936 182.976 455.936 381.504l25.408-25.408L486.592 957.184 30.72 957.184l25.28 25.408c0-135.104 84.864-258.56 221.632-327.296 12.608-6.272 17.6-21.632 11.328-34.112C282.816 608.576 267.584 603.456 255.04 609.728 101.952 686.72 5.44 827.136 5.44 982.592L5.44 982.592zM5.44 982.592" />
            </svg>
        </div>
        <div class="input-group">
            <input id="userName" type="text" class="form-control gray" i18n='placeholder=admin.login.PANE_PLACEHOLDER_ACCOUNT'>
        </div>
        <div class="infoIcon addIcon">
            <svg x="0px" y="0px" width="1024px" height="1024px" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve">
                <path class="svgpath" data-index="path_0" fill="#272636" d="M516.032 813.248 47.36 344.64 5.056 386.944 513.024 894.976 1018.944 389.056 979.584 349.696Z" />
            </svg>
        </div>
    </div>
    <div id="divUserPwd" class="form-group">
        <label class="sr-only" for="password"></label>
        <div class="infoIcon pwdIcon">
            <svg x="0px" y="0px" width="1024px" height="1024px" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve">
                <path class="svgpath" data-index="path_0" fill="#272636" d="M836.096 367.232l-86.144 0 0.128-102.848c0-142.464-115.904-258.368-258.368-258.368-142.464 0-258.368 115.904-258.368 258.368L233.024 367.232 146.88 367.232c-35.648 0-64.256 33.792-64.256 69.44l0 516.736c0 35.648 28.992 64.576 64.576 64.576l689.024 0c35.648 0 64.576-28.992 64.576-64.576L900.8 436.672C900.864 401.024 871.744 367.232 836.096 367.232L836.096 367.232zM286.016 264.384c0-113.408 92.288-205.696 205.696-205.696 113.408 0 205.696 92.288 205.696 205.696l0 102.848L286.016 367.232 286.016 264.384 286.016 264.384zM854.912 949.888c0 11.776-9.6 21.376-21.376 21.376L149.952 971.264c-11.776 0-21.376-9.6-21.376-21.376l0-512.64c0-11.776 9.6-21.376 21.376-21.376l683.584 0c11.776 0 21.376 9.6 21.376 21.376L854.912 949.888 854.912 949.888zM854.912 949.888" />
                <path class="svgpath" data-index="path_1" fill="#272636" d="M491.776 586.752c-35.392 0-64.064 28.672-64.064 64.064 0 18.944 8.32 35.712 21.376 47.488l0 59.328c0 23.616 19.136 42.752 42.752 42.752 23.616 0 42.752-19.136 42.752-42.752l0-59.328c12.992-11.712 21.376-28.544 21.376-47.488C555.84 615.488 527.168 586.752 491.776 586.752L491.776 586.752zM491.776 586.752" />
            </svg>
        </div>
        <div class="input-group">
            <input id="password" type="password" class="form-control gray" i18n='placeholder=admin.login.PANE_PLACEHOLDER_PWD'>
        </div>
        <div class="infoIcon pwdIcon addIcon zepto-ev">
            <svg x="0px" y="0px" width="1024px" height="1024px" viewBox="0 0 1024 1024" enable-background="new 0 0 1024 1024" xml:space="preserve">
                <path class="svgpath" data-index="path_0" fill="#272636" d="M1014.144 482.816C1006.336 471.488 817.6 205.184 512 205.184c-305.6 0-494.336 266.304-502.208 277.632-12.224 17.536-12.224 40.832 0 58.368C17.664 552.576 206.4 818.816 512 818.816c305.6 0 494.336-266.24 502.144-277.568C1026.432 523.648 1026.432 500.352 1014.144 482.816L1014.144 482.816zM512 767.68C229.504 767.68 51.776 512 51.776 512S229.504 256.32 512 256.32C794.432 256.32 972.224 512 972.224 512S794.432 767.68 512 767.68L512 767.68zM512 767.68" />
                <path class="svgpath" data-index="path_1" fill="#272636" d="M512 307.456C399.04 307.456 307.456 399.104 307.456 512c0 112.96 91.584 204.544 204.544 204.544 112.896 0 204.544-91.584 204.544-204.544C716.544 399.104 624.896 307.456 512 307.456L512 307.456zM512 665.408c-84.608 0-153.408-68.8-153.408-153.408 0-84.544 68.8-153.408 153.408-153.408 84.544 0 153.408 68.864 153.408 153.408C665.408 596.608 596.544 665.408 512 665.408L512 665.408zM512 665.408" />
            </svg>
        </div>
    </div>
    <!--<div id="pwdManage">
        <div class="checkbox gray" id="rememberPwd">
            <label>
              <input type="checkbox" id="#inputRememberPwd"><span i18n="admin.login.PANE_CHECKBOX_REMEMBER">Remember me</span>
            </label>
        </div>
        <div id="forgetPwd" class="gray">
            Forget your password?
        </div>
    </div>-->
    <div class="form-group zepto-ev" id="btnLogin">
        <button type="button" class="btn btn-primary btn-lg btn-block zepto-ev" i18n="admin.login.PANE_TITLE">Login</button>
    </div>
    <!--<div id="divSignUp" class="gray">
        Don't have an account? <span id="btnSignUp">Sign Up</span>
    </div>-->
</div>
<div id="divCopyRight" class="gray">
    <small>R&amp;B TECHNOLOGY CO.LTD</small>
</div>