/*Overview Begin*/
.overviewScreen {
    padding: 5px;
    background-color: #ebeef7;
    width: 100%;
    height: 100%;
}

.overviewScreen .clickShadow.selected {
    box-shadow: 0px 0px 20px #00a7ce!important;
}

.panelTop {
    width: 100%;
    height: 60%;
}

.panelBottom {
    width: 100%;
    height: 40%;
}

.faultRatioContainer {
    width: 60%;
    height: 130px;
    float: left;
    padding: 10px 5px 5px 10px;
    padding-right: 5px;
}

.influenceRatioContainer {
    width: 40%;
    height: 130px;
    float: left;
    padding: 10px 5px 5px 5px;
}

.ChartContainer {
    width: 60%;
    height: calc(100% - 130px);
    position: relative;
    float: left;
    padding: 6px;
    padding-left: 10px;
}

.pieWithLineContainer {
    width: 40%;
    height: calc(100% - 130px);
    padding: 6px;
    float: left;
    position: relative;
}

.summaryContainer {
    width: 30%;
    height: 100%;
    float: left;
    padding: 6px;
    padding-left: 10px;
}

.pieWidthBarContainer {
    width: 30%;
    height: 100%;
    padding: 6px;
    float: left;
}

.tableContainer {
    width: 40%;
    height: 100%;
    padding: 6px;
    float: left;
}

.faultBox {
    width: 100%;
    height: 100%;
}

.influenceBox {
    width: 100%;
    height: 100%;
}

.chartBox {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 2px 12px 0  rgba(164,173,201,0.4);
}

.pieWithLineContainBox {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 2px 12px 0 rgba(164,173,201,0.4);
}

.BlackBox {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #28292e;
    box-shadow: 0px 2px 12px 0  rgba(164,173,201,0.4);
}

.faultTitle {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #00a7ce;
}
.boxPlane{
    height: 100%;
    display: inline-block;
    width: 24%;
    position: relative;
}
.overPlane {
    height: 100%;
    /* display: inline-block; */
    width: 100%;
    position: relative; 
}
.influencePanelContainer .overPlane {
    transition: transform .8s linear;
    transform-style: preserve-3d;
}
.influencePanelContainer .overPlane:hover {
    transform: rotateY(180deg);
}
.influencePanelContainer .overPlane .front { 
    transform: translateZ(0);
}
.influencePanelContainer .overPlane .back {   
    transform: rotateY(-180deg) translateZ(0);
}
.back .gotoBtn{
    z-index: 5;
}

.singlePanel {
    float: left;
    background-color: #fff;
    height: 100%;
    box-shadow: 0px 2px 12px 0 rgba(164,173,201,0.4);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.faultPanelContainer{
    height: calc(100% - 30px);
}
.faultPanelContainer .singlePanel {
    width: 12%;
}
.influencePanelContainer {
    overflow: hidden;
    height: calc(100% - 30px);
}
.influencePanelContainer .singlePanel {
    width: 100%;
    position: absolute!important;
     transition:transform 2s;  
}

.faultPanelContainer .singlePanel:not(:last-child) {
    margin-right: .54%;
}
.influencePanelContainer .boxPlane:not(:last-child) {
    margin-right: 1.2%;
}
.panelName {
    text-align: center;
    margin: 16px 0 8px;
    font-size: 12px;
    color: #69779f;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panelPower {
    color: #333333;
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
}

.panelBar {
    width: 100%;
    padding: 0 6px;
    position: absolute;
    bottom: 6px;
}

.progress1 {
    height: 3px;
    background: #ebeef7;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 1px;
}

.progress .blue {
    background: #6c90ca;
    box-shadow: 0 0 4px 0 rgba(108, 144, 202, 0.7);
}

.progress .pink {
    background: #df92e6;
    box-shadow: 0 0 4px 0 rgba(223, 146, 230, 0.7);
}

.progress .red {
    background: #e9728f;
    box-shadow: 0 0 4px 0 rgba(233, 114, 143, 0.7);
}

.progress .orange {
    background: #fcb192;
    box-shadow: 0 0 4px 0 rgba(252, 177, 146, 0.7);
}

.progress .skyblue {
    background: #57c9ff;
    box-shadow: 0 0 4px 0 rgba(87, 201, 255, 0.5);
}

.progress1>span {
    position: relative;
    float: left;
    margin: 0 -1px;
    height: 3px;
    line-height: 3px;
    text-align: right;
    border-radius: 1px;
}

.summaryTitle {
    width: 100%;
    height: 30px;
    color: #00a7ce;
    font-size: 14px;
    font-family: PingFangSC;
    padding-left: 10px;
    /*padding-top: 9px;*/
    /*padding-bottom: 9px;*/
    background-color: rgba(23,24,28,0.3);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.summaryTitle span{
    height: 30px;
    display: inline-block;
    line-height: 30px;
}
.summaryContent {
    height: calc(100% - 30px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.summaryTitleSmart{
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #838389;
    font-size: 12px;
    font-family: PingFangSC;
    padding-left: 10px;
    /*padding-top: 9px;
    padding-bottom: 9px;*/
}
.summaryTitleDot {
    width: 6px;
    height: 6px;
    background-color: #00bae8;
    border-radius: 6px;
    display: inline-block;
}

.summaryFirst {
    border-bottom: 1px solid rgb(43,45,70);
}

.summaryTitleName {
    color: #17abe3;
    font-size: 12px;
    padding-left: 6px;
    cursor: pointer;
}

.summaryPanel {
    width: 100%;
    padding: 10px;
}

.summaryPanelName {
    position: relative;
    top: -6px;
    font-size: 12px;
    font-weight: 300;
    color: #aaaab2;
    min-width: 24px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.summaryPanelLeft {
    width: 48px;
    display: inline-block;
    vertical-align: top;
}

.summaryPanelRight {
    width: calc(100% - 68px);
    display: inline-block;
    vertical-align: top;
}


.progressNew {
    height: 4px;

    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 1px;
}

.progressNew>span {
    position: relative;
    float: left;
    margin: 0 -1px;
    height: 4px;
    line-height: 4px;
    text-align: right;
    border-radius: 1px;
}

.summaryProgressBar {
    border-radius: 2px;
    background-image: linear-gradient(to right,  #88f5fb, #4589e3);
}

.summaryPanelTip {
    padding-top: 9px;
    color: #e5e6e8;
    font-size: 12px;
    line-height: 1.5;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.summaryTable {
    width: 100%;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.summaryTable div {
    display: inline-block;
    font-size: 12px;
}
.summaryTableBot {
vertical-align: middle;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #34c3ba;
}

.summaryTableName {
    padding-left: 13px;
    width: calc(100% - 37px);
}

.summaryTableMain {
    width: 40%;
    color: #e5e6e8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.summaryTableRight {
    color: #e5e6e8;
    border-right: 1px solid #a8adbb;
    padding-right: 12px;
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.summaryTableWarn {
    vertical-align: top;
    width: 33%;
    white-space: nowrap;
    vertical-align: middle;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
}

.summaryTableWarnName {
    color: #e5e6e8;
    padding-left: 12px;
    width: calc(50% - 12px);
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summaryTableWarnNum {
    padding-left: 12px;
    vertical-align: middle;
    color: rgb(251,112,127);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.summaryTable:nth-child(even) {

    background-color: #36373c;
}

.pieWidthBarContent {
    width: 100%;
    height: calc(100% - 30px);
}

.pieWidthBarByPie {
    width: 100%;
    height: 50%;
    display: flex;
}

.pieWidthBarByBar {
    width: 100%;
    height: 50%;
}
.tableContent{
    height: calc(100% - 30px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.tableRow {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid rgb(43,45,70);
}
.tableRow:hover{
    background: #373c50;
    color: #fff;
    cursor: pointer;
}

.tableRowDot {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 4px;
}

.tableRowDotWarn {
    background-color: #ea595c;
}

.tableRowTime {
    width: 20%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #69779f;
    font-size: 12px;
}
.tableRowTip{
    width: 25%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #e5e6e8;
    padding: 0 4px;
    font-size: 12px;
}
.tableRowCode{
    width: 50%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 4px;
    color: #e5e6e8;
    font-size: 12px;
}
.tableRowWord{
        width: 25%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 4px;
    color: #e5e6e8;
        font-size: 12px;
}

/*pieWithBar Beigin*/
.pieWidthBarEchart{
    width: 40%;
    height: 100%;
    display: inline-block;
}
.pieWidthBarMain{
    width: 60%;
    height: 100%;
    display: inline-block;
}
.pieWidthBarRow{
    height: 25px;
    width: 100%;
    display: flex;

}
.pieWidthBarDotBox{
    width: 6px;
    height: 6px;
    background-color: red;
    vertical-align: middle;
    display: inline-block;
}

.pieWidthBarDot{
    display: inline-block;
    height: 100%;
    width: 20px;
}
.pieWidthBarName{
    display: inline-block;
    height: 100%;
    width: calc(70% - 50px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #69779f;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.pieWidthBarData{
    display: inline-block;
    height: 100%;
    width: 30px;
    color: #edf2ff;
    font-size: 12px;

}
/*pieWithBar End*/
/*pieWithLine Begin*/
.pieWithLineContainTitle {
    width: 100%;
    height: 30px;
    color: #00a7ce;
    font-size: 14px;
    font-family: PingFangSC;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.pieWithLineContent {
    width: 100%;
    height: calc(100% - 30px);
}

.pieContent {
    width: 100%;
    height: 45%;
    display: flex;
}

.lineContent {
    width: 100%;
    height: 45%;
}

.pieCanvas {
    width: 80%;
    height: 100%;
    display: inline-block;
}

.piePanel {
    width: 100%;
     height: 10%; 
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
}
.piePanelBlack{
    width: 100%;
    height: 50%;
    /*height: calc(100% - 60px);*/
    /*flex: 1;*/
}
.piePanelDot {
    width: 14px;
    height: 8px;
    background-color: #6c90ca;
    display: inline-block;
    vertical-align: middle;
}
.singlePanelDot{
    width: 2px;
    height: 2px;
    display: inline-block;
    background: #111;
    vertical-align: middle;
}
.piePanelName{
    /* display: inline-block; */
    font-size: 12px;
    color: #666;
    width: 40%;
    cursor: pointer;
    height: 30px;
    padding-left: 10px;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top:15px;

}
.piePanelRow{
    /* width: 100%; */
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    /* top:-35px; */
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
}
.piePanelNum{
    font-size: 16px;
    /* display: inline-block; */
    color: #333;
    font-weight: 500;
    /*width: 25%;*/
    height: 30px;
    padding-right: 2px;
    padding-left: 2px;
}
.piePanelUnit{
    font-size: 12px;
    color: #333;
    /*width: 25%;*/
    height: 30px;
    padding-right: 2px;
    padding-left: 2px;
    display: inline-block;
}
/*pieWithLine end*/
/*chart3D begin*/
.chartConditionBox{
    width: 170px;
    height: 60px;
    position: relative;
    top: -90px;
}
.chart3DContent{
    width: 100%;
    height: calc(100% - 30px);
}
/*chart3D end*/
.clickShadow:hover{
    box-shadow: 0px 2px 12px 0 #929cb9;
}
.clickAddShadow{
    box-shadow: 0px 2px 12px 0 #929cb9;
}
.clickRemoveShadow{
    box-shadow: 0px 2px 12px 0 rgba(164,173,201,0.4);
}
.clickShadow.goto{
    position: relative;
}
.goto .gotoBtn{
    display: none;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #57c9ff;
}
.goto .gotoBtn:hover{
    color: #00a7ce;
}
.goto:hover .gotoBtn{
    display: block;
    position: absolute;
    right: 6px;
    top: 4px;
    cursor: pointer;
}

/*Overview End*/

/*Overview Begin*/

/*Overview End*/
/*Overview help start*/
.helpInfo{
    top: 2px;
    cursor: pointer;
}
/*Overview help end*/
