<style>
    ul, li {
        list-style: none;
    }

    ul {
        padding-left: 0;
    }

    time {
        font-weight: 600;
        margin: 0 12px;
    }

    .timeLine ul {
        margin-left: 10px;
    }

    .timeLine ul li {
        line-height: 25px;
        margin: 10px 0;
        overflow: hidden;
    }

    .recordTime {
        width: 200px;;
    }

    .recordContent {
        width: calc(98% - 200px);
    }

    #verticalLine {
        display: block;
        width: 1px;
        background: chocolate;
        left: 7px;
        top: 20px;
    }

    .timeLineIcon {
        z-index: 4;
        background: #fff;
        color: chocolate;
    }

    .horizontalLine {
        display: block;
        top: 11px;
        left: 10px;
        width: 13px;
        height: 1px;
        background: chocolate;
    }

    #workOrderHistory {
        margin-top: 10px;
    }

    #notice_detail .star {
        position: static;
        margin-right: 3px;
    }

    #workInfo .icCon .glyphicon {
        cursor: pointer;
        margin-right: 3px;
    }

    .info button {
        margin: 5px;
    }

    .edit-no-info {
        /*height: 45px;*/
    }

    .edit-info {
        height: 190px;
    }

    .edit-no-num {
        top: 24px;
        left: 0;
        font-weight: normal;
        font-size: 13px;
    }

    .edit-num {
        position: absolute;
        top: 44px;
        left: 0px;
    }

    #changeDate {
        background: #eee;
        border: 1px solid #ccc;
        cursor: pointer;
        text-indent: 5px;
    }

    #dateIcon {
        cursor: pointer;
    }

    #emergencyLevel {
        cursor: default;
    }

    .task-item[status-id='2'] .status {
        color: #b7d5b3;
    }

    #workInfo #taskStatus .glyphicon-verified {
        cursor: default;
    }

    #workInfo .title-editing {
        display: none;
    }

    #workInfo.editing .title-editing {
        display: block;
        width: 97%;
        height: 180px;
        position: absolute;
        top: 0;
    }

    #workInfo.editing .edit-no-info {
        display: none;
    }

    #detail-editor {
        width: 100%;
    }

    #workInfo #detail-editor {
        display: none;
    }

    #workInfo.editing #detail-editor {
        display: block;
    }

    #workInfo.editing .detail {
        display: none;
    }

    .glyphicon-pause {
        color: #b7d5b3;
    }

    .glyphicon-pause + .opteration-msg {
        color: #b7d5b3;
    }

    .title-editing button {
        margin: 5px 0 0 5px;
    }

    .content p {
        margin-left: 200px;
        margin-bottom: 2px;
    }

    #processRecordContent {
        margin: 20px auto 0 auto;
        overflow: hidden;
        width: 905px;
    }

    #processRecordContent li {
        overflow: hidden;
        margin: 5px 0;
    }

    #processRecordContent dl {
        text-align: center;
        height: 100px;
        width: 71px;
    }

    #processRecordContent time {
        font-weight: normal;
        width: 80px;
        text-align: center;
        margin: 0;
    }

    #processRecordContent .userName {
        display: inline-block;
        text-align: center;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .leftLi > dl, .rightLi > dl {
        margin-bottom: 0;
    }

    .leftLi > dl, .leftLi > .processInfo {
        float: left;
    }

    .rightLi > dl, .rightLi > .processInfo {
        float: right;
    }

    .down-right {
        float: right;
        margin-right: 32px;
    }

    .down-left {
        margin-left: 21px;
    }

    .processDown {
        height: 66px;
        line-height: 66px;

    }

    .processRightDown {
        margin-right: -6px;
    }

    .processLeftDown {
        margin-left: 6px;
    }

    .processDown h4 {
        position: absolute;
        width: 14px;
    }

    .processDown time {
        position: absolute;
        width: 9px;
    }

    .processRightDown h4 {
        top: 13px;
        left: 8px;
    }

    .processRightDown time {
        top: -2px;
        left: -30px;
    }

    .processLeftDown h4 {
        top: 13px;
        left: 30px;
    }

    .processLeftDown time {
        top: -2px;
        left: -9px;
    }

    .processUser {
        border-radius: 50px;
        width: 72px;
        height: 72px;
        float: left;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        padding: 2px;
        border: 2px solid #0076dc;
        box-shadow: 0 0 5px #0076dc;
        opacity: 0.2;
    }

    #processRecordContent .processSuccess {
        filter: none;
        -webkit-filter: grayscale(0);
        opacity: 1;
    }

    .processInfo {
        float: left;
        text-align: center;
    }

    .processInfo h4 {
        height: 24px;
        line-height: 31px;
    }

    .processInfo time {
        font-weight: normal;
    }

    .processNext {
        filter: none;
        display: block;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        opacity: 0.2;
    }

    #processRecordContent h4 {
        font-size: 12px;
        margin: 0;
    }

    #workOrderHistoryUl {
        max-height: 600px;
        overflow: auto;
    }

    #workOrderHistoryUl img {
        border-radius: 50px;
        margin-right: 3px;
        width: 25px;
        height: 25px;
    }

    #workOrderHistoryUl .historyEdit {
        margin-left: 40px;
    }

    #workOrderHistoryUl .historyEdit li {
        list-style: square;;
        margin: 1px;
    }

    .historyConTitle {
        color: #000;
        display: inline-block;
        width: 135px;
        text-align: right;
    }

    .oldName {
        color: #369;
        margin-right: 5px;
    }

    .newName {
        color: #369;
        margin-left: 5px;
    }

    .historyAction {
        color: #979797;
        font-weight: normal;
    }

    #reocrdInfoCon {
        width: 230px;
        font-size: 12px;
        z-index: 5555;
    }

    #reocrdInfoUl {
        background: #e7e7e7;
        border-radius: 20px;
        padding: 10px 15px;
    }

    #reocrdInfoUl li {
        height: 30px;
        line-height: 30px;
    }

    #reocrdInfoUl li span {
        margin: 0 5px;
    }

    #reocrdInfoUl li time {
        margin-left: 10px;
        margin-right: 0;
        font-weight: normal;
    }

    #reocrdInfoUl .active {
        color: #428bca;
    }

    #iconUp {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #e7e7e7;
        position: relative;
        top: -17px;
        left: 45px;
    }

    #assignInfo {
        cursor: pointer;
    }

    .assignInfoCon {
        display: block;
        float: left;
        width: 135px;
    }

    #wf-editor {
        max-height: 250px;
        height: 250px;
        background-color: white;
        border-collapse: separate;
        border: 1px solid rgb(204, 204, 204);
        padding: 4px;
        box-sizing: content-box;
        -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        overflow: auto;
        outline: none;
        margin-top: 10px;
    }

    #isDelWorkflowWin .modal-dialog {
        width: 360px;
    }

</style>
<article id="reocrdInfoCon" class="dn pa">
    <span id="iconUp"></span>
    <ul id="reocrdInfoUl"></ul>
</article>

<div class="col-xs-12 vertical-roll">
    <div class="col-xs-offset-1 col-xs-10 workflow-container" id="notice_detail">
        <!--确认是否删除浮动窗口开始-->
        <article id="isDelWorkflowWin" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><span i18n="workflow.common.PROMPT"></span>:</h4>
                    </div>
                    <div class="modal-body">
                        <p class="infoPrompt" style="text-align: center;color:red;"><span
                                i18n="workflow.common.DELETE_IT"></span>?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="wfCancel" type="button" class="btn btn-default" data-dismiss="modal"
                                i18n="workflow.common.CANCEL"></button>
                        <button id="wfConfrim" type="button" class="btn btn-primary"
                                i18n="workflow.common.CONFIRM"></button>
                    </div>
                </div>
            </div>
        </article>
        <!--确认是否删除浮动窗口结束-->
        <div class="row nav-row">
            <div class="col-xs-offset-1 col-xs-10 nav-content">
                <div class="row">
                    <div class="back-index-section col-xs-4">
                        <div class="back-section">
                            <a id="backTo" class="cp">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                <span class="backTitle"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row task-item" id="workInfo"></div>
        <div id="processRecord" class="row">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="first-row row-toggle">
                    <span i18n="workflow.notice.PROCESS_RECORD"></span>
                </div>
                <ul id="processRecordContent"></ul>
            </div>
        </div>
        <div id="workOrderHistory" class="row timeLine">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="first-row row-toggle">
                    <span i18n="workflow.notice.WORK_ORDER_HISTORY"></span>
                    <span class="glyphicon glyphicon-circle-arrow-down row-toggle-icon"></span>
                </div>
                <ul id="workOrderHistoryUl" class="toggle-enable pr"></ul>
            </div>
        </div>
        <div class="row breakdown-row dn">
            <div class="col-xs-offset-1 col-xs-10">
                <div class="row-toggle">
                    <span i18n="workflow.notice.FAULT_CHART"></span><span
                        class="glyphicon glyphicon-circle-arrow-down row-toggle-icon"></span>
                </div>
                <div class="toggle-enable">
                    <div class="col-xs-12 chart-body">
                        <div class="chart-comment">
                        </div>
                        <div>
                            <div id="error_line" height="500" style="height:500px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row discussion-row">
            <div class="col-xs-offset-1 col-xs-10">
                <div id="reply-content"></div>
                <!--文本编辑器-->
                <div class="reply-editor toggle-enable col-xs-offset-1 col-xs-10">
                    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                        <div class="btn-group">
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                               data-original-title="Font">
                                <i class="icon-font"></i><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a data-edit="fontName Serif" style="font-family:'Serif';">Serif</a></li>
                                <li><a data-edit="fontName Sans" style="font-family:'Sans';">Sans</a></li>
                                <li><a data-edit="fontName Arial" style="font-family:'Arial';">Arial</a></li>
                                <li><a data-edit="fontName Arial Black" style="font-family:'Arial Black';">Arial
                                    Black</a>
                                </li>
                                <li><a data-edit="fontName Courier" style="font-family:'Courier';">Courier</a></li>
                                <li><a data-edit="fontName Courier New" style="font-family:'Courier New';">Courier
                                    New</a>
                                </li>
                                <li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS';">Comic
                                    Sans
                                    MS</a></li>
                                <li><a data-edit="fontName Helvetica" style="font-family:'Helvetica';">Helvetica</a>
                                </li>
                                <li><a data-edit="fontName Impact" style="font-family:'Impact';">Impact</a></li>
                                <li><a data-edit="fontName Lucida Grande" style="font-family:'Lucida Grande';">Lucida
                                    Grande</a></li>
                                <li><a data-edit="fontName Lucida Sans" style="font-family:'Lucida Sans';">Lucida
                                    Sans</a>
                                </li>
                                <li><a data-edit="fontName Tahoma" style="font-family:'Tahoma';">Tahoma</a></li>
                                <li><a data-edit="fontName Times" style="font-family:'Times';">Times</a></li>
                                <li><a data-edit="fontName Times New Roman" style="font-family:'Times New Roman';">Times
                                    New
                                    Roman</a></li>
                                <li><a data-edit="fontName Verdana" style="font-family:'Verdana';">Verdana</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title=""
                               data-original-title="Font Size"><i class="icon-text-height"></i>&nbsp;<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" data-edit="bold" title=""
                               data-original-title="Bold (Ctrl/Cmd+B)"><i
                                    class="icon-bold"></i></a>
                            <a class="btn btn-default" data-edit="italic" title=""
                               data-original-title="Italic (Ctrl/Cmd+I)"><i
                                    class="icon-italic"></i></a>
                            <a class="btn btn-default" data-edit="strikethrough" title=""
                               data-original-title="Strikethrough"><i
                                    class="icon-strikethrough"></i></a>
                            <a class="btn btn-default" data-edit="underline" title=""
                               data-original-title="Underline (Ctrl/Cmd+U)"><i
                                    class="icon-underline"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" data-edit="insertunorderedlist" title=""
                               data-original-title="Bullet list"><i
                                    class="icon-list-ul"></i></a>
                            <a class="btn btn-default" data-edit="insertorderedlist" title=""
                               data-original-title="Number list"><i
                                    class="icon-list-ol"></i></a>
                            <a class="btn btn-default" data-edit="outdent" title=""
                               data-original-title="Reduce indent (Shift+Tab)"><i
                                    class="icon-indent-left"></i></a>
                            <a class="btn btn-default" data-edit="indent" title="" data-original-title="Indent (Tab)"><i
                                    class="icon-indent-right"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default btn-info" data-edit="justifyleft" title=""
                               data-original-title="Align Left (Ctrl/Cmd+L)"><i
                                    class="icon-align-left"></i></a>
                            <a class="btn btn-default" data-edit="justifycenter" title=""
                               data-original-title="Center (Ctrl/Cmd+E)"><i
                                    class="icon-align-center"></i></a>
                            <a class="btn btn-default" data-edit="justifyright" title=""
                               data-original-title="Align Right (Ctrl/Cmd+R)"><i
                                    class="icon-align-right"></i></a>
                            <a class="btn btn-default" data-edit="justifyfull" title=""
                               data-original-title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" title="" id="pictureBtn"
                               data-original-title="Insert picture (or just drag &amp; drop)"><i
                                    class="icon-picture"></i>
                                <input type="file" data-role="magic-overlay" data-target="#pictureBtn"
                                       data-edit="insertImage"
                                       style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 41px; height: 30px;">
                            </a>

                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" data-edit="undo" title=""
                               data-original-title="Undo (Ctrl/Cmd+Z)"><i
                                    class="icon-undo"></i></a>
                            <a class="btn btn-default" data-edit="redo" title=""
                               data-original-title="Redo (Ctrl/Cmd+Y)"><i
                                    class="icon-repeat"></i></a>
                        </div>
                        <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech=""
                               style="display: none;">
                    </div>
                    <div id="wf-editor">
                    </div>
                    <div class="reply-bottom-section">
                        <div class="buttons">
                            <button class="btn btn-success btn-reply"
                                    i18n="workflow.notice.COMMENTS;value=workflow.notice.COMMENTS;title=workflow.notice.COMMENTS">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--确认窗口开始-->
<article id="deassignWin" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span i18n="workflow.common.CONFIRM"></span>:</h4>
            </div>
            <div class="modal-body">
                <p id="deassignWinInfo" style="text-align: center;color:red;"></p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</article>
<!--确认窗口结束-->

<!--模板开始-->
<script type="text/html" id="workOrderHistoryUlTmpl">
    <span id="verticalLine" class="pa"></span>
    <!for(var i=0;i < operations.length; i++){!>
    <!var operation = operations[i]; !>
    <li>
        <div class="fl recordTime pr">
            <span class="glyphicon glyphicon-record mr10 timeLineIcon"></span>
            <span class="pa horizontalLine"></span>
            <time><!=operation.opTime!></time>
        </div>
        <div class="fl recordContent">
            <img src="<!=operation.userpic!>" title="<!=operation.userfullname!>"/>
            <span class="content"><!=WorkflowTool.translate(operation.op)!></span>
            <!if(operation.op==='edit'){!>
            <span class="content"><!=WorkflowTool.translate(operation.detail)!></span>
            <!}!>
        </div>
    </li>
    <!}!>
</script>

<script type="text/html" id="replyContentTmpl">
    <div class="row-toggle">
        <span i18n="workflow.notice.TOPIC"></span>
        <span class="glyphicon glyphicon-circle-arrow-down row-toggle-icon"></span>
    </div>
    <div class="discussion-content toggle-enable">
        <!for(var n=0; n < replyList.length; n++){!>
        <!var reply = replyList[n]; !>
        <div class="media discussion-media clearfix">
            <div class="media-left col-xs-1 tc">
                <img class="avatar-icon" src="<!=reply.userpic!>">

                <div class="avatar-name"><!=reply.userfullname!></div>
            </div>
            <div class="media-body col-xs-10">
                <div class="col-xs-9 item-text-color">
                    <span i18n="workflow.notice.REPLAY_ORDER"></span>：
                    <div class="latest-info-description"><!=reply.detail!></div>
                </div>
                <div class="col-xs-3 reply-date item-text-color"><!=reply.replyTime!></div>
            </div>
        </div>
        <!}!>
    </div>
</script>

<script type="text/html" id="recordDetailTmpl">
    <div class="row task-item" id="workInfo" taskId="<!=record_detail.id!>" groupId="<!=record_detail.groupid!>">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="description-section">
                <div class="description-row first-row">
                    <span i18n="workflow.notice.ORDER"></span>：<span
                        class="notice"><!=record_detail.groupName!></span>
                </div>
                <div class="description-row second-row clearfix">
                    <div class="msg col-xs-9">
                        <div class="content col-xs-8 task-title" style="white-space:normal;">
                            <div>
                                <div class="info edit-no-info" title="<!=record_detail.title!>">
                                    <!=record_detail.title!>
                                </div>
                                <div class="edit-no-num infoNo">
                                    <span i18n="workflow.common.NUMBER"></span>：<span
                                        class="no"><!=record_detail.id!></span>
                                    <!if(record_detail.creatorName){!>
                                    <span i18n="workflow.notice.CREATOR" class="ml10"></span>：<span
                                        class="no"><!=record_detail.creatorName!></span>
                                    <!}!>
                                </div>
                            </div>
                            <div class="title-editing">
                                <input type="text" id="title-editor" class="form-control"
                                       value="<!=record_detail.title!>"/>

                                <button type="button" class="pull-right btn btn-success edit-btn edit-btn-save"
                                        i18n="workflow.main.SAVE">
                                </button>
                                <button type="button" class="pull-right btn btn-default edit-btn edit-btn-cancel"
                                        i18n="workflow.main.CANCEL">
                                </button>
                                <button type="button" class="pull-right btn btn-danger edit-btn edit-btn-delete"
                                        i18n="workflow.main.DELETE">
                                </button>
                                <div class="pull-right">
                                    <select id="assignSelect" class="pull-right pa form-control"
                                            style="width:174px;top:77px;right:0;">
                                    </select>
                                    <select id="criticalSelect" class="pull-right pa form-control"
                                            style="width:174px;top:114px;right:0;">
                                        <option disabled value="-1" i18n="workflow.urgencyLevel.URGENCY_LEVEL"></option>
                                        <!for(var critical in criticalMap){!>
                                        <!if(critical == record_detail.critical){!>
                                        <option value="<!=critical!>" selected><!=criticalMap[critical]!></option>
                                        <!}else{!>
                                        <option value="<!=critical!>"><!=criticalMap[critical]!></option>
                                        <!}!>
                                        <!}!>
                                    </select>
                                    <input id="changeDate" class="pull-right pa form-control"
                                           value="<!=record_detail.due_date!>"
                                           style="width:174px;top:151px;right:0;">
                                    <span
                                            id="dateIcon"
                                            class="glyphicon glyphicon-calendar pa"
                                            style="width:174px;top:160px;right:-155px;"></span>
                                </div>
                            </div>
                        </div>
                        <div id="taskStatusWrapper"></div>
                    </div>
                    <div class="col-xs-2 text item-text-color due-date" id="notDetDeadline"
                         i18n="title=workflow.common.DEADLINE">
                        <!=record_detail.due_date!>
                    </div>
                </div>
                <div id="descriptionInfo" class="description-row third-row clearfix">
                    <pre class="detail"><!=record_detail.detail!></pre>
                    <textarea id="detail-editor" class="form-control"><!=record_detail.detail!></textarea>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="taskStatusTmpl">
    <!if(isEditable||(!isEditable&&(statusId==4||statusId==5))){!>
    <div class="col-xs-4 icCon task-body" id="taskStatus">
        <span class="glyphicon ic<!=critical!>" i18n="title=workflow.urgencyLevel.<!=critical!>"></span>
        <!if((executorId == AppConfig.userId)&&(statusId != 5)){!>
        <!if(star){!>
        <span class="star icon-star" i18n="title=workflow.mine.CANCEL_STARRED"></span>
        <!}else{!>
        <span class="star icon-star-empty" i18n="title=workflow.mine.STARRED"></span>
        <!}!>
        <!}!>
        <!if(statusId == 0){!>
                <span id="workflow-finish"
                      class="glyphicon glyphicon-ok-sign"
                      i18n="title=workflow.main.FINISH"></span>
                <span class="glyphicon glyphicon-edit"
                      i18n="title=workflow.main.EDIT"></span>
        <span id="workflow-play-pause" class="glyphicon glyphicon-play" i18n="title=workflow.main.START"></span>
        <span class="opteration-msg" i18n="workflow.main.NEW"></span>
        <!}else if(statusId == 2){!>
                <span id="workflow-finish"
                      class="glyphicon glyphicon-ok-sign"
                      i18n="title=workflow.main.FINISH"></span>
                <span id="workflow-editContent" class="glyphicon glyphicon-edit"
                      i18n="title=workflow.main.EDIT"></span>
        <span id="workflow-play-pause" class="glyphicon glyphicon-pause" i18n="title=workflow.main.PAUSE"></span>
        <span class="opteration-msg" i18n="workflow.main.DEALING"></span>
        <!}else if(statusId == 3){!>
                <span id="workflow-finish"
                      class="glyphicon glyphicon-ok-sign"
                      i18n="title=workflow.main.FINISH"></span>
                <span class="glyphicon glyphicon-edit"
                      i18n="title=workflow.main.EDIT"></span>
                <span id="workflow-play-pause" class="glyphicon glyphicon-play"
                      i18n="title=workflow.main.START"></span>
        <span class="opteration-msg" i18n="workflow.main.PAUSED"></span>
        <!}else if(statusId == 4){!>
        <!if(creatorId==AppConfig.userId){!>
        <span class="glyphicon glyphicon-eye-open glyphicon-notVerified"
              i18n="title=workflow.common.CONFIRMATION"></span>
        <!}!>
        <span id="workflow-repeat" class="glyphicon glyphicon-repeat" i18n="title=workflow.main.RESTART"></span>
        <span class="opteration-msg" i18n="workflow.main.FINISHED"></span>
        <!}else if(statusId == 5){!>
                <span id="workflow-verified" class="glyphicon glyphicon-eye-open glyphicon-verified"
                      i18n="title=workflow.common.VERIFIED"></span>
        <span class="status" i18n="workflow.common.VERIFIED"></span>
        <!}!>
    </div>
    <!}!>
</script>