<div id="workflow-task" class="wf-manager-change-work-group">
    <ol class="breadcrumb">
        <li><a href="#">任务组</a></li>
        <li class="active">新增任务</li>
    </ol>
    <form class="form-horizontal container-fluid" id="taskContent" action="javascript:void(0);" method="post">
        <div class="row" id="taskGroupProcess">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-3 control-label" i18n="workflow.mine.WORK_ORDER_NAME"></label>

                    <div class="col-md-7">
                        <input type="text" i18n="placeholder=workflow.mine.WORK_ORDER_NAME" class="form-control"
                               name="title">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-3 control-label" i18n="workflow.notice.DEADLINE"></label>

                    <div class="col-md-7">
                        <input type="text" id="dueTime" name="dueDate" class="form-control" id="dueTime"
                               i18n="placeholder=workflow.task.SELECTED_DUE_DATE_INFO"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-3 control-label" i18n="workflow.urgencyLevel.URGENCY_LEVEL"></label>

                    <div class="col-md-7">
                        <select id="wf-detail-critical" class="form-control" name="critical">
                            <option value="0" i18n="workflow.urgencyLevel.0"></option>
                            <option value="1" i18n="workflow.urgencyLevel.1"></option>
                            <option value="2" i18n="workflow.urgencyLevel.2"></option>
                        </select></div>
                </div>
            </div>
        </div>
        <div class="row" id="taskTemplateFields">


        </div>
        <div class="row" id="taskTags">


        </div>
        <div class="row" id="taskAttachments">


        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-1 control-label" i18n="workflow.main.FAULT_INFO"></label>

                    <div class="col-md-9">
                 <textarea class="form-control" id="wfDetail" name="detail"
                           i18n="placeholder=workflow.task.CHECK_TASK_INFO"
                           maxlength="1500" style="resize: vertical;height: 200px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-2 col-md-offset-10">
                        <button type="submit" id="taskSave" class="btn btn-primary"
                                i18n="workflow.insert.CONFIRM;value=workflow.insert.CONFIRM;title=workflow.insert.CONFIRM">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/html" id="tpl_wf_task_group_process">
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-3 control-label">任务组</label>

            <div class="col-md-7">
                <select class="form-control" name="taskGroup" id="taskGroupSelector">
                    <!for(var m = 0; m < taskGroup.length; m++){!>
                    <option value="<!=taskGroup[m]._id!>"><!=taskGroup[m].name!></option>
                    <!}!>
                </select>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-3 control-label">工作流</label>

            <div class="col-md-7">
                <select class="form-control" name="process" id="taskProcessSelector">
                    <!for(var m = 0; m < process.length; m++){!>
                    <option value="<!=process[m]._id!>"><!=process[m].name!></option>
                    <!}!>
                </select>
            </div>

        </div>
    </div>
</script>

<script type="text/html" id="tpl_wf_task_process_option">
    <!for(var m = 0; m < process.length; m++){!>
    <option value="<!=process[m]._id!>"><!=process[m].name!></option>
    <!}!>
</script>


<script type="text/html" id="tpl_wf_task_template">
    <input type="hidden" value="<!=_id.$oid!>" name="template_id">
    <!for(var m=0,n = fields.length; m < n; m++){!>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-3 control-label"><!=fields[m].name!></label>

            <div class="col-md-7">
                <!if(fields[m].type == 'text'){!>
                    <input type="text" class="form-control" name="<!=fields[m].name!>">
                <!}else if(fields[m].type == 'checkbox'){!>
                    <!for(var i=0, j=fields[m].values.length;i < j; i++){!>
                        <div class="col-md-6">
                            <label>
                                <input type="checkbox" name="<!=fields[m].name!>" value="<!=fields[m].values[i]!>"> <!=fields[m].values[i]!>
                            </label>
                        </div>
                    <!}!>
                <!}else if(fields[m].type == 'radio'){!>
                    <!for(var i=0, j=fields[m].values.length;i < j; i++){!>
                        <div class="col-md-6">
                            <label>
                                <input type="radio" name="<!=fields[m].name!>" value="<!=fields[m].values[i]!>">
                                <!=fields[m].values[i]!>
                            </label>
                        </div>
                    <!}!>
                <!}else if(fields[m].type == 'select'){!>
                    <select class="form-control" name="<!=fields[m].name!>">
                        <!for(var i=0, j=fields[m].values.length;i < j; i++){!>
                            <option value="<!=fields[m].values[i]!>"><!=fields[m].values[i]!></option>
                        <!}!>
                    </select>
                <!}!>
                <!if(){!>
                <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                <!}!>
            </div>
        </div>
    </div>
    <!}!>
</script>
