<style>
    .dpt-row .media-body {
        vertical-align: middle;
    }
</style>
<div class="col-xs-12 vertical-roll">
    <div class="col-xs-offset-2 col-xs-8 workflow-container" id="workflow-team">
        <div class="row filter-row">
            <div class="col-xs-6 col-xs-offset-1">
                <h4 class="filter-title"><span i18n="workflow.team.WORKFLOW_FILTER"></span></h4>

                <div class="filter-body">
                    <div class="filter-result"></div>
                    <div class="filter-dialog">
                    <span class="icon-chevron-down filter-dialog-icon group-filter-dialog-icon"
                          aria-hidden="true"></span>

                        <div class="mini-dialog">
                            <div class="groups">
                                <div>
                                    <h5 class="title"><span i18n="workflow.team.WORKFLOW"></span></h5>
                                </div>
                                <div class="content">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row title-row">
            <div class="col-xs-12">

                <h3><span i18n="workflow.team.DEPARTMENT_STAFF"></span></h3></div>
        </div>
        <div class="row dpt-row"></div>
        <div class="row dialog-row">
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="assign-dialog" aria-hidden="true"
                 id="team-assign-dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>

                            <h4 class="modal-title" id="assign-dialog"><span
                                    i18n="workflow.team.STAFF_ASSIGNMENT"></span>
                            </h4>
                        </div>
                        <div class="modal-body clearfix members">
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default cancel" data-dismiss="modal"><span
                                    i18n="workflow.team.CANCEL"></span></button>
                            <button type="button" class="btn btn-primary save"><span i18n="workflow.team.SAVE"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="tmpl_selectMember">
    <! for(var i=0;i < users.length; i++){!>
        <!var user = users[i];!>
        <div class="col-xs-3">
            <div class="media member-media" data-id="<!=user.id!>" data-userfullname="<!=user.userfullname!>" data-userpic="<!=user.userpic!>">
                <div class="media-left">
                    <img class="avatar-icon" src="<!=user.userpic!>"/>
                </div>
                <div class="media-body">
                    <h4 class="media-heading team-avatar-name ellipsis" title="<!=user.userfullname!>"><!=user.userfullname!></h4>
                    <div class="team-avatar-desc ellipsis" title="<!=user.userEmail!>"><!=user.userEmail!></div>
                </div>
            </div>
        </div>
    <!}!>
</script>

<script type="text/html" id="tmpl_team">
    <!for(var m =0; m < groups.length; m++){!>
    <!var group = groups[m], roles = group.roles;!>
    <div class="col-xs-10 col-xs-offset-1 dpt-container">
        <div class="media dpt-nm">
            <a class="media-left media-middle">
                <img class="avatar-icon" src="<!=group.groupPic!>"/>
            </a>

            <div class="media-body">
                <div><!=group.groupName!></div>
            </div>
        </div>
        <!for(var roleId in roles){!>
        <!var role = roles[roleId], users = role.users;!>
        <div class="row dpt-content-row">
            <div class="col-xs-2 role">
                <h4 class="role-nm"><!=role.roleName!></h4>
            </div>
            <div class="col-xs-10 memeber-container">
                <!for(var i = 0; i < users.length; i++){!>
                    <!var user = users[i];!>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 member">
                        <div class="media">
                            <a class="media-left media-middle">
                                <img class="avatar-icon" src="<!=user.userpic!>"/>
                            </a>

                            <div class="media-body">
                                <div class="media-heading team-avatar-name ellipsis" title="<!=user.userfullname!>"><!=user.userfullname!></div>
                                <!if(user.editable && user.userid != AppConfig.userId){!>
                                    <div class="operator hidden">
                                        <a class="btn btn-del-member btn-danger btn-sm" i18n="workflow.team.DELETE"
                                           data-group-id="<!=group.groupId!>" data-role-id="<!=roleId!>" data-user-id="<!=user.userid!>" ></a>
                                    </div>
                                <!}!>
                            </div>
                        </div>
                    </div>
                <!}!>
                <!if(isManager){!>
                    <div class="col-md-3 add-member">
                        <img class="add-btn" data-group-id="<!=group.groupId!>" data-role-id="<!=roleId!>" style="cursor:pointer;" src="/static/images/add_new_project.png">
                    </div>
                <!}!>
            </div>
        </div>
        <!}!>
    </div>
    <!}!>
</script>