.dn {
    display: none;
}

.mt10 {
    margin-top: 10px;
}

.m5 {
    margin: 5px;
}

.w200 {
    width: 200px;
}

.fl {
    float: left;
}

.w150 {
    width: 150px;
}

#tagTreeUl, #apiTreeSearchUl {
    overflow: auto;
    height: 100%;
}

#tagTreeUl {
    background-color: #3c4046;
}

#tagTreeUl .ml5 {
    margin-left: 5px;
}

#tagTreeUl li {
    line-height: 24px;
    position: relative;
}

#tagTreeUl > li:last-child {
    padding-bottom: 20px;
}

#tagTreeUl li a, #apiTreeSearchUl li a, #tagCopyAndPasteBox li a {
    color: #666;
    height: 24px;
    padding: 0 4px;
    border-radius: 4px
}

#tagTreeUl li a span, #apiTreeSearchUl li a span, #tagCopyAndPasteBox li a span {
    color: #eee;
}

#tagTreeUl li a:hover {
    text-decoration: none;
    background-color: #ae882f !important;
    color: #fff;
}

#tagTreeUl li a.curSelectedNode:hover {
    background-color: #fcb813 !important;
}

#tagTreeUl li a.curSelectedNode, #apiTreeSearchUl li a.curSelectedNode, #tagCopyAndPasteBox li a.curSelectedNode {
    color: #fff !important;
}

.tagTreeInfo .ztree li a.curSelectedNode, #tagCopyAndPasteBox .ztree li a.curSelectedNode {
    border: none;
    background-color: #fcb813 !important;
    color: #fff !important;
    opacity: 1;
}

#tagTreeUl a .treeCustomIcon {
    margin: 0 15px 0 0;
    text-decoration: none;
}

#tagTreeUl a .treeCustomIcon:hover {
    color: #5cb85c;
}

#tagTreeUl li span.button.ico_open, #tagTreeUl li span.button.ico_close,
#tagTreeUl li span.button.edit, #tagTreeUl li span.remove,
#tagTreeUl .treeCustomIcon {
    background: none;
    font-family: 'Glyphicons Halflings';
    vertical-align: middle;
    width: 0;
    height: 0;
}

#tagTreeUl .ico_docu {
    display: none;
}

#tagTreeUl li span.button.ico_open, #tagTreeUl li span.button.ico_close {
    margin: 0 22px 0 0;
}

#tagTreeUl li span.button.ico_close:before, #tagTreeUl li span.button.ico_open:before {
    font-size: 15px;
}

#tagTreeUl li span.button.ico_close:before {
    content: "\e117";
}

#tagTreeUl li span.button.ico_open:before {
    content: "\e118";
}

#tagTreeUl li span.button.edit:before {
    content: "\270f";
}

#tagTreeUl li span.button.remove:before {
    content: "\e014";
}

#tagTreeUl li .removeNode:before {
    content: "\e014";
}

#tagTreeUl li .addNode:before {
    content: "\2b";
}

#tagTreeUl li .rename:before {
    content: "\270f";
}

#tagTreeUl li .autoMatch {
    position: relative;
    top: 1px;
    font-size: 15px;
}

#tagTreeInfoHeader .select2 {
    font-size: 14px;
}

#tagTreeUl .iconOperatingBox {
    position: absolute;
    right: 0;
    background-color: #666;
    opacity: 0.8;
    z-index: 1300;
    border-radius: 4px;
    height: 24px;
    line-height: 20px;
    margin-right: 16px;
}

#tagTreeUl .icon.iconfont {
    font-size: 16px !important;
}

#tagTreeUl .iconOperatingBox .treeCustomIcon {
    color: #ffffff;
    padding: 4px;
}

#tagTreeUl li a {
    min-width: 162px;
}

@media (max-width: 1366px) {
    #tagTreeUl li a {
        min-width: 115px;
    }

    #tagTreeUl .iconOperatingBox .treeCustomIcon {
        padding: 2px;
    }

    #tagTreeUl .iconOperatingBox {
        margin-right: 12px;
    }
}

/*@formatter:off*/
.icon-shujutubiao01_ico_open:before, .icon-shujutubiao01_ico_close:before { content: "\e671"; }
.icon-shujutubiao02_ico_open:before, .icon-shujutubiao02_ico_close:before { content: "\e672"; }
.icon-shujutubiao03_ico_open:before, .icon-shujutubiao03_ico_close:before { content: "\e673"; }
.icon-shujutubiao04_ico_open:before, .icon-shujutubiao04_ico_close:before { content: "\e674"; }
.icon-shujutubiao05_ico_open:before, .icon-shujutubiao05_ico_close:before { content: "\e675"; }
.icon-shujutubiao06_ico_open:before, .icon-shujutubiao06_ico_close:before { content: "\e676"; }
.icon-shujutubiao07_ico_open:before, .icon-shujutubiao07_ico_close:before { content: "\e677"; }
.icon-shujutubiao08_ico_open:before, .icon-shujutubiao08_ico_close:before { content: "\e678"; }
.icon-shujutubiao09_ico_open:before, .icon-shujutubiao09_ico_close:before { content: "\e679"; }
.icon-shujutubiao10_ico_open:before, .icon-shujutubiao10_ico_close:before { content: "\e67a"; }
.icon-shujutubiao11_ico_open:before, .icon-shujutubiao11_ico_close:before { content: "\e67b"; }
.icon-shujutubiao12_ico_open:before, .icon-shujutubiao12_ico_close:before { content: "\e67c"; }
.icon-shujutubiao13_ico_open:before, .icon-shujutubiao13_ico_close:before { content: "\e67d"; }
.icon-shujutubiao14_ico_open:before, .icon-shujutubiao14_ico_close:before { content: "\e67e"; }
.icon-shujutubiao15_ico_open:before, .icon-shujutubiao15_ico_close:before { content: "\e67f"; }
.icon-shujutubiao16_ico_open:before, .icon-shujutubiao16_ico_close:before { content: "\e680"; }
.icon-shujutubiao17_ico_open:before, .icon-shujutubiao17_ico_close:before { content: "\e681"; }
.icon-shujutubiao18_ico_open:before, .icon-shujutubiao18_ico_close:before { content: "\e682"; }
.icon-shujutubiao19_ico_open:before, .icon-shujutubiao19_ico_close:before { content: "\e683"; }
.icon-shujutubiao20_ico_open:before, .icon-shujutubiao20_ico_close:before { content: "\e684"; }
.icon-shujutubiao21_ico_open:before, .icon-shujutubiao21_ico_close:before { content: "\e685"; }
.icon-shujutubiao22_ico_open:before, .icon-shujutubiao22_ico_close:before { content: "\e686"; }
.icon-shujutubiao23_ico_open:before, .icon-shujutubiao23_ico_close:before { content: "\e687"; }
.icon-shujutubiao24_ico_open:before, .icon-shujutubiao24_ico_close:before { content: "\e688"; }
.icon-shujutubiao25_ico_open:before, .icon-shujutubiao25_ico_close:before { content: "\e689"; }
.icon-shujutubiao26_ico_open:before, .icon-shujutubiao26_ico_close:before { content: "\e68a"; }
.icon-shujutubiao27_ico_open:before, .icon-shujutubiao27_ico_close:before { content: "\e68b"; }
.icon-shujuguanlisvg28_ico_open:before, .icon-shujuguanlisvg28_ico_close:before { content: "\e68d"; }
.icon-shujuguanlisvg29_ico_open:before, .icon-shujuguanlisvg29_ico_close:before { content: "\e68e"; }
.icon-shujuguanlisvg31_ico_open:before, .icon-shujuguanlisvg31_ico_close:before { content: "\e68f"; }
.icon-shujuguanlisvg32_ico_open:before, .icon-shujuguanlisvg32_ico_close:before { content: "\e690"; }
.icon-shujuguanlisvg33_ico_open:before, .icon-shujuguanlisvg33_ico_close:before { content: "\e691"; }
.icon-shujuguanlisvg34_ico_open:before, .icon-shujuguanlisvg34_ico_close:before { content: "\e692"; }
.icon-shujuguanlisvg35_ico_open:before, .icon-shujuguanlisvg35_ico_close:before { content: "\e693"; }
.icon-shujuguanlisvg38_ico_open:before, .icon-shujuguanlisvg38_ico_close:before { content: "\e694"; }
.icon-shujuguanlisvg39_ico_open:before, .icon-shujuguanlisvg39_ico_close:before { content: "\e695"; }
.icon-shujuguanlisvg40_ico_open:before, .icon-shujuguanlisvg40_ico_close:before { content: "\e696"; }
.icon-shujuguanlisvg41_ico_open:before, .icon-shujuguanlisvg41_ico_close:before { content: "\e697"; }
.icon-shujuguanlisvg43_ico_open:before, .icon-shujuguanlisvg43_ico_close:before { content: "\e698"; }
.icon-shujuguanlisvg44_ico_open:before, .icon-shujuguanlisvg44_ico_close:before { content: "\e699"; }
.icon-shujuguanlisvg45_ico_open:before, .icon-shujuguanlisvg45_ico_close:before { content: "\e69a"; }
.icon-shujuguanlisvg46_ico_open:before, .icon-shujuguanlisvg46_ico_close:before { content: "\e69b"; }
.icon-shujuguanlisvg47_ico_open:before, .icon-shujuguanlisvg47_ico_close:before { content: "\e69c"; }
.icon-shujuguanlisvg48_ico_open:before, .icon-shujuguanlisvg48_ico_close:before { content: "\e69d"; }
.icon-shujuguanlisvg49_ico_open:before, .icon-shujuguanlisvg49_ico_close:before { content: "\e69e"; }
.icon-shujuguanlisvg50_ico_open:before, .icon-shujuguanlisvg50_ico_close:before { content: "\e69f"; }
.icon-shujuguanlisvg51_ico_open:before, .icon-shujuguanlisvg51_ico_close:before { content: "\e6a0"; }
.icon-shujuguanlisvg52_ico_open:before, .icon-shujuguanlisvg52_ico_close:before { content: "\e6a1"; }
.icon-shujuguanlisvg53_ico_open:before, .icon-shujuguanlisvg53_ico_close:before { content: "\e6a2"; }
.icon-shujuguanlisvg54_ico_open:before, .icon-shujuguanlisvg54_ico_close:before { content: "\e6a3"; }
.icon-shujuguanlisvg55_ico_open:before, .icon-shujuguanlisvg55_ico_close:before { content: "\e6a4"; }
.icon-shujuguanlisvg56_ico_open:before, .icon-shujuguanlisvg56_ico_close:before { content: "\e6a5"; }
.icon-shujuguanlisvg57_ico_open:before, .icon-shujuguanlisvg57_ico_close:before { content: "\e6a6"; }
.icon-shujuguanlisvg58_ico_open:before, .icon-shujuguanlisvg58_ico_close:before { content: "\e6a7"; }
.icon-shujuguanlisvg59_ico_open:before, .icon-shujuguanlisvg59_ico_close:before { content: "\e6a8"; }
.icon-shujuguanlisvg30_ico_open:before, .icon-shujuguanlisvg30_ico_close:before { content: "\e6a9"; }
.icon-shujuguanlisvg36_ico_open:before, .icon-shujuguanlisvg36_ico_close:before { content: "\e6aa"; }
.icon-shujuguanlisvg37_ico_open:before, .icon-shujuguanlisvg37_ico_close:before { content: "\e6ab"; }
.icon-shujuguanlisvg42_ico_open:before, .icon-shujuguanlisvg42_ico_close:before { content: "\e6ac"; }
.icon-shujuguanlisvg60_ico_open:before, .icon-shujuguanlisvg60_ico_close:before { content: "\e6ad"; }
.icon-shujuguanlisvg61_ico_open:before, .icon-shujuguanlisvg61_ico_close:before { content: "\e6ae"; }
.icon-shujuguanlisvg62_ico_open:before, .icon-shujuguanlisvg62_ico_close:before { content: "\e6af"; }
.icon-shujuguanlisvg63_ico_open:before, .icon-shujuguanlisvg63_ico_close:before { content: "\e6b0"; }
.icon-shujuguanlisvg64_ico_open:before, .icon-shujuguanlisvg64_ico_close:before { content: "\e6b1"; }
.icon-shujuguanlisvg65_ico_open:before, .icon-shujuguanlisvg65_ico_close:before { content: "\e6b2"; }
.icon-shujuguanlisvg66_ico_open:before, .icon-shujuguanlisvg66_ico_close:before { content: "\e6b3"; }
.icon-shujuguanlisvg67_ico_open:before, .icon-shujuguanlisvg67_ico_close:before { content: "\e6b4"; }
.icon-shujuguanlisvg68_ico_open:before, .icon-shujuguanlisvg68_ico_close:before { content: "\e6b5"; }
.icon-shujuguanlisvg69_ico_open:before, .icon-shujuguanlisvg69_ico_close:before { content: "\e6b6"; }
.icon-shujuguanlisvg70_ico_open:before, .icon-shujuguanlisvg70_ico_close:before { content: "\e6b7"; }
.icon-shujuguanlisvg71_ico_open:before, .icon-shujuguanlisvg71_ico_close:before { content: "\e6b8"; }
.icon-shujuguanlisvg72_ico_open:before, .icon-shujuguanlisvg72_ico_close:before { content: "\e6b9"; }
.icon-shujuguanlisvg73_ico_open:before, .icon-shujuguanlisvg73_ico_close:before { content: "\e6ba"; }
.icon-shujuguanlisvg74_ico_open:before, .icon-shujuguanlisvg74_ico_close:before { content: "\e6bb"; }
.icon-shujuguanlisvg75_ico_open:before, .icon-shujuguanlisvg75_ico_close:before { content: "\e6bc"; }
.icon-shujuguanlisvg76_ico_open:before, .icon-shujuguanlisvg76_ico_close:before { content: "\e6bd"; }
.icon-shujuguanlisvg77_ico_open:before, .icon-shujuguanlisvg77_ico_close:before { content: "\e6be"; }
.icon-shujuguanlisvg78_ico_open:before, .icon-shujuguanlisvg78_ico_close:before { content: "\e6bf"; }
.icon-shujuguanlisvg79_ico_open:before, .icon-shujuguanlisvg79_ico_close:before { content: "\e6c0"; }
.icon-shujuguanlisvg80_ico_open:before, .icon-shujuguanlisvg80_ico_close:before { content: "\e6c1"; }
.icon-shujuguanlisvg81_ico_open:before, .icon-shujuguanlisvg81_ico_close:before { content: "\e6c2"; }
.icon-shujuguanlisvg82_ico_open:before, .icon-shujuguanlisvg82_ico_close:before { content: "\e6c3"; }
.icon-shujuguanlisvg83_ico_open:before, .icon-shujuguanlisvg83_ico_close:before { content: "\e6c4"; }
.icon-shujuguanlisvg84_ico_open:before, .icon-shujuguanlisvg84_ico_close:before { content: "\e6c5"; }
.icon-shujuguanlisvg85_ico_open:before, .icon-shujuguanlisvg85_ico_close:before { content: "\e6c6"; }
.icon-shujuguanlisvg86_ico_open:before, .icon-shujuguanlisvg86_ico_close:before { content: "\e6c7"; }
.icon-shujuguanlisvg87_ico_open:before, .icon-shujuguanlisvg87_ico_close:before { content: "\e6c8"; }
.icon-shujuguanlisvg88_ico_open:before, .icon-shujuguanlisvg88_ico_close:before { content: "\e6c9"; }
.icon-shujuguanlisvg89_ico_open:before, .icon-shujuguanlisvg89_ico_close:before { content: "\e6ca"; }
.icon-shujuguanlisvg90_ico_open:before, .icon-shujuguanlisvg90_ico_close:before { content: "\e6cb"; }
.icon-shujuguanlisvg91_ico_open:before, .icon-shujuguanlisvg91_ico_close:before { content: "\e6cc"; }
.icon-shujuguanlisvg92_ico_open:before, .icon-shujuguanlisvg92_ico_close:before { content: "\e6cd"; }
.icon-shujuguanlisvg93_ico_open:before, .icon-shujuguanlisvg93_ico_close:before { content: "\e6ce"; }
.icon-shujuguanlisvg94_ico_open:before, .icon-shujuguanlisvg94_ico_close:before { content: "\e6cf"; }
.icon-shujuguanlisvg95_ico_open:before, .icon-shujuguanlisvg95_ico_close:before { content: "\e6d0"; }
.icon-shujuguanlisvg97_ico_open:before, .icon-shujuguanlisvg97_ico_close:before { content: "\e6d1"; }
.icon-shujuguanlisvg98_ico_open:before, .icon-shujuguanlisvg98_ico_close:before { content: "\e6d2"; }
.icon-shujuguanlisvg100_ico_open:before, .icon-shujuguanlisvg100_ico_close:before { content: "\e6d3"; }
.icon-shujuguanlisvg721_ico_open:before, .icon-shujuguanlisvg721_ico_close:before { content: "\e6d4"; }
.icon-shujuguanlisvg731_ico_open:before, .icon-shujuguanlisvg731_ico_close:before { content: "\e6d5"; }
.icon-shujuguanlisvg741_ico_open:before, .icon-shujuguanlisvg741_ico_close:before { content: "\e6d6"; }
.icon-shujuguanlisvg751_ico_open:before, .icon-shujuguanlisvg751_ico_close:before { content: "\e6d7"; }
.icon-shujuguanlisvg761_ico_open:before, .icon-shujuguanlisvg761_ico_close:before { content: "\e6d8"; }
.icon-shujuguanlisvg771_ico_open:before, .icon-shujuguanlisvg771_ico_close:before { content: "\e6d9"; }
.icon-shujuguanlisvg781_ico_open:before, .icon-shujuguanlisvg781_ico_close:before { content: "\e6da"; }
.icon-shujuguanlisvg791_ico_open:before, .icon-shujuguanlisvg791_ico_close:before { content: "\e6db"; }
.icon-shujuguanlisvg801_ico_open:before, .icon-shujuguanlisvg801_ico_close:before { content: "\e6dc"; }
.icon-shujuguanlisvg811_ico_open:before, .icon-shujuguanlisvg811_ico_close:before { content: "\e6dd"; }
.icon-shujuguanlisvg661_ico_open:before, .icon-shujuguanlisvg661_ico_close:before { content: "\e6de"; }
.icon-shujuguanlisvg671_ico_open:before, .icon-shujuguanlisvg671_ico_close:before { content: "\e6df"; }
.icon-shujuguanlisvg681_ico_open:before, .icon-shujuguanlisvg681_ico_close:before { content: "\e6e0"; }
.icon-shujuguanlisvg691_ico_open:before, .icon-shujuguanlisvg691_ico_close:before { content: "\e6e1"; }
.icon-shujuguanlisvg701_ico_open:before, .icon-shujuguanlisvg701_ico_close:before { content: "\e6e2"; }
.icon-shujuguanlisvg711_ico_open:before, .icon-shujuguanlisvg711_ico_close:before { content: "\e6e3"; }
.icon-shujuguanlisvg631_ico_open:before, .icon-shujuguanlisvg631_ico_close:before { content: "\e6e4"; }
.icon-shujuguanlisvg780_ico_open:before, .icon-shujuguanlisvg780_ico_close:before { content: "\e6bf"; }
.icon-shujuguanlisvg660_ico_open:before, .icon-shujuguanlisvg660_ico_close:before { content: "\e6b3"; }
.icon-PAU_ico_open:before, .icon-PAU_ico_close:before { content: "\e865"; }
.icon-tag-1_ico_open:before,.icon-tag-1_ico_close:before { content: "\e86c"; }
.icon-tag-2_ico_open:before,.icon-tag-2_ico_close:before { content: "\e86d"; }
.icon-tag-3_ico_open:before,.icon-tag-3_ico_close:before { content: "\e86e"; }
.icon-tag-4_ico_open:before,.icon-tag-4_ico_close:before { content: "\e86f"; }
.icon-tag-5_ico_open:before,.icon-tag-5_ico_close:before { content: "\e870"; }
.icon-tag-6_ico_open:before,.icon-tag-6_ico_close:before { content: "\e871"; }
.icon-tag-7_ico_open:before,.icon-tag-7_ico_close:before { content: "\e872"; }
.icon-tag-8_ico_open:before,.icon-tag-8_ico_close:before { content: "\e873"; }
.icon-tag-9_ico_open:before,.icon-tag-9_ico_close:before { content: "\e874"; }
.icon-tag-10_ico_open:before,.icon-tag-10_ico_close:before { content: "\e875"; }
.icon-tag-11_ico_open:before,.icon-tag-11_ico_close:before { content: "\e876"; }
.icon-tag-12_ico_open:before,.icon-tag-12_ico_close:before { content: "\e877"; }
/*@formatter:on*/