.modal-container {
    width: 800px;
    height: 400px;
}

.import-url,
.import-file {
    margin: 30px;
}

.modal-container span {
    margin: 4px;
}

.modal-container input {
    padding: 1px 0px;
}

.modal-container input[type="text"] {
    width: 300px;
    height: 25px;
    font-style: normal;
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}