<div><!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Platform Management</title>
    {% assets "platform_css_bundle" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"> {% endassets %}
    <style>
        html, body, #indexMain {
            margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden; position:relative;
        }
    </style>
</head>
<body>
    <div id="indexMain"></div>
    {% assets "platform_js_bundle" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script> {% endassets %}
    <script>
        void (function (login_result, window) {
            var AppConfig = {};
            AppConfig.userProfile = {};
            AppConfig.userId = +login_result.id;
            AppConfig.userProfile.userfullname = login_result.userinfo.fullname;
            AppConfig.account = login_result.userinfo.fullname;
            AppConfig.projectList = login_result.projects;
            AppConfig.userProfile = login_result.userProfile;
            AppConfig.userOfRole = login_result.userProfile.userOfRole;
            AppConfig.debugTool = login_result.debugTool;
            AppConfig.afterLogin = true;
            AppConfig.isFactory = 0;
            AppConfig.permission = login_result.permission;
            AppConfig.userConfig = login_result.config;
            window.AppConfig = AppConfig;
        })({{ AppConfig | safe }}, window);
    </script>
</body>
</html>