<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bills Management</title>
    {% assets "bill_css_bundle" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"> {% endassets %}
    <link rel="stylesheet" type="text/css" href="/static/content/index.css">
    <link rel="stylesheet" type="text/css" href="/static/content/index-black.css">
    <link rel="stylesheet" type="text/css" href="/static/app/Benz/env.css">
</head>
<body>
<style>
body{
    margin: 0;
    padding:0;
    overflow: hidden;
}
</style>
<div id="containerBill">
    <div class="panelModules divPanel"></div>
    <div class="panelFilter divPanel">
        <div class="row"><input type="text" class="form-control iptSearch" placeholder="Search"/><i class="iconfont btnSearch">&#xe713;</i></div>
        <div class="row divFilterSel">
            <select class="form-control">
                <option>US</option>
            </select>
            <select class="form-control">
                <option>NY</option>
            </select>
            <select class="form-control">
                <option>New York</option>
            </select>
        </div>
        <div class="row gray-scrollbar" style="height: calc(100% - 100px);overflow: auto;">
            <ul class="list-unstyled" id="ulFilterResult">

            </ul>
        </div>
    </div>
    <div class="panelBmModule divPanel"></div>
</div>

{% assets "bill_js_bundle" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>
    window.onload = function (){
        new BillScreen().show();
    }
</script>
</body>
</html>
